In [139]:
import numpy as np
import pandas as pd
temp = pd.read_csv('temp.csv', dtype=object)

In [140]:
temp['Month'] = temp['Year'].astype(str).str[4:6]
temp['Year'] = temp['Year'].astype(str).str[:4]
temp['Value'] = pd.to_numeric(temp['Value'])
temp['day'] = '01'
temp['startdate'] = temp.apply(lambda row:'{0}/{1}/{2}'.format(row['Month'], row['day'],row['Year']),axis=1)
temp['startdate'] = pd.to_datetime(temp.startdate)
del temp['Year']
del temp['Month']
del temp['day']
temp['value'] = temp['Value']
del temp['Value']
temp['change'] = ''
temp['change'][0] = '4'
for i in range(1, len(temp) - 1):
    if temp['value'][i] < temp['value'][i - 1]:
        temp['change'][i] = '4'
    else:
        temp['change'][i] = '5'
temp['abz'] = ''
temp['abz'][temp['value'] < 0] = '6'
temp['abz'][temp['value'] >= 0] = '7'
temp = temp.drop(temp.index[1399])
temp['temp'] = temp ['change'] + temp['abz']
temp

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      startdate   value change abz temp
0    1900-01-01 -0.2444      4   6   46
1    1900-02-01 -0.0966      5   6   56
2    1900-03-01 -0.0514      5   6   56
3    1900-04-01 -0.1013      4   6   46
4    1900-05-01 -0.0414      5   6   56
5    1900-06-01 -0.0519      4   6   46
6    1900-07-01 -0.0792      4   6   46
7    1900-08-01 -0.0756      5   6   56
8    1900-09-01 -0.0693      5   6   56
9    1900-10-01  0.0417      5   7   57
10   1900-11-01 -0.1436      4   6   46
11   1900-12-01  0.0253      5   7   57
12   1901-01-01 -0.1320      4   6   46
13   1901-02-01 -0.0773      5   6   56
14   1901-03-01 -0.0395      5   6   56
15   1901-04-01 -0.0725      4   6   46
16   1901-05-01 -0.1334      4   6   46
17   1901-06-01 -0.1379      4   6   46
18   1901-07-01 -0.1605      4   6   46
19   1901-08-01 -0.1403      5   6   56
20   1901-09-01 -0.2133      4   6   46
21   1901-10-01 -0.2903      4   6   46
22   1901-11-01 -0.1481      5   6   56
23   1901-12-01 -0.2485      4   6   46
24   1902-01-01 -0.0947      5   6   56
25   1902-02-01 -0.0460      5   6   56
26   1902-03-01 -0.2122      4   6   46
27   1902-04-01 -0.2768      4   6   46
28   1902-05-01 -0.2684      5   6   56
29   1902-06-01 -0.3457      4   6   46
...         ...     ...    ...  ..  ...
1369 2014-02-01  0.4810      4   7   47
1370 2014-03-01  0.7707      5   7   57
1371 2014-04-01  0.8001      5   7   57
1372 2014-05-01  0.7917      4   7   47
1373 2014-06-01  0.7582      4   7   47
1374 2014-07-01  0.6952      4   7   47
1375 2014-08-01  0.7960      5   7   57
1376 2014-09-01  0.7865      4   7   47
1377 2014-10-01  0.7839      4   7   47
1378 2014-11-01  0.6873      4   7   47
1379 2014-12-01  0.8328      5   7   57
1380 2015-01-01  0.8152      4   7   47
1381 2015-02-01  0.8835      5   7   57
1382 2015-03-01  0.8953      5   7   57
1383 2015-04-01  0.7746      4   7   47
1384 2015-05-01  0.8552      5   7   57
1385 2015-06-01  0.8780      5   7   57
1386 2015-07-01  0.8036      4   7   47
1387 2015-08-01  0.8720      5   7   57
1388 2015-09-01  0.9209      5   7   57
1389 2015-10-01  0.9904      5   7   57
1390 2015-11-01  0.9634      4   7   47
1391 2015-12-01  1.1212      5   7   57
1392 2016-01-01  1.0497      4   7   47
1393 2016-02-01  1.1951      5   7   57
1394 2016-03-01  1.2318      5   7   57
1395 2016-04-01  1.0759      4   7   47
1396 2016-05-01  0.8777      4   7   47
1397 2016-06-01  0.8957      5   7   57
1398 2016-07-01  0.8638      4   7   47

[1399 rows x 5 columns]

In [141]:
del temp['value']
del temp['change']
del temp['abz']

In [142]:
df = pd.read_csv('numberseq.csv', dtype=object)
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,NaN,011,3
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,NaN,007,2
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,NaN,008,3
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,NaN,010,3
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,NaN,002,1
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,NaN,005,0
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,NaN,010,0
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,NaN,007,2
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,NaN,007,0
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,2,0,10520,2
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,NaN,010,0
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,NaN,006,0
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,2,0,10520,3
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,NaN,010,1
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,NaN,006,1
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,NaN,002,0
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,NaN,003,1
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,NaN,006,3
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,NaN,010,0
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,NaN,003,0
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,NaN,006,1
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,NaN,002,2
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,NaN,007,2
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,2,0,10520,2
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,2,0,10520,2
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,2,0,10520,2
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,NaN,005,1
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,NaN,006,2
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,NaN,010,3
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,NaN,007,3
...,...,...,...,...,...,...,...,...,...,...,...,...
565129,36.1361,139.705,NaN,07,48.58,4.5,2016-07-04,1,1,0,10710,3
565130,46.5141,152.7939,NaN,07,50.93,4.6,2016-07-04,1,1,0,10710,3
565131,36.3263,140.0904,NaN,07,77.55,4.4,2016-07-04,1,1,1,10711,3
565132,42.8475,145.4291,NaN,07,39.96,4.6,2016-07-04,1,1,0,10710,3
565133,39.3485,143.4638,NaN,07,22.75,4.6,2016-07-04,1,1,0,10710,3
565134,29.2387,129.4747,NaN,08,39.32,4.7,2016-07-04,1,1,0,10810,3
565135,29.0458,129.2817,NaN,08,37.53,4.7,2016-07-04,1,1,0,10810,3
565136,-0.5323,-12.6569,NaN,09,10.0,4.9,2016-07-04,1,1,0,10910,3
565137,37.3679,-98.2025,NaN,00,5.0,3.5,2016-07-05,1,1,0,10010,0
565138,36.2626,-97.5821,NaN,00,5.0,3.5,2016-07-05,1,1,0,10010,0
565139,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,1,0,10010,0
565140,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110,0
565141,-32.927,-177.8664,NaN,11,10.0,5.2,2016-07-05,1,1,0,11110,0
565142,39.489,73.4459,NaN,13,10.0,4.4,2016-07-05,1,1,0,11310,0
565143,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,1,1,1,11311,0
565144,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310,0
565145,-20.1948,-70.9115,NaN,03,11.2,5.0,2016-07-05,1,1,0,10310,0
565146,44.1651,-128.9059,NaN,05,10.0,4.3,2016-07-05,1,1,0,10510,0
565147,43.3325,-126.6572,NaN,05,10.0,3.1,2016-07-05,1,1,0,10510,0
565148,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611,0
565149,-0.3386,125.4749,NaN,06,35.0,4.4,2016-07-05,1,1,0,10610,0
565150,-0.2665,125.5466,NaN,06,35.0,4.5,2016-07-05,1,1,0,10610,0
565151,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710,0
565152,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710,0
565153,35.5119,129.8661,NaN,07,10.0,4.8,2016-07-05,1,1,0,10710,0
565154,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811,0
565155,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111,0
565156,0.166,-79.8907,NaN,14,35.0,4.3,2016-07-06,1,1,0,11410,0
565157,-56.8016,-142.1336,NaN,04,10.0,5.9,2016-07-06,1,1,0,10410,0
565158,53.4488,-163.4493,NaN,05,10.0,3.8,2016-07-06,1,1,0,10510,0

In [158]:
df['startdate'] = pd.to_datetime(df['startdate'])
temp['startdate'] = pd.to_datetime(temp['startdate'])
result = pd.merge(df, temp, on='startdate', how = 'outer')
#df.join(temp, on = 'startdate', how = 'outer')
result = result.sort_values(by = ['startdate', 'sequence'])
result.index = range(len(result))
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,NaN,011,3,46
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,NaN,007,2,NaN
565159,NaN,NaN,NaN,NaN,NaN,NaN,1900-02-01,NaN,NaN,NaN,NaN,NaN,56
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,NaN,008,3,56
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,NaN,010,3,NaN
565160,NaN,NaN,NaN,NaN,NaN,NaN,1900-04-01,NaN,NaN,NaN,NaN,NaN,46
565161,NaN,NaN,NaN,NaN,NaN,NaN,1900-05-01,NaN,NaN,NaN,NaN,NaN,56
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,NaN,002,1,NaN
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,NaN,005,0,46
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,NaN,010,0,NaN
565162,NaN,NaN,NaN,NaN,NaN,NaN,1900-07-01,NaN,NaN,NaN,NaN,NaN,46
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,NaN,007,2,NaN
565163,NaN,NaN,NaN,NaN,NaN,NaN,1900-08-01,NaN,NaN,NaN,NaN,NaN,56
565164,NaN,NaN,NaN,NaN,NaN,NaN,1900-09-01,NaN,NaN,NaN,NaN,NaN,56
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,NaN,007,0,57
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,2,0,10520,2,NaN
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,NaN,010,0,NaN
565165,NaN,NaN,NaN,NaN,NaN,NaN,1900-11-01,NaN,NaN,NaN,NaN,NaN,46
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,NaN,006,0,NaN
565166,NaN,NaN,NaN,NaN,NaN,NaN,1900-12-01,NaN,NaN,NaN,NaN,NaN,57
565167,NaN,NaN,NaN,NaN,NaN,NaN,1901-01-01,NaN,NaN,NaN,NaN,NaN,46
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,2,0,10520,3,NaN
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,NaN,010,1,NaN
565168,NaN,NaN,NaN,NaN,NaN,NaN,1901-02-01,NaN,NaN,NaN,NaN,NaN,56
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,NaN,006,1,NaN
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,NaN,002,0,NaN
565169,NaN,NaN,NaN,NaN,NaN,NaN,1901-03-01,NaN,NaN,NaN,NaN,NaN,56
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,NaN,003,1,46
565170,NaN,NaN,NaN,NaN,NaN,NaN,1901-05-01,NaN,NaN,NaN,NaN,NaN,46
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,NaN,006,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
565114,-21.3093,168.6738,NaN,11,6.56,4.9,2016-07-04,1,1,0,11110,3,NaN
565117,-10.6376,164.9739,NaN,11,66.85,5.6,2016-07-04,1,1,0,11110,3,NaN
565115,-20.9661,-175.922,NaN,11,204.36,4.9,2016-07-04,1,1,1,11111,3,NaN
565116,-14.2914,167.7517,NaN,11,93.91,4.7,2016-07-04,1,1,1,11111,3,NaN
565112,-21.541,-179.1091,NaN,11,591.48,4.6,2016-07-04,1,1,2,11112,3,NaN
565118,39.5984,73.068,NaN,13,10.0,4.2,2016-07-04,1,1,0,11310,3,NaN
565119,39.4673,73.4369,NaN,13,10.0,4.7,2016-07-04,1,1,0,11310,3,NaN
565120,3.4481,-82.7973,NaN,14,10.0,4.8,2016-07-04,1,1,0,11410,3,NaN
565137,37.3679,-98.2025,NaN,00,5.0,3.5,2016-07-05,1,1,0,10010,0,NaN
565138,36.2626,-97.5821,NaN,00,5.0,3.5,2016-07-05,1,1,0,10010,0,NaN
565139,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,1,0,10010,0,NaN
565140,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110,0,NaN
565144,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310,0,NaN
565145,-20.1948,-70.9115,NaN,03,11.2,5.0,2016-07-05,1,1,0,10310,0,NaN
565146,44.1651,-128.9059,NaN,05,10.0,4.3,2016-07-05,1,1,0,10510,0,NaN
565147,43.3325,-126.6572,NaN,05,10.0,3.1,2016-07-05,1,1,0,10510,0,NaN
565149,-0.3386,125.4749,NaN,06,35.0,4.4,2016-07-05,1,1,0,10610,0,NaN
565150,-0.2665,125.5466,NaN,06,35.0,4.5,2016-07-05,1,1,0,10610,0,NaN
565148,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611,0,NaN
565151,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710,0,NaN
565152,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710,0,NaN
565153,35.5119,129.8661,NaN,07,10.0,4.8,2016-07-05,1,1,0,10710,0,NaN
565154,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811,0,NaN
565141,-32.927,-177.8664,NaN,11,10.0,5.2,2016-07-05,1,1,0,11110,0,NaN
565142,39.489,73.4459,NaN,13,10.0,4.4,2016-07-05,1,1,0,11310,0,NaN
565143,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,1,1,1,11311,0,NaN
565157,-56.8016,-142.1336,NaN,04,10.0,5.9,2016-07-06,1,1,0,10410,0,NaN
565158,53.4488,-163.4493,NaN,05,10.0,3.8,2016-07-06,1,1,0,10510,0,NaN
565155,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111,0,NaN
565156,0.166,-79.8907,NaN,14,35.0,4.3,2016-07-06,1,1,0,11410,0,NaN

In [163]:
result['startdate'] = pd.to_datetime(result['startdate'])

In [160]:
result.to_csv('wtemp.csv', index = False)

In [189]:
with open('tempsequence.txt', "a") as myfile:
        myfile.write(result['phase'][0] + ' ' + result['temp'][0] + ' ' + result['sequence'][0])
for x in range(1, len(result['startdate'])):
    #if date is the same from the previous one
    if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
        continue
    elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
        with open('tempsequence.txt', "a") as myfile:
            myfile.write(' ' + result['sequence'][x])
    #if date is diff from the previous one
    elif (result['startdate'][x] != result['startdate'][x - 1]):
        if (result['phase'][x - 1] != result['phase'][x]):
            with open('tempsequence.txt', "a") as myfile:
                myfile.write(' -1 -2\n' + str(result['phase'][x]))
        else:
            with open('tempsequence.txt', "a") as myfile:
                myfile.write(' -1')
        with open('tempsequence.txt', "a") as myfile:
            if result['temp'][x] == '':
                myfile.write('')
                #myfile.write(str(result['phase'][x]))
            else:
                myfile.write(' ' +str(result['temp'][x]))
                #str(result['phase'][x]) + ' ' + 
        with open('tempsequence.txt', "a") as myfile:
            if result['sequence'][x] == '':
                myfile.write('')
            else:
                myfile.write(' ' + str(result['sequence'][x]))
        
with open('tempsequence.txt', "a") as myfile:
        myfile.write(' -1 -2\n')

In [192]:
with open('tempsequence.txt', "a") as myfile:
    myfile.write(result['phase'][0] + ' ' + result['temp'][0] + ' ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]))
            else:
                myfile.write(' -1')
            if result['temp'][x] == '':
                myfile.write('')
            else:
                myfile.write(' ' +str(result['temp'][x]))
                #str(result['phase'][x]) + ' ' + 
            if result['sequence'][x] == '':
                myfile.write('')
            else:
                myfile.write(' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [173]:
result = result.fillna('')

In [180]:
from datetime import datetime
import ephem

def get_phase_on_day(date):
    d = ephem.Date(date)
    pnm = ephem.previous_new_moon(date)
    lunation = int(d - pnm)
    if lunation in range(0, 8):
        return 0
    elif lunation in range (8, 16):
        return 1
    elif lunation in range (16, 24):
        return 2
    elif lunation in range (24, 30):
        return 3
    #return lunation

result['startdate'] = pd.to_datetime(result.startdate)
result['startdate'] = result['startdate'].dt.date
for i in range(0, len(result)):
    if result['phase'][i] == '':
        result['phase'][i] = get_phase_on_day(result['startdate'][i])

In [179]:
result.dtypes

Latitude     object
Longitude    object
VEI          object
cluster      object
depth        object
mag          object
startdate    object
type         object
scale        object
dep          object
sequence     object
phase        object
temp         object
dtype: object

In [181]:
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase,temp
0,-38.12,176.5,1,11,,,1900-01-01,0,,,011,3,46
1,36.406,138.523,2,07,,,1900-01-22,0,,,007,2,
2,,,,,,,1900-02-01,,,,,0,56
3,13.257,123.685,2,08,,,1900-03-01,0,,,008,3,56
4,-8.108,112.92,2,10,,,1900-03-29,0,,,010,3,
5,,,,,,,1900-04-01,,,,,0,46
6,,,,,,,1900-05-01,,,,,0,56
7,-21.244,55.708,0,02,,,1900-05-11,0,,,002,1,
8,62.006,-144.017,2,05,,,1900-06-01,0,,,005,0,46
9,-4.03,103.13,2,10,,,1900-06-04,0,,,010,0,
10,,,,,,,1900-07-01,,,,,0,46
11,37.647,140.281,2,07,,,1900-07-17,0,,,007,2,
12,,,,,,,1900-08-01,,,,,0,56
13,,,,,,,1900-09-01,,,,,0,56
14,36.618,138.528,1,07,,,1900-10-01,0,,,007,0,57
15,57.09,-153.48,,05,0.0,8.3,1900-10-10,1,2,0,10520,2,
16,-4.03,103.13,2,10,,,1900-10-26,0,,,010,0,
17,,,,,,,1900-11-01,,,,,1,46
18,-8.42,116.47,2,06,,,1900-11-30,0,,,006,0,
19,,,,,,,1900-12-01,,,,,1,57
20,,,,,,,1901-01-01,,,,,1,46
21,60.0,-135.0,,05,0.0,7.1,1901-01-18,1,2,0,10520,3,
22,-8.108,112.92,2,10,,,1901-01-29,0,,,010,1,
23,,,,,,,1901-02-01,,,,,1,56
24,1.112,124.737,2,06,,,1901-02-04,0,,,006,1,
25,-21.244,55.708,2,02,,,1901-02-21,0,,,002,0,
26,,,,,,,1901-03-01,,,,,1,56
27,-33.425,-69.797,2,03,,,1901-04-01,0,,,003,1,46
28,,,,,,,1901-05-01,,,,,1,46
29,-4.523,129.881,2,06,,,1901-05-18,0,,,006,3,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
565480,-21.3093,168.6738,,11,6.56,4.9,2016-07-04,1,1,0,11110,3,
565481,-10.6376,164.9739,,11,66.85,5.6,2016-07-04,1,1,0,11110,3,
565482,-20.9661,-175.922,,11,204.36,4.9,2016-07-04,1,1,1,11111,3,
565483,-14.2914,167.7517,,11,93.91,4.7,2016-07-04,1,1,1,11111,3,
565484,-21.541,-179.1091,,11,591.48,4.6,2016-07-04,1,1,2,11112,3,
565485,39.5984,73.068,,13,10.0,4.2,2016-07-04,1,1,0,11310,3,
565486,39.4673,73.4369,,13,10.0,4.7,2016-07-04,1,1,0,11310,3,
565487,3.4481,-82.7973,,14,10.0,4.8,2016-07-04,1,1,0,11410,3,
565488,37.3679,-98.2025,,00,5.0,3.5,2016-07-05,1,1,0,10010,0,
565489,36.2626,-97.5821,,00,5.0,3.5,2016-07-05,1,1,0,10010,0,
565490,36.1518,-89.6965,,00,9.11,3.0,2016-07-05,1,1,0,10010,0,
565491,21.8613,145.3276,,01,36.21,5.2,2016-07-05,1,1,0,10110,0,
565492,-41.6855,-74.0542,,03,39.51,4.3,2016-07-05,1,1,0,10310,0,
565493,-20.1948,-70.9115,,03,11.2,5.0,2016-07-05,1,1,0,10310,0,
565494,44.1651,-128.9059,,05,10.0,4.3,2016-07-05,1,1,0,10510,0,
565495,43.3325,-126.6572,,05,10.0,3.1,2016-07-05,1,1,0,10510,0,
565496,-0.3386,125.4749,,06,35.0,4.4,2016-07-05,1,1,0,10610,0,
565497,-0.2665,125.5466,,06,35.0,4.5,2016-07-05,1,1,0,10610,0,
565498,2.0851,128.3228,,06,192.36,4.3,2016-07-05,1,1,1,10611,0,
565499,35.7802,140.9868,,07,21.26,4.4,2016-07-05,1,1,0,10710,0,
565500,29.7514,142.1428,,07,29.15,4.6,2016-07-05,1,1,0,10710,0,
565501,35.5119,129.8661,,07,10.0,4.8,2016-07-05,1,1,0,10710,0,
565502,24.8082,95.2124,,08,98.55,4.4,2016-07-05,1,1,1,10811,0,
565503,-32.927,-177.8664,,11,10.0,5.2,2016-07-05,1,1,0,11110,0,
565504,39.489,73.4459,,13,10.0,4.4,2016-07-05,1,1,0,11310,0,
565505,38.2305,73.6797,,13,155.4,4.3,2016-07-05,1,1,1,11311,0,
565506,-56.8016,-142.1336,,04,10.0,5.9,2016-07-06,1,1,0,10410,0,
565507,53.4488,-163.4493,,05,10.0,3.8,2016-07-06,1,1,0,10510,0,
565508,-18.8947,169.4241,,11,257.05,4.8,2016-07-06,1,1,1,11111,0,
565509,0.166,-79.8907,,14,35.0,4.3,2016-07-06,1,1,0,11410,0,