In [96]:
import numpy as np
import pandas as pd
df1 = pd.read_csv('allvolcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
#print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = '0'
df1

,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,Start_Year_Uncertainty,...,End_Year_Uncertainty,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type
0,241050,Okataina,14508,Confirmed Eruption,Waimangu Geyser,1,NaN,NaN,1900,NaN,...,NaN,11,NaN,1,NaN,-38.12,176.5,11,1900-01-01,0
1,283110,Asamayama,17762,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,10,NaN,0,NaN,36.406,138.523,7,1900-01-22,0
2,273030,Mayon,16795,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,3,NaN,6,NaN,13.257,123.685,8,1900-03-01,0
3,263300,Semeru,13571,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,4,>,11,NaN,-8.108,112.92,10,1900-03-29,0
4,233020,Fournaise Piton de la,14306,Confirmed Eruption,East of Dolomieu,0,NaN,NaN,1900,NaN,...,NaN,5,NaN,30,NaN,-21.244,55.708,2,1900-05-11,0
5,315020,Wrangell,20412,Confirmed Eruption,NaN,2,?,NaN,1900,NaN,...,NaN,NaN,NaN,NaN,NaN,62.006,-144.017,5,1900-06-01,0
6,261230,Dempo,15558,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,6,NaN,4,NaN,-4.03,103.13,10,1900-06-04,0
7,283170,Adatarayama,17912,Confirmed Eruption,Numanotaira,2,NaN,NaN,1900,NaN,...,NaN,7,NaN,17,NaN,37.647,140.281,7,1900-07-17,0
8,283120,Kusatsu-Shiranesan,17826,Confirmed Eruption,NE part of Yu-gama,1,NaN,NaN,1900,NaN,...,NaN,10,NaN,1,NaN,36.618,138.528,7,1900-10-01,0
9,261230,Dempo,15559,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,10,NaN,27,NaN,-4.03,103.13,10,1900-10-26,0
10,264030,Rinjani,16213,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1900,NaN,...,NaN,12,NaN,2,NaN,-8.42,116.47,6,1900-11-30,0
11,263300,Semeru,13572,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,1,>,30,NaN,-8.108,112.92,10,1901-01-29,0
12,266030,Soputan,13584,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,1.112,124.737,6,1901-02-04,0
13,233020,Fournaise Piton de la,14307,Confirmed Eruption,East of Dolomieu,2,NaN,NaN,1901,NaN,...,NaN,2,NaN,25,NaN,-21.244,55.708,2,1901-02-21,0
14,357010,Tupungatito,11894,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,-33.425,-69.797,3,1901-04-01,0
15,265090,Banda Api,16418,Confirmed Eruption,Summit and north flank,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,-4.523,129.881,6,1901-05-18,0
16,263280,Kelut,15952,Confirmed Eruption,NaN,3,NaN,NaN,1901,NaN,...,NaN,5,NaN,23,NaN,-7.93,112.308,10,1901-05-22,0
17,355070,San Pedro,11834,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,8,NaN,0,NaN,-21.88,-68.4,3,1901-05-25,0
18,264030,Rinjani,16214,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1901,NaN,...,NaN,6,NaN,2,NaN,-8.42,116.47,6,1901-06-01,0
19,233020,Fournaise Piton de la,14308,Confirmed Eruption,NE flank (above Piton de Crac),2,NaN,NaN,1901,NaN,...,NaN,7,NaN,6,NaN,-21.244,55.708,2,1901-07-04,0
20,300100,Avachinsky,19096,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,7,NaN,13,NaN,53.256,158.836,7,1901-07-07,0
21,313030,Redoubt,20384,Confirmed Eruption,NaN,3,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,60.485,-152.742,5,1902-01-18,0
22,272020,Kanlaon,16727,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,10.412,123.132,6,1902-01-31,0
23,263250,Merapi,15890,Confirmed Eruption,NaN,1,NaN,NaN,1902,NaN,...,NaN,2,NaN,3,NaN,-7.542,110.442,10,1902-02-03,0
24,283110,Asamayama,17763,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,2,NaN,7,NaN,36.406,138.523,7,1902-02-07,0
25,332010,Kilauea,10071,Confirmed Eruption,Halemaumau,0,NaN,NaN,1902,NaN,...,NaN,2,NaN,0,NaN,19.421,-155.287,5,1902-02-14,0
26,263340,Raung,16120,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,2,>,27,NaN,-8.119,114.056,6,1902-02-16,0
27,344090,Momotombo,11001,Confirmed Eruption,NaN,2,?,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,12.422,-86.54,14,1902-03-31,0
28,223020,Nyamuragira,14045,Confirmed Eruption,SSE fissure zone,0,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,-1.408,29.2,9,1902-04-22,0
29,360120,Pelee,12430,Confirmed Eruption,Rivi�re Blanche and summit crater,4,NaN,NaN,1902,NaN,...,NaN,10,NaN,5,NaN,14.809,-61.165,14,1902-04-23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,290390,Alaid,21096,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,NaN,10,NaN,9,NaN,50.861,155.565,7,2015-10-02,0
3292,357090,Copahue,21098,Confirmed Eruption,Agrio Crater,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,26,NaN,-37.856,-71.183,3,2015-10-06,0
3293,345020,Rincon de la Vieja,22132,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,1,NaN,10.83,-85.324,14,2015-10-17,0
3294,345070,Turrialba,22109,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,10.025,-83.767,14,2015-10-23,0
3295,264030,Rinjani,22104,Confirmed Eruption,Barujari crater,2,NaN,NaN,2015,NaN,...,NaN,12,NaN,24,NaN,-8.42,116.47,6,2015-10-25,0
3296,355100,Lascar,22110,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,-23.37,-67.73,3,2015-10-30,0
3297,263310,Tengger Caldera,22103,Confirmed Eruption,Bromo cone,2,NaN,NaN,2015,NaN,...,NaN,5,NaN,24,NaN,-7.942,112.95,10,2015-11-12,0
3298,261140,Marapi,22111,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,11,NaN,14,NaN,-0.381,100.473,10,2015-11-14,0
3299,272020,Kanlaon,22106,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,31,NaN,10.412,123.132,6,2015-11-24,0
3300,344090,Momotombo,22107,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,7,NaN,12.422,-86.54,14,2015-12-01,0
3301,211060,Etna,22102,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,1,NaN,37.734,15.004,9,2015-12-02,0
3302,344100,Masaya,22108,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,19,NaN,11.984,-86.161,14,2015-12-11,0
3303,266030,Soputan,22105,Confirmed Eruption,NaN,3,NaN,NaN,2016,NaN,...,NaN,2,NaN,7,NaN,1.112,124.737,6,2016-01-02,0
3304,357070,Chill�n Nevados de,22119,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,9,NaN,-36.863,-71.377,3,2016-01-08,0
3305,343100,San Miguel,22117,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,1,NaN,18,NaN,13.434,-88.269,14,2016-01-12,0
3306,345070,Turrialba,22118,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,6,NaN,2,NaN,10.025,-83.767,14,2016-02-02,0
3307,290390,Alaid,22116,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,50.861,155.565,7,2016-02-21,0
3308,273010,Bulusan,22114,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2,NaN,22,NaN,12.77,124.05,6,2016-02-22,0
3309,255020,Bagana,22124,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,22,NaN,-6.137,155.196,11,2016-03-03,0
3310,282110,Asosan,22126,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,16,NaN,32.884,131.104,8,2016-03-04,0
3311,251020,Manam,22122,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,4,NaN,-4.08,145.037,11,2016-03-04,0
3312,312030,Pavlof,22129,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,55.417,-161.894,5,2016-03-27,0
3313,290360,Chikurachki,22127,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,31,NaN,50.324,155.461,7,2016-03-29,0
3314,261170,Kerinci,22125,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,4,NaN,-1.697,101.264,10,2016-03-31,0
3315,252010,Langila,22123,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,13,NaN,-5.525,148.42,11,2016-04-02,0
3316,357120,Villarrica,22134,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,3,NaN,-39.42,-71.93,3,2016-04-03,0
3317,311240,Cleveland,22128,Confirmed Eruption,NaN,0,NaN,NaN,2016,NaN,...,NaN,5,NaN,17,NaN,52.825,-169.944,5,2016-04-16,0
3318,344020,San Cristobal,22130,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,4,NaN,22,NaN,12.702,-87.004,14,2016-04-22,0
3319,390080,Bristol Island,22133,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,28,NaN,-59.017,-26.533,3,2016-04-24,0
3320,241040,White Island,22121,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,27,NaN,-37.52,177.18,11,2016-04-27,0

In [39]:
df = pd.read_csv('allquakes.csv', dtype=object)
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
df['Longitude'] = pd.to_numeric(df['Longitude'])
df['Latitude'] = pd.to_numeric(df['Latitude'])
from datetime import timedelta
df['enddate'] = df['startdate'] + timedelta(days=30)
#result['startdate'] = result['startdate'].dt.date
df = df.sort_values(by = ['startdate'])
df.index = range(len(df))
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,enddate
0,5,0.0,57.0900,-153.4800,8.3,10,10,1900,1,1900-10-10,1900-11-09
1,5,0.0,60.0000,-135.0000,7.1,18,1,1901,1,1901-01-18,1901-02-17
2,5,0.0,52.0000,-160.0000,6.6,30,12,1901,1,1901-12-30,1902-01-29
3,5,0.0,51.4500,-171.0200,7.8,31,12,1901,1,1901-12-31,1902-01-30
4,5,0.0,52.3800,-167.4500,7.8,1,1,1902,1,1902-01-01,1902-01-31
5,5,0.0,50.8500,-175.1600,7.0,17,1,1903,1,1903-01-17,1903-02-16
6,5,0.0,52.0000,175.0000,6.8,5,2,1903,1,1903-02-05,1903-03-07
7,5,0.0,61.5600,-158.5400,8.3,2,6,1903,1,1903-06-02,1903-07-02
8,5,0.0,64.6200,-148.2300,7.8,27,8,1904,1,1904-08-27,1904-09-26
9,5,0.0,50.7300,-178.5500,7.7,14,2,1905,1,1905-02-14,1905-03-16
10,5,0.0,51.2800,174.8300,7.2,22,3,1905,1,1905-03-22,1905-04-21
11,7,0.0,52.0600,171.4500,7.4,15,9,1905,1,1905-09-15,1905-10-15
12,5,0.0,53.8800,-161.6800,7.0,10,12,1905,1,1905-12-10,1906-01-09
13,5,0.0,50.7700,179.7300,8.0,17,8,1906,1,1906-08-17,1906-09-16
14,5,0.0,53.0000,-165.0000,7.6,23,12,1906,1,1906-12-23,1907-01-22
15,5,120.0,57.0000,-161.0000,6.5,22,8,1907,1,1907-08-22,1907-09-21
16,7,0.0,52.4400,170.2800,7.7,2,9,1907,1,1907-09-02,1907-10-02
17,5,25.0,59.0000,-141.0000,7.1,15,5,1908,1,1908-05-15,1908-06-14
18,5,0.0,52.0000,175.0000,7.0,10,4,1909,1,1909-04-10,1909-05-10
19,5,90.0,52.5000,-169.0000,7.4,8,9,1909,1,1909-09-08,1909-10-08
20,5,0.0,60.0000,-149.5000,7.4,19,9,1909,1,1909-09-19,1909-10-19
21,5,100.0,57.0000,-160.0000,6.7,13,5,1910,1,1910-05-13,1910-06-12
22,0,NaN,42.0000,-127.0000,6.8,5,8,1910,1,1910-08-05,1910-09-04
23,5,25.0,50.7500,179.3800,7.3,9,9,1910,1,1910-09-09,1910-10-09
24,5,0.0,53.0000,-135.0000,6.8,6,11,1910,1,1910-11-06,1910-12-06
25,0,NaN,37.2500,-121.7500,6.6,1,7,1911,1,1911-07-01,1911-07-31
26,5,0.0,51.0000,180.0000,7.1,17,9,1911,1,1911-09-17,1911-10-17
27,5,60.0,60.5000,-149.0000,6.9,22,9,1911,1,1911-09-22,1911-10-22
28,7,0.0,52.0000,173.0000,7.0,13,11,1911,1,1911-11-13,1911-12-13
29,5,25.0,52.0000,-179.0000,7.1,4,1,1912,1,1912-01-04,1912-02-03
...,...,...,...,...,...,...,...,...,...,...,...
617829,13,10.0,39.4673,73.4369,4.7,4,7,2016,1,2016-07-04,2016-08-03
617830,7,39.96,42.8475,145.4291,4.6,4,7,2016,1,2016-07-04,2016-08-03
617831,11,93.91,-14.2914,167.7517,4.7,4,7,2016,1,2016-07-04,2016-08-03
617832,7,22.75,39.3485,143.4638,4.6,4,7,2016,1,2016-07-04,2016-08-03
617833,11,66.85,-10.6376,164.9739,5.6,4,7,2016,1,2016-07-04,2016-08-03
617834,14,10.0,3.4481,-82.7973,4.8,4,7,2016,1,2016-07-04,2016-08-03
617835,9,10.0,-0.5323,-12.6569,4.9,4,7,2016,1,2016-07-04,2016-08-03
617836,8,37.53,29.0458,129.2817,4.7,4,7,2016,1,2016-07-04,2016-08-03
617837,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05,2016-08-04
617838,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05,2016-08-04
617839,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05,2016-08-04
617840,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05,2016-08-04
617841,13,10.0,39.4890,73.4459,4.4,5,7,2016,1,2016-07-05,2016-08-04
617842,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05,2016-08-04
617843,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05,2016-08-04
617844,11,10.0,-32.9270,-177.8664,5.2,5,7,2016,1,2016-07-05,2016-08-04
617845,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05,2016-08-04
617846,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05,2016-08-04
617847,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05,2016-08-04
617848,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05,2016-08-04
617849,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05,2016-08-04
617850,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05,2016-08-04
617851,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05,2016-08-04
617852,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05,2016-08-04
617853,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05,2016-08-04
617854,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05,2016-08-04
617855,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06,2016-08-05
617856,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06,2016-08-05
617857,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06,2016-08-05
617858,14,35.0,0.1660,-79.8907,4.3,6,7,2016,1,2016-07-06,2016-08-05

In [85]:
df = dff.copy()

In [87]:
for i in range(0, len(df)-1):
    df2 = df[(df['startdate'] >= df['startdate'][i]) & (df['startdate'] < df['enddate'][i]) & (df['Longitude'] >= df['Longitude'][i] - 1) & (df['Longitude'] < df['Longitude'][i] + 1) & (df['Latitude'] >= df['Latitude'][i] - 1) & (df['Latitude'] < df['Latitude'][i] + 1)]
    if len(df2) >= 30:
        print i
        print len(df2)
        #return index entry of df2[0]
        y = list(df2.index.values)[0]
        df['type'][y] = '2'
        df = df[~((df['startdate'] >= df['startdate'][i]) & (df['startdate'] < df['enddate'][i]) & (df['Longitude'] >= df['Longitude'][i] - 1) & (df['Longitude'] < df['Longitude'][i] + 1) & (df['Latitude'] >= df['Latitude'][i] - 1) & (df['Latitude'] < df['Latitude'][i] + 1) & (df['type'] == '1'))]
        df.index = range(len(df))

240
180

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

710
30
935
30
1421
31
1423
31
1597
32
1864
38
2140
35
2381
98
2567
67
2628
56
2880
30
2886
33
2949
59
2953
34
3078
39
3260
51
3367
55
3714
84
3723
150
3733
32
3916
30
4368
92
4509
65
4533
38
4619
40
4950
32
5811
32
5904
30
6196
39
6227
91
6247
63
6678
52
8074
42
8575
36
9474
56
9584
30
9696
80
9712
30
9839
95
9844
114
9860
78
10206
35
10447
31
11467
34
11661
77
11662
46
11663
123
11664
85
11665
59
11666
35
11669
30
11672
48
11679
32
12608
39
13021
30
13713
31
14776
65
15056
76
15087
187
15088
165
15089
110
15091
52
15110
30
15127
36
15434
55
15462
49
15501
30
15517
36
15607
103
15819
31
16522
71
17369
58
17526
37
17825
31
20505
35
20564
31
21963
61
22802
33
22905
30
24372
67
24563
32
24602
50
24830
31
25264
32
25614
31
25903
30
29562
49
30225
91
30549
141
30767
71
30768
49
30997
32
31026
255
31097
31
31118
46
31282
46
31755
39
31901
65
32745
83
33545
42
34056
38
34076
40
36220
89
36396
186
37379
54
37959
56
38195
30
38392
37
39290
30
39291
75
39397
99
39499
69
39813
36
40008
46
40309
31
41330
34
41494
31
41702
31
41910
32
42131
52
42267
33
42525
122
42534
31
42562
32
42590
31
42883
283
42940
30
43240
30
43556
38
43733
30
43936
34
43995
41
44116
41
44319
41
44474
30
44527
39
44670
62
44680
54
44696
52
44739
152
44745
32
44747
30
44776
74
44833
39
44868
41
45051
36
45250
30
45280
30
45492
33
45632
56
46054
38
46246
35
46275
30
46404
46
46416
65
46443
49
46579
52
46636
37
46748
41
46833
33
46898
30
46915
30
47228
31
47314
176
47407
30
47517
38
47569
65
47684
70
47767
44
48012
35
48075
43
48231
39
48460
31
48508
46
48551
32
48883
39
48895
32
48913
30
49265
32
49324
54
49357
32
49580
49
49581
48
49677
38
49715
97
49730
36
50083
78
50131
34
50461
53
50499
36
50775
41
50808
50
50925
35
51055
92
51071
76
51157
42
51315
38
51439
57
51601
33
51948
39
51972
45
52416
48
52605
36
52911
35
52943
38
53064
39
53305
42
53572
64
53575
70
53664
30
53684
30
53903
55
54058
37
54414
32
54769
39
54792
34
55136
36
55633
33
55717
44
55864
42
55968
36
56183
31
56296
45
56462
51
56621
38
57081
30
57841
40
58289
30
58511
32
58578
69
58724
47
58739
55
58860
31
59118
31
59629
31
60114
37
60322
39
60567
76
60725
160
60966
40
60998
31
61269
37
61497
31
61936
33
62240
47
62359
41
62562
56
62870
33
63000
68
63331
44
63349
42
63366
85
63394
43
63542
39
63745
115
63817
51
63901
58
64098
34
64107
71
64466
33
64482
40
65164
48
65194
53
65622
210
65742
44
65882
38
65957
31
66025
45
66054
86
66118
34
66245
113
66889
30
67553
30
67978
56
68143
31
68703
32
68709
31
68764
42
68939
60
69066
35
69135
35
69395
78
69435
37
70280
32
70694
48
71121
35
71566
42
71897
32
71911
37
72324
37
72352
54
72770
79
74480
85
74482
53
74893
45
75356
36
75840
94
77251
41
77401
168
78521
49
78854
31
79609
45
79959
30
80342
41
80904
33
82267
87
82509
35
82686
138
82858
30
83149
33
83250
82
83718
63
86154
30
86222
34
86250
110
86280
149
86879
31
86986
36
87119
34
87497
30
87502
55
87780
30
87877
45
88029
45
88358
30
89026
273
89502
423
89759
417
89864
34
90172
138
90218
91
90362
44
90446
43
90578
69
90611
89
91084
37
91509
60
91970
38
92023
47
92214
86
92461
39
92623
50
93104
30
93657
50
94133
99
94712
35
95585
33
95765
32
95903
34
96009
33
96252
50
96282
36
97128
82
98158
34
98614
59
98777
43
98908
35
98979
33
99219
85
99934
31
100644
30
102083
35
102206
31
103285
30
103594
35
104662
53
104913
69
105391
82
105483
33
105650
52
106262
31
106714
48
106839
32
107411
100
107414
188
107452
44
107862
94
107997
45
108403
32
108590
41
108873
72
108974
124
109425
32
109491
30
109714
36
110510
51
110625
35
110712
31
111230
30
111309
64
111561
46
112151
31
113001
31
113275
40
113841
33
114017
30
114098
34
115218
84
116030
46
117678
126
118312
41
118609
32
118898
39
119752
120
119812
103
120192
33
120434
37
121544
67
122149
32
122966
33
123021
49
123616
63
123748
33
124178
53
124360
33
124372
31
124498
52
124973
56
125458
31
125480
92
125755
74
125904
54
126038
53
126115
36
126736
30
127522
120
127557
38
128065
37
128892
182
128895
81
129630
34
129802
80
129995
45
130093
250
130433
48
130691
60
131334
38
131902
33
132277
106
132633
58
133866
30
134101
72
134733
33
134827
37
137612
33
139464
36
140417
78
140425
195
140610
55
141678
30
142375
32
142646
39
142693
46
143859
30
143891
36
143944
52
145425
30
145466
30
145605
30
145684
32
145986
30
146869
41
147124
30
147617
31
147737
34
148538
33
149398
57
150090
47
150544
44
150691
41
151067
31
151098
47
151156
49
151256
71
151871
50
152466
47
153462
30
154640
188
154752
38
155219
87
155882
91
156228
30
156285
46
156716
33
156901
30
157369
35
157537
37
157599
35
157998
31
158008
35
158135
31
158428
35
158743
136
158776
39
159030
79
159424
33
159582
35
160406
41
160722
30
161012
158
161020
31
163956
42
164203
31
165240
39
166200
47
167290
35
167737
31
167927
69
169023
35
169071
76
170140
34
171251
31
172778
33
173123
30
173202
188
173979
41
174820
54
176309
142
176337
187
176648
69
176730
30
176747
99
176905
30
176907
33
176944
38
177073
37
177204
45
177282
31
177316
37
177407
38
177452
35
177844
47
178070
806
178275
34
178505
89
178635
46
178661
55
178662
42
178860
72
179131
35
179598
91
179606
31
179611
83
179822
47
180184
38
180292
31
180297
34
180316
30
180864
36
181051
37
181163
30
181233
69
181300
88
181396
31
181397
39
181413
37
181589
46
181615
55
181928
31
182129
30
182167
39
182497
39
182661
34
182668
45
182711
62
183148
75
183279
32
184022
34
184050
40
184513
32
184955
44
185008
61
185022
31
187251
37
187273
33
187734
30
188220
30
188343
39
188815
133
188850
30
189436
99
190235
103
190323
31
190530
36
190750
44
190896
101
190916
30
191078
41
191485
30
191509
36
191832
40
192429
33
192776
39
192867
32
193044
34
193378
61
193494
40
193544
359
194054
105
194404
32
194514
30
194575
34
195506
30
196249
80
196250
34
196346
51
196383
32
196607
36
196872
32
197083
152
197153
41
197415
35
197562
54
197707
47
197749
34
198188
42
198194
34
198431
38
198550
36
198649
56
198927
30
199000
38
199108
39
199443
33
199449
31
199642
138
199656
30
199743
88
199869
50
199985
77
200126
32
200150
167
200289
49
200600
37
200608
30
200736
45
200965
48
200995
35
201311
37
201426
34
201447
31
201658
36
201711
33
202081
58
202224
63
202324
34
202475
50
202509
32
202554
31
202677
30
202761
32
203018
30
203207
50
203345
82
203524
31
203581
32
203734
30
203849
31
203970
35
204334
30
204957
36
205095
79
205128
35
205369
227
205400
34
205407
70
205838
128
206014
30
206029
106
206068
30
206239
88
206428
38
206443
62
206498
38
206622
36
206756
47
207151
40
207413
36
208310
46
208312
47
208597
89
208599
66
208863
32
208939
51
209141
38
209329
30
209528
39
210256
32
210289
30
210306
30
210435
30
210665
78
210822
32
211183
99
211310
35
211339
37
211445
45
212254
31
212280
52
212375
48
212385
45
212427
32
212438
257
212722
59
212786
34
213178
96
213377
30
213535
32
213586
33
213881
30
213890
30
213891
33
213920
44
213925
34
214492
30
215130
40
215205
34
215272
48
215496
32
215785
50
215884
30
215885
291
215957
52
216114
31
216558
35
216669
30
216716
32
216801
89
216887
30
217058
37
217298
30
217667
90
217677
32
218170
40
219127
65
219534
53
219542
51
219830
192
219890
54
220248
65
220460
264
220591
30
221028
32
221129
68
221210
36
221438
112
222333
33
222452
32
222538
121
222755
61
222760
62
222896
32
223156
36
223569
60
223747
91
223905
43
224460
177
224557
45
224635
46
224690
42
224710
32
226061
32
227384
88
228402
58
228742
38
228817
30
229346
55
229350
99
229524
44
230276
37
231010
44
231518
30
232801
48
234511
55
234678
130
234809
60
235315
39
235564
176
235688
30
235753
31
235972
39
236331
67
236415
41
236540
38
236671
65
237444
32
237582
167
237640
264
237729
41
238286
32
238361
54
238449
33
239426
31
239548
30
239574
33
241114
35
241351
30
241670
34
241917
30
242424
39
242769
32
242877
35
243155
48
243333
31
243565
44
243920
33
243948
32
244097
30
244654
35
244974
30
245054
30
245124
31
245302
31
245338
33
245347
77
245998
30
246157
62
246310
104
246961
33
247493
30
247569
36
247903
33
248328
30
248612
30
248992
35
249116
35
249248
38
249332
30
249692
48
250457
31
250752
31
250769
39
251377
32
251510
30
251728
40
252079
31
252278
38
252295
33
252682
39
252752
39
253499
34
253645
31
253976
33
253990
44
254006
43
254150
34
254623
37
254870
32
255132
32
255282
31
255971
33
255988
39
255997
58
256145
30
256201
30
256344
35
256654
30
256929
31
257016
30
257331
40
257775
75
258045
41
259027
34
259094
34
259296
52
259469
30
259551
30
259767
101
259832
32
259863
35
260250
33
260262
43
260702
117
260717
300
260760
30
261080
35
261349
32
261485
161
261537
31
261615
52
262147
49
262554
32
262606
30
262844
47
263278
67
263879
31
264871
34
265568
30
265605
35
265841
38
266444
39
266447
53
267095
89
267312
44
267622
68
268261
79
268335
31
268528
90
268665
78
268703
32
269385
490
269604
33
269685
122
270170
38
270358
124
270554
33
271711
30
272850
31
272900
57
273131
43
273316
60
273398
96
273798
30
273816
230
273966
238
274002
30
274038
41
274250
36
274475
33
274812
30
274967
45
275043
30
275317
31
275457
36
275573
31
275757
42
275854
31
275884
51
275925
36
276205
35
276305
76
276353
30
276487
47
276685
31
276879
39
277339
34
278336
57
278488
38
279004
94
279523
33
280261
31
280358
31
280503
30
280551
36
280572
61
280621
32
280841
68
280928
30
281333
143
281694
93
282005
40
282047
45
282390
35
282392
31
282519
158
282753
77
283232
31
283281
32
283657
152
283872
68
284111
37
284513
41
284592
33
284606
67
284727
30
284744
36
284909
35
285273
70
285352
33
285404
36
285560
30
285593
31
285694
31
285807
42
285857
32
285938
32
286311
85
286338
40
286356
41
286383
34
286456
51
286567
30
286996
30
287305
34
287333
51
287350
31
287383
64
287627
30
287757
36
288181
31
288218
33
288330
55
288383
51
288426
32
288430
53
288796
35
288995
31
289047
35
289207
34
289453
58
289456
36
289494
41
289521
32
289770
33
289895
41
289937
32
289940
48
290260
39
290497
32
290730
34
290957
36
291254
31
291477
36
291568
36
291614
30
291908
38
292045
40
292083
34
292582
37
293094
36
293143
36
293518
37
293616
33
293740
30
293741
32
293764
30
294209
30
294472
30
294679
31
294739
35
294780
30
294855
34
295180
30
295206
32
295544
31
295689
40
295968
32
296051
51
296255
53
296340
30
296430
30
296618
33
296759
32
296816
36
296851
30
296940
35
296952
39
297413
76
297423
61
297588
45
297599
35
297829
34
298050
30
298272
30
298605
217
298610
70
298643
41
298916
39
298960
63
299000
36
299047
306
299048
111
299051
73
299118
44
299230
33
299821
38
300298
57
300360
32
300522
30
301515
38
301549
31
302167
47
302243
35
302429
31
302642
35
302905
31
303037
36
303326
48
303336
30
303351
33
303429
30
303594
46
303707
30
303821
123
303914
30
304066
50
304149
36
304220
30
304239
30
304499
38
304703
36
304868
34
304972
119
305428
34
305474
31
305649
115
305876
32
305987
72
306589
93
306644
31
306684
91
306826
30
307022
62
307093
37
307295
35
307304
37
307392
41
307824
31
307847
130
308072
32
308396
30
308778
99
308989
59
309038
32
309476
52
309533
32
309665
84
309904
125
310186
35
310335
33
310677
30
310733
38
310836
103
310838
30
311037
35
311301
31
311440
142
311595
36
312289
82
312362
40
312443
32
312524
155
312771
35
312797
31
312937
34
313290
30
313440
75
313669
102
313990
35
314095
35
314291
39
314525
66
314623
31
314672
46
314771
130
314835
127
314909
30
315102
37
315733
31
316062
38
316223
30
316536
48
316932
60
317090
32
317257
515
318118
30
318548
73
319373
38
319639
33
319881
56
319889
37
320479
32
320722
31
320924
36
321644
37
322095
32
322471
41
322753
30
323024
30
323459
39
324002
31
324299
84
324777
34
324780
55
324995
78
325413
41
325545
34
325570
33
325713
31
326034
31
326145
33
326198
39
326317
33
326612
34
326723
30
326889
30
327163
32
327327
181
327331
31
328127
63
328211
34
328219
31
328288
39
328422
84
328453
90
328667
37
329100
96
329177
30
329349
162
329449
30
329787
62
330013
68
330038
34
330041
39
330330
46
330424
32
330676
40
330723
182
330880
31
331431
35
331496
122
331497
163
331498
116
331500
34
331501
133
331502
52
331503
106
331505
77
331511
42
331520
38
331526
66
331538
31
331544
35
331762
34
331977
31
331988
35
332012
30
332119
58
332291
49
332620
31
332710
35
332742
44
332768
692
332774
36
333148
41
333248
57
333399
30
333970
32
334118
33
334250
36
334441
30
334534
45
334802
47
334914
44
335022
35
335434
488
335825
31
335863
89
335864
190
335867
218
335885
41
336169
74
336381
38
336485
30
336788
30
336855
34
336929
37
337107
80
337498
55
337550
43
337903
32
338183
144
338417
36
338550
35
338557
31
338703
90
338831
53
338876
60
338882
55
339325
30
339435
30
339524
32
339639
30
339688
30
340137
45
340293
32
340299
38
340415
30
340806
52
340853
38
341233
34
341438
82
341517
30
341748
31
342062
33
342374
30
342674
49
342729
31
343339
36
343495
72
344032
34
344273
41
344700
166
344921
30
344937
88
344956
54
345065
78
345296
30
345663
31
345784
32
345823
537
345828
30
346286
45
346317
32
346335
170
347087
30
347145
33
347212
46
347633
32
347869
32
348203
37
348298
31
348612
38
348628
36
348853
35
348955
31
349105
31
349247
61
349383
30
349507
30
350123
30
350481
36
351148
38
351253
30
351468
31
351660
112
352503
40
352531
60
352812
30
352843
45
353414
141
353585
85
353689
31
353824
160
353974
39
354169
180
354477
36
354627
44
354787
127
355606
40
355663
114
355692
32
355707
152
355721
50
355772
33
355773
70
355835
33
356347
32
356389
30
356409
52
356937
36
357012
30
357111
34
357349
65
357395
30
357749
196
358202
33
358242
31
358357
41
358659
39
358970
90
359070
38
359458
31
359775
68
359977
43
360190
30
360246
348
360343
38
360426
30
360548
46
360839
31
361300
51
361523
66
361668
40
361828
31
361958
30
362165
34
362586
33
362890
30
362973
52
363178
30
363472
53
363743
60
364090
33
364228
30
364303
65
364911
36
364983
59
365017
31
365051
32
365148
38
365355
31
365623
102
365730
35
365902
160
366043
193
366396
40
366539
238
366710
32
366800
30
366917
242
366923
48
366999
31
367065
33
367338
31
367419
32
367572
48
368092
31
368104
30
368362
59
368473
90
368670
64
368734
30
368763
99
368962
30
369035
133
369147
46
369589
32
369593
69
369806
32
369841
70
369944
57
370230
30
370513
42
370611
32
370728
35
370854
30
370995
48
371256
32
371328
33
371756
32
372194
30
372240
43
372277
30
372316
36
372466
112
372618
131
372765
36
372779
35
372907
54
372958
31
373060
93
373363
35
373425
30
373524
193
373541
31
373616
40
373670
36
373703
61
373704
65
373760
171
373862
49
373915
49
373968
38
373999
52
374325
30
374346
42
374590
39
374798
32
375014
36
375171
40
375222
44
375443
37
375964
33
376095
33
376337
41
376779
37
376887
72
377340
31
377702
33
377760
33
377932
98
378407
158
378589
42
378862
31
378982
61
379058
37
379076
58
379143
46
379586
31
379699
34
380123
35
380153
38
380211
70
380294
33
380328
38
380692
81
380868
138
381041
39
381217
32
381472
62
381530
57
381577
30
381944
81
381978
31
382035
63
382213
52
382408
138
382462
32
382613
63
382790
41
382793
32
382800
30
383072
33
383140
36
383296
31
383434
44
383573
32
383625
30
384132
41
384358
35
384391
34
384689
33
384734
76
384781
31
385134
33
385596
38
385896
37
385922
31
385958
37
385966
46
386064
30
386317
58
386558
31
386588
84
386705
30
386765
30
387018
31
387398
36
387511
33
388074
33
388158
31
388360
48
388496
30
388561
30
388723
33
389000
34
389017
39
389029
59
389197
66
389261
148
389297
30
389395
34
389746
32
389872
31
390126
33
390234
32
390260
239
390326
39
390467
31
390606
30
390611
75
390800
32
390818
39
390882
31
391030
61
391213
32
391934
30
392014
41
392073
82
392084
77
392114
159
392128
31
392160
38
392174
31
392366
33
392444
31
392489
60
392510
31
392597
31
392880
31
392887
42
393135
39
393176
49
393220
49
393618
78
393658
32
393685
32
393698
42
393747
30
393773
31
393831
41
394220
31
394436
33
394800
37
394830
32
394923
31
394927
607
394928
82
394929
52
395023
30
395425
43
395535
224
395748
117
395809
43
395850
33
395874
30
396053
95
396406
38
396473
71
396521
33
396596
49
396617
34
396961
50
397107
33
397170
38
397295
105
397337
31
397380
30
397534
30
397877
30
398109
42
398174
32
398346
48
398364
35
398382
112
398400
34
398506
33
398508
41
398663
31
398796
31
398955
48
398969
32
399178
30
399336
33
399710
30
399814
31
399959
31
400587
30
400623
30
400647
88
400755
77
400851
37
401172
48
401189
32
401312
31
401610
46
401820
89
402061
31
402080
37
402113
30
402129
63
402277
32
402306
34
402387
42
402574
32
402658
47
402891
47
403008
35
403094
58
403183
152
403431
33
403864
107
404177
90
404833
31
404896
35
405007
30
405493
31
405607
32
405685
67
406310
57
406414
58
406589
129
407236
35
407241
52
407503
48
407683
32
407825
294
408140
44
408147
46
408345
38
408488
32
408610
42
408807
61
408999
62
409232
85
409335
31
409439
36
409626
40
410018
30
410060
36
410378
32
410734
42
410936
33
410999
30
411056
41
411463
40
412077
30
412083
114
412176
30
412245
65
412311
52
412649
51
412666
125
412911
30
413117
35
413122
30
413423
132
413434
44
413475
30
413597
137
413776
45
413777
94
413819
84
413888
32
414022
58
414084
31
414146
32
414904
42
416020
30
416211
91
416323
30
416415
96
417510
30
417690
320
417691
492
417692
320
417698
89
417712
35
418032
34
418096
323
418125
327
418702
57
418711
54
418909
30
418934
34
418977
334
419563
31
419568
34
419648
34
419695
59
419873
50
420481
31
420716
122
420794
45
420921
35
421041
340
421151
74
421597
41
421683
36
421861
51
421863
154
421895
91
421904
285
421973
36
422256
31
422476
35
422551
65
422772
34
423270
166
423487
64
424022
34
424561
34
424591
31
424635
57
424646
31
424972
122
425215
52
425461
155
425486
36
425755
30
425834
40
426226
35
426528
62
426598
112
426646
718
426712
157
426819
39
427443
42
427586
115
427593
32
427707
47
428238
135
428250
31
428299
498
428427
226
428590
32
428655
30
428660
39
428785
91
429123
351
429124
637
429126
259
429127
211
429130
36
429134
63
429138
293
429139
34
429165
56
429180
136
429221
58
429246
39
429371
65
429481
30
429918
36
430115
81
430122
74
430129
39
430142
54
430166
59
430169
44
430190
36
430217
68
430247
30
430250
37
430626
30
430733
32
430902
40
430936
37
431093
47
431095
31
431246
52
431263
38
431310
39
431461
31
431587
38
431858
37
431891
30
432163
33
432226
37
432262
50
432366
70
432384
41
432533
181
432633
123
432752
32
432821
31
433140
63
433154
45
433192
33
433276
36
433390
37
433521
44
433683
30
433977
68
434040
37
434319
38
434327
52
434457
47
434611
31
434943
82
435090
36
435543
35
435745
31
436033
31
436343
60
436577
145
436762
49
437044
53
437314
54
437607
30
438619
69
438737
30
438785
33
439094
115
440016
32
440027
30
440189
34
440453
33
440795
47
441156
109
441475
51
441508
60
441616
32
441713
32
442076
31
442290
30
442440
59
442442
33
442443
47
442444
58
442445
60
442446
65
442536
41
442753
33
443104
48
443242
32
443466
30
443830
37
444028
35
444750
35
445489
30
445716
36
445960
36
446296
57
446342
54
446455
33
446458
38
446651
36
446843
320
446976
32
447225
210
447326
76
447360
80
447383
33
447725
56
447806
131
448222
33
448682
79
448752
30
448967
40
449096
203
449426
42
449984
95
450552
47
450958
83
451025
48
451388
463
451719
32
452299
37
452991
33
453331
69
453665
48
454019
30
454179
53
454372
101
455132
31
455743
58
456778
62
456780
187
456858
30
457613
35
458011
33
458280
119
458618
35
459084
34
459375
77
459504
48
459537
57
459539
44
459866
31
460109
30
460114
30
460227
63
460922
75
461558
30
461665
30
461708
73
461976
34
462208
32
462546
37
462692
33
462722
32
462960
62
463378
43
463421
46
463875
30
463975
84
463981
35
464055
73
464118
36
464128
124
464162
306
464356
52
464947
40
464975
109
465022
50
465118
31
465119
77
465184
38
465377
30
465444
52
465462
30
465985
31
466262
32
466346
32
466391
46
466578
152
466585
130
466740
52
466791
32
466821
35
467005
117
467420
35
467427
30
467439
37
467730
33
467781
62
467859
49
467862
96
468094
31
468329
35
468767
31
468964
31
469320
39
469773
32
470020
93
470291
32
470374
57
470549
47
470807
43
471545
31
471801
85
471839
31
471960
30
472418
31
472553
41
473066
67
473074
36
473222
130
473298
79
473576
41
473929
35
474030
45
474080
36
474364
33
474400
30
474477
43
474526
37
474600
87
474651
32
474729
51
474847
101
475105
63
475300
40
475445
33
475481
34
475650
32
475841
54
475850
42
475853

KeyError: 497541

In [92]:
df['mag'][df['type'] == '2'] = ''
df['depth'][df['type'] == '2'] = ''
df[df['type'] == '2']

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,enddate
240,0,,33.0630,-118.1630,,24,2,1933,2,1933-02-24,1933-03-26
710,0,,33.1463,-116.4623,,14,10,1935,2,1935-10-14,1935-11-13
935,0,,33.7638,-116.2212,,4,3,1937,2,1937-03-04,1937-04-03
1421,0,,32.5623,-115.3682,,29,4,1940,2,1940-04-29,1940-05-29
1423,0,,33.9988,-116.3315,,7,5,1940,2,1940-05-07,1940-06-06
1597,0,,33.6467,-118.6663,,28,6,1941,2,1941-06-28,1941-07-28
1864,0,,32.9753,-115.7853,,21,10,1942,2,1942-10-21,1942-11-20
2140,0,,34.0547,-117.5918,,7,6,1944,2,1944-06-07,1944-07-07
2381,0,,35.6903,-117.8387,,15,3,1946,2,1946-03-15,1946-04-14
2567,0,,34.8990,-116.3793,,18,3,1947,2,1947-03-18,1947-04-17
2628,0,,34.9582,-116.4385,,13,7,1947,2,1947-07-13,1947-08-12
2879,0,,32.9677,-115.5977,,6,11,1948,2,1948-11-06,1948-12-06
2886,0,,33.9878,-116.4680,,6,12,1948,2,1948-12-06,1949-01-05
2949,0,,33.3748,-116.4845,,13,4,1949,2,1949-04-13,1949-05-13
2953,0,,34.5663,-115.4468,,3,5,1949,2,1949-05-03,1949-06-02
3078,0,,33.1910,-116.4655,,14,10,1949,2,1949-10-14,1949-11-13
3260,0,,33.8748,-116.3703,,7,7,1950,2,1950-07-07,1950-08-06
3367,0,,40.0800,-120.0700,,22,11,1950,2,1950-11-22,1950-12-22
3714,0,,34.2743,-119.7398,,1,7,1952,2,1952-07-01,1952-07-31
3723,0,,36.0088,-117.8423,,21,7,1952,2,1952-07-21,1952-08-20
3733,0,,35.0563,-119.0017,,4,8,1952,2,1952-08-04,1952-09-03
3916,0,,35.5035,-118.8790,,25,1,1953,2,1953-01-25,1953-02-24
4368,0,,33.1280,-116.1255,,26,2,1954,2,1954-02-26,1954-03-28
4509,0,,39.4200,-118.5300,,6,7,1954,2,1954-07-06,1954-08-05
4533,0,,39.3000,-118.5000,,5,8,1954,2,1954-08-05,1954-09-04
4619,0,,39.5000,-118.5000,,13,12,1954,2,1954-12-13,1955-01-12
4950,0,,32.8807,-115.3882,,17,12,1955,2,1955-12-17,1956-01-16
5811,0,,32.1063,-115.7813,,1,12,1958,2,1958-12-01,1958-12-31
5904,0,,39.3000,-117.9000,,22,3,1959,2,1959-03-22,1959-04-21
6196,5,,19.2270,-154.9718,,21,12,1959,2,1959-12-21,1960-01-20
...,...,...,...,...,...,...,...,...,...,...,...
489674,14,,19.4083,-65.5902,,8,12,2015,2,2015-12-08,2016-01-07
489850,0,,36.8675,-98.0032,,13,12,2015,2,2015-12-13,2016-01-12
489965,6,,3.4255,127.3616,,16,12,2015,2,2015-12-16,2016-01-15
490310,14,,18.0945,-63.3696,,25,12,2015,2,2015-12-25,2016-01-24
490504,0,,35.6648,-97.4018,,30,12,2015,2,2015-12-30,2016-01-29
490915,5,,59.8488,-152.4858,,10,1,2016,2,2016-01-10,2016-02-09
490921,14,,19.1217,-66.0552,,10,1,2016,2,2016-01-10,2016-02-09
491024,0,,36.9535,-97.8334,,13,1,2016,2,2016-01-13,2016-02-12
491393,3,,-30.4053,-71.4775,,21,1,2016,2,2016-01-21,2016-02-20
491654,14,,19.4290,-64.8248,,29,1,2016,2,2016-01-29,2016-02-28
491671,0,,35.4149,-96.5568,,30,1,2016,2,2016-01-30,2016-02-29
492173,0,,36.5113,-99.0049,,11,2,2016,2,2016-02-11,2016-03-12
492251,5,,51.7785,-173.2374,,13,2,2016,2,2016-02-13,2016-03-14
492560,3,,-30.7255,-71.6378,,20,2,2016,2,2016-02-20,2016-03-21
492830,0,,36.6671,-97.7431,,27,2,2016,2,2016-02-27,2016-03-28
492869,5,,51.4196,-174.7672,,28,2,2016,2,2016-02-28,2016-03-29
493417,5,,56.0750,-158.8690,,12,3,2016,2,2016-03-12,2016-04-11
493640,14,,18.9180,-64.4038,,17,3,2016,2,2016-03-17,2016-04-16
493681,11,,-14.1340,167.2779,,18,3,2016,2,2016-03-18,2016-04-17
493924,3,,-56.0644,-27.9424,,25,3,2016,2,2016-03-25,2016-04-24
494049,0,,35.9951,-97.5750,,29,3,2016,2,2016-03-29,2016-04-28
494155,5,,57.1033,-157.9155,,2,4,2016,2,2016-04-02,2016-05-02
494195,11,,-15.5199,167.5430,,3,4,2016,2,2016-04-03,2016-05-03
494691,8,,32.7113,130.6768,,14,4,2016,2,2016-04-14,2016-05-14
494790,14,,0.2992,-80.0500,,16,4,2016,2,2016-04-16,2016-05-16
494827,11,,-14.1540,166.6140,,17,4,2016,2,2016-04-17,2016-05-17
495282,0,,36.2124,-97.3190,,28,4,2016,2,2016-04-28,2016-05-28
495302,14,,18.4988,-65.8660,,29,4,2016,2,2016-04-29,2016-05-29
496683,0,,36.4166,-98.1423,,2,6,2016,2,2016-06-02,2016-07-02
497373,13,,39.4510,73.7393,,26,6,2016,2,2016-06-26,2016-07-26

In [94]:
del df['enddate']
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate
0,5,0.0,57.0900,-153.4800,8.3,10,10,1900,1,1900-10-10
1,5,0.0,60.0000,-135.0000,7.1,18,1,1901,1,1901-01-18
2,5,0.0,52.0000,-160.0000,6.6,30,12,1901,1,1901-12-30
3,5,0.0,51.4500,-171.0200,7.8,31,12,1901,1,1901-12-31
4,5,0.0,52.3800,-167.4500,7.8,1,1,1902,1,1902-01-01
5,5,0.0,50.8500,-175.1600,7.0,17,1,1903,1,1903-01-17
6,5,0.0,52.0000,175.0000,6.8,5,2,1903,1,1903-02-05
7,5,0.0,61.5600,-158.5400,8.3,2,6,1903,1,1903-06-02
8,5,0.0,64.6200,-148.2300,7.8,27,8,1904,1,1904-08-27
9,5,0.0,50.7300,-178.5500,7.7,14,2,1905,1,1905-02-14
10,5,0.0,51.2800,174.8300,7.2,22,3,1905,1,1905-03-22
11,7,0.0,52.0600,171.4500,7.4,15,9,1905,1,1905-09-15
12,5,0.0,53.8800,-161.6800,7.0,10,12,1905,1,1905-12-10
13,5,0.0,50.7700,179.7300,8.0,17,8,1906,1,1906-08-17
14,5,0.0,53.0000,-165.0000,7.6,23,12,1906,1,1906-12-23
15,5,120.0,57.0000,-161.0000,6.5,22,8,1907,1,1907-08-22
16,7,0.0,52.4400,170.2800,7.7,2,9,1907,1,1907-09-02
17,5,25.0,59.0000,-141.0000,7.1,15,5,1908,1,1908-05-15
18,5,0.0,52.0000,175.0000,7.0,10,4,1909,1,1909-04-10
19,5,90.0,52.5000,-169.0000,7.4,8,9,1909,1,1909-09-08
20,5,0.0,60.0000,-149.5000,7.4,19,9,1909,1,1909-09-19
21,5,100.0,57.0000,-160.0000,6.7,13,5,1910,1,1910-05-13
22,0,NaN,42.0000,-127.0000,6.8,5,8,1910,1,1910-08-05
23,5,25.0,50.7500,179.3800,7.3,9,9,1910,1,1910-09-09
24,5,0.0,53.0000,-135.0000,6.8,6,11,1910,1,1910-11-06
25,0,NaN,37.2500,-121.7500,6.6,1,7,1911,1,1911-07-01
26,5,0.0,51.0000,180.0000,7.1,17,9,1911,1,1911-09-17
27,5,60.0,60.5000,-149.0000,6.9,22,9,1911,1,1911-09-22
28,7,0.0,52.0000,173.0000,7.0,13,11,1911,1,1911-11-13
29,5,25.0,52.0000,-179.0000,7.1,4,1,1912,1,1912-01-04
...,...,...,...,...,...,...,...,...,...,...
497511,7,77.55,36.3263,140.0904,4.4,4,7,2016,1,2016-07-04
497512,8,39.32,29.2387,129.4747,4.7,4,7,2016,1,2016-07-04
497513,7,39.96,42.8475,145.4291,4.6,4,7,2016,1,2016-07-04
497514,11,93.91,-14.2914,167.7517,4.7,4,7,2016,1,2016-07-04
497515,7,22.75,39.3485,143.4638,4.6,4,7,2016,1,2016-07-04
497516,11,66.85,-10.6376,164.9739,5.6,4,7,2016,1,2016-07-04
497517,14,10.0,3.4481,-82.7973,4.8,4,7,2016,1,2016-07-04
497518,9,10.0,-0.5323,-12.6569,4.9,4,7,2016,1,2016-07-04
497519,8,37.53,29.0458,129.2817,4.7,4,7,2016,1,2016-07-04
497520,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05
497521,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05
497522,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05
497523,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05
497524,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05
497525,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05
497526,11,10.0,-32.9270,-177.8664,5.2,5,7,2016,1,2016-07-05
497527,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05
497528,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05
497529,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05
497530,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05
497531,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05
497532,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05
497533,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05
497534,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05
497535,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05
497536,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05
497537,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06
497538,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06
497539,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06
497540,14,35.0,0.1660,-79.8907,4.3,6,7,2016,1,2016-07-06

In [95]:
df.to_csv('quakeswarm.csv', index = False)

In [97]:
df_eq = df.iloc[:,(0,-1,-2,1,2,3,4)]
df_vo = df1.iloc[:,(-3,-1,-2,5,-5,-4)]
frames = [df_eq, df_vo]
result = pd.concat(frames)
result['sequence']=result['type'] + result['cluster'].map(str)
result = result.sort_values(by = ['startdate', 'sequence'])
result.index = range(len(result))
result['scale'] = ''
result['mag'] = pd.to_numeric(result['mag'])
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,sequence,scale
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,011,
1,36.406,138.523,2,7,NaN,NaN,1900-01-22,0,07,
2,13.257,123.685,2,8,NaN,NaN,1900-03-01,0,08,
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,010,
4,-21.244,55.708,0,2,NaN,NaN,1900-05-11,0,02,
5,62.006,-144.017,2,5,NaN,NaN,1900-06-01,0,05,
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,010,
7,37.647,140.281,2,7,NaN,NaN,1900-07-17,0,07,
8,36.618,138.528,1,7,NaN,NaN,1900-10-01,0,07,
9,57.09,-153.48,NaN,5,0.0,8.3,1900-10-10,1,15,
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,010,
11,-8.42,116.47,2,6,NaN,NaN,1900-11-30,0,06,
12,60,-135,NaN,5,0.0,7.1,1901-01-18,1,15,
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,010,
14,1.112,124.737,2,6,NaN,NaN,1901-02-04,0,06,
15,-21.244,55.708,2,2,NaN,NaN,1901-02-21,0,02,
16,-33.425,-69.797,2,3,NaN,NaN,1901-04-01,0,03,
17,-4.523,129.881,2,6,NaN,NaN,1901-05-18,0,06,
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,010,
19,-21.88,-68.4,2,3,NaN,NaN,1901-05-25,0,03,
20,-8.42,116.47,2,6,NaN,NaN,1901-06-01,0,06,
21,-21.244,55.708,2,2,NaN,NaN,1901-07-04,0,02,
22,53.256,158.836,2,7,NaN,NaN,1901-07-07,0,07,
23,52,-160,NaN,5,0.0,6.6,1901-12-30,1,15,
24,51.45,-171.02,NaN,5,0.0,7.8,1901-12-31,1,15,
25,52.38,-167.45,NaN,5,0.0,7.8,1902-01-01,1,15,
26,60.485,-152.742,3,5,NaN,NaN,1902-01-18,0,05,
27,10.412,123.132,2,6,NaN,NaN,1902-01-31,0,06,
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,010,
29,36.406,138.523,2,7,NaN,NaN,1902-02-07,0,07,
...,...,...,...,...,...,...,...,...,...,...
500832,29.6131,143.352,NaN,7,9.1,4.6,2016-07-04,1,17,
500833,36.1361,139.705,NaN,7,48.58,4.5,2016-07-04,1,17,
500834,46.5141,152.794,NaN,7,50.93,4.6,2016-07-04,1,17,
500835,36.3263,140.09,NaN,7,77.55,4.4,2016-07-04,1,17,
500836,42.8475,145.429,NaN,7,39.96,4.6,2016-07-04,1,17,
500837,39.3485,143.464,NaN,7,22.75,4.6,2016-07-04,1,17,
500838,29.2387,129.475,NaN,8,39.32,4.7,2016-07-04,1,18,
500839,29.0458,129.282,NaN,8,37.53,4.7,2016-07-04,1,18,
500840,-0.5323,-12.6569,NaN,9,10.0,4.9,2016-07-04,1,19,
500841,37.3679,-98.2025,NaN,0,5.0,3.5,2016-07-05,1,10,
500842,36.2626,-97.5821,NaN,0,5.0,3.5,2016-07-05,1,10,
500843,36.1518,-89.6965,NaN,0,9.11,3.0,2016-07-05,1,10,
500844,21.8613,145.328,NaN,1,36.21,5.2,2016-07-05,1,11,
500845,-32.927,-177.866,NaN,11,10.0,5.2,2016-07-05,1,111,
500846,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,1,113,
500847,-41.6855,-74.0542,NaN,3,39.51,4.3,2016-07-05,1,13,
500848,-20.1948,-70.9115,NaN,3,11.2,5.0,2016-07-05,1,13,
500849,44.1651,-128.906,NaN,5,10.0,4.3,2016-07-05,1,15,
500850,43.3325,-126.657,NaN,5,10.0,3.1,2016-07-05,1,15,
500851,2.0851,128.323,NaN,6,192.36,4.3,2016-07-05,1,16,
500852,-0.3386,125.475,NaN,6,35.0,4.4,2016-07-05,1,16,
500853,-0.2665,125.547,NaN,6,35.0,4.5,2016-07-05,1,16,
500854,35.7802,140.987,NaN,7,21.26,4.4,2016-07-05,1,17,
500855,29.7514,142.143,NaN,7,29.15,4.6,2016-07-05,1,17,
500856,35.5119,129.866,NaN,7,10.0,4.8,2016-07-05,1,17,
500857,24.8082,95.2124,NaN,8,98.55,4.4,2016-07-05,1,18,
500858,-18.8947,169.424,NaN,11,257.05,4.8,2016-07-06,1,111,
500859,0.166,-79.8907,NaN,14,35.0,4.3,2016-07-06,1,114,
500860,-56.8016,-142.134,NaN,4,10.0,5.9,2016-07-06,1,14,
500861,53.4488,-163.449,NaN,5,10.0,3.8,2016-07-06,1,15,

In [98]:
result['scale'][result['mag']<=3] = '0'
result['scale'][(result['mag']>3) & (result['mag']<=6)] = '1'
result['scale'][result['mag']>6] = '2'
result['depth'] = pd.to_numeric(result['depth'])
result['dep'] = ''
result['dep'][result['depth']<70] = '0'
result['dep'][(result['depth']>= 70)&(result['depth']<300)] = '1'
result['dep'][result['depth']>=300] = '2'
result['cluster'] = result['cluster'].str.zfill(2)
result

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,sequence,scale,dep
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,011,,
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,07,,
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,08,,
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,010,,
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,02,,
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,05,,
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,010,,
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,07,,
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,07,,
9,57.09,-153.48,NaN,05,0.00,8.3,1900-10-10,1,15,2,0
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,010,,
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,06,,
12,60,-135,NaN,05,0.00,7.1,1901-01-18,1,15,2,0
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,010,,
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,06,,
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,02,,
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,03,,
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,06,,
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,010,,
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,03,,
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,06,,
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,02,,
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,07,,
23,52,-160,NaN,05,0.00,6.6,1901-12-30,1,15,2,0
24,51.45,-171.02,NaN,05,0.00,7.8,1901-12-31,1,15,2,0
25,52.38,-167.45,NaN,05,0.00,7.8,1902-01-01,1,15,2,0
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,05,,
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,06,,
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,010,,
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,07,,
...,...,...,...,...,...,...,...,...,...,...,...
500832,29.6131,143.352,NaN,07,9.10,4.6,2016-07-04,1,17,1,0
500833,36.1361,139.705,NaN,07,48.58,4.5,2016-07-04,1,17,1,0
500834,46.5141,152.794,NaN,07,50.93,4.6,2016-07-04,1,17,1,0
500835,36.3263,140.09,NaN,07,77.55,4.4,2016-07-04,1,17,1,1
500836,42.8475,145.429,NaN,07,39.96,4.6,2016-07-04,1,17,1,0
500837,39.3485,143.464,NaN,07,22.75,4.6,2016-07-04,1,17,1,0
500838,29.2387,129.475,NaN,08,39.32,4.7,2016-07-04,1,18,1,0
500839,29.0458,129.282,NaN,08,37.53,4.7,2016-07-04,1,18,1,0
500840,-0.5323,-12.6569,NaN,09,10.00,4.9,2016-07-04,1,19,1,0
500841,37.3679,-98.2025,NaN,00,5.00,3.5,2016-07-05,1,10,1,0
500842,36.2626,-97.5821,NaN,00,5.00,3.5,2016-07-05,1,10,1,0
500843,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,10,0,0
500844,21.8613,145.328,NaN,01,36.21,5.2,2016-07-05,1,11,1,0
500845,-32.927,-177.866,NaN,11,10.00,5.2,2016-07-05,1,111,1,0
500846,38.2305,73.6797,NaN,13,155.40,4.3,2016-07-05,1,113,1,1
500847,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,13,1,0
500848,-20.1948,-70.9115,NaN,03,11.20,5.0,2016-07-05,1,13,1,0
500849,44.1651,-128.906,NaN,05,10.00,4.3,2016-07-05,1,15,1,0
500850,43.3325,-126.657,NaN,05,10.00,3.1,2016-07-05,1,15,1,0
500851,2.0851,128.323,NaN,06,192.36,4.3,2016-07-05,1,16,1,1
500852,-0.3386,125.475,NaN,06,35.00,4.4,2016-07-05,1,16,1,0
500853,-0.2665,125.547,NaN,06,35.00,4.5,2016-07-05,1,16,1,0
500854,35.7802,140.987,NaN,07,21.26,4.4,2016-07-05,1,17,1,0
500855,29.7514,142.143,NaN,07,29.15,4.6,2016-07-05,1,17,1,0
500856,35.5119,129.866,NaN,07,10.00,4.8,2016-07-05,1,17,1,0
500857,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,18,1,1
500858,-18.8947,169.424,NaN,11,257.05,4.8,2016-07-06,1,111,1,1
500859,0.166,-79.8907,NaN,14,35.00,4.3,2016-07-06,1,114,1,0
500860,-56.8016,-142.134,NaN,04,10.00,5.9,2016-07-06,1,14,1,0
500861,53.4488,-163.449,NaN,05,10.00,3.8,2016-07-06,1,15,1,0

In [99]:
del result['sequence']
result['sequence'] = ''
result['sequence'] = result['type'] + result['cluster'] + result['scale'] + result['dep']
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,,,011
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,,,007
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,,,008
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,,,010
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,,,002
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,,,005
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,,,010
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,,,007
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,,,007
9,57.09,-153.48,NaN,05,0.00,8.3,1900-10-10,1,2,0,10520
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,,,010
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,,,006
12,60,-135,NaN,05,0.00,7.1,1901-01-18,1,2,0,10520
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,,,010
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,,,006
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,,,002
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,,,003
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,,,006
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,,,010
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,,,003
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,,,006
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,,,002
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,,,007
23,52,-160,NaN,05,0.00,6.6,1901-12-30,1,2,0,10520
24,51.45,-171.02,NaN,05,0.00,7.8,1901-12-31,1,2,0,10520
25,52.38,-167.45,NaN,05,0.00,7.8,1902-01-01,1,2,0,10520
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,,,005
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,,,006
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,,,010
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,,,007
...,...,...,...,...,...,...,...,...,...,...,...
500832,29.6131,143.352,NaN,07,9.10,4.6,2016-07-04,1,1,0,10710
500833,36.1361,139.705,NaN,07,48.58,4.5,2016-07-04,1,1,0,10710
500834,46.5141,152.794,NaN,07,50.93,4.6,2016-07-04,1,1,0,10710
500835,36.3263,140.09,NaN,07,77.55,4.4,2016-07-04,1,1,1,10711
500836,42.8475,145.429,NaN,07,39.96,4.6,2016-07-04,1,1,0,10710
500837,39.3485,143.464,NaN,07,22.75,4.6,2016-07-04,1,1,0,10710
500838,29.2387,129.475,NaN,08,39.32,4.7,2016-07-04,1,1,0,10810
500839,29.0458,129.282,NaN,08,37.53,4.7,2016-07-04,1,1,0,10810
500840,-0.5323,-12.6569,NaN,09,10.00,4.9,2016-07-04,1,1,0,10910
500841,37.3679,-98.2025,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010
500842,36.2626,-97.5821,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010
500843,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,0,0,10000
500844,21.8613,145.328,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110
500845,-32.927,-177.866,NaN,11,10.00,5.2,2016-07-05,1,1,0,11110
500846,38.2305,73.6797,NaN,13,155.40,4.3,2016-07-05,1,1,1,11311
500847,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310
500848,-20.1948,-70.9115,NaN,03,11.20,5.0,2016-07-05,1,1,0,10310
500849,44.1651,-128.906,NaN,05,10.00,4.3,2016-07-05,1,1,0,10510
500850,43.3325,-126.657,NaN,05,10.00,3.1,2016-07-05,1,1,0,10510
500851,2.0851,128.323,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611
500852,-0.3386,125.475,NaN,06,35.00,4.4,2016-07-05,1,1,0,10610
500853,-0.2665,125.547,NaN,06,35.00,4.5,2016-07-05,1,1,0,10610
500854,35.7802,140.987,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710
500855,29.7514,142.143,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710
500856,35.5119,129.866,NaN,07,10.00,4.8,2016-07-05,1,1,0,10710
500857,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811
500858,-18.8947,169.424,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111
500859,0.166,-79.8907,NaN,14,35.00,4.3,2016-07-06,1,1,0,11410
500860,-56.8016,-142.134,NaN,04,10.00,5.9,2016-07-06,1,1,0,10410
500861,53.4488,-163.449,NaN,05,10.00,3.8,2016-07-06,1,1,0,10510

In [116]:
result.to_csv('numberseq.csv', index = False)

In [112]:
#result[result['Latitude'] == 42.181000000000004]
result.round({'Latitude': 3, 'Longitude': 3})
result['Latitude'] = pd.to_numeric(result['Latitude'])
result['Longitude'] = pd.to_numeric(result['Longitude'])
result.round({'Latitude': 3, 'Longitude': 3})

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence
0,-38.120,176.500,1,11,NaN,NaN,1900-01-01,0,,,011
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,,,007
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,,,008
3,-8.108,112.920,2,10,NaN,NaN,1900-03-29,0,,,010
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,,,002
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,,,005
6,-4.030,103.130,2,10,NaN,NaN,1900-06-04,0,,,010
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,,,007
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,,,007
9,57.090,-153.480,NaN,05,0.00,8.3,1900-10-10,1,2,0,10520
10,-4.030,103.130,2,10,NaN,NaN,1900-10-26,0,,,010
11,-8.420,116.470,2,06,NaN,NaN,1900-11-30,0,,,006
12,60.000,-135.000,NaN,05,0.00,7.1,1901-01-18,1,2,0,10520
13,-8.108,112.920,2,10,NaN,NaN,1901-01-29,0,,,010
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,,,006
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,,,002
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,,,003
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,,,006
18,-7.930,112.308,3,10,NaN,NaN,1901-05-22,0,,,010
19,-21.880,-68.400,2,03,NaN,NaN,1901-05-25,0,,,003
20,-8.420,116.470,2,06,NaN,NaN,1901-06-01,0,,,006
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,,,002
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,,,007
23,52.000,-160.000,NaN,05,0.00,6.6,1901-12-30,1,2,0,10520
24,51.450,-171.020,NaN,05,0.00,7.8,1901-12-31,1,2,0,10520
25,52.380,-167.450,NaN,05,0.00,7.8,1902-01-01,1,2,0,10520
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,,,005
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,,,006
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,,,010
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,,,007
...,...,...,...,...,...,...,...,...,...,...,...
500832,29.613,143.352,NaN,07,9.10,4.6,2016-07-04,1,1,0,10710
500833,36.136,139.705,NaN,07,48.58,4.5,2016-07-04,1,1,0,10710
500834,46.514,152.794,NaN,07,50.93,4.6,2016-07-04,1,1,0,10710
500835,36.326,140.090,NaN,07,77.55,4.4,2016-07-04,1,1,1,10711
500836,42.848,145.429,NaN,07,39.96,4.6,2016-07-04,1,1,0,10710
500837,39.348,143.464,NaN,07,22.75,4.6,2016-07-04,1,1,0,10710
500838,29.239,129.475,NaN,08,39.32,4.7,2016-07-04,1,1,0,10810
500839,29.046,129.282,NaN,08,37.53,4.7,2016-07-04,1,1,0,10810
500840,-0.532,-12.657,NaN,09,10.00,4.9,2016-07-04,1,1,0,10910
500841,37.368,-98.202,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010
500842,36.263,-97.582,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010
500843,36.152,-89.696,NaN,00,9.11,3.0,2016-07-05,1,0,0,10000
500844,21.861,145.328,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110
500845,-32.927,-177.866,NaN,11,10.00,5.2,2016-07-05,1,1,0,11110
500846,38.230,73.680,NaN,13,155.40,4.3,2016-07-05,1,1,1,11311
500847,-41.686,-74.054,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310
500848,-20.195,-70.912,NaN,03,11.20,5.0,2016-07-05,1,1,0,10310
500849,44.165,-128.906,NaN,05,10.00,4.3,2016-07-05,1,1,0,10510
500850,43.332,-126.657,NaN,05,10.00,3.1,2016-07-05,1,1,0,10510
500851,2.085,128.323,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611
500852,-0.339,125.475,NaN,06,35.00,4.4,2016-07-05,1,1,0,10610
500853,-0.266,125.547,NaN,06,35.00,4.5,2016-07-05,1,1,0,10610
500854,35.780,140.987,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710
500855,29.751,142.143,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710
500856,35.512,129.866,NaN,07,10.00,4.8,2016-07-05,1,1,0,10710
500857,24.808,95.212,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811
500858,-18.895,169.424,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111
500859,0.166,-79.891,NaN,14,35.00,4.3,2016-07-06,1,1,0,11410
500860,-56.802,-142.134,NaN,04,10.00,5.9,2016-07-06,1,1,0,10410
500861,53.449,-163.449,NaN,05,10.00,3.8,2016-07-06,1,1,0,10510

In [114]:
from datetime import datetime
import ephem

def get_phase_on_day(date):
    d = ephem.Date(date)
    pnm = ephem.previous_new_moon(date)
    lunation = int(d - pnm)
    if lunation in range(0, 8):
        return 0
    elif lunation in range (8, 16):
        return 1
    elif lunation in range (16, 24):
        return 2
    elif lunation in range (24, 30):
        return 3
    #return lunation

result['startdate'] = pd.to_datetime(result.startdate)
result['startdate'] = result['startdate'].dt.date
result['phase'] = ''
for i in range(0, len(result)):
    result['phase'][i] = get_phase_on_day(result['startdate'][i])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [115]:
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase
0,-38.1200,176.5000,1,11,NaN,NaN,1900-01-01,0,,,011,3
1,36.4060,138.5230,2,07,NaN,NaN,1900-01-22,0,,,007,2
2,13.2570,123.6850,2,08,NaN,NaN,1900-03-01,0,,,008,3
3,-8.1080,112.9200,2,10,NaN,NaN,1900-03-29,0,,,010,3
4,-21.2440,55.7080,0,02,NaN,NaN,1900-05-11,0,,,002,1
5,62.0060,-144.0170,2,05,NaN,NaN,1900-06-01,0,,,005,0
6,-4.0300,103.1300,2,10,NaN,NaN,1900-06-04,0,,,010,0
7,37.6470,140.2810,2,07,NaN,NaN,1900-07-17,0,,,007,2
8,36.6180,138.5280,1,07,NaN,NaN,1900-10-01,0,,,007,0
9,57.0900,-153.4800,NaN,05,0.00,8.3,1900-10-10,1,2,0,10520,2
10,-4.0300,103.1300,2,10,NaN,NaN,1900-10-26,0,,,010,0
11,-8.4200,116.4700,2,06,NaN,NaN,1900-11-30,0,,,006,0
12,60.0000,-135.0000,NaN,05,0.00,7.1,1901-01-18,1,2,0,10520,3
13,-8.1080,112.9200,2,10,NaN,NaN,1901-01-29,0,,,010,1
14,1.1120,124.7370,2,06,NaN,NaN,1901-02-04,0,,,006,1
15,-21.2440,55.7080,2,02,NaN,NaN,1901-02-21,0,,,002,0
16,-33.4250,-69.7970,2,03,NaN,NaN,1901-04-01,0,,,003,1
17,-4.5230,129.8810,2,06,NaN,NaN,1901-05-18,0,,,006,3
18,-7.9300,112.3080,3,10,NaN,NaN,1901-05-22,0,,,010,0
19,-21.8800,-68.4000,2,03,NaN,NaN,1901-05-25,0,,,003,0
20,-8.4200,116.4700,2,06,NaN,NaN,1901-06-01,0,,,006,1
21,-21.2440,55.7080,2,02,NaN,NaN,1901-07-04,0,,,002,2
22,53.2560,158.8360,2,07,NaN,NaN,1901-07-07,0,,,007,2
23,52.0000,-160.0000,NaN,05,0.00,6.6,1901-12-30,1,2,0,10520,2
24,51.4500,-171.0200,NaN,05,0.00,7.8,1901-12-31,1,2,0,10520,2
25,52.3800,-167.4500,NaN,05,0.00,7.8,1902-01-01,1,2,0,10520,2
26,60.4850,-152.7420,3,05,NaN,NaN,1902-01-18,0,,,005,1
27,10.4120,123.1320,2,06,NaN,NaN,1902-01-31,0,,,006,2
28,-7.5420,110.4420,1,10,NaN,NaN,1902-02-03,0,,,010,3
29,36.4060,138.5230,2,07,NaN,NaN,1902-02-07,0,,,007,3
...,...,...,...,...,...,...,...,...,...,...,...,...
500832,29.6131,143.3523,NaN,07,9.10,4.6,2016-07-04,1,1,0,10710,3
500833,36.1361,139.7050,NaN,07,48.58,4.5,2016-07-04,1,1,0,10710,3
500834,46.5141,152.7939,NaN,07,50.93,4.6,2016-07-04,1,1,0,10710,3
500835,36.3263,140.0904,NaN,07,77.55,4.4,2016-07-04,1,1,1,10711,3
500836,42.8475,145.4291,NaN,07,39.96,4.6,2016-07-04,1,1,0,10710,3
500837,39.3485,143.4638,NaN,07,22.75,4.6,2016-07-04,1,1,0,10710,3
500838,29.2387,129.4747,NaN,08,39.32,4.7,2016-07-04,1,1,0,10810,3
500839,29.0458,129.2817,NaN,08,37.53,4.7,2016-07-04,1,1,0,10810,3
500840,-0.5323,-12.6569,NaN,09,10.00,4.9,2016-07-04,1,1,0,10910,3
500841,37.3679,-98.2025,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010,0
500842,36.2626,-97.5821,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010,0
500843,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,0,0,10000,0
500844,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110,0
500845,-32.9270,-177.8664,NaN,11,10.00,5.2,2016-07-05,1,1,0,11110,0
500846,38.2305,73.6797,NaN,13,155.40,4.3,2016-07-05,1,1,1,11311,0
500847,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310,0
500848,-20.1948,-70.9115,NaN,03,11.20,5.0,2016-07-05,1,1,0,10310,0
500849,44.1651,-128.9059,NaN,05,10.00,4.3,2016-07-05,1,1,0,10510,0
500850,43.3325,-126.6572,NaN,05,10.00,3.1,2016-07-05,1,1,0,10510,0
500851,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611,0
500852,-0.3386,125.4749,NaN,06,35.00,4.4,2016-07-05,1,1,0,10610,0
500853,-0.2665,125.5466,NaN,06,35.00,4.5,2016-07-05,1,1,0,10610,0
500854,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710,0
500855,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710,0
500856,35.5119,129.8661,NaN,07,10.00,4.8,2016-07-05,1,1,0,10710,0
500857,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811,0
500858,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111,0
500859,0.1660,-79.8907,NaN,14,35.00,4.3,2016-07-06,1,1,0,11410,0
500860,-56.8016,-142.1336,NaN,04,10.00,5.9,2016-07-06,1,1,0,10410,0
500861,53.4488,-163.4493,NaN,05,10.00,3.8,2016-07-06,1,1,0,10510,0

In [118]:
with open("sequence.txt", "a") as myfile:
    myfile.write(result['sequence'][0])
for x in range(1, len(result)):
    #if date is different from the upcoming one
    if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
        continue
    elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
        with open("sequence.txt", "a") as myfile:
            myfile.write(' ' + result['sequence'][x])
    elif (result['startdate'][x] != result['startdate'][x - 1]):
        with open("sequence.txt", "a") as myfile:
            myfile.write( ' -1 ')
            #' ' + str(result['phase'][x-1]) +
        if (result['phase'][x - 1] != result['phase'][x]):
            with open("sequence.txt", "a") as myfile:
                myfile.write('-2\n')
        with open("sequence.txt", "a") as myfile:
            myfile.write(result['sequence'][x])
        
with open("sequence.txt", "a") as myfile:
        myfile.write(' -1 -2\n')

In [117]:
len(result)

500862