In [3]:
import numpy as np
import pandas as pd
df1 = pd.read_csv('allvolcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
#print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = '0'
df1

,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,Start_Year_Uncertainty,...,End_Year_Uncertainty,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type
0,241050,Okataina,14508,Confirmed Eruption,Waimangu Geyser,1,NaN,NaN,1900,NaN,...,NaN,11,NaN,1,NaN,-38.12,176.5,11,1900-01-01,0
1,283110,Asamayama,17762,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,10,NaN,0,NaN,36.406,138.523,7,1900-01-22,0
2,273030,Mayon,16795,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,3,NaN,6,NaN,13.257,123.685,8,1900-03-01,0
3,263300,Semeru,13571,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,4,>,11,NaN,-8.108,112.92,10,1900-03-29,0
4,233020,Fournaise Piton de la,14306,Confirmed Eruption,East of Dolomieu,0,NaN,NaN,1900,NaN,...,NaN,5,NaN,30,NaN,-21.244,55.708,2,1900-05-11,0
5,315020,Wrangell,20412,Confirmed Eruption,NaN,2,?,NaN,1900,NaN,...,NaN,NaN,NaN,NaN,NaN,62.006,-144.017,5,1900-06-01,0
6,261230,Dempo,15558,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,6,NaN,4,NaN,-4.03,103.13,10,1900-06-04,0
7,283170,Adatarayama,17912,Confirmed Eruption,Numanotaira,2,NaN,NaN,1900,NaN,...,NaN,7,NaN,17,NaN,37.647,140.281,7,1900-07-17,0
8,283120,Kusatsu-Shiranesan,17826,Confirmed Eruption,NE part of Yu-gama,1,NaN,NaN,1900,NaN,...,NaN,10,NaN,1,NaN,36.618,138.528,7,1900-10-01,0
9,261230,Dempo,15559,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,10,NaN,27,NaN,-4.03,103.13,10,1900-10-26,0
10,264030,Rinjani,16213,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1900,NaN,...,NaN,12,NaN,2,NaN,-8.42,116.47,6,1900-11-30,0
11,263300,Semeru,13572,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,1,>,30,NaN,-8.108,112.92,10,1901-01-29,0
12,266030,Soputan,13584,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,1.112,124.737,6,1901-02-04,0
13,233020,Fournaise Piton de la,14307,Confirmed Eruption,East of Dolomieu,2,NaN,NaN,1901,NaN,...,NaN,2,NaN,25,NaN,-21.244,55.708,2,1901-02-21,0
14,357010,Tupungatito,11894,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,-33.425,-69.797,3,1901-04-01,0
15,265090,Banda Api,16418,Confirmed Eruption,Summit and north flank,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,-4.523,129.881,6,1901-05-18,0
16,263280,Kelut,15952,Confirmed Eruption,NaN,3,NaN,NaN,1901,NaN,...,NaN,5,NaN,23,NaN,-7.93,112.308,10,1901-05-22,0
17,355070,San Pedro,11834,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,8,NaN,0,NaN,-21.88,-68.4,3,1901-05-25,0
18,264030,Rinjani,16214,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1901,NaN,...,NaN,6,NaN,2,NaN,-8.42,116.47,6,1901-06-01,0
19,233020,Fournaise Piton de la,14308,Confirmed Eruption,NE flank (above Piton de Crac),2,NaN,NaN,1901,NaN,...,NaN,7,NaN,6,NaN,-21.244,55.708,2,1901-07-04,0
20,300100,Avachinsky,19096,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,7,NaN,13,NaN,53.256,158.836,7,1901-07-07,0
21,313030,Redoubt,20384,Confirmed Eruption,NaN,3,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,60.485,-152.742,5,1902-01-18,0
22,272020,Kanlaon,16727,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,10.412,123.132,6,1902-01-31,0
23,263250,Merapi,15890,Confirmed Eruption,NaN,1,NaN,NaN,1902,NaN,...,NaN,2,NaN,3,NaN,-7.542,110.442,10,1902-02-03,0
24,283110,Asamayama,17763,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,2,NaN,7,NaN,36.406,138.523,7,1902-02-07,0
25,332010,Kilauea,10071,Confirmed Eruption,Halemaumau,0,NaN,NaN,1902,NaN,...,NaN,2,NaN,0,NaN,19.421,-155.287,5,1902-02-14,0
26,263340,Raung,16120,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,2,>,27,NaN,-8.119,114.056,6,1902-02-16,0
27,344090,Momotombo,11001,Confirmed Eruption,NaN,2,?,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,12.422,-86.54,14,1902-03-31,0
28,223020,Nyamuragira,14045,Confirmed Eruption,SSE fissure zone,0,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,-1.408,29.2,9,1902-04-22,0
29,360120,Pelee,12430,Confirmed Eruption,Rivi�re Blanche and summit crater,4,NaN,NaN,1902,NaN,...,NaN,10,NaN,5,NaN,14.809,-61.165,14,1902-04-23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,290390,Alaid,21096,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,NaN,10,NaN,9,NaN,50.861,155.565,7,2015-10-02,0
3292,357090,Copahue,21098,Confirmed Eruption,Agrio Crater,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,26,NaN,-37.856,-71.183,3,2015-10-06,0
3293,345020,Rincon de la Vieja,22132,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,1,NaN,10.83,-85.324,14,2015-10-17,0
3294,345070,Turrialba,22109,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,10.025,-83.767,14,2015-10-23,0
3295,264030,Rinjani,22104,Confirmed Eruption,Barujari crater,2,NaN,NaN,2015,NaN,...,NaN,12,NaN,24,NaN,-8.42,116.47,6,2015-10-25,0
3296,355100,Lascar,22110,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,-23.37,-67.73,3,2015-10-30,0
3297,263310,Tengger Caldera,22103,Confirmed Eruption,Bromo cone,2,NaN,NaN,2015,NaN,...,NaN,5,NaN,24,NaN,-7.942,112.95,10,2015-11-12,0
3298,261140,Marapi,22111,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,11,NaN,14,NaN,-0.381,100.473,10,2015-11-14,0
3299,272020,Kanlaon,22106,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,31,NaN,10.412,123.132,6,2015-11-24,0
3300,344090,Momotombo,22107,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,7,NaN,12.422,-86.54,14,2015-12-01,0
3301,211060,Etna,22102,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,1,NaN,37.734,15.004,9,2015-12-02,0
3302,344100,Masaya,22108,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,19,NaN,11.984,-86.161,14,2015-12-11,0
3303,266030,Soputan,22105,Confirmed Eruption,NaN,3,NaN,NaN,2016,NaN,...,NaN,2,NaN,7,NaN,1.112,124.737,6,2016-01-02,0
3304,357070,Chill�n Nevados de,22119,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,9,NaN,-36.863,-71.377,3,2016-01-08,0
3305,343100,San Miguel,22117,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,1,NaN,18,NaN,13.434,-88.269,14,2016-01-12,0
3306,345070,Turrialba,22118,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,6,NaN,2,NaN,10.025,-83.767,14,2016-02-02,0
3307,290390,Alaid,22116,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,50.861,155.565,7,2016-02-21,0
3308,273010,Bulusan,22114,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2,NaN,22,NaN,12.77,124.05,6,2016-02-22,0
3309,255020,Bagana,22124,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,22,NaN,-6.137,155.196,11,2016-03-03,0
3310,282110,Asosan,22126,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,16,NaN,32.884,131.104,8,2016-03-04,0
3311,251020,Manam,22122,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,4,NaN,-4.08,145.037,11,2016-03-04,0
3312,312030,Pavlof,22129,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,55.417,-161.894,5,2016-03-27,0
3313,290360,Chikurachki,22127,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,31,NaN,50.324,155.461,7,2016-03-29,0
3314,261170,Kerinci,22125,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,4,NaN,-1.697,101.264,10,2016-03-31,0
3315,252010,Langila,22123,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,13,NaN,-5.525,148.42,11,2016-04-02,0
3316,357120,Villarrica,22134,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,3,NaN,-39.42,-71.93,3,2016-04-03,0
3317,311240,Cleveland,22128,Confirmed Eruption,NaN,0,NaN,NaN,2016,NaN,...,NaN,5,NaN,17,NaN,52.825,-169.944,5,2016-04-16,0
3318,344020,San Cristobal,22130,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,4,NaN,22,NaN,12.702,-87.004,14,2016-04-22,0
3319,390080,Bristol Island,22133,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,28,NaN,-59.017,-26.533,3,2016-04-24,0
3320,241040,White Island,22121,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,27,NaN,-37.52,177.18,11,2016-04-27,0

In [4]:
df = pd.read_csv('allquakes.csv', dtype=object)
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
df['Longitude'] = pd.to_numeric(df['Longitude'])
df['Latitude'] = pd.to_numeric(df['Latitude'])
from datetime import timedelta
df['enddate'] = df['startdate'] + timedelta(days=30)
#result['startdate'] = result['startdate'].dt.date
df = df.sort_values(by = ['startdate'])
df.index = range(len(df))
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,enddate
0,5,0.0,57.0900,-153.4800,8.3,10,10,1900,1,1900-10-10,1900-11-09
1,5,0.0,60.0000,-135.0000,7.1,18,1,1901,1,1901-01-18,1901-02-17
2,5,0.0,52.0000,-160.0000,6.6,30,12,1901,1,1901-12-30,1902-01-29
3,5,0.0,51.4500,-171.0200,7.8,31,12,1901,1,1901-12-31,1902-01-30
4,5,0.0,52.3800,-167.4500,7.8,1,1,1902,1,1902-01-01,1902-01-31
5,5,0.0,50.8500,-175.1600,7.0,17,1,1903,1,1903-01-17,1903-02-16
6,5,0.0,52.0000,175.0000,6.8,5,2,1903,1,1903-02-05,1903-03-07
7,5,0.0,61.5600,-158.5400,8.3,2,6,1903,1,1903-06-02,1903-07-02
8,5,0.0,64.6200,-148.2300,7.8,27,8,1904,1,1904-08-27,1904-09-26
9,5,0.0,50.7300,-178.5500,7.7,14,2,1905,1,1905-02-14,1905-03-16
10,5,0.0,51.2800,174.8300,7.2,22,3,1905,1,1905-03-22,1905-04-21
11,7,0.0,52.0600,171.4500,7.4,15,9,1905,1,1905-09-15,1905-10-15
12,5,0.0,53.8800,-161.6800,7.0,10,12,1905,1,1905-12-10,1906-01-09
13,5,0.0,50.7700,179.7300,8.0,17,8,1906,1,1906-08-17,1906-09-16
14,5,0.0,53.0000,-165.0000,7.6,23,12,1906,1,1906-12-23,1907-01-22
15,5,120.0,57.0000,-161.0000,6.5,22,8,1907,1,1907-08-22,1907-09-21
16,7,0.0,52.4400,170.2800,7.7,2,9,1907,1,1907-09-02,1907-10-02
17,5,25.0,59.0000,-141.0000,7.1,15,5,1908,1,1908-05-15,1908-06-14
18,5,0.0,52.0000,175.0000,7.0,10,4,1909,1,1909-04-10,1909-05-10
19,5,90.0,52.5000,-169.0000,7.4,8,9,1909,1,1909-09-08,1909-10-08
20,5,0.0,60.0000,-149.5000,7.4,19,9,1909,1,1909-09-19,1909-10-19
21,5,100.0,57.0000,-160.0000,6.7,13,5,1910,1,1910-05-13,1910-06-12
22,0,NaN,42.0000,-127.0000,6.8,5,8,1910,1,1910-08-05,1910-09-04
23,5,25.0,50.7500,179.3800,7.3,9,9,1910,1,1910-09-09,1910-10-09
24,5,0.0,53.0000,-135.0000,6.8,6,11,1910,1,1910-11-06,1910-12-06
25,0,NaN,37.2500,-121.7500,6.6,1,7,1911,1,1911-07-01,1911-07-31
26,5,0.0,51.0000,180.0000,7.1,17,9,1911,1,1911-09-17,1911-10-17
27,5,60.0,60.5000,-149.0000,6.9,22,9,1911,1,1911-09-22,1911-10-22
28,7,0.0,52.0000,173.0000,7.0,13,11,1911,1,1911-11-13,1911-12-13
29,5,25.0,52.0000,-179.0000,7.1,4,1,1912,1,1912-01-04,1912-02-03
...,...,...,...,...,...,...,...,...,...,...,...
617829,13,10.0,39.4673,73.4369,4.7,4,7,2016,1,2016-07-04,2016-08-03
617830,7,39.96,42.8475,145.4291,4.6,4,7,2016,1,2016-07-04,2016-08-03
617831,11,93.91,-14.2914,167.7517,4.7,4,7,2016,1,2016-07-04,2016-08-03
617832,7,22.75,39.3485,143.4638,4.6,4,7,2016,1,2016-07-04,2016-08-03
617833,11,66.85,-10.6376,164.9739,5.6,4,7,2016,1,2016-07-04,2016-08-03
617834,14,10.0,3.4481,-82.7973,4.8,4,7,2016,1,2016-07-04,2016-08-03
617835,9,10.0,-0.5323,-12.6569,4.9,4,7,2016,1,2016-07-04,2016-08-03
617836,8,37.53,29.0458,129.2817,4.7,4,7,2016,1,2016-07-04,2016-08-03
617837,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05,2016-08-04
617838,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05,2016-08-04
617839,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05,2016-08-04
617840,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05,2016-08-04
617841,13,10.0,39.4890,73.4459,4.4,5,7,2016,1,2016-07-05,2016-08-04
617842,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05,2016-08-04
617843,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05,2016-08-04
617844,11,10.0,-32.9270,-177.8664,5.2,5,7,2016,1,2016-07-05,2016-08-04
617845,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05,2016-08-04
617846,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05,2016-08-04
617847,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05,2016-08-04
617848,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05,2016-08-04
617849,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05,2016-08-04
617850,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05,2016-08-04
617851,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05,2016-08-04
617852,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05,2016-08-04
617853,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05,2016-08-04
617854,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05,2016-08-04
617855,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06,2016-08-05
617856,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06,2016-08-05
617857,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06,2016-08-05
617858,14,35.0,0.1660,-79.8907,4.3,6,7,2016,1,2016-07-06,2016-08-05

In [5]:
dff = df.copy()

In [62]:
from geopy.distance import great_circle
for i in range(0, len(df)-1): 
    df2 = df[(df['startdate'] >= df['startdate'][i]) & (df['startdate'] < df['enddate'][i]) & (df['Latitude'] >= df['Latitude'][i] - 2) & (df['Latitude'] < df['Latitude'][i] + 2)]
    if len(df2) >= 30:
        counter = 0
        l = []
        for j in range (i + 1 , i + len(df2)):
            if great_circle((df['Latitude'][i], df['Longitude'][i]), (df['Latitude'][j], df['Longitude'][j])).miles < 100:
                counter = counter + 1
                l.append(j)
        if counter >= 30:
            print i
            print counter
            #return index entry of df2[0]
            y = list(df2.index.values)[0]
            df['type'][y] = '2'
            df = df.drop(df.index[l])
            df.index = range(len(df))

239
61

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

241
116
972
33
1448
31
1450
31
1464
31
1587
30
1859
33
2139
33
2379
71
2593
64
2656
57
2908
35
2998
40
3004
51
3147
35
3315
54
3410
37
3782
168
3790
83
3800
31
4446
80
4573
30
4677
30
4749
35
5084
30
6066
33
6384
35
6407
82
6421
49
6864
43
8483
30
9818
31
9989
118
10143
36
10168
143
10175
30
10285
35
11985
58
12048
118
12049
80
12050
141
12054
31
12196
48
13078
30
15588
48
15623
374
15624
198
15752
33
15770
30
15934
30
15962
30
16016
30
16170
32
16264
33
16287
65
16397
41
17468
63
18331
45
22716
45
25440
65
31434
68
31711
40
31873
131
32076
30
32139
46
32203
50
32311
153
32377
36
33203
36
34241
35
34278
30
35457
37
37660
44
37849
137
39781
49
40949
38
41074
81
41359
47
41785
30
44562
92
44621
30
44990
229
46533
31
46773
31
46865
33
47108
67
47129
30
47185
60
47218
39
47241
35
47332
73
47341
44
48481
30
48993
30
49133
30
49423
47
49580
31
50510
56
50661
75
50753
30
53832
33
53978
41
55312
43
55316
56
56069
31
56205
30
58551
72
58633
32
61317
33
61763
36
64037
46
64546
39
66761
31
66882
78
68667
37
69509
106
69626
48
70204
65
70209
30
70390
95
70401
36
71700
30
71990
48
72169
127
72254
30
72941
34
73124
66
76024
41
76259
30
76556
45
80311
46
82053
56
83572
54
85172
69
85352
112
86785
32
88436
35
90641
162
91554
41
94728
89
94908
152
95890
42
96573
35
97565
81
97772
135
97970
172
98174
164
98298
71
98342
88
98427
53
98554
330
98688
42
98823
38
98850
31
98925
31
98954
34
99136
49
99152
42
99273
34
99672
34
100266
32
101035
48
101172
32
102970
31
103126
56
103231
31
105091
30
105400
42
106700
38
106800
36
108008
55
108449
35
111866
33
114620
36
114851
35
115041
35
115216
85
116448
35
116576
37
117084
108
117349
143
117831
72
118844
48
119252
57
121503
45
121788
34
125746
37
128743
128
130758
40
130873
38
130982
51
132337
40
134138
31
136784
47
136876
34
139372
32
139484
63
139558
31
140453
182
140580
35
141868
67
141965
34
142010
196
142171
45
142315
31
142652
30
144030
62
144606
35
146230
34
152465
35
152473
103
152597
80
152728
63
154820
35
156590
44
159627
31
162268
38
163120
62
164716
32
167764
61
167993
114
168168
41
168309
32
169238
46
169796
38
172066
69
172445
37
173974
44
174589
128
178192
37
181755
48
182925
46
184456
32
187189
70
187353
32
187481
40
189505
35
190667
36
190837
107
190870
98
190951
83
191573
41
191714
37
192409
33
193098
716
193101
42
193358
38
193359
72
193552
36
193600
53
193681
38
193833
30
194568
34
194978
79
196308
33
196847
47
198155
38
199169
34
201419
32
203036
32
204779
102
205621
49
206572
44
206945
34
207561
56
207806
36
210064
145
210210
52
210316
97
210587
42
210745
56
213734
39
213895
36
213935
41
214160
58
214508
30
215066
31
215353
48
216840
31
217188
52
217307
30
217486
44
217702
186
217880
43
217936
63
218081
32
218816
45
220206
49
223989
100
224234
93
224719
34
224872
82
225016
50
225103
77
225168
64
225387
56
226126
59
226302
31
227696
96
228073
52
228283
70
230006
37
230645
50
232107
53
232335
34
232492
211
232712
46
233816
89
236113
45
236114
240
236263
30
236473
32
237103
33
237167
52
237480
33
238941
41
239084
34
240430
203
240646
37
240936
67
241170
34
241707
49
241832
33
242042
154
242257
110
243794
30
244177
49
244294
47
244964
65
245567
36
245765
90
245877
45
246060
38
249804
73
251999
81
257043
31
257354
124
257574
56
257833
31
257955
38
259321
54
259760
157
259909
128
259987
36
260028
56
267272
31
268820
31
269200
54
269533
47
269630
31
273743
32
281042
42
282697
38
284105
36
284633
68
285743
89
286531
330
286727
59
287436
36
293016
31
294523
56
294541
42
294754
72
295481
224
295806
141
296126
94
296396
74
296644
89
297159
33
299702
47
300000
32
300243
51
300262
263
300383
121
300503
36
300583
87
300758
31
303150
30
306189
75
308666
45
309100
149
309339
44
309696
52
310164
38
310456
125
310874
37
311418
82
313434
46
314468
35
315374
32
315868
37
319925
31
327531
42
327614
46
329068
56
329663
76
329712
32
330224
432
330316
31
330466
44
330526
30
330682
30
331630
30
332841
36
333746
32
335173
30
336084
33
336561
54
336722
39
339045
131
339227
30
339254
31
339578
50
339728
30
340233
68
340442
72
340600
31
341828
32
342327
40
342454
40
342754
132
342939
31
342984
39
344422
36
344585
53
344589
43
344754
32
346649
171
346877
108
348417
154
348419
61
348617
54
348919
33
350512
37
351321
314
351668
92
351872
31
351942
54
352221
38
352497
32
359186
60
359453
42
360601
41
360967
58
361725
36
362330
95
362447
53
363516
51
364516
41
364687
59
365169
36
365415
106
365696
31
365958
71
367136
104
367217
110
367218
48
367221
90
367223
67
367224
32
367255
51
367321
32
367322
34
367359
45
367440
37
367461
47
367600
34
367650
35
367872
38
368296
33
368429
49
368633
37
368808
347
369191
266
372177
225
372216
32
372681
55
372770
133
372799
143
373161
37
373192
59
373236
66
373238
33
373412
69
373482
77
373509
33
373616
34
373773
49
374125
35
374386
34
374864
31
375338
41
375461
37
377517
60
377618
34
380051
41
382763
48
383330
47
383503
60
383617
42
383791
32
384274
396
384276
33
384280
38
384490
78
384534
43
384706
34
384758
31
384763
124
385094
36
385424
37
392414
68
392585
36
392849
98
394262
52
394398
37
394497
32
394654
117
394954
81
395170
65
395421
39
395453
135
395859
31
396051
55
396184
32
396242
71
396424
30
398995
119
399263
33
400152
38
400549
38
400599
40
400794
74
401106
76
401130
66
401297
37
401440
37
402811
34
405732
31
406296
38
407830
30
408112
248
408123
65
408345
37
408621
316
408716
31
408972
48
409035
39
409146
31
411994
30
412001
35
412222
119
412227
30
412739
130
412965
31
415732
38
415890
67
416397
56
416461
51
416507
36
416612
107
416827
81
416914
84
416939
34
417054
46
417133
30
417167
102
417423
40
418420
30
418767
33
421396
31
421959
51
421970
38
422224
51
422323
33
422649
31
422936
30
423199
43
424361
30
424769
32
425222
37
425362
52
426444
54
427054
102
427057
62
427271
34
427966
61
428350
51
430523
30
430851
39
432732
66
432820
41
433258
39
433368
34
436078
41
436224
30
436372
82
436616
64
436793
39
436845
81
437204
31
437304
74
437804
75
438275
39
438580
111
438673
32
439008
39
439736
44
439895
32
439965
44
440216
50
441496
41
441809
41
442136
481
442371
30
442463
48
442686
32
442942
33
443480
57
443928
141
444332
94
444459
36
444659
37
444859
33
445212
42
445240
78
445629
33
446175
32
446287
35
446473
36
446627
30
447038
30
447384
37
447843
109
449092
36
449209
50
451015
33
451496
69
451795
79
452942
55
452965
38
453195
53
453338
56
453584
33
453806
31
454455
38
456832
114
458057
208
458153
42
458195
63
458889
32
459154
32
459930
30
462530
60
462800
39
463230
46
463405
45
464546
115
464607
48
464924
137
465140
63
467430
56
467663
67
469010
175
469011
395
469012
224
469016
32
469032
31
469209
32
469212
31
469274
99
469346
46
469510
53
469597
39
469681
135
469695
41
470159
198
470344
407
470585
88
470796
41
470967
36
471236
30
471472
31
472697
59
473801
526
473871
63
474061
149
474308
56
474688
69
474812
61
475584
68
475691
30
476831
60
477435
65
477727
76
478045
104
478675
31
479405
521
479482
112
479558
30
479584
77
479636
40
479750
50
479866
31
480047
30
480178
54
480184
30
480423
30
481319
147
481476
121
481581
454
481645
31
481883
74
482258
603
482268
236
482272
83
482295
271
482303
364
482390
88
482391
92
482469
49
482515
42
482706
34
482724
133
482749
83
482800
69
482907
55
483066
49
483150
46
483157
38
483208
45
483359
82
483502
36
483716
40
483832
32
483996
33
484145
43
484292
31
484388
33
484441
32
484481
33
484503
32
485889
31
486067
34
486244
35
486413
34
486575
46
486820
93
486963
40
486989
32
487171
36
488751
41
489143
30
489309
53
491193
95
491945
38
492200
36
492585
38
494938
53
494967
39
496876
60
497703
79
497705
75
497707
43
502773
36
502985
34
503016
40
503060
142
503152
140
503272
113
503324
55
503704
33
503955
32
504147
50
504254
52
505454
162
505850
40
506012
30
506879
71
507507
49
507583
36
508007
154
508357
120
508363
168
510045
43
510419
34
511013
30
511183
33
511298
46
513723
84
513880
63
515385
73
516598
47
516764
93
516773
35
519163
44
519572
39
521723
69
521777
30
522194
147
522481
154
522628
35
522636
57
522851
112
522860
39
523063
53
523201
30
525069
44
526200
35
526337
137
526341
47
526389
81
526427
38
526671
74
529439
52
533823
32
534372
84
535818
36
538488
61
541156
36
542254
111
542414
95
542545
51
542714
50
542900
30
543001
38
546062
52
546343
31
546610
72
546623
41
546870
41
547076
35
548376
38
548406
36
548498
79
548893
124
548989
290
549146
32
549264
37
549350
39
549515
34
551323
42
551470
32
552853
79
553717
31
553974
43
553990
33
554935
34
557960
38
557978
34
558604
45

KeyError: 561838

In [63]:
df['mag'][df['type'] == '2'] = ''
df['depth'][df['type'] == '2'] = ''
df[df['type'] == '2']

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,enddate
239,0,,33.2050,-116.4480,,13,2,1933,2,1933-02-13,1933-03-15
241,0,,34.3333,-119.5000,,7,3,1933,2,1933-03-07,1933-04-06
972,0,,33.1825,-116.2118,,9,3,1937,2,1937-03-09,1937-04-08
1448,0,,32.5623,-115.3682,,29,4,1940,2,1940-04-29,1940-05-29
1450,0,,33.9988,-116.3315,,7,5,1940,2,1940-05-07,1940-06-06
1462,0,,32.9000,-115.2000,,6,6,1940,2,1940-06-06,1940-07-06
1587,0,,35.4050,-119.2510,,4,6,1941,2,1941-06-04,1941-07-04
1859,0,,32.9753,-115.7853,,21,10,1942,2,1942-10-21,1942-11-20
2139,0,,34.0547,-117.5918,,7,6,1944,2,1944-06-07,1944-07-07
2379,0,,34.3227,-117.8298,,24,2,1946,2,1946-02-24,1946-03-26
2593,0,,34.8990,-116.3793,,18,3,1947,2,1947-03-18,1947-04-17
2655,0,,36.0800,-121.1000,,13,7,1947,2,1947-07-13,1947-08-12
2908,0,,35.0002,-116.9435,,10,11,1948,2,1948-11-10,1948-12-10
2998,0,,32.8468,-116.2360,,6,4,1949,2,1949-04-06,1949-05-06
3004,0,,34.5663,-115.4468,,3,5,1949,2,1949-05-03,1949-06-02
3147,0,,33.5103,-116.5703,,26,10,1949,2,1949-10-26,1949-11-25
3315,0,,33.8748,-116.3703,,7,7,1950,2,1950-07-07,1950-08-06
3410,0,,40.4800,-121.5000,,16,11,1950,2,1950-11-16,1950-12-16
3782,0,,34.2743,-119.7398,,1,7,1952,2,1952-07-01,1952-07-31
3790,0,,36.0088,-117.8423,,21,7,1952,2,1952-07-21,1952-08-20
3800,0,,34.9943,-118.8213,,18,8,1952,2,1952-08-18,1952-09-17
4446,0,,33.1280,-116.1255,,26,2,1954,2,1954-02-26,1954-03-28
4573,0,,38.8800,-119.5800,,14,6,1954,2,1954-06-14,1954-07-14
4677,0,,39.3000,-118.5000,,22,8,1954,2,1954-08-22,1954-09-21
4749,0,,39.5000,-118.5000,,13,12,1954,2,1954-12-13,1955-01-12
5084,0,,32.8807,-115.3882,,17,12,1955,2,1955-12-17,1956-01-16
6066,0,,40.1000,-119.2000,,15,3,1959,2,1959-03-15,1959-04-14
6384,5,,19.4712,-155.3187,,3,1,1960,2,1960-01-03,1960-02-02
6407,5,,19.4473,-155.2512,,28,1,1960,2,1960-01-28,1960-02-27
6421,5,,19.3960,-155.2995,,23,2,1960,2,1960-02-23,1960-03-24
...,...,...,...,...,...,...,...,...,...,...,...
542414,11,,-5.6667,152.4427,,30,4,2015,2,2015-04-30,2015-05-30
542545,11,,-6.5185,154.3557,,3,5,2015,2,2015-05-03,2015-06-02
542684,11,,-4.7112,151.2016,,6,5,2015,2,2015-05-06,2015-06-05
542900,13,,27.7776,86.0010,,10,5,2015,2,2015-05-10,2015-06-09
543001,13,,27.7305,86.1990,,12,5,2015,2,2015-05-12,2015-06-11
546062,14,,19.1625,-67.7818,,15,7,2015,2,2015-07-15,2015-08-14
546321,14,,18.8553,-67.9368,,20,7,2015,2,2015-07-20,2015-08-19
546610,5,,52.1332,-169.3655,,27,7,2015,2,2015-07-27,2015-08-26
546611,14,,18.5535,-68.9745,,27,7,2015,2,2015-07-27,2015-08-26
546867,14,,18.9207,-67.9940,,3,8,2015,2,2015-08-03,2015-09-02
547074,14,,19.3368,-64.6340,,7,8,2015,2,2015-08-07,2015-09-06
548376,5,,51.2280,-174.7750,,4,9,2015,2,2015-09-04,2015-10-04
548406,14,,19.1383,-64.9190,,5,9,2015,2,2015-09-05,2015-10-05
548498,11,,-33.3248,-178.1308,,7,9,2015,2,2015-09-07,2015-10-07
548893,3,,-29.8210,-71.1970,,14,9,2015,2,2015-09-14,2015-10-14
548989,3,,-31.5729,-71.6744,,16,9,2015,2,2015-09-16,2015-10-16
549132,11,,-30.8797,-178.8122,,19,9,2015,2,2015-09-19,2015-10-19
549234,11,,-33.1222,-178.7420,,21,9,2015,2,2015-09-21,2015-10-21
549325,11,,-32.2680,-178.4438,,23,9,2015,2,2015-09-23,2015-10-23
549515,3,,-31.3742,-71.5696,,28,9,2015,2,2015-09-28,2015-10-28
551323,10,,6.7698,94.7617,,8,11,2015,2,2015-11-08,2015-12-08
551459,11,,-31.7888,179.2331,,10,11,2015,2,2015-11-10,2015-12-10
552853,6,,-4.1986,129.4945,,9,12,2015,2,2015-12-09,2016-01-08
553717,0,,36.2629,-97.3543,,28,12,2015,2,2015-12-28,2016-01-27
553964,8,,36.4290,97.6386,,4,1,2016,2,2016-01-04,2016-02-03
553971,8,,19.1416,121.0647,,4,1,2016,2,2016-01-04,2016-02-03
554935,5,,59.7312,-153.1456,,24,1,2016,2,2016-01-24,2016-02-23
557955,11,,-16.3950,-174.0249,,2,4,2016,2,2016-04-02,2016-05-02
557960,5,,57.1033,-157.9155,,2,4,2016,2,2016-04-02,2016-05-02
558604,8,,32.7113,130.6768,,14,4,2016,2,2016-04-14,2016-05-14

In [5]:
del df['enddate']
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate
0,5,0.0,57.0900,-153.4800,8.3,10,10,1900,1,1900-10-10
1,5,0.0,60.0000,-135.0000,7.1,18,1,1901,1,1901-01-18
2,5,0.0,52.0000,-160.0000,6.6,30,12,1901,1,1901-12-30
3,5,0.0,51.4500,-171.0200,7.8,31,12,1901,1,1901-12-31
4,5,0.0,52.3800,-167.4500,7.8,1,1,1902,1,1902-01-01
5,5,0.0,50.8500,-175.1600,7.0,17,1,1903,1,1903-01-17
6,5,0.0,52.0000,175.0000,6.8,5,2,1903,1,1903-02-05
7,5,0.0,61.5600,-158.5400,8.3,2,6,1903,1,1903-06-02
8,5,0.0,64.6200,-148.2300,7.8,27,8,1904,1,1904-08-27
9,5,0.0,50.7300,-178.5500,7.7,14,2,1905,1,1905-02-14
10,5,0.0,51.2800,174.8300,7.2,22,3,1905,1,1905-03-22
11,7,0.0,52.0600,171.4500,7.4,15,9,1905,1,1905-09-15
12,5,0.0,53.8800,-161.6800,7.0,10,12,1905,1,1905-12-10
13,5,0.0,50.7700,179.7300,8.0,17,8,1906,1,1906-08-17
14,5,0.0,53.0000,-165.0000,7.6,23,12,1906,1,1906-12-23
15,5,120.0,57.0000,-161.0000,6.5,22,8,1907,1,1907-08-22
16,7,0.0,52.4400,170.2800,7.7,2,9,1907,1,1907-09-02
17,5,25.0,59.0000,-141.0000,7.1,15,5,1908,1,1908-05-15
18,5,0.0,52.0000,175.0000,7.0,10,4,1909,1,1909-04-10
19,5,90.0,52.5000,-169.0000,7.4,8,9,1909,1,1909-09-08
20,5,0.0,60.0000,-149.5000,7.4,19,9,1909,1,1909-09-19
21,5,100.0,57.0000,-160.0000,6.7,13,5,1910,1,1910-05-13
22,0,NaN,42.0000,-127.0000,6.8,5,8,1910,1,1910-08-05
23,5,25.0,50.7500,179.3800,7.3,9,9,1910,1,1910-09-09
24,5,0.0,53.0000,-135.0000,6.8,6,11,1910,1,1910-11-06
25,0,NaN,37.2500,-121.7500,6.6,1,7,1911,1,1911-07-01
26,5,0.0,51.0000,180.0000,7.1,17,9,1911,1,1911-09-17
27,5,60.0,60.5000,-149.0000,6.9,22,9,1911,1,1911-09-22
28,7,0.0,52.0000,173.0000,7.0,13,11,1911,1,1911-11-13
29,5,25.0,52.0000,-179.0000,7.1,4,1,1912,1,1912-01-04
...,...,...,...,...,...,...,...,...,...,...
617829,13,10.0,39.4673,73.4369,4.7,4,7,2016,1,2016-07-04
617830,7,39.96,42.8475,145.4291,4.6,4,7,2016,1,2016-07-04
617831,11,93.91,-14.2914,167.7517,4.7,4,7,2016,1,2016-07-04
617832,7,22.75,39.3485,143.4638,4.6,4,7,2016,1,2016-07-04
617833,11,66.85,-10.6376,164.9739,5.6,4,7,2016,1,2016-07-04
617834,14,10.0,3.4481,-82.7973,4.8,4,7,2016,1,2016-07-04
617835,9,10.0,-0.5323,-12.6569,4.9,4,7,2016,1,2016-07-04
617836,8,37.53,29.0458,129.2817,4.7,4,7,2016,1,2016-07-04
617837,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05
617838,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05
617839,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05
617840,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05
617841,13,10.0,39.4890,73.4459,4.4,5,7,2016,1,2016-07-05
617842,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05
617843,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05
617844,11,10.0,-32.9270,-177.8664,5.2,5,7,2016,1,2016-07-05
617845,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05
617846,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05
617847,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05
617848,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05
617849,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05
617850,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05
617851,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05
617852,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05
617853,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05
617854,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05
617855,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06
617856,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06
617857,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06
617858,14,35.0,0.1660,-79.8907,4.3,6,7,2016,1,2016-07-06

In [65]:
df.to_csv('quakeswarm.csv', index = False)

In [11]:
df_eq = df.iloc[:,(0,-1,-2,1,2,3,4)]
df_vo = df1.iloc[:,(-3,-1,-2,5,-5,-4)]
frames = [df_eq, df_vo]
result = pd.concat(frames)
result['sequence']=result['type'] + result['cluster'].map(str)
result = result.sort_values(by = ['startdate', 'sequence'])
result.index = range(len(result))
result['scale'] = ''
result['mag'] = pd.to_numeric(result['mag'])
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,sequence,scale
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,V,V11,
1,36.406,138.523,2,7,NaN,NaN,1900-01-22,V,V7,
2,13.257,123.685,2,8,NaN,NaN,1900-03-01,V,V8,
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,V,V10,
4,-21.244,55.708,0,2,NaN,NaN,1900-05-11,V,V2,
5,62.006,-144.017,2,5,NaN,NaN,1900-06-01,V,V5,
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,V,V10,
7,37.647,140.281,2,7,NaN,NaN,1900-07-17,V,V7,
8,36.618,138.528,1,7,NaN,NaN,1900-10-01,V,V7,
9,57.09,-153.48,NaN,5,0.0,8.3,1900-10-10,E,E5,
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,V,V10,
11,-8.42,116.47,2,6,NaN,NaN,1900-11-30,V,V6,
12,60,-135,NaN,5,0.0,7.1,1901-01-18,E,E5,
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,V,V10,
14,1.112,124.737,2,6,NaN,NaN,1901-02-04,V,V6,
15,-21.244,55.708,2,2,NaN,NaN,1901-02-21,V,V2,
16,-33.425,-69.797,2,3,NaN,NaN,1901-04-01,V,V3,
17,-4.523,129.881,2,6,NaN,NaN,1901-05-18,V,V6,
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,V,V10,
19,-21.88,-68.4,2,3,NaN,NaN,1901-05-25,V,V3,
20,-8.42,116.47,2,6,NaN,NaN,1901-06-01,V,V6,
21,-21.244,55.708,2,2,NaN,NaN,1901-07-04,V,V2,
22,53.256,158.836,2,7,NaN,NaN,1901-07-07,V,V7,
23,52,-160,NaN,5,0.0,6.6,1901-12-30,E,E5,
24,51.45,-171.02,NaN,5,0.0,7.8,1901-12-31,E,E5,
25,52.38,-167.45,NaN,5,0.0,7.8,1902-01-01,E,E5,
26,60.485,-152.742,3,5,NaN,NaN,1902-01-18,V,V5,
27,10.412,123.132,2,6,NaN,NaN,1902-01-31,V,V6,
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,V,V10,
29,36.406,138.523,2,7,NaN,NaN,1902-02-07,V,V7,
...,...,...,...,...,...,...,...,...,...,...
621150,36.1361,139.705,NaN,7,48.58,4.5,2016-07-04,E,E7,
621151,46.5141,152.794,NaN,7,50.93,4.6,2016-07-04,E,E7,
621152,36.3263,140.09,NaN,7,77.55,4.4,2016-07-04,E,E7,
621153,42.8475,145.429,NaN,7,39.96,4.6,2016-07-04,E,E7,
621154,39.3485,143.464,NaN,7,22.75,4.6,2016-07-04,E,E7,
621155,29.2387,129.475,NaN,8,39.32,4.7,2016-07-04,E,E8,
621156,29.0458,129.282,NaN,8,37.53,4.7,2016-07-04,E,E8,
621157,-0.5323,-12.6569,NaN,9,10.0,4.9,2016-07-04,E,E9,
621158,37.3679,-98.2025,NaN,0,5.0,3.5,2016-07-05,E,E0,
621159,36.2626,-97.5821,NaN,0,5.0,3.5,2016-07-05,E,E0,
621160,36.1518,-89.6965,NaN,0,9.11,3.0,2016-07-05,E,E0,
621161,21.8613,145.328,NaN,1,36.21,5.2,2016-07-05,E,E1,
621162,-32.927,-177.866,NaN,11,10.0,5.2,2016-07-05,E,E11,
621163,39.489,73.4459,NaN,13,10.0,4.4,2016-07-05,E,E13,
621164,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,E,E13,
621165,-41.6855,-74.0542,NaN,3,39.51,4.3,2016-07-05,E,E3,
621166,-20.1948,-70.9115,NaN,3,11.2,5.0,2016-07-05,E,E3,
621167,44.1651,-128.906,NaN,5,10.0,4.3,2016-07-05,E,E5,
621168,43.3325,-126.657,NaN,5,10.0,3.1,2016-07-05,E,E5,
621169,2.0851,128.323,NaN,6,192.36,4.3,2016-07-05,E,E6,
621170,-0.3386,125.475,NaN,6,35.0,4.4,2016-07-05,E,E6,
621171,-0.2665,125.547,NaN,6,35.0,4.5,2016-07-05,E,E6,
621172,35.7802,140.987,NaN,7,21.26,4.4,2016-07-05,E,E7,
621173,29.7514,142.143,NaN,7,29.15,4.6,2016-07-05,E,E7,
621174,35.5119,129.866,NaN,7,10.0,4.8,2016-07-05,E,E7,
621175,24.8082,95.2124,NaN,8,98.55,4.4,2016-07-05,E,E8,
621176,-18.8947,169.424,NaN,11,257.05,4.8,2016-07-06,E,E11,
621177,0.166,-79.8907,NaN,14,35.0,4.3,2016-07-06,E,E14,
621178,-56.8016,-142.134,NaN,4,10.0,5.9,2016-07-06,E,E4,
621179,53.4488,-163.449,NaN,5,10.0,3.8,2016-07-06,E,E5,

In [7]:
result['scale'][result['mag']<4] = '0'
result['scale'][(result['mag']>=4) & (result['mag']<4.5)] = '1'
result['scale'][result['mag']>=4.5] = '2'
result['depth'] = pd.to_numeric(result['depth'])
result['dep'] = ''
result['dep'][result['depth']<70] = '0'
result['dep'][(result['depth']>= 70)&(result['depth']<300)] = '1'
result['dep'][result['depth']>=300] = '2'
result['cluster'] = result['cluster'].str.zfill(2)
result

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,sequence,scale,dep
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,011,,
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,07,,
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,08,,
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,010,,
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,02,,
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,05,,
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,010,,
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,07,,
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,07,,
9,57.09,-153.48,NaN,05,0.00,8.3,1900-10-10,1,15,2,0
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,010,,
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,06,,
12,60,-135,NaN,05,0.00,7.1,1901-01-18,1,15,2,0
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,010,,
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,06,,
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,02,,
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,03,,
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,06,,
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,010,,
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,03,,
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,06,,
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,02,,
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,07,,
23,52,-160,NaN,05,0.00,6.6,1901-12-30,1,15,2,0
24,51.45,-171.02,NaN,05,0.00,7.8,1901-12-31,1,15,2,0
25,52.38,-167.45,NaN,05,0.00,7.8,1902-01-01,1,15,2,0
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,05,,
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,06,,
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,010,,
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,07,,
...,...,...,...,...,...,...,...,...,...,...,...
621150,36.1361,139.705,NaN,07,48.58,4.5,2016-07-04,1,17,2,0
621151,46.5141,152.794,NaN,07,50.93,4.6,2016-07-04,1,17,2,0
621152,36.3263,140.09,NaN,07,77.55,4.4,2016-07-04,1,17,1,1
621153,42.8475,145.429,NaN,07,39.96,4.6,2016-07-04,1,17,2,0
621154,39.3485,143.464,NaN,07,22.75,4.6,2016-07-04,1,17,2,0
621155,29.2387,129.475,NaN,08,39.32,4.7,2016-07-04,1,18,2,0
621156,29.0458,129.282,NaN,08,37.53,4.7,2016-07-04,1,18,2,0
621157,-0.5323,-12.6569,NaN,09,10.00,4.9,2016-07-04,1,19,2,0
621158,37.3679,-98.2025,NaN,00,5.00,3.5,2016-07-05,1,10,0,0
621159,36.2626,-97.5821,NaN,00,5.00,3.5,2016-07-05,1,10,0,0
621160,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,10,0,0
621161,21.8613,145.328,NaN,01,36.21,5.2,2016-07-05,1,11,2,0
621162,-32.927,-177.866,NaN,11,10.00,5.2,2016-07-05,1,111,2,0
621163,39.489,73.4459,NaN,13,10.00,4.4,2016-07-05,1,113,1,0
621164,38.2305,73.6797,NaN,13,155.40,4.3,2016-07-05,1,113,1,1
621165,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,13,1,0
621166,-20.1948,-70.9115,NaN,03,11.20,5.0,2016-07-05,1,13,2,0
621167,44.1651,-128.906,NaN,05,10.00,4.3,2016-07-05,1,15,1,0
621168,43.3325,-126.657,NaN,05,10.00,3.1,2016-07-05,1,15,0,0
621169,2.0851,128.323,NaN,06,192.36,4.3,2016-07-05,1,16,1,1
621170,-0.3386,125.475,NaN,06,35.00,4.4,2016-07-05,1,16,1,0
621171,-0.2665,125.547,NaN,06,35.00,4.5,2016-07-05,1,16,2,0
621172,35.7802,140.987,NaN,07,21.26,4.4,2016-07-05,1,17,1,0
621173,29.7514,142.143,NaN,07,29.15,4.6,2016-07-05,1,17,2,0
621174,35.5119,129.866,NaN,07,10.00,4.8,2016-07-05,1,17,2,0
621175,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,18,1,1
621176,-18.8947,169.424,NaN,11,257.05,4.8,2016-07-06,1,111,2,1
621177,0.166,-79.8907,NaN,14,35.00,4.3,2016-07-06,1,114,1,0
621178,-56.8016,-142.134,NaN,04,10.00,5.9,2016-07-06,1,14,2,0
621179,53.4488,-163.449,NaN,05,10.00,3.8,2016-07-06,1,15,0,0

In [69]:
del result['sequence']
result['sequence'] = ''
result['sequence'] = result['type'] + result['cluster'] + result['scale'] + result['dep']
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,,,011
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,,,007
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,,,008
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,,,010
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,,,002
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,,,005
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,,,010
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,,,007
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,,,007
9,57.09,-153.48,NaN,05,0.00,8.3,1900-10-10,1,2,0,10520
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,,,010
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,,,006
12,60,-135,NaN,05,0.00,7.1,1901-01-18,1,2,0,10520
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,,,010
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,,,006
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,,,002
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,,,003
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,,,006
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,,,010
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,,,003
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,,,006
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,,,002
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,,,007
23,52,-160,NaN,05,0.00,6.6,1901-12-30,1,2,0,10520
24,51.45,-171.02,NaN,05,0.00,7.8,1901-12-31,1,2,0,10520
25,52.38,-167.45,NaN,05,0.00,7.8,1902-01-01,1,2,0,10520
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,,,005
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,,,006
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,,,010
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,,,007
...,...,...,...,...,...,...,...,...,...,...,...
565129,36.1361,139.705,NaN,07,48.58,4.5,2016-07-04,1,1,0,10710
565130,46.5141,152.794,NaN,07,50.93,4.6,2016-07-04,1,1,0,10710
565131,36.3263,140.09,NaN,07,77.55,4.4,2016-07-04,1,1,1,10711
565132,42.8475,145.429,NaN,07,39.96,4.6,2016-07-04,1,1,0,10710
565133,39.3485,143.464,NaN,07,22.75,4.6,2016-07-04,1,1,0,10710
565134,29.2387,129.475,NaN,08,39.32,4.7,2016-07-04,1,1,0,10810
565135,29.0458,129.282,NaN,08,37.53,4.7,2016-07-04,1,1,0,10810
565136,-0.5323,-12.6569,NaN,09,10.00,4.9,2016-07-04,1,1,0,10910
565137,37.3679,-98.2025,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010
565138,36.2626,-97.5821,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010
565139,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,1,0,10010
565140,21.8613,145.328,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110
565141,-32.927,-177.866,NaN,11,10.00,5.2,2016-07-05,1,1,0,11110
565142,39.489,73.4459,NaN,13,10.00,4.4,2016-07-05,1,1,0,11310
565143,38.2305,73.6797,NaN,13,155.40,4.3,2016-07-05,1,1,1,11311
565144,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310
565145,-20.1948,-70.9115,NaN,03,11.20,5.0,2016-07-05,1,1,0,10310
565146,44.1651,-128.906,NaN,05,10.00,4.3,2016-07-05,1,1,0,10510
565147,43.3325,-126.657,NaN,05,10.00,3.1,2016-07-05,1,1,0,10510
565148,2.0851,128.323,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611
565149,-0.3386,125.475,NaN,06,35.00,4.4,2016-07-05,1,1,0,10610
565150,-0.2665,125.547,NaN,06,35.00,4.5,2016-07-05,1,1,0,10610
565151,35.7802,140.987,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710
565152,29.7514,142.143,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710
565153,35.5119,129.866,NaN,07,10.00,4.8,2016-07-05,1,1,0,10710
565154,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811
565155,-18.8947,169.424,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111
565156,0.166,-79.8907,NaN,14,35.00,4.3,2016-07-06,1,1,0,11410
565157,-56.8016,-142.134,NaN,04,10.00,5.9,2016-07-06,1,1,0,10410
565158,53.4488,-163.449,NaN,05,10.00,3.8,2016-07-06,1,1,0,10510

In [14]:
result.to_csv('numberseq.csv', index = False)

In [13]:
#result[result['Latitude'] == 42.181000000000004]
#result.round({'Latitude': 3, 'Longitude': 3})
result['Latitude'] = pd.to_numeric(result['Latitude'])
result['Longitude'] = pd.to_numeric(result['Longitude'])
result.round({'Latitude': 3, 'Longitude': 3})

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,sequence,scale
0,-38.120,176.500,1,11,NaN,NaN,1900-01-01,V,V11,
1,36.406,138.523,2,7,NaN,NaN,1900-01-22,V,V7,
2,13.257,123.685,2,8,NaN,NaN,1900-03-01,V,V8,
3,-8.108,112.920,2,10,NaN,NaN,1900-03-29,V,V10,
4,-21.244,55.708,0,2,NaN,NaN,1900-05-11,V,V2,
5,62.006,-144.017,2,5,NaN,NaN,1900-06-01,V,V5,
6,-4.030,103.130,2,10,NaN,NaN,1900-06-04,V,V10,
7,37.647,140.281,2,7,NaN,NaN,1900-07-17,V,V7,
8,36.618,138.528,1,7,NaN,NaN,1900-10-01,V,V7,
9,57.090,-153.480,NaN,5,0.0,8.3,1900-10-10,E,E5,
10,-4.030,103.130,2,10,NaN,NaN,1900-10-26,V,V10,
11,-8.420,116.470,2,6,NaN,NaN,1900-11-30,V,V6,
12,60.000,-135.000,NaN,5,0.0,7.1,1901-01-18,E,E5,
13,-8.108,112.920,2,10,NaN,NaN,1901-01-29,V,V10,
14,1.112,124.737,2,6,NaN,NaN,1901-02-04,V,V6,
15,-21.244,55.708,2,2,NaN,NaN,1901-02-21,V,V2,
16,-33.425,-69.797,2,3,NaN,NaN,1901-04-01,V,V3,
17,-4.523,129.881,2,6,NaN,NaN,1901-05-18,V,V6,
18,-7.930,112.308,3,10,NaN,NaN,1901-05-22,V,V10,
19,-21.880,-68.400,2,3,NaN,NaN,1901-05-25,V,V3,
20,-8.420,116.470,2,6,NaN,NaN,1901-06-01,V,V6,
21,-21.244,55.708,2,2,NaN,NaN,1901-07-04,V,V2,
22,53.256,158.836,2,7,NaN,NaN,1901-07-07,V,V7,
23,52.000,-160.000,NaN,5,0.0,6.6,1901-12-30,E,E5,
24,51.450,-171.020,NaN,5,0.0,7.8,1901-12-31,E,E5,
25,52.380,-167.450,NaN,5,0.0,7.8,1902-01-01,E,E5,
26,60.485,-152.742,3,5,NaN,NaN,1902-01-18,V,V5,
27,10.412,123.132,2,6,NaN,NaN,1902-01-31,V,V6,
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,V,V10,
29,36.406,138.523,2,7,NaN,NaN,1902-02-07,V,V7,
...,...,...,...,...,...,...,...,...,...,...
621150,36.136,139.705,NaN,7,48.58,4.5,2016-07-04,E,E7,
621151,46.514,152.794,NaN,7,50.93,4.6,2016-07-04,E,E7,
621152,36.326,140.090,NaN,7,77.55,4.4,2016-07-04,E,E7,
621153,42.848,145.429,NaN,7,39.96,4.6,2016-07-04,E,E7,
621154,39.348,143.464,NaN,7,22.75,4.6,2016-07-04,E,E7,
621155,29.239,129.475,NaN,8,39.32,4.7,2016-07-04,E,E8,
621156,29.046,129.282,NaN,8,37.53,4.7,2016-07-04,E,E8,
621157,-0.532,-12.657,NaN,9,10.0,4.9,2016-07-04,E,E9,
621158,37.368,-98.202,NaN,0,5.0,3.5,2016-07-05,E,E0,
621159,36.263,-97.582,NaN,0,5.0,3.5,2016-07-05,E,E0,
621160,36.152,-89.696,NaN,0,9.11,3.0,2016-07-05,E,E0,
621161,21.861,145.328,NaN,1,36.21,5.2,2016-07-05,E,E1,
621162,-32.927,-177.866,NaN,11,10.0,5.2,2016-07-05,E,E11,
621163,39.489,73.446,NaN,13,10.0,4.4,2016-07-05,E,E13,
621164,38.230,73.680,NaN,13,155.4,4.3,2016-07-05,E,E13,
621165,-41.686,-74.054,NaN,3,39.51,4.3,2016-07-05,E,E3,
621166,-20.195,-70.912,NaN,3,11.2,5.0,2016-07-05,E,E3,
621167,44.165,-128.906,NaN,5,10.0,4.3,2016-07-05,E,E5,
621168,43.332,-126.657,NaN,5,10.0,3.1,2016-07-05,E,E5,
621169,2.085,128.323,NaN,6,192.36,4.3,2016-07-05,E,E6,
621170,-0.339,125.475,NaN,6,35.0,4.4,2016-07-05,E,E6,
621171,-0.266,125.547,NaN,6,35.0,4.5,2016-07-05,E,E6,
621172,35.780,140.987,NaN,7,21.26,4.4,2016-07-05,E,E7,
621173,29.751,142.143,NaN,7,29.15,4.6,2016-07-05,E,E7,
621174,35.512,129.866,NaN,7,10.0,4.8,2016-07-05,E,E7,
621175,24.808,95.212,NaN,8,98.55,4.4,2016-07-05,E,E8,
621176,-18.895,169.424,NaN,11,257.05,4.8,2016-07-06,E,E11,
621177,0.166,-79.891,NaN,14,35.0,4.3,2016-07-06,E,E14,
621178,-56.802,-142.134,NaN,4,10.0,5.9,2016-07-06,E,E4,
621179,53.449,-163.449,NaN,5,10.0,3.8,2016-07-06,E,E5,

In [73]:
from datetime import datetime
import ephem

def get_phase_on_day(date):
    d = ephem.Date(date)
    pnm = ephem.previous_new_moon(date)
    lunation = int(d - pnm)
    if lunation in range(0, 8):
        return 0
    elif lunation in range (8, 16):
        return 1
    elif lunation in range (16, 23):
        return 2
    elif lunation in range (23, 30):
        return 3
    #return lunation

result['startdate'] = pd.to_datetime(result.startdate)
result['startdate'] = result['startdate'].dt.date
result['phase'] = ''
for i in range(0, len(result)):
    result['phase'][i] = get_phase_on_day(result['startdate'][i])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [74]:
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase
0,-38.1200,176.5000,1,11,NaN,NaN,1900-01-01,0,,,011,3
1,36.4060,138.5230,2,07,NaN,NaN,1900-01-22,0,,,007,2
2,13.2570,123.6850,2,08,NaN,NaN,1900-03-01,0,,,008,3
3,-8.1080,112.9200,2,10,NaN,NaN,1900-03-29,0,,,010,3
4,-21.2440,55.7080,0,02,NaN,NaN,1900-05-11,0,,,002,1
5,62.0060,-144.0170,2,05,NaN,NaN,1900-06-01,0,,,005,0
6,-4.0300,103.1300,2,10,NaN,NaN,1900-06-04,0,,,010,0
7,37.6470,140.2810,2,07,NaN,NaN,1900-07-17,0,,,007,2
8,36.6180,138.5280,1,07,NaN,NaN,1900-10-01,0,,,007,0
9,57.0900,-153.4800,NaN,05,0.00,8.3,1900-10-10,1,2,0,10520,2
10,-4.0300,103.1300,2,10,NaN,NaN,1900-10-26,0,,,010,0
11,-8.4200,116.4700,2,06,NaN,NaN,1900-11-30,0,,,006,0
12,60.0000,-135.0000,NaN,05,0.00,7.1,1901-01-18,1,2,0,10520,3
13,-8.1080,112.9200,2,10,NaN,NaN,1901-01-29,0,,,010,1
14,1.1120,124.7370,2,06,NaN,NaN,1901-02-04,0,,,006,1
15,-21.2440,55.7080,2,02,NaN,NaN,1901-02-21,0,,,002,0
16,-33.4250,-69.7970,2,03,NaN,NaN,1901-04-01,0,,,003,1
17,-4.5230,129.8810,2,06,NaN,NaN,1901-05-18,0,,,006,3
18,-7.9300,112.3080,3,10,NaN,NaN,1901-05-22,0,,,010,0
19,-21.8800,-68.4000,2,03,NaN,NaN,1901-05-25,0,,,003,0
20,-8.4200,116.4700,2,06,NaN,NaN,1901-06-01,0,,,006,1
21,-21.2440,55.7080,2,02,NaN,NaN,1901-07-04,0,,,002,2
22,53.2560,158.8360,2,07,NaN,NaN,1901-07-07,0,,,007,2
23,52.0000,-160.0000,NaN,05,0.00,6.6,1901-12-30,1,2,0,10520,2
24,51.4500,-171.0200,NaN,05,0.00,7.8,1901-12-31,1,2,0,10520,2
25,52.3800,-167.4500,NaN,05,0.00,7.8,1902-01-01,1,2,0,10520,2
26,60.4850,-152.7420,3,05,NaN,NaN,1902-01-18,0,,,005,1
27,10.4120,123.1320,2,06,NaN,NaN,1902-01-31,0,,,006,2
28,-7.5420,110.4420,1,10,NaN,NaN,1902-02-03,0,,,010,3
29,36.4060,138.5230,2,07,NaN,NaN,1902-02-07,0,,,007,3
...,...,...,...,...,...,...,...,...,...,...,...,...
565129,36.1361,139.7050,NaN,07,48.58,4.5,2016-07-04,1,1,0,10710,3
565130,46.5141,152.7939,NaN,07,50.93,4.6,2016-07-04,1,1,0,10710,3
565131,36.3263,140.0904,NaN,07,77.55,4.4,2016-07-04,1,1,1,10711,3
565132,42.8475,145.4291,NaN,07,39.96,4.6,2016-07-04,1,1,0,10710,3
565133,39.3485,143.4638,NaN,07,22.75,4.6,2016-07-04,1,1,0,10710,3
565134,29.2387,129.4747,NaN,08,39.32,4.7,2016-07-04,1,1,0,10810,3
565135,29.0458,129.2817,NaN,08,37.53,4.7,2016-07-04,1,1,0,10810,3
565136,-0.5323,-12.6569,NaN,09,10.00,4.9,2016-07-04,1,1,0,10910,3
565137,37.3679,-98.2025,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010,0
565138,36.2626,-97.5821,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010,0
565139,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,1,0,10010,0
565140,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110,0
565141,-32.9270,-177.8664,NaN,11,10.00,5.2,2016-07-05,1,1,0,11110,0
565142,39.4890,73.4459,NaN,13,10.00,4.4,2016-07-05,1,1,0,11310,0
565143,38.2305,73.6797,NaN,13,155.40,4.3,2016-07-05,1,1,1,11311,0
565144,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310,0
565145,-20.1948,-70.9115,NaN,03,11.20,5.0,2016-07-05,1,1,0,10310,0
565146,44.1651,-128.9059,NaN,05,10.00,4.3,2016-07-05,1,1,0,10510,0
565147,43.3325,-126.6572,NaN,05,10.00,3.1,2016-07-05,1,1,0,10510,0
565148,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611,0
565149,-0.3386,125.4749,NaN,06,35.00,4.4,2016-07-05,1,1,0,10610,0
565150,-0.2665,125.5466,NaN,06,35.00,4.5,2016-07-05,1,1,0,10610,0
565151,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710,0
565152,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710,0
565153,35.5119,129.8661,NaN,07,10.00,4.8,2016-07-05,1,1,0,10710,0
565154,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811,0
565155,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111,0
565156,0.1660,-79.8907,NaN,14,35.00,4.3,2016-07-06,1,1,0,11410,0
565157,-56.8016,-142.1336,NaN,04,10.00,5.9,2016-07-06,1,1,0,10410,0
565158,53.4488,-163.4493,NaN,05,10.00,3.8,2016-07-06,1,1,0,10510,0

In [76]:
with open("sequence.txt", "a") as myfile:
    myfile.write(result['sequence'][0])
for x in range(1, len(result)):
    #if date is different from the upcoming one
    if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
        continue
    elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
        with open("sequence.txt", "a") as myfile:
            myfile.write(' ' + result['sequence'][x])
    elif (result['startdate'][x] != result['startdate'][x - 1]):
        with open("sequence.txt", "a") as myfile:
            myfile.write(' ' + str(result['phase'][x-1]) + ' -1 ')
            #' ' + str(result['phase'][x-1]) +
        if (result['phase'][x - 1] != result['phase'][x]):
            with open("sequence.txt", "a") as myfile:
                myfile.write('-2\n')
        with open("sequence.txt", "a") as myfile:
            myfile.write(result['sequence'][x])
        
with open("sequence.txt", "a") as myfile:
        myfile.write(' -1 -2\n')

In [117]:
len(result)

500862

In [18]:
result['mag'][result['type'] == 'V'] = ''

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
result.to_csv('quakevolcano.csv', index = False)

In [19]:
forvisual = result[(result['mag'] >= 6) | ( result['mag'] == '')]

In [21]:
forvisual.to_csv('quakevolcano.csv', index = False)