In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('volcluster.csv', dtype=object)
df

,Volcano Number,Volcano Name,Eruption Number,Eruption Category,Area of Activity,VEI,VEI Modifier,Start Year Modifier,Start Year,Start Year Uncertainty,...,End Year Modifier,End Year,End Year Uncertainty,End Month,End Day Modifier,End Day,End Day Uncertainty,Latitude,Longitude,cluster
0,241040,White Island,22121,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,2016,NaN,4,NaN,27,NaN,-37.52,177.18,11
1,390080,Bristol Island,22133,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,2016,NaN,5,NaN,28,NaN,-59.017,-26.533,3
2,344020,San Cristobal,22130,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,4,NaN,22,NaN,12.702,-87.004,14
3,311240,Cleveland,22128,Confirmed Eruption,NaN,0,NaN,NaN,2016,NaN,...,NaN,2016,NaN,5,NaN,17,NaN,52.825,-169.944,5
4,357120,Villarrica,22134,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,2016,NaN,4,NaN,3,NaN,-39.42,-71.93,3
5,252010,Langila,22123,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,>,2016,NaN,5,NaN,13,NaN,-5.525,148.42,11
6,261170,Kerinci,22125,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,>,2016,NaN,5,NaN,4,NaN,-1.697,101.264,10
7,290360,Chikurachki,22127,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,3,NaN,31,NaN,50.324,155.461,7
8,312030,Pavlof,22129,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,5,NaN,20,NaN,55.417,-161.894,5
9,282110,Asosan,22126,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,2016,NaN,4,NaN,16,NaN,32.884,131.104,8
10,251020,Manam,22122,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,3,NaN,4,NaN,-4.08,145.037,11
11,255020,Bagana,22124,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,>,2016,NaN,5,NaN,22,NaN,-6.137,155.196,11
12,273010,Bulusan,22114,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,2,NaN,22,NaN,12.77,124.05,6
13,290390,Alaid,22116,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,>,2016,NaN,5,NaN,20,NaN,50.861,155.565,7
14,345070,Turrialba,22118,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,>,2016,NaN,6,NaN,2,NaN,10.025,-83.767,14
15,343100,San Miguel,22117,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,2016,NaN,1,NaN,18,NaN,13.434,-88.269,14
16,357070,Chill�n Nevados de,22119,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,5,NaN,9,NaN,-36.863,-71.377,3
17,266030,Soputan,22105,Confirmed Eruption,NaN,3,NaN,NaN,2016,NaN,...,NaN,2016,NaN,2,NaN,7,NaN,1.112,124.737,6
18,344100,Masaya,22108,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,>,2016,NaN,5,NaN,19,NaN,11.984,-86.161,14
19,211060,Etna,22102,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,>,2016,NaN,4,NaN,1,NaN,37.734,15.004,9
20,344090,Momotombo,22107,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,2016,NaN,4,NaN,7,NaN,12.422,-86.54,14
21,272020,Kanlaon,22106,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,2016,NaN,3,NaN,31,NaN,10.412,123.132,6
22,261140,Marapi,22111,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,2015,NaN,11,NaN,14,NaN,-0.381,100.473,10
23,263310,Tengger Caldera,22103,Confirmed Eruption,Bromo cone,2,NaN,NaN,2015,NaN,...,>,2016,NaN,5,NaN,24,NaN,-7.942,112.95,10
24,355100,Lascar,22110,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,2015,NaN,10,NaN,30,NaN,-23.37,-67.73,3
25,264030,Rinjani,22104,Confirmed Eruption,Barujari crater,2,NaN,NaN,2015,NaN,...,NaN,2015,NaN,12,NaN,24,NaN,-8.42,116.47,6
26,345070,Turrialba,22109,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,2015,NaN,10,NaN,30,NaN,10.025,-83.767,14
27,345020,Rincon de la Vieja,22132,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,2016,NaN,5,NaN,1,NaN,10.83,-85.324,14
28,357090,Copahue,21098,Confirmed Eruption,Agrio Crater,2,NaN,NaN,2015,NaN,...,NaN,2016,NaN,3,NaN,26,NaN,-37.856,-71.183,3
29,290390,Alaid,21096,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,NaN,2015,NaN,10,NaN,9,NaN,50.861,155.565,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9743,306030,Ulreung,19654,Confirmed Eruption,NaN,6,NaN,?,-8750,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.5,130.87,7
9744,263250,Merapi,15813,Confirmed Eruption,Old Merapi,NaN,NaN,NaN,-8780,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.542,110.442,10
9745,283230,Akita-Komagatake,18035,Confirmed Eruption,NaN,3,?,NaN,-8800,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.761,140.799,7
9746,373060,Askja,12904,Confirmed Eruption,SE part of Askja caldera,5,NaN,NaN,-8910,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.033,-16.783,9
9747,371040,Brennisteinsfjoll,19930,Confirmed Eruption,Heidin H�,0,NaN,?,-9000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.933,-21.783,9
9748,324020,Craters of the Moon,21100,Confirmed Eruption,NaN,0,NaN,NaN,-9050,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.42,-113.5,0
9749,282120,Kujusan,17352,Confirmed Eruption,NaN,4,NaN,NaN,-9160,1190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.086,131.249,8
9750,322110,Newberry,20598,Confirmed Eruption,South and east caldera rim,NaN,NaN,NaN,-9210,1200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.722,-121.229,0
9751,241070,Taupo,14532,Confirmed Eruption,Acacia Bay lava dome,4,NaN,?,-9210,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-38.82,176,11
9752,241070,Taupo,14531,Confirmed Eruption,4 km W of Te Kohaiakahu Point,5,NaN,NaN,-9240,75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-38.82,176,11
9753,357122,Lanin,12079,Confirmed Eruption,NaN,NaN,NaN,NaN,-9240,500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.637,-71.502,3
9754,346010,Baru,11249,Confirmed Eruption,NaN,NaN,NaN,NaN,-9280,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.808,-82.543,14
9755,313030,Redoubt,20290,Confirmed Eruption,NaN,NaN,NaN,NaN,-9310,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.485,-152.742,5
9756,241080,Tongariro,14558,Confirmed Eruption,Tama Lakes to Te Mari,5,NaN,?,-9350,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.157,175.632,11
9757,290360,Chikurachki,20896,Confirmed Eruption,NaN,2,?,NaN,-9360,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.324,155.461,7
9758,341130,Tacana,10611,Confirmed Eruption,NaN,NaN,NaN,NaN,-9450,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.132,-92.109,14
9759,241080,Tongariro,14557,Confirmed Eruption,Saddle cone area to Half Cone,5,NaN,?,-9450,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.157,175.632,11
9760,241070,Taupo,14530,Confirmed Eruption,East-central Lake Taupo (Karapiti),5,NaN,NaN,-9460,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-38.82,176,11
9761,283271,Towada,18091,Confirmed Eruption,Nakanoumi,3,NaN,?,-9490,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.51,140.88,7
9762,300272,Khangar,19487,Confirmed Eruption,NaN,4,P,NaN,-9500,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.761,157.407,7
9763,373090,Theistareykir,12954,Confirmed Eruption,Theistareykjabunga shield volcano,0,NaN,?,-9500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.833,-17.166,9
9764,282050,Kuchinoerabujima,16954,Confirmed Eruption,Furu-take,NaN,NaN,NaN,-9520,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.443,130.217,8
9765,283141,Nantai,17850,Confirmed Eruption,NaN,NaN,NaN,NaN,-9540,500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.762,139.494,7
9766,241080,Tongariro,14556,Confirmed Eruption,Saddle Cone to Half Cone,5,NaN,?,-9650,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.157,175.632,11
9767,241100,Ruapehu,14607,Confirmed Eruption,NaN,NaN,NaN,?,-9650,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.28,175.57,11
9768,241100,Ruapehu,14606,Confirmed Eruption,NaN,NaN,NaN,?,-9850,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.28,175.57,11
9769,241080,Tongariro,14555,Confirmed Eruption,NaN,NaN,NaN,?,-9850,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.157,175.632,11
9770,213020,Nemrut Dagi,13908,Confirmed Eruption,NaN,NaN,NaN,NaN,-9950,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.654,42.229,13
9771,324020,Craters of the Moon,21101,Confirmed Eruption,Sunset cone,0,NaN,NaN,-10060,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.42,-113.5,0
9772,344020,San Cristobal,22131,Confirmed Eruption,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.702,-87.004,14

In [2]:
cols = df.columns
cols = cols.map(lambda x: x.replace(' ', '_') if isinstance(x, (str, unicode)) else x)
df.columns = cols
#replace space with _ in df
#df1 = pd.to_numeric(df['Start_Year'])
df1 = df.convert_objects(convert_numeric=True).query('Start_Year >= 1900')
#df1 = df.query('Start_Year >= 1890')
df1.to_csv('allvolcanoes.csv',index = False)
#type(df.convert_objects(convert_numeric=True)['Start_Year'][0])
#type(df1[0])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [7]:
import numpy as np
import pandas as pd
df = pd.read_csv('earthquakesimplified.csv', dtype=object)
df2 = df.convert_objects(convert_numeric=True).query('startyear >= 1900')
#query('startyear >= 2001 and mag >= 6')
df2
df2.to_csv('allquakes.csv', index = False)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [5]:
df1 = pd.read_csv('allvolcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
#print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = '0'
df1

,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,Start_Year_Uncertainty,...,End_Year_Uncertainty,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type
0,241050,Okataina,14508,Confirmed Eruption,Waimangu Geyser,1,NaN,NaN,1900,NaN,...,NaN,11,NaN,1,NaN,-38.12,176.5,11,1900-01-01,0
2462,283110,Asamayama,17762,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,10,NaN,0,NaN,36.406,138.523,7,1900-01-22,0
132,273030,Mayon,16795,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,3,NaN,6,NaN,13.257,123.685,8,1900-03-01,0
3105,263300,Semeru,13571,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,4,>,11,NaN,-8.108,112.92,10,1900-03-29,0
1537,233020,Fournaise Piton de la,14306,Confirmed Eruption,East of Dolomieu,0,NaN,NaN,1900,NaN,...,NaN,5,NaN,30,NaN,-21.244,55.708,2,1900-05-11,0
304,315020,Wrangell,20412,Confirmed Eruption,NaN,2,?,NaN,1900,NaN,...,NaN,NaN,NaN,NaN,NaN,62.006,-144.017,5,1900-06-01,0
897,261230,Dempo,15558,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,6,NaN,4,NaN,-4.03,103.13,10,1900-06-04,0
2109,283170,Adatarayama,17912,Confirmed Eruption,Numanotaira,2,NaN,NaN,1900,NaN,...,NaN,7,NaN,17,NaN,37.647,140.281,7,1900-07-17,0
505,283120,Kusatsu-Shiranesan,17826,Confirmed Eruption,NE part of Yu-gama,1,NaN,NaN,1900,NaN,...,NaN,10,NaN,1,NaN,36.618,138.528,7,1900-10-01,0
2880,261230,Dempo,15559,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,10,NaN,27,NaN,-4.03,103.13,10,1900-10-26,0
3253,264030,Rinjani,16213,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1900,NaN,...,NaN,12,NaN,2,NaN,-8.42,116.47,6,1900-11-30,0
3086,263300,Semeru,13572,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,1,>,30,NaN,-8.108,112.92,10,1901-01-29,0
869,266030,Soputan,13584,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,1.112,124.737,6,1901-02-04,0
2376,233020,Fournaise Piton de la,14307,Confirmed Eruption,East of Dolomieu,2,NaN,NaN,1901,NaN,...,NaN,2,NaN,25,NaN,-21.244,55.708,2,1901-02-21,0
194,357010,Tupungatito,11894,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,-33.425,-69.797,3,1901-04-01,0
2177,265090,Banda Api,16418,Confirmed Eruption,Summit and north flank,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,-4.523,129.881,6,1901-05-18,0
2501,263280,Kelut,15952,Confirmed Eruption,NaN,3,NaN,NaN,1901,NaN,...,NaN,5,NaN,23,NaN,-7.93,112.308,10,1901-05-22,0
2753,355070,San Pedro,11834,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,8,NaN,0,NaN,-21.88,-68.4,3,1901-05-25,0
305,264030,Rinjani,16214,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1901,NaN,...,NaN,6,NaN,2,NaN,-8.42,116.47,6,1901-06-01,0
906,233020,Fournaise Piton de la,14308,Confirmed Eruption,NE flank (above Piton de Crac),2,NaN,NaN,1901,NaN,...,NaN,7,NaN,6,NaN,-21.244,55.708,2,1901-07-04,0
1202,300100,Avachinsky,19096,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,7,NaN,13,NaN,53.256,158.836,7,1901-07-07,0
2153,313030,Redoubt,20384,Confirmed Eruption,NaN,3,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,60.485,-152.742,5,1902-01-18,0
3266,272020,Kanlaon,16727,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,10.412,123.132,6,1902-01-31,0
772,263250,Merapi,15890,Confirmed Eruption,NaN,1,NaN,NaN,1902,NaN,...,NaN,2,NaN,3,NaN,-7.542,110.442,10,1902-02-03,0
1167,283110,Asamayama,17763,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,2,NaN,7,NaN,36.406,138.523,7,1902-02-07,0
1780,332010,Kilauea,10071,Confirmed Eruption,Halemaumau,0,NaN,NaN,1902,NaN,...,NaN,2,NaN,0,NaN,19.421,-155.287,5,1902-02-14,0
1990,263340,Raung,16120,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,2,>,27,NaN,-8.119,114.056,6,1902-02-16,0
3272,344090,Momotombo,11001,Confirmed Eruption,NaN,2,?,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,12.422,-86.54,14,1902-03-31,0
2487,223020,Nyamuragira,14045,Confirmed Eruption,SSE fissure zone,0,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,-1.408,29.2,9,1902-04-22,0
2572,360120,Pelee,12430,Confirmed Eruption,Rivi�re Blanche and summit crater,4,NaN,NaN,1902,NaN,...,NaN,10,NaN,5,NaN,14.809,-61.165,14,1902-04-23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,290390,Alaid,21096,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,NaN,10,NaN,9,NaN,50.861,155.565,7,2015-10-02,0
1141,357090,Copahue,21098,Confirmed Eruption,Agrio Crater,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,26,NaN,-37.856,-71.183,3,2015-10-06,0
2140,345020,Rincon de la Vieja,22132,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,1,NaN,10.83,-85.324,14,2015-10-17,0
2624,345070,Turrialba,22109,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,10.025,-83.767,14,2015-10-23,0
2798,264030,Rinjani,22104,Confirmed Eruption,Barujari crater,2,NaN,NaN,2015,NaN,...,NaN,12,NaN,24,NaN,-8.42,116.47,6,2015-10-25,0
3252,355100,Lascar,22110,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,-23.37,-67.73,3,2015-10-30,0
1673,263310,Tengger Caldera,22103,Confirmed Eruption,Bromo cone,2,NaN,NaN,2015,NaN,...,NaN,5,NaN,24,NaN,-7.942,112.95,10,2015-11-12,0
1846,261140,Marapi,22111,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,11,NaN,14,NaN,-0.381,100.473,10,2015-11-14,0
2713,272020,Kanlaon,22106,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,31,NaN,10.412,123.132,6,2015-11-24,0
666,344090,Momotombo,22107,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,7,NaN,12.422,-86.54,14,2015-12-01,0
766,211060,Etna,22102,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,1,NaN,37.734,15.004,9,2015-12-02,0
1592,344100,Masaya,22108,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,19,NaN,11.984,-86.161,14,2015-12-11,0
678,266030,Soputan,22105,Confirmed Eruption,NaN,3,NaN,NaN,2016,NaN,...,NaN,2,NaN,7,NaN,1.112,124.737,6,2016-01-02,0
1252,357070,Chill�n Nevados de,22119,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,9,NaN,-36.863,-71.377,3,2016-01-08,0
1605,343100,San Miguel,22117,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,1,NaN,18,NaN,13.434,-88.269,14,2016-01-12,0
686,345070,Turrialba,22118,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,6,NaN,2,NaN,10.025,-83.767,14,2016-02-02,0
2384,290390,Alaid,22116,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,50.861,155.565,7,2016-02-21,0
2482,273010,Bulusan,22114,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2,NaN,22,NaN,12.77,124.05,6,2016-02-22,0
794,255020,Bagana,22124,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,22,NaN,-6.137,155.196,11,2016-03-03,0
887,282110,Asosan,22126,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,16,NaN,32.884,131.104,8,2016-03-04,0
888,251020,Manam,22122,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,4,NaN,-4.08,145.037,11,2016-03-04,0
2932,312030,Pavlof,22129,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,55.417,-161.894,5,2016-03-27,0
3111,290360,Chikurachki,22127,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,31,NaN,50.324,155.461,7,2016-03-29,0
3282,261170,Kerinci,22125,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,4,NaN,-1.697,101.264,10,2016-03-31,0
707,252010,Langila,22123,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,13,NaN,-5.525,148.42,11,2016-04-02,0
800,357120,Villarrica,22134,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,3,NaN,-39.42,-71.93,3,2016-04-03,0
2009,311240,Cleveland,22128,Confirmed Eruption,NaN,0,NaN,NaN,2016,NaN,...,NaN,5,NaN,17,NaN,52.825,-169.944,5,2016-04-16,0
2500,344020,San Cristobal,22130,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,4,NaN,22,NaN,12.702,-87.004,14,2016-04-22,0
2669,390080,Bristol Island,22133,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,28,NaN,-59.017,-26.533,3,2016-04-24,0
2938,241040,White Island,22121,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,27,NaN,-37.52,177.18,11,2016-04-27,0

In [6]:
df1.to_csv('allvolcanoes.csv', index = False)

In [11]:
df = pd.read_csv('allquakes.csv', dtype=object)
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
#result['startdate'] = result['startdate'].dt.date
df = df.sort_values(by = ['startdate'])
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate
0,5,0.0,57.09,-153.48,8.3,10,10,1900,E,1900-10-10
1,5,0.0,60.0,-135.0,7.1,18,1,1901,E,1901-01-18
2,5,0.0,52.0,-160.0,6.6,30,12,1901,E,1901-12-30
3,5,0.0,51.45,-171.02,7.8,31,12,1901,E,1901-12-31
4,5,0.0,52.38,-167.45,7.8,1,1,1902,E,1902-01-01
5,5,0.0,50.85,-175.16,7.0,17,1,1903,E,1903-01-17
6,5,0.0,52.0,175.0,6.8,5,2,1903,E,1903-02-05
7,5,0.0,61.56,-158.54,8.3,2,6,1903,E,1903-06-02
8,5,0.0,64.62,-148.23,7.8,27,8,1904,E,1904-08-27
9,5,0.0,50.73,-178.55,7.7,14,2,1905,E,1905-02-14
10,5,0.0,51.28,174.83,7.2,22,3,1905,E,1905-03-22
11,7,0.0,52.06,171.45,7.4,15,9,1905,E,1905-09-15
12,5,0.0,53.88,-161.68,7.0,10,12,1905,E,1905-12-10
13,5,0.0,50.77,179.73,8.0,17,8,1906,E,1906-08-17
14,5,0.0,53.0,-165.0,7.6,23,12,1906,E,1906-12-23
15,5,120.0,57.0,-161.0,6.5,22,8,1907,E,1907-08-22
16,7,0.0,52.44,170.28,7.7,2,9,1907,E,1907-09-02
17,5,25.0,59.0,-141.0,7.1,15,5,1908,E,1908-05-15
18,5,0.0,52.0,175.0,7.0,10,4,1909,E,1909-04-10
19,5,90.0,52.5,-169.0,7.4,8,9,1909,E,1909-09-08
20,5,0.0,60.0,-149.5,7.4,19,9,1909,E,1909-09-19
21,5,100.0,57.0,-160.0,6.7,13,5,1910,E,1910-05-13
22,0,NaN,42.0,-127.0,6.8,5,8,1910,E,1910-08-05
23,5,25.0,50.75,179.38,7.3,9,9,1910,E,1910-09-09
24,5,0.0,53.0,-135.0,6.8,6,11,1910,E,1910-11-06
25,0,NaN,37.25,-121.75,6.6,1,7,1911,E,1911-07-01
26,5,0.0,51.0,180.0,7.1,17,9,1911,E,1911-09-17
27,5,60.0,60.5,-149.0,6.9,22,9,1911,E,1911-09-22
28,7,0.0,52.0,173.0,7.0,13,11,1911,E,1911-11-13
29,5,25.0,52.0,-179.0,7.1,4,1,1912,E,1912-01-04
...,...,...,...,...,...,...,...,...,...,...
617814,13,10.0,39.4673,73.4369,4.7,4,7,2016,E,2016-07-04
617811,7,39.96,42.8475,145.4291,4.6,4,7,2016,E,2016-07-04
617816,11,93.91,-14.2914,167.7517,4.7,4,7,2016,E,2016-07-04
617818,7,22.75,39.3485,143.4638,4.6,4,7,2016,E,2016-07-04
617819,11,66.85,-10.6376,164.9739,5.6,4,7,2016,E,2016-07-04
617820,14,10.0,3.4481,-82.7973,4.8,4,7,2016,E,2016-07-04
617821,9,10.0,-0.5323,-12.6569,4.9,4,7,2016,E,2016-07-04
617815,8,37.53,29.0458,129.2817,4.7,4,7,2016,E,2016-07-04
617847,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,E,2016-07-05
617854,7,21.26,35.7802,140.9868,4.4,5,7,2016,E,2016-07-05
617853,5,10.0,44.1651,-128.9059,4.3,5,7,2016,E,2016-07-05
617852,7,29.15,29.7514,142.1428,4.6,5,7,2016,E,2016-07-05
617851,13,10.0,39.489,73.4459,4.4,5,7,2016,E,2016-07-05
617850,0,5.0,37.3679,-98.2025,3.5,5,7,2016,E,2016-07-05
617849,6,192.36,2.0851,128.3228,4.3,5,7,2016,E,2016-07-05
617848,11,10.0,-32.927,-177.8664,5.2,5,7,2016,E,2016-07-05
617846,0,5.0,36.2626,-97.5821,3.5,5,7,2016,E,2016-07-05
617841,7,10.0,35.5119,129.8661,4.8,5,7,2016,E,2016-07-05
617844,1,36.21,21.8613,145.3276,5.2,5,7,2016,E,2016-07-05
617843,5,10.0,43.3325,-126.6572,3.1,5,7,2016,E,2016-07-05
617842,6,35.0,-0.3386,125.4749,4.4,5,7,2016,E,2016-07-05
617840,6,35.0,-0.2665,125.5466,4.5,5,7,2016,E,2016-07-05
617839,8,98.55,24.8082,95.2124,4.4,5,7,2016,E,2016-07-05
617838,0,9.11,36.1518,-89.6965,3.0,5,7,2016,E,2016-07-05
617837,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,E,2016-07-05
617845,13,155.4,38.2305,73.6797,4.3,5,7,2016,E,2016-07-05
617857,5,10.0,53.4488,-163.4493,3.8,6,7,2016,E,2016-07-06
617855,11,257.05,-18.8947,169.4241,4.8,6,7,2016,E,2016-07-06
617856,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,E,2016-07-06
617858,14,35.0,0.166,-79.8907,4.3,6,7,2016,E,2016-07-06

In [12]:
df_eq = df.iloc[:,(0,-1,-2,1,2,3,4)]
df_vo = df1.iloc[:,(-3,-1,-2,5,-5,-4)]

In [13]:
frames = [df_eq, df_vo]
result = pd.concat(frames)
result

    Latitude Longitude  VEI cluster  depth  mag  startdate type
0      57.09   -153.48  NaN       5    0.0  8.3 1900-10-10    E
1       60.0    -135.0  NaN       5    0.0  7.1 1901-01-18    E
2       52.0    -160.0  NaN       5    0.0  6.6 1901-12-30    E
3      51.45   -171.02  NaN       5    0.0  7.8 1901-12-31    E
4      52.38   -167.45  NaN       5    0.0  7.8 1902-01-01    E
5      50.85   -175.16  NaN       5    0.0  7.0 1903-01-17    E
6       52.0     175.0  NaN       5    0.0  6.8 1903-02-05    E
7      61.56   -158.54  NaN       5    0.0  8.3 1903-06-02    E
8      64.62   -148.23  NaN       5    0.0  7.8 1904-08-27    E
9      50.73   -178.55  NaN       5    0.0  7.7 1905-02-14    E
10     51.28    174.83  NaN       5    0.0  7.2 1905-03-22    E
11     52.06    171.45  NaN       7    0.0  7.4 1905-09-15    E
12     53.88   -161.68  NaN       5    0.0  7.0 1905-12-10    E
13     50.77    179.73  NaN       5    0.0  8.0 1906-08-17    E
14      53.0    -165.0  NaN       5    0.0  7.6 1906-12-23    E
15      57.0    -161.0  NaN       5  120.0  6.5 1907-08-22    E
16     52.44    170.28  NaN       7    0.0  7.7 1907-09-02    E
17      59.0    -141.0  NaN       5   25.0  7.1 1908-05-15    E
18      52.0     175.0  NaN       5    0.0  7.0 1909-04-10    E
19      52.5    -169.0  NaN       5   90.0  7.4 1909-09-08    E
20      60.0    -149.5  NaN       5    0.0  7.4 1909-09-19    E
21      57.0    -160.0  NaN       5  100.0  6.7 1910-05-13    E
22      42.0    -127.0  NaN       0    NaN  6.8 1910-08-05    E
23     50.75    179.38  NaN       5   25.0  7.3 1910-09-09    E
24      53.0    -135.0  NaN       5    0.0  6.8 1910-11-06    E
25     37.25   -121.75  NaN       0    NaN  6.6 1911-07-01    E
26      51.0     180.0  NaN       5    0.0  7.1 1911-09-17    E
27      60.5    -149.0  NaN       5   60.0  6.9 1911-09-22    E
28      52.0     173.0  NaN       7    0.0  7.0 1911-11-13    E
29      52.0    -179.0  NaN       5   25.0  7.1 1912-01-04    E
..       ...       ...  ...     ...    ...  ...        ...  ...
507   50.861   155.565    0       7    NaN  NaN 2015-10-02    V
508  -37.856   -71.183    2       3    NaN  NaN 2015-10-06    V
509    10.83   -85.324    1      14    NaN  NaN 2015-10-17    V
510   10.025   -83.767    2      14    NaN  NaN 2015-10-23    V
511    -8.42    116.47    2       6    NaN  NaN 2015-10-25    V
512   -23.37    -67.73    2       3    NaN  NaN 2015-10-30    V
565   -7.942    112.95    2      10    NaN  NaN 2015-11-12    V
566   -0.381   100.473    1      10    NaN  NaN 2015-11-14    V
567   10.412   123.132    2       6    NaN  NaN 2015-11-24    V
595   12.422    -86.54    2      14    NaN  NaN 2015-12-01    V
596   37.734    15.004    2       9    NaN  NaN 2015-12-02    V
597   11.984   -86.161    1      14    NaN  NaN 2015-12-11    V
56     1.112   124.737    3       6    NaN  NaN 2016-01-02    V
57   -36.863   -71.377    2       3    NaN  NaN 2016-01-08    V
58    13.434   -88.269    1      14    NaN  NaN 2016-01-12    V
104   10.025   -83.767    2      14    NaN  NaN 2016-02-02    V
105   50.861   155.565    1       7    NaN  NaN 2016-02-21    V
106    12.77    124.05    2       6    NaN  NaN 2016-02-22    V
155   -6.137   155.196    2      11    NaN  NaN 2016-03-03    V
157    -4.08   145.037    2      11    NaN  NaN 2016-03-04    V
156   32.884   131.104    1       8    NaN  NaN 2016-03-04    V
158   55.417  -161.894    2       5    NaN  NaN 2016-03-27    V
159   50.324   155.461    2       7    NaN  NaN 2016-03-29    V
160   -1.697   101.264    2      10    NaN  NaN 2016-03-31    V
203   -5.525    148.42    2      11    NaN  NaN 2016-04-02    V
204   -39.42    -71.93    1       3    NaN  NaN 2016-04-03    V
205   52.825  -169.944    0       5    NaN  NaN 2016-04-16    V
206   12.702   -87.004    2      14    NaN  NaN 2016-04-22    V
207  -59.017   -26.533    1       3    NaN  NaN 2016-04-24    V
208   -37.52    177.18    1      11    NaN  NaN 2016-04-27    V

[618457 rows x 8 columns]

In [14]:
result['sequence']=result['type'] + result['cluster'].map(str)
result = result.sort_values(by = ['startdate', 'sequence'])
result

        Latitude  Longitude  VEI cluster   depth  mag  startdate type sequence
0          57.09    -153.48  NaN       5     0.0  8.3 1900-10-10    E       E5
1           60.0     -135.0  NaN       5     0.0  7.1 1901-01-18    E       E5
2           52.0     -160.0  NaN       5     0.0  6.6 1901-12-30    E       E5
3          51.45    -171.02  NaN       5     0.0  7.8 1901-12-31    E       E5
4          52.38    -167.45  NaN       5     0.0  7.8 1902-01-01    E       E5
5          50.85    -175.16  NaN       5     0.0  7.0 1903-01-17    E       E5
6           52.0      175.0  NaN       5     0.0  6.8 1903-02-05    E       E5
7          61.56    -158.54  NaN       5     0.0  8.3 1903-06-02    E       E5
8          64.62    -148.23  NaN       5     0.0  7.8 1904-08-27    E       E5
9          50.73    -178.55  NaN       5     0.0  7.7 1905-02-14    E       E5
10         51.28     174.83  NaN       5     0.0  7.2 1905-03-22    E       E5
11         52.06     171.45  NaN       7     0.0  7.4 1905-09-15    E       E7
12         53.88    -161.68  NaN       5     0.0  7.0 1905-12-10    E       E5
13         50.77     179.73  NaN       5     0.0  8.0 1906-08-17    E       E5
14          53.0     -165.0  NaN       5     0.0  7.6 1906-12-23    E       E5
15          57.0     -161.0  NaN       5   120.0  6.5 1907-08-22    E       E5
16         52.44     170.28  NaN       7     0.0  7.7 1907-09-02    E       E7
17          59.0     -141.0  NaN       5    25.0  7.1 1908-05-15    E       E5
18          52.0      175.0  NaN       5     0.0  7.0 1909-04-10    E       E5
19          52.5     -169.0  NaN       5    90.0  7.4 1909-09-08    E       E5
20          60.0     -149.5  NaN       5     0.0  7.4 1909-09-19    E       E5
21          57.0     -160.0  NaN       5   100.0  6.7 1910-05-13    E       E5
22          42.0     -127.0  NaN       0     NaN  6.8 1910-08-05    E       E0
23         50.75     179.38  NaN       5    25.0  7.3 1910-09-09    E       E5
24          53.0     -135.0  NaN       5     0.0  6.8 1910-11-06    E       E5
25         37.25    -121.75  NaN       0     NaN  6.6 1911-07-01    E       E0
26          51.0      180.0  NaN       5     0.0  7.1 1911-09-17    E       E5
27          60.5     -149.0  NaN       5    60.0  6.9 1911-09-22    E       E5
28          52.0      173.0  NaN       7     0.0  7.0 1911-11-13    E       E7
29          52.0     -179.0  NaN       5    25.0  7.1 1912-01-04    E       E5
...          ...        ...  ...     ...     ...  ...        ...  ...      ...
617824   36.1361    139.705  NaN       7   48.58  4.5 2016-07-04    E       E7
617817   46.5141   152.7939  NaN       7   50.93  4.6 2016-07-04    E       E7
617812   36.3263   140.0904  NaN       7   77.55  4.4 2016-07-04    E       E7
617811   42.8475   145.4291  NaN       7   39.96  4.6 2016-07-04    E       E7
617818   39.3485   143.4638  NaN       7   22.75  4.6 2016-07-04    E       E7
617813   29.2387   129.4747  NaN       8   39.32  4.7 2016-07-04    E       E8
617815   29.0458   129.2817  NaN       8   37.53  4.7 2016-07-04    E       E8
617821   -0.5323   -12.6569  NaN       9    10.0  4.9 2016-07-04    E       E9
617850   37.3679   -98.2025  NaN       0     5.0  3.5 2016-07-05    E       E0
617846   36.2626   -97.5821  NaN       0     5.0  3.5 2016-07-05    E       E0
617838   36.1518   -89.6965  NaN       0    9.11  3.0 2016-07-05    E       E0
617844   21.8613   145.3276  NaN       1   36.21  5.2 2016-07-05    E       E1
617848   -32.927  -177.8664  NaN      11    10.0  5.2 2016-07-05    E      E11
617851    39.489    73.4459  NaN      13    10.0  4.4 2016-07-05    E      E13
617845   38.2305    73.6797  NaN      13   155.4  4.3 2016-07-05    E      E13
617847  -41.6855   -74.0542  NaN       3   39.51  4.3 2016-07-05    E       E3
617837  -20.1948   -70.9115  NaN       3    11.2  5.0 2016-07-05    E       E3
617853   44.1651  -128.9059  NaN       5    10.0  4.3 2016-07-05    E       E5
617843   43.3325  -126.6572  NaN       5    10.0  3.1 2016-07-05    E       E5
617849    2.0851   128.3228  NaN       6  192.36  4.3 2016-07-05    E       E6
617842   -0.3386   125.4749  NaN       6    35.0  4.4 2016-07-05    E       E6
617840   -0.2665   125.5466  NaN       6    35.0  4.5 2016-07-05    E       E6
617854   35.7802   140.9868  NaN       7   21.26  4.4 2016-07-05    E       E7
617852   29.7514   142.1428  NaN       7   29.15  4.6 2016-07-05    E       E7
617841   35.5119   129.8661  NaN       7    10.0  4.8 2016-07-05    E       E7
617839   24.8082    95.2124  NaN       8   98.55  4.4 2016-07-05    E       E8
617855  -18.8947   169.4241  NaN      11  257.05  4.8 2016-07-06    E      E11
617858     0.166   -79.8907  NaN      14    35.0  4.3 2016-07-06    E      E14
617856  -56.8016  -142.1336  NaN       4    10.0  5.9 2016-07-06    E       E4
617857   53.4488  -163.4493  NaN       5    10.0  3.8 2016-07-06    E       E5

[618457 rows x 9 columns]

In [15]:
result.index = range(len(result))
result

        Latitude  Longitude  VEI cluster   depth  mag  startdate type sequence
0          57.09    -153.48  NaN       5     0.0  8.3 1900-10-10    E       E5
1           60.0     -135.0  NaN       5     0.0  7.1 1901-01-18    E       E5
2           52.0     -160.0  NaN       5     0.0  6.6 1901-12-30    E       E5
3          51.45    -171.02  NaN       5     0.0  7.8 1901-12-31    E       E5
4          52.38    -167.45  NaN       5     0.0  7.8 1902-01-01    E       E5
5          50.85    -175.16  NaN       5     0.0  7.0 1903-01-17    E       E5
6           52.0      175.0  NaN       5     0.0  6.8 1903-02-05    E       E5
7          61.56    -158.54  NaN       5     0.0  8.3 1903-06-02    E       E5
8          64.62    -148.23  NaN       5     0.0  7.8 1904-08-27    E       E5
9          50.73    -178.55  NaN       5     0.0  7.7 1905-02-14    E       E5
10         51.28     174.83  NaN       5     0.0  7.2 1905-03-22    E       E5
11         52.06     171.45  NaN       7     0.0  7.4 1905-09-15    E       E7
12         53.88    -161.68  NaN       5     0.0  7.0 1905-12-10    E       E5
13         50.77     179.73  NaN       5     0.0  8.0 1906-08-17    E       E5
14          53.0     -165.0  NaN       5     0.0  7.6 1906-12-23    E       E5
15          57.0     -161.0  NaN       5   120.0  6.5 1907-08-22    E       E5
16         52.44     170.28  NaN       7     0.0  7.7 1907-09-02    E       E7
17          59.0     -141.0  NaN       5    25.0  7.1 1908-05-15    E       E5
18          52.0      175.0  NaN       5     0.0  7.0 1909-04-10    E       E5
19          52.5     -169.0  NaN       5    90.0  7.4 1909-09-08    E       E5
20          60.0     -149.5  NaN       5     0.0  7.4 1909-09-19    E       E5
21          57.0     -160.0  NaN       5   100.0  6.7 1910-05-13    E       E5
22          42.0     -127.0  NaN       0     NaN  6.8 1910-08-05    E       E0
23         50.75     179.38  NaN       5    25.0  7.3 1910-09-09    E       E5
24          53.0     -135.0  NaN       5     0.0  6.8 1910-11-06    E       E5
25         37.25    -121.75  NaN       0     NaN  6.6 1911-07-01    E       E0
26          51.0      180.0  NaN       5     0.0  7.1 1911-09-17    E       E5
27          60.5     -149.0  NaN       5    60.0  6.9 1911-09-22    E       E5
28          52.0      173.0  NaN       7     0.0  7.0 1911-11-13    E       E7
29          52.0     -179.0  NaN       5    25.0  7.1 1912-01-04    E       E5
...          ...        ...  ...     ...     ...  ...        ...  ...      ...
618427   36.1361    139.705  NaN       7   48.58  4.5 2016-07-04    E       E7
618428   46.5141   152.7939  NaN       7   50.93  4.6 2016-07-04    E       E7
618429   36.3263   140.0904  NaN       7   77.55  4.4 2016-07-04    E       E7
618430   42.8475   145.4291  NaN       7   39.96  4.6 2016-07-04    E       E7
618431   39.3485   143.4638  NaN       7   22.75  4.6 2016-07-04    E       E7
618432   29.2387   129.4747  NaN       8   39.32  4.7 2016-07-04    E       E8
618433   29.0458   129.2817  NaN       8   37.53  4.7 2016-07-04    E       E8
618434   -0.5323   -12.6569  NaN       9    10.0  4.9 2016-07-04    E       E9
618435   37.3679   -98.2025  NaN       0     5.0  3.5 2016-07-05    E       E0
618436   36.2626   -97.5821  NaN       0     5.0  3.5 2016-07-05    E       E0
618437   36.1518   -89.6965  NaN       0    9.11  3.0 2016-07-05    E       E0
618438   21.8613   145.3276  NaN       1   36.21  5.2 2016-07-05    E       E1
618439   -32.927  -177.8664  NaN      11    10.0  5.2 2016-07-05    E      E11
618440    39.489    73.4459  NaN      13    10.0  4.4 2016-07-05    E      E13
618441   38.2305    73.6797  NaN      13   155.4  4.3 2016-07-05    E      E13
618442  -41.6855   -74.0542  NaN       3   39.51  4.3 2016-07-05    E       E3
618443  -20.1948   -70.9115  NaN       3    11.2  5.0 2016-07-05    E       E3
618444   44.1651  -128.9059  NaN       5    10.0  4.3 2016-07-05    E       E5
618445   43.3325  -126.6572  NaN       5    10.0  3.1 2016-07-05    E       E5
618446    2.0851   128.3228  NaN       6  192.36  4.3 2016-07-05    E       E6
618447   -0.3386   125.4749  NaN       6    35.0  4.4 2016-07-05    E       E6
618448   -0.2665   125.5466  NaN       6    35.0  4.5 2016-07-05    E       E6
618449   35.7802   140.9868  NaN       7   21.26  4.4 2016-07-05    E       E7
618450   29.7514   142.1428  NaN       7   29.15  4.6 2016-07-05    E       E7
618451   35.5119   129.8661  NaN       7    10.0  4.8 2016-07-05    E       E7
618452   24.8082    95.2124  NaN       8   98.55  4.4 2016-07-05    E       E8
618453  -18.8947   169.4241  NaN      11  257.05  4.8 2016-07-06    E      E11
618454     0.166   -79.8907  NaN      14    35.0  4.3 2016-07-06    E      E14
618455  -56.8016  -142.1336  NaN       4    10.0  5.9 2016-07-06    E       E4
618456   53.4488  -163.4493  NaN       5    10.0  3.8 2016-07-06    E       E5

[618457 rows x 9 columns]

In [ ]:
result['scale'] = ''

for i in range (0, len(result['sequence'])):
    result['mag'][i] = float(result['mag'][i])
    if (result['mag'][i] <= 3.0):
        result['scale'][i] = 'L'
    elif (result['mag'][i] > 3.0 and result['mag'][i] <= 6.0):
        result['scale'][i] = 'M'
    elif (result['mag'][i] > 6.0):
        result['scale'][i] = 'H'
result
#type(result['depth'][3])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
result['seqdep'] = result['sequence']
for i in range (0,len(result['startdate'])):
    result['depth'][i] = float(result['depth'][i])
    if (result['depth'][i] >= 70 and result['depth'][i] < 300):
        result['seqdep'][i] = 'I'
    elif (result['depth'][i] >=300 ):
        result['seqdep'][i] = 'D'
result

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        VEI cluster   depth  mag  startdate type sequence scale seqdep
0       NaN       5       0  8.3 1900-10-10    E       E5     H     E5
1       NaN       5       0  7.1 1901-01-18    E       E5     H     E5
2       NaN       5       0  6.6 1901-12-30    E       E5     H     E5
3       NaN       5       0  7.8 1901-12-31    E       E5     H     E5
4       NaN       5       0  7.8 1902-01-01    E       E5     H     E5
5       NaN       5       0    7 1903-01-17    E       E5     H     E5
6       NaN       5       0  6.8 1903-02-05    E       E5     H     E5
7       NaN       5       0  8.3 1903-06-02    E       E5     H     E5
8       NaN       5       0  7.8 1904-08-27    E       E5     H     E5
9       NaN       5       0  7.7 1905-02-14    E       E5     H     E5
10      NaN       5       0  7.2 1905-03-22    E       E5     H     E5
11      NaN       7       0  7.4 1905-09-15    E       E7     H     E7
12      NaN       5       0    7 1905-12-10    E       E5     H     E5
13      NaN       5       0    8 1906-08-17    E       E5     H     E5
14      NaN       5       0  7.6 1906-12-23    E       E5     H     E5
15      NaN       5     120  6.5 1907-08-22    E       E5     H    E5D
16      NaN       7       0  7.7 1907-09-02    E       E7     H     E7
17      NaN       5      25  7.1 1908-05-15    E       E5     H     E5
18      NaN       5       0    7 1909-04-10    E       E5     H     E5
19      NaN       5      90  7.4 1909-09-08    E       E5     H    E5D
20      NaN       5       0  7.4 1909-09-19    E       E5     H     E5
21      NaN       5     100  6.7 1910-05-13    E       E5     H    E5D
22      NaN       0     NaN  6.8 1910-08-05    E       E0     H     E0
23      NaN       5      25  7.3 1910-09-09    E       E5     H     E5
24      NaN       5       0  6.8 1910-11-06    E       E5     H     E5
25      NaN       0     NaN  6.6 1911-07-01    E       E0     H     E0
26      NaN       5       0  7.1 1911-09-17    E       E5     H     E5
27      NaN       5      60  6.9 1911-09-22    E       E5     H     E5
28      NaN       7       0    7 1911-11-13    E       E7     H     E7
29      NaN       5      25  7.1 1912-01-04    E       E5     H     E5
...     ...     ...     ...  ...        ...  ...      ...   ...    ...
618427  NaN       7   48.58  4.5 2016-07-04    E       E7     L     E7
618428  NaN       7   50.93  4.6 2016-07-04    E       E7     L     E7
618429  NaN       7   77.55  4.4 2016-07-04    E       E7     L    E7D
618430  NaN       7   39.96  4.6 2016-07-04    E       E7     L     E7
618431  NaN       7   22.75  4.6 2016-07-04    E       E7     L     E7
618432  NaN       8   39.32  4.7 2016-07-04    E       E8     L     E8
618433  NaN       8   37.53  4.7 2016-07-04    E       E8     L     E8
618434  NaN       9      10  4.9 2016-07-04    E       E9     L     E9
618435  NaN       0       5  3.5 2016-07-05    E       E0     L     E0
618436  NaN       0       5  3.5 2016-07-05    E       E0     L     E0
618437  NaN       0    9.11    3 2016-07-05    E       E0     L     E0
618438  NaN       1   36.21  5.2 2016-07-05    E       E1     L     E1
618439  NaN      11      10  5.2 2016-07-05    E      E11     L    E11
618440  NaN      13      10  4.4 2016-07-05    E      E13     L    E13
618441  NaN      13   155.4  4.3 2016-07-05    E      E13     L   E13D
618442  NaN       3   39.51  4.3 2016-07-05    E       E3     L     E3
618443  NaN       3    11.2    5 2016-07-05    E       E3     L     E3
618444  NaN       5      10  4.3 2016-07-05    E       E5     L     E5
618445  NaN       5      10  3.1 2016-07-05    E       E5     L     E5
618446  NaN       6  192.36  4.3 2016-07-05    E       E6     L    E6D
618447  NaN       6      35  4.4 2016-07-05    E       E6     L     E6
618448  NaN       6      35  4.5 2016-07-05    E       E6     L     E6
618449  NaN       7   21.26  4.4 2016-07-05    E       E7     L     E7
618450  NaN       7   29.15  4.6 2016-07-05    E       E7     L     E7
618451  NaN       7      10  4.8 2016-07-05    E       E7     L     E7
618452  NaN       8   98.55  4.4 2016-07-05    E       E8     L    E8D
618453  NaN      11  257.05  4.8 2016-07-06    E      E11     L   E11D
618454  NaN      14      35  4.3 2016-07-06    E      E14     L    E14
618455  NaN       4      10  5.9 2016-07-06    E       E4     L     E4
618456  NaN       5      10  3.8 2016-07-06    E       E5     L     E5

[618457 rows x 9 columns]

In [11]:
result.to_csv('scaleseqdep.csv',index = False)

In [12]:
from datetime import datetime
import ephem

def get_phase_on_day(date):
    d = ephem.Date(date)
    pnm = ephem.previous_new_moon(date)
    lunation = int(d - pnm)
    if lunation in range(0, 8):
        return 0
    elif lunation in range (8, 16):
        return 1
    elif lunation in range (16, 24):
        return 2
    elif lunation in range (24, 30):
        return 3
    #return lunation

result['startdate'] = pd.to_datetime(result.startdate)
result['startdate'] = result['startdate'].dt.date
result['phase'] = ' '
for i in range(0, len(result)):
    result['phase'][i] = get_phase_on_day(result['startdate'][i])

In [13]:
result

        VEI cluster   depth  mag   startdate type sequence scale seqdep phase
0       NaN       5       0  8.3  1900-10-10    E       E5     H     E5     2
1       NaN       5       0  7.1  1901-01-18    E       E5     H     E5     3
2       NaN       5       0  6.6  1901-12-30    E       E5     H     E5     2
3       NaN       5       0  7.8  1901-12-31    E       E5     H     E5     2
4       NaN       5       0  7.8  1902-01-01    E       E5     H     E5     2
5       NaN       5       0    7  1903-01-17    E       E5     H     E5     2
6       NaN       5       0  6.8  1903-02-05    E       E5     H     E5     0
7       NaN       5       0  8.3  1903-06-02    E       E5     H     E5     0
8       NaN       5       0  7.8  1904-08-27    E       E5     H     E5     1
9       NaN       5       0  7.7  1905-02-14    E       E5     H     E5     1
10      NaN       5       0  7.2  1905-03-22    E       E5     H     E5     1
11      NaN       7       0  7.4  1905-09-15    E       E7     H     E7     1
12      NaN       5       0    7  1905-12-10    E       E5     H     E5     1
13      NaN       5       0    8  1906-08-17    E       E5     H     E5     3
14      NaN       5       0  7.6  1906-12-23    E       E5     H     E5     0
15      NaN       5     120  6.5  1907-08-22    E       E5     H    E5D     1
16      NaN       7       0  7.7  1907-09-02    E       E7     H     E7     2
17      NaN       5      25  7.1  1908-05-15    E       E5     H     E5     1
18      NaN       5       0    7  1909-04-10    E       E5     H     E5     2
19      NaN       5      90  7.4  1909-09-08    E       E5     H    E5D     2
20      NaN       5       0  7.4  1909-09-19    E       E5     H     E5     0
21      NaN       5     100  6.7  1910-05-13    E       E5     H    E5D     0
22      NaN       0     NaN  6.8  1910-08-05    E       E0     H     E0     3
23      NaN       5      25  7.3  1910-09-09    E       E5     H     E5     0
24      NaN       5       0  6.8  1910-11-06    E       E5     H     E5     0
25      NaN       0     NaN  6.6  1911-07-01    E       E0     H     E0     0
26      NaN       5       0  7.1  1911-09-17    E       E5     H     E5     2
27      NaN       5      60  6.9  1911-09-22    E       E5     H     E5     3
28      NaN       7       0    7  1911-11-13    E       E7     H     E7     2
29      NaN       5      25  7.1  1912-01-04    E       E5     H     E5     1
...     ...     ...     ...  ...         ...  ...      ...   ...    ...   ...
618427  NaN       7   48.58  4.5  2016-07-04    E       E7     L     E7     3
618428  NaN       7   50.93  4.6  2016-07-04    E       E7     L     E7     3
618429  NaN       7   77.55  4.4  2016-07-04    E       E7     L    E7D     3
618430  NaN       7   39.96  4.6  2016-07-04    E       E7     L     E7     3
618431  NaN       7   22.75  4.6  2016-07-04    E       E7     L     E7     3
618432  NaN       8   39.32  4.7  2016-07-04    E       E8     L     E8     3
618433  NaN       8   37.53  4.7  2016-07-04    E       E8     L     E8     3
618434  NaN       9      10  4.9  2016-07-04    E       E9     L     E9     3
618435  NaN       0       5  3.5  2016-07-05    E       E0     L     E0     0
618436  NaN       0       5  3.5  2016-07-05    E       E0     L     E0     0
618437  NaN       0    9.11    3  2016-07-05    E       E0     L     E0     0
618438  NaN       1   36.21  5.2  2016-07-05    E       E1     L     E1     0
618439  NaN      11      10  5.2  2016-07-05    E      E11     L    E11     0
618440  NaN      13      10  4.4  2016-07-05    E      E13     L    E13     0
618441  NaN      13   155.4  4.3  2016-07-05    E      E13     L   E13D     0
618442  NaN       3   39.51  4.3  2016-07-05    E       E3     L     E3     0
618443  NaN       3    11.2    5  2016-07-05    E       E3     L     E3     0
618444  NaN       5      10  4.3  2016-07-05    E       E5     L     E5     0
618445  NaN       5      10  3.1  2016-07-05    E       E5     L     E5     0
618446  NaN       6  192.36  4.3  2016-07-05    E       E6     L    E6D     0
618447  NaN       6      35  4.4  2016-07-05    E       E6     L     E6     0
618448  NaN       6      35  4.5  2016-07-05    E       E6     L     E6     0
618449  NaN       7   21.26  4.4  2016-07-05    E       E7     L     E7     0
618450  NaN       7   29.15  4.6  2016-07-05    E       E7     L     E7     0
618451  NaN       7      10  4.8  2016-07-05    E       E7     L     E7     0
618452  NaN       8   98.55  4.4  2016-07-05    E       E8     L    E8D     0
618453  NaN      11  257.05  4.8  2016-07-06    E      E11     L   E11D     0
618454  NaN      14      35  4.3  2016-07-06    E      E14     L    E14     0
618455  NaN       4      10  5.9  2016-07-06    E       E4     L     E4     0
618456  NaN       5      10  3.8  2016-07-06    E       E5     L     E5     0

[618457 rows x 10 columns]

In [14]:
result.to_csv('result.csv',index = False)

In [15]:
result['result'] = ''

In [18]:
result['result'][0] = result['scale'][0] + result['seqdep'][0]
result['result'][0]

'HE5'

In [19]:
for i in range(0,len(result['startdate'])):
    if (result['type'][i] == 'E'):
        result['result'][i] =  result['scale'][i] + result['seqdep'][i]
    elif (result['type'][i] == 'V'):
        result['result'][i] = result['seqdep'][i]
result

,VEI,cluster,depth,mag,startdate,type,sequence,scale,seqdep,phase,result
0,NaN,5,0,8.3,1900-10-10,E,E5,H,E5,2,HE5
1,NaN,5,0,7.1,1901-01-18,E,E5,H,E5,3,HE5
2,NaN,5,0,6.6,1901-12-30,E,E5,H,E5,2,HE5
3,NaN,5,0,7.8,1901-12-31,E,E5,H,E5,2,HE5
4,NaN,5,0,7.8,1902-01-01,E,E5,H,E5,2,HE5
5,NaN,5,0,7,1903-01-17,E,E5,H,E5,2,HE5
6,NaN,5,0,6.8,1903-02-05,E,E5,H,E5,0,HE5
7,NaN,5,0,8.3,1903-06-02,E,E5,H,E5,0,HE5
8,NaN,5,0,7.8,1904-08-27,E,E5,H,E5,1,HE5
9,NaN,5,0,7.7,1905-02-14,E,E5,H,E5,1,HE5
10,NaN,5,0,7.2,1905-03-22,E,E5,H,E5,1,HE5
11,NaN,7,0,7.4,1905-09-15,E,E7,H,E7,1,HE7
12,NaN,5,0,7,1905-12-10,E,E5,H,E5,1,HE5
13,NaN,5,0,8,1906-08-17,E,E5,H,E5,3,HE5
14,NaN,5,0,7.6,1906-12-23,E,E5,H,E5,0,HE5
15,NaN,5,120,6.5,1907-08-22,E,E5,H,E5D,1,HE5D
16,NaN,7,0,7.7,1907-09-02,E,E7,H,E7,2,HE7
17,NaN,5,25,7.1,1908-05-15,E,E5,H,E5,1,HE5
18,NaN,5,0,7,1909-04-10,E,E5,H,E5,2,HE5
19,NaN,5,90,7.4,1909-09-08,E,E5,H,E5D,2,HE5D
20,NaN,5,0,7.4,1909-09-19,E,E5,H,E5,0,HE5
21,NaN,5,100,6.7,1910-05-13,E,E5,H,E5D,0,HE5D
22,NaN,0,NaN,6.8,1910-08-05,E,E0,H,E0,3,HE0
23,NaN,5,25,7.3,1910-09-09,E,E5,H,E5,0,HE5
24,NaN,5,0,6.8,1910-11-06,E,E5,H,E5,0,HE5
25,NaN,0,NaN,6.6,1911-07-01,E,E0,H,E0,0,HE0
26,NaN,5,0,7.1,1911-09-17,E,E5,H,E5,2,HE5
27,NaN,5,60,6.9,1911-09-22,E,E5,H,E5,3,HE5
28,NaN,7,0,7,1911-11-13,E,E7,H,E7,2,HE7
29,NaN,5,25,7.1,1912-01-04,E,E5,H,E5,1,HE5
...,...,...,...,...,...,...,...,...,...,...,...
618427,NaN,7,48.58,4.5,2016-07-04,E,E7,L,E7,3,LE7
618428,NaN,7,50.93,4.6,2016-07-04,E,E7,L,E7,3,LE7
618429,NaN,7,77.55,4.4,2016-07-04,E,E7,L,E7D,3,LE7D
618430,NaN,7,39.96,4.6,2016-07-04,E,E7,L,E7,3,LE7
618431,NaN,7,22.75,4.6,2016-07-04,E,E7,L,E7,3,LE7
618432,NaN,8,39.32,4.7,2016-07-04,E,E8,L,E8,3,LE8
618433,NaN,8,37.53,4.7,2016-07-04,E,E8,L,E8,3,LE8
618434,NaN,9,10,4.9,2016-07-04,E,E9,L,E9,3,LE9
618435,NaN,0,5,3.5,2016-07-05,E,E0,L,E0,0,LE0
618436,NaN,0,5,3.5,2016-07-05,E,E0,L,E0,0,LE0
618437,NaN,0,9.11,3,2016-07-05,E,E0,L,E0,0,LE0
618438,NaN,1,36.21,5.2,2016-07-05,E,E1,L,E1,0,LE1
618439,NaN,11,10,5.2,2016-07-05,E,E11,L,E11,0,LE11
618440,NaN,13,10,4.4,2016-07-05,E,E13,L,E13,0,LE13
618441,NaN,13,155.4,4.3,2016-07-05,E,E13,L,E13D,0,LE13D
618442,NaN,3,39.51,4.3,2016-07-05,E,E3,L,E3,0,LE3
618443,NaN,3,11.2,5,2016-07-05,E,E3,L,E3,0,LE3
618444,NaN,5,10,4.3,2016-07-05,E,E5,L,E5,0,LE5
618445,NaN,5,10,3.1,2016-07-05,E,E5,L,E5,0,LE5
618446,NaN,6,192.36,4.3,2016-07-05,E,E6,L,E6D,0,LE6D
618447,NaN,6,35,4.4,2016-07-05,E,E6,L,E6,0,LE6
618448,NaN,6,35,4.5,2016-07-05,E,E6,L,E6,0,LE6
618449,NaN,7,21.26,4.4,2016-07-05,E,E7,L,E7,0,LE7
618450,NaN,7,29.15,4.6,2016-07-05,E,E7,L,E7,0,LE7
618451,NaN,7,10,4.8,2016-07-05,E,E7,L,E7,0,LE7
618452,NaN,8,98.55,4.4,2016-07-05,E,E8,L,E8D,0,LE8D
618453,NaN,11,257.05,4.8,2016-07-06,E,E11,L,E11D,0,LE11D
618454,NaN,14,35,4.3,2016-07-06,E,E14,L,E14,0,LE14
618455,NaN,4,10,5.9,2016-07-06,E,E4,L,E4,0,LE4
618456,NaN,5,10,3.8,2016-07-06,E,E5,L,E5,0,LE5

In [20]:
result.to_csv('result.csv',index = False)

In [1]:
with open("sequence.txt", "a") as myfile:
        myfile.write(result['result'][0])
for x in range(1, len(result['startdate'])-1):
    #if date is different from the upcoming one
    if (result['startdate'][x] == result['startdate'][x - 1] and result['result'][x] == result['result'][x - 1]):
        continue
    elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['result'][x] != result['result'][x - 1])):
        with open("sequence.txt", "a") as myfile:
            myfile.write(' ' + result['result'][x])
    elif (result['startdate'][x] != result['startdate'][x - 1]):
        with open("sequence.txt", "a") as myfile:
            myfile.write(' ' + str(result['phase'][x-1]) + ' -1 ')
        if (result['phase'][x - 1] > result['phase'][x]):
            with open("sequence.txt", "a") as myfile:
                myfile.write('-2\n')
        with open("sequence.txt", "a") as myfile:
            myfile.write(result['result'][x])
        
with open("sequence.txt", "a") as myfile:
        myfile.write( ' ' + str(result['phase'][len(result['phase'])]) +' -1 -2\n')

NameError: name 'result' is not defined

In [37]:
for i in range(0, len(result['startdate'])):
    result['month'][i] = result['startdate'][i].month

result

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

     cluster   startdate type sequence phase  month
0          6  2001-01-01    E       E6     6      1
1          6  2001-01-01    E       E6     6      1
2         11  2001-01-02    E      E11     7      1
3          6  2001-01-02    E       E6     7      1
4          8  2001-01-08    V       V8    13      1
5         11  2001-01-09    E      E11    14      1
6          5  2001-01-10    E       E5    15      1
7          5  2001-01-11    E       E5    16      1
8          6  2001-01-11    V       V6    16      1
9          7  2001-01-11    V       V7    16      1
10        14  2001-01-13    E      E14    18      1
11         2  2001-01-15    E       E2    20      1
12        10  2001-01-16    E      E10    21      1
13        10  2001-01-16    E      E10    21      1
14        11  2001-01-16    V      V11    21      1
15        14  2001-01-17    V      V14    22      1
16         0  2001-01-19    E       E0    24      1
17        11  2001-01-19    E      E11    24      1
18         3  2001-01-19    E       E3    24      1
19        13  2001-01-26    E      E13     1      1
20         6  2001-01-29    E       E6     4      1
21         5  2001-02-01    E       E5     7      2
22         5  2001-02-02    V       V5     8      2
23         9  2001-02-06    V       V9    12      2
24        10  2001-02-13    E      E10    19      2
25        14  2001-02-13    E      E14    19      2
26        11  2001-02-14    E      E11    20      2
27        11  2001-02-14    E      E11    20      2
28         6  2001-02-16    E       E6    22      2
29         5  2001-02-17    E       E5    23      2
...      ...         ...  ...      ...   ...    ...
3044      14  2016-04-20    E      E14    12      4
3045      14  2016-04-20    E      E14    12      4
3046      14  2016-04-22    E      E14    14      4
3047      14  2016-04-22    V      V14    14      4
3048       3  2016-04-24    V       V3    16      4
3049       0  2016-04-27    E       E0    19      4
3050      11  2016-04-27    V      V11    19      4
3051      11  2016-04-28    E      E11    20      4
3052       0  2016-04-29    E       E0    21      4
3053      14  2016-05-18    E      E14    11      5
3054      14  2016-05-18    E      E14    11      5
3055       6  2016-05-20    E       E6    13      5
3056      11  2016-05-27    E      E11    20      5
3057      11  2016-05-28    E      E11    21      5
3058       3  2016-05-28    E       E3    21      5
3059       8  2016-05-31    E       E8    24      5
3060      10  2016-06-01    E      E10    25      6
3061       6  2016-06-05    E       E6    29      6
3062      11  2016-06-06    E      E11     0      6
3063       0  2016-06-07    E       E0     1      6
3064       6  2016-06-07    E       E6     1      6
3065       6  2016-06-09    E       E6     3      6
3066      11  2016-06-10    E      E11     4      6
3067      14  2016-06-10    E      E14     4      6
3068      11  2016-06-14    E      E11     8      6
3069      11  2016-06-19    E      E11    13      6
3070      11  2016-06-20    E      E11    14      6
3071      11  2016-06-21    E      E11    15      6
3072      14  2016-06-21    E      E14    15      6
3073      13  2016-06-26    E      E13    20      6

[3074 rows x 6 columns]

In [38]:
result.to_csv('formonth.csv', index = False)