In [18]:
import numpy as np
import pandas as pd
df = pd.read_csv('volcluster.csv', dtype=object)
df

,Volcano Number,Volcano Name,Eruption Number,Eruption Category,Area of Activity,VEI,VEI Modifier,Start Year Modifier,Start Year,Start Year Uncertainty,...,End Year Modifier,End Year,End Year Uncertainty,End Month,End Day Modifier,End Day,End Day Uncertainty,Latitude,Longitude,cluster
0,324020,Craters of the Moon,21101,Confirmed Eruption,Sunset cone,0,NaN,NaN,-10060,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.42,-113.5,0
1,213020,Nemrut Dagi,13908,Confirmed Eruption,NaN,NaN,NaN,NaN,-9950,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.654,42.229,13
2,241100,Ruapehu,14606,Confirmed Eruption,NaN,NaN,NaN,?,-9850,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.28,175.57,11
3,241080,Tongariro,14555,Confirmed Eruption,NaN,NaN,NaN,?,-9850,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.157,175.632,11
4,241080,Tongariro,14556,Confirmed Eruption,Saddle Cone to Half Cone,5,NaN,?,-9650,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.157,175.632,11
5,241100,Ruapehu,14607,Confirmed Eruption,NaN,NaN,NaN,?,-9650,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.28,175.57,11
6,283141,Nantai,17850,Confirmed Eruption,NaN,NaN,NaN,NaN,-9540,500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.762,139.494,7
7,282050,Kuchinoerabujima,16954,Confirmed Eruption,Furu-take,NaN,NaN,NaN,-9520,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.443,130.217,8
8,300272,Khangar,19487,Confirmed Eruption,NaN,4,P,NaN,-9500,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.761,157.407,7
9,373090,Theistareykir,12954,Confirmed Eruption,Theistareykjabunga shield volcano,0,NaN,?,-9500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.833,-17.166,9
10,283271,Towada,18091,Confirmed Eruption,Nakanoumi,3,NaN,?,-9490,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.51,140.88,7
11,241070,Taupo,14530,Confirmed Eruption,East-central Lake Taupo (Karapiti),5,NaN,NaN,-9460,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-38.82,176,11
12,341130,Tacana,10611,Confirmed Eruption,NaN,NaN,NaN,NaN,-9450,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.132,-92.109,14
13,241080,Tongariro,14557,Confirmed Eruption,Saddle cone area to Half Cone,5,NaN,?,-9450,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.157,175.632,11
14,290360,Chikurachki,20896,Confirmed Eruption,NaN,2,?,NaN,-9360,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.324,155.461,7
15,241080,Tongariro,14558,Confirmed Eruption,Tama Lakes to Te Mari,5,NaN,?,-9350,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.157,175.632,11
16,313030,Redoubt,20290,Confirmed Eruption,NaN,NaN,NaN,NaN,-9310,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.485,-152.742,5
17,346010,Baru,11249,Confirmed Eruption,NaN,NaN,NaN,NaN,-9280,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.808,-82.543,14
18,241070,Taupo,14531,Confirmed Eruption,4 km W of Te Kohaiakahu Point,5,NaN,NaN,-9240,75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-38.82,176,11
19,357122,Lanin,12079,Confirmed Eruption,NaN,NaN,NaN,NaN,-9240,500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.637,-71.502,3
20,322110,Newberry,20598,Confirmed Eruption,South and east caldera rim,NaN,NaN,NaN,-9210,1200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.722,-121.229,0
21,241070,Taupo,14532,Confirmed Eruption,Acacia Bay lava dome,4,NaN,?,-9210,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-38.82,176,11
22,282120,Kujusan,17352,Confirmed Eruption,NaN,4,NaN,NaN,-9160,1190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.086,131.249,8
23,324020,Craters of the Moon,21100,Confirmed Eruption,NaN,0,NaN,NaN,-9050,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.42,-113.5,0
24,371040,Brennisteinsfjoll,19930,Confirmed Eruption,Heidin H�,0,NaN,?,-9000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.933,-21.783,9
25,373060,Askja,12904,Confirmed Eruption,SE part of Askja caldera,5,NaN,NaN,-8910,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.033,-16.783,9
26,283230,Akita-Komagatake,18035,Confirmed Eruption,NaN,3,?,NaN,-8800,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.761,140.799,7
27,263250,Merapi,15813,Confirmed Eruption,Old Merapi,NaN,NaN,NaN,-8780,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.542,110.442,10
28,306030,Ulreung,19654,Confirmed Eruption,NaN,6,NaN,?,-8750,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.5,130.87,7
29,210010,West Eifel Volcanic Field,10001,Confirmed Eruption,Ulmener Maar,NaN,NaN,NaN,-8740,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.17,6.85,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9742,360160,Kick 'em Jenny,21090,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,NaN,2015,NaN,7,NaN,24,NaN,12.3,-61.64,14
9743,331021,Axial Seamount,21092,Confirmed Eruption,NE flank,0,NaN,NaN,2015,NaN,...,NaN,2015,NaN,5,NaN,24,1,45.95,-130,5
9744,272020,Kanlaon,22106,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,2016,NaN,3,NaN,31,NaN,10.412,123.132,6
9745,264030,Rinjani,22104,Confirmed Eruption,Barujari crater,2,NaN,NaN,2015,NaN,...,NaN,2015,NaN,12,NaN,24,NaN,-8.42,116.47,6
9746,353020,Wolf,21075,Confirmed Eruption,NaN,4,NaN,NaN,2015,NaN,...,NaN,2015,NaN,6,NaN,2,NaN,0.02,-91.35,14
9747,343100,San Miguel,20994,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,2015,NaN,4,NaN,11,NaN,13.434,-88.269,14
9748,300260,Klyuchevskoy,21095,Confirmed Eruption,NaN,3,NaN,NaN,2015,NaN,...,>,2016,NaN,5,NaN,20,NaN,56.056,160.642,7
9749,283020,Hakoneyama,21080,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,2015,NaN,7,NaN,1,NaN,35.233,139.021,7
9750,282050,Kuchinoerabujima,21073,Confirmed Eruption,NaN,3,NaN,NaN,2015,NaN,...,NaN,2015,NaN,5,NaN,29,NaN,30.443,130.217,8
9751,355100,Lascar,22110,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,2015,NaN,10,NaN,30,NaN,-23.37,-67.73,3
9752,390090,Saunders,21099,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,NaN,2015,NaN,10,NaN,7,NaN,-57.8,-26.483,3
9753,266100,Lokon-Empung,21093,Confirmed Eruption,Tompaluan,1,NaN,NaN,2015,NaN,...,NaN,2015,NaN,10,NaN,12,2,1.358,124.792,6
9754,252010,Langila,22123,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,>,2016,NaN,5,NaN,13,NaN,-5.525,148.42,11
9755,345070,Turrialba,22118,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,>,2016,NaN,6,NaN,2,NaN,10.025,-83.767,14
9756,266030,Soputan,22105,Confirmed Eruption,NaN,3,NaN,NaN,2016,NaN,...,NaN,2016,NaN,2,NaN,7,NaN,1.112,124.737,6
9757,357120,Villarrica,22134,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,2016,NaN,4,NaN,3,NaN,-39.42,-71.93,3
9758,255020,Bagana,22124,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,>,2016,NaN,5,NaN,22,NaN,-6.137,155.196,11
9759,282110,Asosan,22126,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,2016,NaN,4,NaN,16,NaN,32.884,131.104,8
9760,251020,Manam,22122,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,3,NaN,4,NaN,-4.08,145.037,11
9761,357070,Chill�n Nevados de,22119,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,5,NaN,9,NaN,-36.863,-71.377,3
9762,343100,San Miguel,22117,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,2016,NaN,1,NaN,18,NaN,13.434,-88.269,14
9763,311240,Cleveland,22128,Confirmed Eruption,NaN,0,NaN,NaN,2016,NaN,...,NaN,2016,NaN,5,NaN,17,NaN,52.825,-169.944,5
9764,290390,Alaid,22116,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,>,2016,NaN,5,NaN,20,NaN,50.861,155.565,7
9765,344020,San Cristobal,22130,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,4,NaN,22,NaN,12.702,-87.004,14
9766,273010,Bulusan,22114,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,2,NaN,22,NaN,12.77,124.05,6
9767,390080,Bristol Island,22133,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,2016,NaN,5,NaN,28,NaN,-59.017,-26.533,3
9768,241040,White Island,22121,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,2016,NaN,4,NaN,27,NaN,-37.52,177.18,11
9769,312030,Pavlof,22129,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,5,NaN,20,NaN,55.417,-161.894,5
9770,290360,Chikurachki,22127,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2016,NaN,3,NaN,31,NaN,50.324,155.461,7
9771,261170,Kerinci,22125,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,>,2016,NaN,5,NaN,4,NaN,-1.697,101.264,10

In [19]:
cols = df.columns
cols = cols.map(lambda x: x.replace(' ', '_') if isinstance(x, (str, unicode)) else x)
df.columns = cols
#replace space with _ in df
#df1 = pd.to_numeric(df['Start_Year'])
df1 = df.convert_objects(convert_numeric=True).query('Start_Year >= 2001')
#df1 = df.query('Start_Year >= 1890')
df1.to_csv('allvolcanoes.csv',index = False)
#type(df.convert_objects(convert_numeric=True)['Start_Year'][0])
#type(df1[0])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('earthquakesimplified.csv', dtype=object)
df2 = df.convert_objects(convert_numeric=True).query('startyear >= 2001 and mag >= 6')
#query('startyear >= 2001 and mag >= 6')
df2
df2.to_csv('magbigger6.csv', index = False)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [2]:
df1 = pd.read_csv('allvolcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
#print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = 'V'
df1

,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,Start_Year_Uncertainty,...,End_Year_Uncertainty,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type
2,273030,Mayon,16810,Confirmed Eruption,NaN,3,NaN,NaN,2001,NaN,...,NaN,8,NaN,8,NaN,13.257,123.685,8,2001-01-08,V
3,264090,Inielika,16258,Confirmed Eruption,Summit crater complex,2,NaN,NaN,2001,NaN,...,NaN,3,?,0,NaN,-8.73,120.98,6,2001-01-11,V
4,284040,Miyakejima,18274,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,11,NaN,24,NaN,34.094,139.526,7,2001-01-11,V
5,252120,Ulawun,15064,Confirmed Eruption,Summit and NNE flank,3,NaN,NaN,2001,NaN,...,NaN,5,NaN,3,NaN,-5.05,151.33,11,2001-01-16,V
6,344040,Telica,10935,Confirmed Eruption,NaN,1,NaN,NaN,2001,NaN,...,NaN,12,?,19,NaN,12.602,-86.845,14,2001-01-17,V
59,311240,Cleveland,19816,Confirmed Eruption,NaN,3,?,NaN,2001,NaN,...,NaN,4,?,15,NaN,52.825,-169.944,5,2001-02-02,V
60,223020,Nyamuragira,14081,Confirmed Eruption,North and SSE flanks,2,?,NaN,2001,NaN,...,NaN,4,NaN,5,4,-1.408,29.2,9,2001-02-06,V
61,241040,White Island,14495,Confirmed Eruption,MH vent,2,NaN,NaN,2001,NaN,...,NaN,2,?,19,NaN,-37.52,177.18,11,2001-02-19,V
107,233020,Fournaise Piton de la,14380,Confirmed Eruption,South flank (below Dolomieu at ~2500 m),1,NaN,NaN,2001,NaN,...,NaN,4,NaN,4,NaN,-21.244,55.708,2,2001-03-27,V
161,261140,Marapi,15478,Confirmed Eruption,Verbeek Crater,2,NaN,NaN,2001,NaN,...,NaN,6,NaN,5,NaN,-0.381,100.473,10,2001-04-13,V
162,344100,Masaya,11037,Confirmed Eruption,Santiago,1,NaN,NaN,2001,NaN,...,NaN,4,?,25,NaN,11.984,-86.161,14,2001-04-23,V
163,284141,Ahyi,18474,Confirmed Eruption,20.34�N 145.02�E,0,NaN,NaN,2001,NaN,...,NaN,4,NaN,25,NaN,20.42,145.03,1,2001-04-24,V
209,234011,McDonald Islands,14397,Confirmed Eruption,NaN,1,?,NaN,2001,NaN,...,NaN,NaN,NaN,NaN,NaN,-53.03,72.6,2,2001-05-03,V
210,344020,San Cristobal,10888,Confirmed Eruption,NaN,1,NaN,NaN,2001,NaN,...,NaN,12,?,9,NaN,12.702,-87.004,14,2001-05-11,V
211,261170,Kerinci,15528,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,8,?,27,NaN,-1.697,101.264,10,2001-05-12,V
212,268030,Ibu,16580,Confirmed Eruption,NaN,0,NaN,NaN,2001,NaN,...,NaN,10,?,3,NaN,1.488,127.63,6,2001-05-28,V
269,257050,Lopevi,15317,Confirmed Eruption,NW flank (200-400 m),3,NaN,NaN,2001,NaN,...,NaN,6,>,19,NaN,-16.507,168.346,11,2001-06-08,V
270,233020,Fournaise Piton de la,14381,Confirmed Eruption,ESE flank (2500 m) East flank (1800-2000 m),1,NaN,NaN,2001,NaN,...,NaN,7,NaN,7,NaN,-21.244,55.708,2,2001-06-11,V
271,251020,Manam,14929,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,6,?,25,NaN,-4.08,145.037,11,2001-06-14,V
315,211060,Etna,13832,Confirmed Eruption,S to NE flanks (3100-2100 m),2,NaN,NaN,2001,NaN,...,NaN,8,NaN,9,NaN,37.734,15.004,9,2001-07-17,V
316,262000,Krakatau,15625,Confirmed Eruption,Anak Krakatau,1,NaN,NaN,2001,NaN,...,NaN,9,?,17,NaN,-6.102,105.423,10,2001-07-21,V
317,300250,Bezymianny,19378,Confirmed Eruption,NaN,3,NaN,NaN,2001,NaN,...,NaN,8,?,10,NaN,55.972,160.595,7,2001-07-23,V
363,252120,Ulawun,15065,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,8,NaN,28,NaN,-5.05,151.33,11,2001-08-28,V
411,390090,Saunders,13217,Confirmed Eruption,NaN,0,NaN,NaN,2001,NaN,...,NaN,11,?,0,NaN,-57.8,-26.483,3,2001-09-01,V
412,284120,Ioto,18421,Confirmed Eruption,Off SE coast and Idogahama (NW coast),1,NaN,NaN,2001,NaN,...,NaN,10,NaN,23,NaN,24.751,141.289,1,2001-09-21,V
413,261160,Talang,15494,Confirmed Eruption,Kepundan Panjang & Kabuo Gabuo Atas,1,NaN,NaN,2001,NaN,...,NaN,11,NaN,15,3,-0.978,100.679,10,2001-09-25,V
414,243091,Unnamed,14772,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,9,?,28,NaN,-18.325,-174.365,11,2001-09-27,V
458,390081,Montagu Island,13205,Confirmed Eruption,NW of Mount Belinda,1,?,NaN,2001,NaN,...,NaN,9,NaN,20,NaN,-58.445,-26.374,3,2001-10-01,V
459,300100,Avachinsky,19104,Confirmed Eruption,NaN,1,NaN,NaN,2001,NaN,...,NaN,10,NaN,5,NaN,53.256,158.836,7,2001-10-05,V
460,342110,Pacaya,19880,Confirmed Eruption,MacKenney Crater,1,NaN,NaN,2001,NaN,...,NaN,10,NaN,31,NaN,14.381,-90.601,14,2001-10-31,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,290390,Alaid,21096,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,NaN,10,NaN,9,NaN,50.861,155.565,7,2015-10-02,V
508,357090,Copahue,21098,Confirmed Eruption,Agrio Crater,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,26,NaN,-37.856,-71.183,3,2015-10-06,V
509,345020,Rincon de la Vieja,22132,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,1,NaN,10.83,-85.324,14,2015-10-17,V
510,345070,Turrialba,22109,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,10.025,-83.767,14,2015-10-23,V
511,264030,Rinjani,22104,Confirmed Eruption,Barujari crater,2,NaN,NaN,2015,NaN,...,NaN,12,NaN,24,NaN,-8.42,116.47,6,2015-10-25,V
512,355100,Lascar,22110,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,-23.37,-67.73,3,2015-10-30,V
565,263310,Tengger Caldera,22103,Confirmed Eruption,Bromo cone,2,NaN,NaN,2015,NaN,...,NaN,5,NaN,24,NaN,-7.942,112.95,10,2015-11-12,V
566,261140,Marapi,22111,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,11,NaN,14,NaN,-0.381,100.473,10,2015-11-14,V
567,272020,Kanlaon,22106,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,31,NaN,10.412,123.132,6,2015-11-24,V
595,344090,Momotombo,22107,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,7,NaN,12.422,-86.54,14,2015-12-01,V
596,211060,Etna,22102,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,1,NaN,37.734,15.004,9,2015-12-02,V
597,344100,Masaya,22108,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,19,NaN,11.984,-86.161,14,2015-12-11,V
56,266030,Soputan,22105,Confirmed Eruption,NaN,3,NaN,NaN,2016,NaN,...,NaN,2,NaN,7,NaN,1.112,124.737,6,2016-01-02,V
57,357070,Chill�n Nevados de,22119,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,9,NaN,-36.863,-71.377,3,2016-01-08,V
58,343100,San Miguel,22117,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,1,NaN,18,NaN,13.434,-88.269,14,2016-01-12,V
104,345070,Turrialba,22118,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,6,NaN,2,NaN,10.025,-83.767,14,2016-02-02,V
105,290390,Alaid,22116,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,50.861,155.565,7,2016-02-21,V
106,273010,Bulusan,22114,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2,NaN,22,NaN,12.77,124.05,6,2016-02-22,V
155,255020,Bagana,22124,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,22,NaN,-6.137,155.196,11,2016-03-03,V
157,251020,Manam,22122,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,4,NaN,-4.08,145.037,11,2016-03-04,V
156,282110,Asosan,22126,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,16,NaN,32.884,131.104,8,2016-03-04,V
158,312030,Pavlof,22129,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,55.417,-161.894,5,2016-03-27,V
159,290360,Chikurachki,22127,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,31,NaN,50.324,155.461,7,2016-03-29,V
160,261170,Kerinci,22125,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,4,NaN,-1.697,101.264,10,2016-03-31,V
203,252010,Langila,22123,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,13,NaN,-5.525,148.42,11,2016-04-02,V
204,357120,Villarrica,22134,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,3,NaN,-39.42,-71.93,3,2016-04-03,V
205,311240,Cleveland,22128,Confirmed Eruption,NaN,0,NaN,NaN,2016,NaN,...,NaN,5,NaN,17,NaN,52.825,-169.944,5,2016-04-16,V
206,344020,San Cristobal,22130,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,4,NaN,22,NaN,12.702,-87.004,14,2016-04-22,V
207,390080,Bristol Island,22133,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,28,NaN,-59.017,-26.533,3,2016-04-24,V
208,241040,White Island,22121,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,27,NaN,-37.52,177.18,11,2016-04-27,V

In [22]:
df1.to_csv('2001plusvolcanoes.csv', index = False)

In [3]:
df = pd.read_csv('magbigger6.csv', dtype=object)
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
#result['startdate'] = result['startdate'].dt.date
df = df.sort_values(by = ['startdate'])
df

     cluster   depth   mag startday startmonth startyear type  startdate
0          6    33.0   7.5        1          1      2001    E 2001-01-01
1          6    33.0   6.8        1          1      2001    E 2001-01-01
2          6    33.0   6.4        2          1      2001    E 2001-01-02
3         11    33.0   6.0        2          1      2001    E 2001-01-02
4         11   103.0   7.1        9          1      2001    E 2001-01-09
5          5   36.38  6.93       10          1      2001    E 2001-01-10
6          5    10.0   6.0       11          1      2001    E 2001-01-11
7         14    60.0   7.7       13          1      2001    E 2001-01-13
8          2    10.0   6.4       15          1      2001    E 2001-01-15
9         10    33.0   6.0       16          1      2001    E 2001-01-16
10        10    28.0   6.9       16          1      2001    E 2001-01-16
11         0    93.2   6.0       19          1      2001    E 2001-01-19
12        11    50.0   6.3       19          1      2001    E 2001-01-19
13         3    33.0   6.0       19          1      2001    E 2001-01-19
14        13    16.0   7.7       26          1      2001    E 2001-01-26
15         6    33.0   6.2       29          1      2001    E 2001-01-29
16         5    33.0   6.0        1          2      2001    E 2001-02-01
18        10    36.0   7.4       13          2      2001    E 2001-02-13
17        14    10.0   6.6       13          2      2001    E 2001-02-13
19        11    10.0   6.1       14          2      2001    E 2001-02-14
20        11    10.0   6.2       14          2      2001    E 2001-02-14
21         6   521.0   6.1       16          2      2001    E 2001-02-16
22         5    20.0   6.2       17          2      2001    E 2001-02-17
23         2    10.0   6.0       18          2      2001    E 2001-02-18
24         6    35.0   7.1       24          2      2001    E 2001-02-24
25         6    33.0   6.2       24          2      2001    E 2001-02-24
26        13   202.5   6.2       25          2      2001    E 2001-02-25
27         7   392.0   6.1       26          2      2001    E 2001-02-26
28        11    10.0   6.7       28          2      2001    E 2001-02-28
29        11    10.0   6.3       28          2      2001    E 2001-02-28
...      ...     ...   ...      ...        ...       ...  ...        ...
2445      14    25.0   6.1       15          4      2016    E 2016-04-15
2447      14    21.0   7.8       16          4      2016    E 2016-04-16
2448       3    14.0   6.2       19          4      2016    E 2016-04-19
2449      14    14.0   6.2       20          4      2016    E 2016-04-20
2450      14    10.0   6.0       20          4      2016    E 2016-04-20
2451      14    10.0   6.0       22          4      2016    E 2016-04-22
2452       0    16.0   6.0       27          4      2016    E 2016-04-27
2453      11    24.0   7.0       28          4      2016    E 2016-04-28
2454       0    10.0   6.6       29          4      2016    E 2016-04-29
2456      14   29.95   6.9       18          5      2016    E 2016-05-18
2455      14    16.0   6.7       18          5      2016    E 2016-05-18
2457       6    10.0   6.0       20          5      2016    E 2016-05-20
2458      11  567.48   6.4       27          5      2016    E 2016-05-27
2459      11  405.58   6.9       28          5      2016    E 2016-05-28
2460       3    78.0   7.2       28          5      2016    E 2016-05-28
2461       8  244.11   6.4       31          5      2016    E 2016-05-31
2462      10    50.0   6.6        1          6      2016    E 2016-06-01
2463       6  429.62   6.3        5          6      2016    E 2016-06-05
2464      11   43.83   6.1        6          6      2016    E 2016-06-06
2465       0    10.0   6.2        7          6      2016    E 2016-06-07
2466       6   30.68   6.3        7          6      2016    E 2016-06-07
2467       6    19.0   6.1        9          6      2016    E 2016-06-09
2468      14    10.0   6.1       10          6      2016    E 2016-06-10
2469      11    30.4   6.2       10          6      2016    E 2016-06-10
2470      11   111.0   6.2       14          6      2016    E 2016-06-14
2471      11    13.0   6.3       19          6      2016    E 2016-06-19
2472      11    15.0   6.0       20          6      2016    E 2016-06-20
2474      11  365.31   6.3       21          6      2016    E 2016-06-21
2473      14    10.0   6.1       21          6      2016    E 2016-06-21
2475      13    15.5   6.4       26          6      2016    E 2016-06-26

[2476 rows x 8 columns]

In [24]:
df.to_csv('magbigger6.csv', index = False)

In [4]:
df_eq = df.iloc[:,(0,-1,-2,1)]
df_vo = df1.iloc[:,(-3,-1,-2)]

In [5]:
frames = [df_eq, df_vo]
result = pd.concat(frames)
result

    cluster  depth  startdate type
0         6   33.0 2001-01-01    E
1         6   33.0 2001-01-01    E
2         6   33.0 2001-01-02    E
3        11   33.0 2001-01-02    E
4        11  103.0 2001-01-09    E
5         5  36.38 2001-01-10    E
6         5   10.0 2001-01-11    E
7        14   60.0 2001-01-13    E
8         2   10.0 2001-01-15    E
9        10   33.0 2001-01-16    E
10       10   28.0 2001-01-16    E
11        0   93.2 2001-01-19    E
12       11   50.0 2001-01-19    E
13        3   33.0 2001-01-19    E
14       13   16.0 2001-01-26    E
15        6   33.0 2001-01-29    E
16        5   33.0 2001-02-01    E
18       10   36.0 2001-02-13    E
17       14   10.0 2001-02-13    E
19       11   10.0 2001-02-14    E
20       11   10.0 2001-02-14    E
21        6  521.0 2001-02-16    E
22        5   20.0 2001-02-17    E
23        2   10.0 2001-02-18    E
24        6   35.0 2001-02-24    E
25        6   33.0 2001-02-24    E
26       13  202.5 2001-02-25    E
27        7  392.0 2001-02-26    E
28       11   10.0 2001-02-28    E
29       11   10.0 2001-02-28    E
..      ...    ...        ...  ...
507       7    NaN 2015-10-02    V
508       3    NaN 2015-10-06    V
509      14    NaN 2015-10-17    V
510      14    NaN 2015-10-23    V
511       6    NaN 2015-10-25    V
512       3    NaN 2015-10-30    V
565      10    NaN 2015-11-12    V
566      10    NaN 2015-11-14    V
567       6    NaN 2015-11-24    V
595      14    NaN 2015-12-01    V
596       9    NaN 2015-12-02    V
597      14    NaN 2015-12-11    V
56        6    NaN 2016-01-02    V
57        3    NaN 2016-01-08    V
58       14    NaN 2016-01-12    V
104      14    NaN 2016-02-02    V
105       7    NaN 2016-02-21    V
106       6    NaN 2016-02-22    V
155      11    NaN 2016-03-03    V
157      11    NaN 2016-03-04    V
156       8    NaN 2016-03-04    V
158       5    NaN 2016-03-27    V
159       7    NaN 2016-03-29    V
160      10    NaN 2016-03-31    V
203      11    NaN 2016-04-02    V
204       3    NaN 2016-04-03    V
205       5    NaN 2016-04-16    V
206      14    NaN 2016-04-22    V
207       3    NaN 2016-04-24    V
208      11    NaN 2016-04-27    V

[3074 rows x 4 columns]

In [6]:
result['sequence']=result['type'] + result['cluster'].map(str)
result = result.sort_values(by = ['startdate', 'sequence'])

In [7]:
result

     cluster   depth  startdate type sequence
0          6    33.0 2001-01-01    E       E6
1          6    33.0 2001-01-01    E       E6
3         11    33.0 2001-01-02    E      E11
2          6    33.0 2001-01-02    E       E6
2          8     NaN 2001-01-08    V       V8
4         11   103.0 2001-01-09    E      E11
5          5   36.38 2001-01-10    E       E5
6          5    10.0 2001-01-11    E       E5
3          6     NaN 2001-01-11    V       V6
4          7     NaN 2001-01-11    V       V7
7         14    60.0 2001-01-13    E      E14
8          2    10.0 2001-01-15    E       E2
9         10    33.0 2001-01-16    E      E10
10        10    28.0 2001-01-16    E      E10
5         11     NaN 2001-01-16    V      V11
6         14     NaN 2001-01-17    V      V14
11         0    93.2 2001-01-19    E       E0
12        11    50.0 2001-01-19    E      E11
13         3    33.0 2001-01-19    E       E3
14        13    16.0 2001-01-26    E      E13
15         6    33.0 2001-01-29    E       E6
16         5    33.0 2001-02-01    E       E5
59         5     NaN 2001-02-02    V       V5
60         9     NaN 2001-02-06    V       V9
18        10    36.0 2001-02-13    E      E10
17        14    10.0 2001-02-13    E      E14
19        11    10.0 2001-02-14    E      E11
20        11    10.0 2001-02-14    E      E11
21         6   521.0 2001-02-16    E       E6
22         5    20.0 2001-02-17    E       E5
...      ...     ...        ...  ...      ...
2449      14    14.0 2016-04-20    E      E14
2450      14    10.0 2016-04-20    E      E14
2451      14    10.0 2016-04-22    E      E14
206       14     NaN 2016-04-22    V      V14
207        3     NaN 2016-04-24    V       V3
2452       0    16.0 2016-04-27    E       E0
208       11     NaN 2016-04-27    V      V11
2453      11    24.0 2016-04-28    E      E11
2454       0    10.0 2016-04-29    E       E0
2456      14   29.95 2016-05-18    E      E14
2455      14    16.0 2016-05-18    E      E14
2457       6    10.0 2016-05-20    E       E6
2458      11  567.48 2016-05-27    E      E11
2459      11  405.58 2016-05-28    E      E11
2460       3    78.0 2016-05-28    E       E3
2461       8  244.11 2016-05-31    E       E8
2462      10    50.0 2016-06-01    E      E10
2463       6  429.62 2016-06-05    E       E6
2464      11   43.83 2016-06-06    E      E11
2465       0    10.0 2016-06-07    E       E0
2466       6   30.68 2016-06-07    E       E6
2467       6    19.0 2016-06-09    E       E6
2469      11    30.4 2016-06-10    E      E11
2468      14    10.0 2016-06-10    E      E14
2470      11   111.0 2016-06-14    E      E11
2471      11    13.0 2016-06-19    E      E11
2472      11    15.0 2016-06-20    E      E11
2474      11  365.31 2016-06-21    E      E11
2473      14    10.0 2016-06-21    E      E14
2475      13    15.5 2016-06-26    E      E13

[3074 rows x 5 columns]

In [8]:
result.index = range(len(result))
result

     cluster   depth  startdate type sequence
0          6    33.0 2001-01-01    E       E6
1          6    33.0 2001-01-01    E       E6
2         11    33.0 2001-01-02    E      E11
3          6    33.0 2001-01-02    E       E6
4          8     NaN 2001-01-08    V       V8
5         11   103.0 2001-01-09    E      E11
6          5   36.38 2001-01-10    E       E5
7          5    10.0 2001-01-11    E       E5
8          6     NaN 2001-01-11    V       V6
9          7     NaN 2001-01-11    V       V7
10        14    60.0 2001-01-13    E      E14
11         2    10.0 2001-01-15    E       E2
12        10    33.0 2001-01-16    E      E10
13        10    28.0 2001-01-16    E      E10
14        11     NaN 2001-01-16    V      V11
15        14     NaN 2001-01-17    V      V14
16         0    93.2 2001-01-19    E       E0
17        11    50.0 2001-01-19    E      E11
18         3    33.0 2001-01-19    E       E3
19        13    16.0 2001-01-26    E      E13
20         6    33.0 2001-01-29    E       E6
21         5    33.0 2001-02-01    E       E5
22         5     NaN 2001-02-02    V       V5
23         9     NaN 2001-02-06    V       V9
24        10    36.0 2001-02-13    E      E10
25        14    10.0 2001-02-13    E      E14
26        11    10.0 2001-02-14    E      E11
27        11    10.0 2001-02-14    E      E11
28         6   521.0 2001-02-16    E       E6
29         5    20.0 2001-02-17    E       E5
...      ...     ...        ...  ...      ...
3044      14    14.0 2016-04-20    E      E14
3045      14    10.0 2016-04-20    E      E14
3046      14    10.0 2016-04-22    E      E14
3047      14     NaN 2016-04-22    V      V14
3048       3     NaN 2016-04-24    V       V3
3049       0    16.0 2016-04-27    E       E0
3050      11     NaN 2016-04-27    V      V11
3051      11    24.0 2016-04-28    E      E11
3052       0    10.0 2016-04-29    E       E0
3053      14   29.95 2016-05-18    E      E14
3054      14    16.0 2016-05-18    E      E14
3055       6    10.0 2016-05-20    E       E6
3056      11  567.48 2016-05-27    E      E11
3057      11  405.58 2016-05-28    E      E11
3058       3    78.0 2016-05-28    E       E3
3059       8  244.11 2016-05-31    E       E8
3060      10    50.0 2016-06-01    E      E10
3061       6  429.62 2016-06-05    E       E6
3062      11   43.83 2016-06-06    E      E11
3063       0    10.0 2016-06-07    E       E0
3064       6   30.68 2016-06-07    E       E6
3065       6    19.0 2016-06-09    E       E6
3066      11    30.4 2016-06-10    E      E11
3067      14    10.0 2016-06-10    E      E14
3068      11   111.0 2016-06-14    E      E11
3069      11    13.0 2016-06-19    E      E11
3070      11    15.0 2016-06-20    E      E11
3071      11  365.31 2016-06-21    E      E11
3072      14    10.0 2016-06-21    E      E14
3073      13    15.5 2016-06-26    E      E13

[3074 rows x 5 columns]

In [19]:
result['seqdep'] = result['sequence']
for i in range (0,len(result['startdate'])):
    result['depth'][i] = float(result['depth'][i])
    if (result['depth'][i] >= 70 and result['depth'][i] < 300):
        result['seqdep'][i] = str(result['sequence'][i]) + "D"
    elif (result['depth'][i] >=300 ):
        result['seqdep'][i] = str(result['sequence'][i])+ "DD"
result

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     cluster   depth  startdate type sequence seqdep
0          6      33 2001-01-01    E       E6     E6
1          6      33 2001-01-01    E       E6     E6
2         11      33 2001-01-02    E      E11    E11
3          6      33 2001-01-02    E       E6     E6
4          8     NaN 2001-01-08    V       V8     V8
5         11     103 2001-01-09    E      E11   E11D
6          5   36.38 2001-01-10    E       E5     E5
7          5      10 2001-01-11    E       E5     E5
8          6     NaN 2001-01-11    V       V6     V6
9          7     NaN 2001-01-11    V       V7     V7
10        14      60 2001-01-13    E      E14    E14
11         2      10 2001-01-15    E       E2     E2
12        10      33 2001-01-16    E      E10    E10
13        10      28 2001-01-16    E      E10    E10
14        11     NaN 2001-01-16    V      V11    V11
15        14     NaN 2001-01-17    V      V14    V14
16         0    93.2 2001-01-19    E       E0    E0D
17        11      50 2001-01-19    E      E11    E11
18         3      33 2001-01-19    E       E3     E3
19        13      16 2001-01-26    E      E13    E13
20         6      33 2001-01-29    E       E6     E6
21         5      33 2001-02-01    E       E5     E5
22         5     NaN 2001-02-02    V       V5     V5
23         9     NaN 2001-02-06    V       V9     V9
24        10      36 2001-02-13    E      E10    E10
25        14      10 2001-02-13    E      E14    E14
26        11      10 2001-02-14    E      E11    E11
27        11      10 2001-02-14    E      E11    E11
28         6     521 2001-02-16    E       E6   E6DD
29         5      20 2001-02-17    E       E5     E5
...      ...     ...        ...  ...      ...    ...
3044      14      14 2016-04-20    E      E14    E14
3045      14      10 2016-04-20    E      E14    E14
3046      14      10 2016-04-22    E      E14    E14
3047      14     NaN 2016-04-22    V      V14    V14
3048       3     NaN 2016-04-24    V       V3     V3
3049       0      16 2016-04-27    E       E0     E0
3050      11     NaN 2016-04-27    V      V11    V11
3051      11      24 2016-04-28    E      E11    E11
3052       0      10 2016-04-29    E       E0     E0
3053      14   29.95 2016-05-18    E      E14    E14
3054      14      16 2016-05-18    E      E14    E14
3055       6      10 2016-05-20    E       E6     E6
3056      11  567.48 2016-05-27    E      E11  E11DD
3057      11  405.58 2016-05-28    E      E11  E11DD
3058       3      78 2016-05-28    E       E3    E3D
3059       8  244.11 2016-05-31    E       E8    E8D
3060      10      50 2016-06-01    E      E10    E10
3061       6  429.62 2016-06-05    E       E6   E6DD
3062      11   43.83 2016-06-06    E      E11    E11
3063       0      10 2016-06-07    E       E0     E0
3064       6   30.68 2016-06-07    E       E6     E6
3065       6      19 2016-06-09    E       E6     E6
3066      11    30.4 2016-06-10    E      E11    E11
3067      14      10 2016-06-10    E      E14    E14
3068      11     111 2016-06-14    E      E11   E11D
3069      11      13 2016-06-19    E      E11    E11
3070      11      15 2016-06-20    E      E11    E11
3071      11  365.31 2016-06-21    E      E11  E11DD
3072      14      10 2016-06-21    E      E14    E14
3073      13    15.5 2016-06-26    E      E13    E13

[3074 rows x 6 columns]

In [20]:
from datetime import datetime
import ephem

def get_phase_on_day(date):
    d = ephem.Date(date)
    pnm = ephem.previous_new_moon(date)
    lunation = int(d - pnm)
    if lunation in range(0, 8):
        return 0
    elif lunation in range (8, 16):
        return 1
    elif lunation in range (16, 24):
        return 2
    elif lunation in range (24, 30):
        return 3
    #return lunation

result['startdate'] = pd.to_datetime(result.startdate)
result['startdate'] = result['startdate'].dt.date
result['phase'] = ' '
for i in range(0, len(result)):
    result['phase'][i] = get_phase_on_day(result['startdate'][i])

In [21]:
result

     cluster   depth   startdate type sequence seqdep phase
0          6      33  2001-01-01    E       E6     E6     0
1          6      33  2001-01-01    E       E6     E6     0
2         11      33  2001-01-02    E      E11    E11     0
3          6      33  2001-01-02    E       E6     E6     0
4          8     NaN  2001-01-08    V       V8     V8     1
5         11     103  2001-01-09    E      E11   E11D     1
6          5   36.38  2001-01-10    E       E5     E5     1
7          5      10  2001-01-11    E       E5     E5     2
8          6     NaN  2001-01-11    V       V6     V6     2
9          7     NaN  2001-01-11    V       V7     V7     2
10        14      60  2001-01-13    E      E14    E14     2
11         2      10  2001-01-15    E       E2     E2     2
12        10      33  2001-01-16    E      E10    E10     2
13        10      28  2001-01-16    E      E10    E10     2
14        11     NaN  2001-01-16    V      V11    V11     2
15        14     NaN  2001-01-17    V      V14    V14     2
16         0    93.2  2001-01-19    E       E0    E0D     3
17        11      50  2001-01-19    E      E11    E11     3
18         3      33  2001-01-19    E       E3     E3     3
19        13      16  2001-01-26    E      E13    E13     0
20         6      33  2001-01-29    E       E6     E6     0
21         5      33  2001-02-01    E       E5     E5     0
22         5     NaN  2001-02-02    V       V5     V5     1
23         9     NaN  2001-02-06    V       V9     V9     1
24        10      36  2001-02-13    E      E10    E10     2
25        14      10  2001-02-13    E      E14    E14     2
26        11      10  2001-02-14    E      E11    E11     2
27        11      10  2001-02-14    E      E11    E11     2
28         6     521  2001-02-16    E       E6   E6DD     2
29         5      20  2001-02-17    E       E5     E5     2
...      ...     ...         ...  ...      ...    ...   ...
3044      14      14  2016-04-20    E      E14    E14     1
3045      14      10  2016-04-20    E      E14    E14     1
3046      14      10  2016-04-22    E      E14    E14     1
3047      14     NaN  2016-04-22    V      V14    V14     1
3048       3     NaN  2016-04-24    V       V3     V3     2
3049       0      16  2016-04-27    E       E0     E0     2
3050      11     NaN  2016-04-27    V      V11    V11     2
3051      11      24  2016-04-28    E      E11    E11     2
3052       0      10  2016-04-29    E       E0     E0     2
3053      14   29.95  2016-05-18    E      E14    E14     1
3054      14      16  2016-05-18    E      E14    E14     1
3055       6      10  2016-05-20    E       E6     E6     1
3056      11  567.48  2016-05-27    E      E11  E11DD     2
3057      11  405.58  2016-05-28    E      E11  E11DD     2
3058       3      78  2016-05-28    E       E3    E3D     2
3059       8  244.11  2016-05-31    E       E8    E8D     3
3060      10      50  2016-06-01    E      E10    E10     3
3061       6  429.62  2016-06-05    E       E6   E6DD     3
3062      11   43.83  2016-06-06    E      E11    E11     0
3063       0      10  2016-06-07    E       E0     E0     0
3064       6   30.68  2016-06-07    E       E6     E6     0
3065       6      19  2016-06-09    E       E6     E6     0
3066      11    30.4  2016-06-10    E      E11    E11     0
3067      14      10  2016-06-10    E      E14    E14     0
3068      11     111  2016-06-14    E      E11   E11D     1
3069      11      13  2016-06-19    E      E11    E11     1
3070      11      15  2016-06-20    E      E11    E11     1
3071      11  365.31  2016-06-21    E      E11  E11DD     1
3072      14      10  2016-06-21    E      E14    E14     1
3073      13    15.5  2016-06-26    E      E13    E13     2

[3074 rows x 7 columns]

In [22]:
with open("test2001plus.txt", "a") as myfile:
        myfile.write(result['sequence'][0])
for x in range(1, len(result['sequence'])-1):
    #if date is different from the upcoming one
    if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
        continue
    elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
        with open("test2001plus.txt", "a") as myfile:
            myfile.write(' ' + result['seqdep'][x])
    elif (result['startdate'][x] != result['startdate'][x - 1]):
        with open("test2001plus.txt", "a") as myfile:
            myfile.write(' ' + str(result['phase'][x-1]) + ' -1 ')
        if (result['phase'][x - 1] > result['phase'][x]):
            with open("test2001plus.txt", "a") as myfile:
                myfile.write('-2\n')
        with open("test2001plus.txt", "a") as myfile:
            myfile.write(result['seqdep'][x])
        
with open("test2001plus.txt", "a") as myfile:
        myfile.write( ' ' + str(result['phase'][len(result['phase'])]) +' -1 -2\n')

KeyError: 3074

In [23]:
result.to_csv('forspmf.csv', index = False)

In [34]:
result['startdate'][0].month

1

In [37]:
for i in range(0, len(result['startdate'])):
    result['month'][i] = result['startdate'][i].month

result

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

     cluster   startdate type sequence phase  month
0          6  2001-01-01    E       E6     6      1
1          6  2001-01-01    E       E6     6      1
2         11  2001-01-02    E      E11     7      1
3          6  2001-01-02    E       E6     7      1
4          8  2001-01-08    V       V8    13      1
5         11  2001-01-09    E      E11    14      1
6          5  2001-01-10    E       E5    15      1
7          5  2001-01-11    E       E5    16      1
8          6  2001-01-11    V       V6    16      1
9          7  2001-01-11    V       V7    16      1
10        14  2001-01-13    E      E14    18      1
11         2  2001-01-15    E       E2    20      1
12        10  2001-01-16    E      E10    21      1
13        10  2001-01-16    E      E10    21      1
14        11  2001-01-16    V      V11    21      1
15        14  2001-01-17    V      V14    22      1
16         0  2001-01-19    E       E0    24      1
17        11  2001-01-19    E      E11    24      1
18         3  2001-01-19    E       E3    24      1
19        13  2001-01-26    E      E13     1      1
20         6  2001-01-29    E       E6     4      1
21         5  2001-02-01    E       E5     7      2
22         5  2001-02-02    V       V5     8      2
23         9  2001-02-06    V       V9    12      2
24        10  2001-02-13    E      E10    19      2
25        14  2001-02-13    E      E14    19      2
26        11  2001-02-14    E      E11    20      2
27        11  2001-02-14    E      E11    20      2
28         6  2001-02-16    E       E6    22      2
29         5  2001-02-17    E       E5    23      2
...      ...         ...  ...      ...   ...    ...
3044      14  2016-04-20    E      E14    12      4
3045      14  2016-04-20    E      E14    12      4
3046      14  2016-04-22    E      E14    14      4
3047      14  2016-04-22    V      V14    14      4
3048       3  2016-04-24    V       V3    16      4
3049       0  2016-04-27    E       E0    19      4
3050      11  2016-04-27    V      V11    19      4
3051      11  2016-04-28    E      E11    20      4
3052       0  2016-04-29    E       E0    21      4
3053      14  2016-05-18    E      E14    11      5
3054      14  2016-05-18    E      E14    11      5
3055       6  2016-05-20    E       E6    13      5
3056      11  2016-05-27    E      E11    20      5
3057      11  2016-05-28    E      E11    21      5
3058       3  2016-05-28    E       E3    21      5
3059       8  2016-05-31    E       E8    24      5
3060      10  2016-06-01    E      E10    25      6
3061       6  2016-06-05    E       E6    29      6
3062      11  2016-06-06    E      E11     0      6
3063       0  2016-06-07    E       E0     1      6
3064       6  2016-06-07    E       E6     1      6
3065       6  2016-06-09    E       E6     3      6
3066      11  2016-06-10    E      E11     4      6
3067      14  2016-06-10    E      E14     4      6
3068      11  2016-06-14    E      E11     8      6
3069      11  2016-06-19    E      E11    13      6
3070      11  2016-06-20    E      E11    14      6
3071      11  2016-06-21    E      E11    15      6
3072      14  2016-06-21    E      E14    15      6
3073      13  2016-06-26    E      E13    20      6

[3074 rows x 6 columns]

In [38]:
result.to_csv('formonth.csv', index = False)