In [4]:
import numpy as np
import pandas as pd
df1 = pd.read_csv('basket.csv')
df1

     cluster   startdate type
0          6  2001-01-01    E
1          6  2001-01-01    E
2          6  2001-01-02    E
3         11  2001-01-02    E
4          8  2001-01-08    V
5         11  2001-01-09    E
6          5  2001-01-10    E
7          6  2001-01-11    V
8          7  2001-01-11    V
9          5  2001-01-11    E
10        14  2001-01-13    E
11         2  2001-01-15    E
12        10  2001-01-16    E
13        10  2001-01-16    E
14        11  2001-01-16    V
15        14  2001-01-17    V
16         0  2001-01-19    E
17        11  2001-01-19    E
18         3  2001-01-19    E
19        13  2001-01-26    E
20         6  2001-01-29    E
21         5  2001-02-01    E
22         5  2001-02-02    V
23         9  2001-02-06    V
24        10  2001-02-13    E
25        14  2001-02-13    E
26        11  2001-02-14    E
27        11  2001-02-14    E
28         6  2001-02-16    E
29         5  2001-02-17    E
..       ...         ...  ...
144       14  2001-11-09    E
145        0  2001-11-13    E
146        7  2001-11-13    E
147        7  2001-11-13    E
148       13  2001-11-14    E
149        9  2001-11-15    E
150        7  2001-11-15    V
151        6  2001-11-20    E
152       11  2001-11-22    E
153       11  2001-11-22    E
154       13  2001-11-23    E
155        3  2001-11-24    V
156       14  2001-11-26    V
157       11  2001-11-27    E
158        0  2001-11-28    E
159        9  2001-12-01    V
160        7  2001-12-02    E
161       11  2001-12-02    E
162       11  2001-12-03    E
163       14  2001-12-04    V
164        8  2001-12-08    E
165        6  2001-12-09    E
166        7  2001-12-10    V
167       11  2001-12-12    E
168        6  2001-12-12    E
169        8  2001-12-18    E
170       11  2001-12-22    E
171       11  2001-12-23    E
172       11  2001-12-27    E
173       14  2001-12-28    E

[174 rows x 3 columns]

In [5]:
df1['sequence']=df1['type'] + df1['cluster'].map(str)

In [6]:
df1

     cluster   startdate type sequence
0          6  2001-01-01    E       E6
1          6  2001-01-01    E       E6
2          6  2001-01-02    E       E6
3         11  2001-01-02    E      E11
4          8  2001-01-08    V       V8
5         11  2001-01-09    E      E11
6          5  2001-01-10    E       E5
7          6  2001-01-11    V       V6
8          7  2001-01-11    V       V7
9          5  2001-01-11    E       E5
10        14  2001-01-13    E      E14
11         2  2001-01-15    E       E2
12        10  2001-01-16    E      E10
13        10  2001-01-16    E      E10
14        11  2001-01-16    V      V11
15        14  2001-01-17    V      V14
16         0  2001-01-19    E       E0
17        11  2001-01-19    E      E11
18         3  2001-01-19    E       E3
19        13  2001-01-26    E      E13
20         6  2001-01-29    E       E6
21         5  2001-02-01    E       E5
22         5  2001-02-02    V       V5
23         9  2001-02-06    V       V9
24        10  2001-02-13    E      E10
25        14  2001-02-13    E      E14
26        11  2001-02-14    E      E11
27        11  2001-02-14    E      E11
28         6  2001-02-16    E       E6
29         5  2001-02-17    E       E5
..       ...         ...  ...      ...
144       14  2001-11-09    E      E14
145        0  2001-11-13    E       E0
146        7  2001-11-13    E       E7
147        7  2001-11-13    E       E7
148       13  2001-11-14    E      E13
149        9  2001-11-15    E       E9
150        7  2001-11-15    V       V7
151        6  2001-11-20    E       E6
152       11  2001-11-22    E      E11
153       11  2001-11-22    E      E11
154       13  2001-11-23    E      E13
155        3  2001-11-24    V       V3
156       14  2001-11-26    V      V14
157       11  2001-11-27    E      E11
158        0  2001-11-28    E       E0
159        9  2001-12-01    V       V9
160        7  2001-12-02    E       E7
161       11  2001-12-02    E      E11
162       11  2001-12-03    E      E11
163       14  2001-12-04    V      V14
164        8  2001-12-08    E       E8
165        6  2001-12-09    E       E6
166        7  2001-12-10    V       V7
167       11  2001-12-12    E      E11
168        6  2001-12-12    E       E6
169        8  2001-12-18    E       E8
170       11  2001-12-22    E      E11
171       11  2001-12-23    E      E11
172       11  2001-12-27    E      E11
173       14  2001-12-28    E      E14

[174 rows x 4 columns]

In [7]:
with open("test.txt", "a") as myfile:
        myfile.write(df1['sequence'][0])
for x in range(1, len(df1['sequence'])):
    #if date is different from the upcoming one
    if ((df1['startdate'][x] != df1['startdate'][x - 1]) and (df1['sequence'][x] != df1['sequence'][x - 1])):
        with open("test.txt", "a") as myfile:
            myfile.write(' -1 ' + df1['sequence'][x] )
    elif df1['sequence'][x] != df1['sequence'][x - 1]:
        with open("test.txt", "a") as myfile:
            myfile.write(' ' + df1['sequence'][x])
with open("test.txt", "a") as myfile:
        myfile.write(' -1 -2\n')