In [2]:
import numpy as np
import pandas as pd
import csv

df1 = pd.read_csv('2001volcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
#print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = 'V'
df1

,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,Start_Year_Uncertainty,...,End_Year_Uncertainty,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type
9,273030,Mayon,16810,Confirmed Eruption,NaN,3,NaN,NaN,2001,NaN,...,NaN,8,NaN,8,NaN,13.257,123.685,8,2001-01-08,V
14,284040,Miyakejima,18274,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,11,NaN,24,NaN,34.094,139.526,7,2001-01-11,V
13,264090,Inielika,16258,Confirmed Eruption,Summit crater complex,2,NaN,NaN,2001,NaN,...,NaN,3,?,0,NaN,-8.73,120.98,6,2001-01-11,V
19,252120,Ulawun,15064,Confirmed Eruption,Summit and NNE flank,3,NaN,NaN,2001,NaN,...,NaN,5,NaN,3,NaN,-5.05,151.33,11,2001-01-16,V
21,344040,Telica,10935,Confirmed Eruption,NaN,1,NaN,NaN,2001,NaN,...,NaN,12,?,19,NaN,12.602,-86.845,14,2001-01-17,V
3,311240,Cleveland,19816,Confirmed Eruption,NaN,3,?,NaN,2001,NaN,...,NaN,4,?,15,NaN,52.825,-169.944,5,2001-02-02,V
7,223020,Nyamuragira,14081,Confirmed Eruption,North and SSE flanks,2,?,NaN,2001,NaN,...,NaN,4,NaN,5,4,-1.408,29.2,9,2001-02-06,V
22,241040,White Island,14495,Confirmed Eruption,MH vent,2,NaN,NaN,2001,NaN,...,NaN,2,?,19,NaN,-37.52,177.18,11,2001-02-19,V
32,233020,Fournaise Piton de la,14380,Confirmed Eruption,South flank (below Dolomieu at ~2500 m),1,NaN,NaN,2001,NaN,...,NaN,4,NaN,4,NaN,-21.244,55.708,2,2001-03-27,V
16,261140,Marapi,15478,Confirmed Eruption,Verbeek Crater,2,NaN,NaN,2001,NaN,...,NaN,6,NaN,5,NaN,-0.381,100.473,10,2001-04-13,V
26,344100,Masaya,11037,Confirmed Eruption,Santiago,1,NaN,NaN,2001,NaN,...,NaN,4,?,25,NaN,11.984,-86.161,14,2001-04-23,V
28,284141,Ahyi,18474,Confirmed Eruption,20.34�N 145.02�E,0,NaN,NaN,2001,NaN,...,NaN,4,NaN,25,NaN,20.42,145.03,1,2001-04-24,V
4,234011,McDonald Islands,14397,Confirmed Eruption,NaN,1,?,NaN,2001,NaN,...,NaN,NaN,NaN,NaN,NaN,-53.03,72.6,2,2001-05-03,V
12,344020,San Cristobal,10888,Confirmed Eruption,NaN,1,NaN,NaN,2001,NaN,...,NaN,12,?,9,NaN,12.702,-87.004,14,2001-05-11,V
15,261170,Kerinci,15528,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,8,?,27,NaN,-1.697,101.264,10,2001-05-12,V
34,268030,Ibu,16580,Confirmed Eruption,NaN,0,NaN,NaN,2001,NaN,...,NaN,10,?,3,NaN,1.488,127.63,6,2001-05-28,V
8,257050,Lopevi,15317,Confirmed Eruption,NW flank (200-400 m),3,NaN,NaN,2001,NaN,...,NaN,6,>,19,NaN,-16.507,168.346,11,2001-06-08,V
11,233020,Fournaise Piton de la,14381,Confirmed Eruption,ESE flank (2500 m) East flank (1800-2000 m),1,NaN,NaN,2001,NaN,...,NaN,7,NaN,7,NaN,-21.244,55.708,2,2001-06-11,V
17,251020,Manam,14929,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,6,?,25,NaN,-4.08,145.037,11,2001-06-14,V
20,211060,Etna,13832,Confirmed Eruption,S to NE flanks (3100-2100 m),2,NaN,NaN,2001,NaN,...,NaN,8,NaN,9,NaN,37.734,15.004,9,2001-07-17,V
24,262000,Krakatau,15625,Confirmed Eruption,Anak Krakatau,1,NaN,NaN,2001,NaN,...,NaN,9,?,17,NaN,-6.102,105.423,10,2001-07-21,V
25,300250,Bezymianny,19378,Confirmed Eruption,NaN,3,NaN,NaN,2001,NaN,...,NaN,8,?,10,NaN,55.972,160.595,7,2001-07-23,V
33,252120,Ulawun,15065,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,8,NaN,28,NaN,-5.05,151.33,11,2001-08-28,V
1,390090,Saunders,13217,Confirmed Eruption,NaN,0,NaN,NaN,2001,NaN,...,NaN,11,?,0,NaN,-57.8,-26.483,3,2001-09-01,V
23,284120,Ioto,18421,Confirmed Eruption,Off SE coast and Idogahama (NW coast),1,NaN,NaN,2001,NaN,...,NaN,10,NaN,23,NaN,24.751,141.289,1,2001-09-21,V
29,261160,Talang,15494,Confirmed Eruption,Kepundan Panjang & Kabuo Gabuo Atas,1,NaN,NaN,2001,NaN,...,NaN,11,NaN,15,3,-0.978,100.679,10,2001-09-25,V
31,243091,Unnamed,14772,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,9,?,28,NaN,-18.325,-174.365,11,2001-09-27,V
2,390081,Montagu Island,13205,Confirmed Eruption,NW of Mount Belinda,1,?,NaN,2001,NaN,...,NaN,9,NaN,20,NaN,-58.445,-26.374,3,2001-10-01,V
6,300100,Avachinsky,19104,Confirmed Eruption,NaN,1,NaN,NaN,2001,NaN,...,NaN,10,NaN,5,NaN,53.256,158.836,7,2001-10-05,V
35,342110,Pacaya,19880,Confirmed Eruption,MacKenney Crater,1,NaN,NaN,2001,NaN,...,NaN,10,NaN,31,NaN,14.381,-90.601,14,2001-10-31,V
18,300130,Karymsky,19187,Confirmed Eruption,Summit and upper south flank,3,NaN,NaN,2001,NaN,...,NaN,10,NaN,4,NaN,54.049,159.443,7,2001-11-15,V
27,385052,Unnamed,13144,Confirmed Eruption,Seamount NW of W�st seamount,0,NaN,NaN,2001,NaN,...,NaN,3,NaN,0,NaN,-32.958,-5.22,3,2001-11-24,V
30,352020,Guagua Pichincha,11497,Confirmed Eruption,North of 1981 crater,1,?,NaN,2001,NaN,...,NaN,11,NaN,26,NaN,-0.171,-78.598,14,2001-11-26,V
0,211060,Etna,13835,Confirmed Eruption,Central Crater NE Crater,1,NaN,NaN,2001,NaN,...,NaN,10,?,30,NaN,37.734,15.004,9,2001-12-01,V
5,360160,Kick 'em Jenny,12468,Confirmed Eruption,NaN,0,NaN,NaN,2001,NaN,...,NaN,12,NaN,6,NaN,12.3,-61.64,14,2001-12-04,V
10,300250,Bezymianny,19379,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,1,?,6,NaN,55.972,160.595,7,2001-12-10,V

In [3]:
df1.to_csv('2001volcanoes.csv', index = False)

In [4]:
df = pd.read_csv('2001magbigger6.csv', dtype=object)
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
df = df.sort_values(by = ['startdate'])
df

    cluster   mag startday startmonth startyear type  startdate
0         6   7.5       01         01      2001    E 2001-01-01
1         6   6.8       01         01      2001    E 2001-01-01
2         6   6.4       02         01      2001    E 2001-01-02
3        11   6.0       02         01      2001    E 2001-01-02
4        11   7.1       09         01      2001    E 2001-01-09
5         5  6.93       10         01      2001    E 2001-01-10
6         5   6.0       11         01      2001    E 2001-01-11
7        14   7.7       13         01      2001    E 2001-01-13
8         2   6.4       15         01      2001    E 2001-01-15
9        10   6.0       16         01      2001    E 2001-01-16
10       10   6.9       16         01      2001    E 2001-01-16
11        0   6.0       19         01      2001    E 2001-01-19
12       11   6.3       19         01      2001    E 2001-01-19
13        3   6.0       19         01      2001    E 2001-01-19
14       13   7.7       26         01      2001    E 2001-01-26
15        6   6.2       29         01      2001    E 2001-01-29
16        5   6.0       01         02      2001    E 2001-02-01
17       14   6.6       13         02      2001    E 2001-02-13
18       10   7.4       13         02      2001    E 2001-02-13
19       11   6.1       14         02      2001    E 2001-02-14
20       11   6.2       14         02      2001    E 2001-02-14
21        6   6.1       16         02      2001    E 2001-02-16
22        5   6.2       17         02      2001    E 2001-02-17
23        2   6.0       18         02      2001    E 2001-02-18
25        6   6.2       24         02      2001    E 2001-02-24
24        6   7.1       24         02      2001    E 2001-02-24
26       13   6.2       25         02      2001    E 2001-02-25
27        7   6.1       26         02      2001    E 2001-02-26
28       11   6.7       28         02      2001    E 2001-02-28
29       11   6.3       28         02      2001    E 2001-02-28
..      ...   ...      ...        ...       ...  ...        ...
108      14   6.0       17         10      2001    E 2001-10-17
109       6   7.5       19         10      2001    E 2001-10-19
110      11   6.7       21         10      2001    E 2001-10-21
111      11   6.1       26         10      2001    E 2001-10-26
112      11   7.0       31         10      2001    E 2001-10-31
113      11   6.3       05         11      2001    E 2001-11-05
114      14   6.1       09         11      2001    E 2001-11-09
115       0   6.1       13         11      2001    E 2001-11-13
116       7   6.0       13         11      2001    E 2001-11-13
117       7   6.0       13         11      2001    E 2001-11-13
118      13   7.8       14         11      2001    E 2001-11-14
119       9   6.3       15         11      2001    E 2001-11-15
120       6   6.2       20         11      2001    E 2001-11-20
122      11   6.2       22         11      2001    E 2001-11-22
121      11   6.3       22         11      2001    E 2001-11-22
123      13   6.1       23         11      2001    E 2001-11-23
124      11   6.0       27         11      2001    E 2001-11-27
125       0   6.4       28         11      2001    E 2001-11-28
126      11   6.0       02         12      2001    E 2001-12-02
127       7   6.5       02         12      2001    E 2001-12-02
128      11   6.4       03         12      2001    E 2001-12-03
129       8   6.2       08         12      2001    E 2001-12-08
130       6   6.1       09         12      2001    E 2001-12-09
131      11   6.1       12         12      2001    E 2001-12-12
132       6   7.1       12         12      2001    E 2001-12-12
133       8   6.8       18         12      2001    E 2001-12-18
134      11   6.0       22         12      2001    E 2001-12-22
135      11   6.8       23         12      2001    E 2001-12-23
136      11   6.2       27         12      2001    E 2001-12-27
137      14   6.0       28         12      2001    E 2001-12-28

[138 rows x 7 columns]

In [5]:
df.to_csv('2001magbigger6.csv', index = False)

In [8]:
df_eq = df.iloc[:,(0,-1,-2)]
df_vo = df1.iloc[:,(-3,-1,-2)]

In [9]:
frames = [df_eq, df_vo]
result = pd.concat(frames)
result

   cluster  startdate type
0        6 2001-01-01    E
1        6 2001-01-01    E
2        6 2001-01-02    E
3       11 2001-01-02    E
4       11 2001-01-09    E
5        5 2001-01-10    E
6        5 2001-01-11    E
7       14 2001-01-13    E
8        2 2001-01-15    E
9       10 2001-01-16    E
10      10 2001-01-16    E
11       0 2001-01-19    E
12      11 2001-01-19    E
13       3 2001-01-19    E
14      13 2001-01-26    E
15       6 2001-01-29    E
16       5 2001-02-01    E
17      14 2001-02-13    E
18      10 2001-02-13    E
19      11 2001-02-14    E
20      11 2001-02-14    E
21       6 2001-02-16    E
22       5 2001-02-17    E
23       2 2001-02-18    E
25       6 2001-02-24    E
24       6 2001-02-24    E
26      13 2001-02-25    E
27       7 2001-02-26    E
28      11 2001-02-28    E
29      11 2001-02-28    E
..     ...        ...  ...
7        9 2001-02-06    V
22      11 2001-02-19    V
32       2 2001-03-27    V
16      10 2001-04-13    V
26      14 2001-04-23    V
28       1 2001-04-24    V
4        2 2001-05-03    V
12      14 2001-05-11    V
15      10 2001-05-12    V
34       6 2001-05-28    V
8       11 2001-06-08    V
11       2 2001-06-11    V
17      11 2001-06-14    V
20       9 2001-07-17    V
24      10 2001-07-21    V
25       7 2001-07-23    V
33      11 2001-08-28    V
1        3 2001-09-01    V
23       1 2001-09-21    V
29      10 2001-09-25    V
31      11 2001-09-27    V
2        3 2001-10-01    V
6        7 2001-10-05    V
35      14 2001-10-31    V
18       7 2001-11-15    V
27       3 2001-11-24    V
30      14 2001-11-26    V
0        9 2001-12-01    V
5       14 2001-12-04    V
10       7 2001-12-10    V

[174 rows x 3 columns]

In [10]:
result = result.sort_values(by = ['startdate'])

In [11]:
result

    cluster  startdate type
0         6 2001-01-01    E
1         6 2001-01-01    E
2         6 2001-01-02    E
3        11 2001-01-02    E
9         8 2001-01-08    V
4        11 2001-01-09    E
5         5 2001-01-10    E
13        6 2001-01-11    V
14        7 2001-01-11    V
6         5 2001-01-11    E
7        14 2001-01-13    E
8         2 2001-01-15    E
9        10 2001-01-16    E
10       10 2001-01-16    E
19       11 2001-01-16    V
21       14 2001-01-17    V
11        0 2001-01-19    E
12       11 2001-01-19    E
13        3 2001-01-19    E
14       13 2001-01-26    E
15        6 2001-01-29    E
16        5 2001-02-01    E
3         5 2001-02-02    V
7         9 2001-02-06    V
18       10 2001-02-13    E
17       14 2001-02-13    E
20       11 2001-02-14    E
19       11 2001-02-14    E
21        6 2001-02-16    E
22        5 2001-02-17    E
..      ...        ...  ...
114      14 2001-11-09    E
115       0 2001-11-13    E
116       7 2001-11-13    E
117       7 2001-11-13    E
118      13 2001-11-14    E
119       9 2001-11-15    E
18        7 2001-11-15    V
120       6 2001-11-20    E
121      11 2001-11-22    E
122      11 2001-11-22    E
123      13 2001-11-23    E
27        3 2001-11-24    V
30       14 2001-11-26    V
124      11 2001-11-27    E
125       0 2001-11-28    E
0         9 2001-12-01    V
127       7 2001-12-02    E
126      11 2001-12-02    E
128      11 2001-12-03    E
5        14 2001-12-04    V
129       8 2001-12-08    E
130       6 2001-12-09    E
10        7 2001-12-10    V
131      11 2001-12-12    E
132       6 2001-12-12    E
133       8 2001-12-18    E
134      11 2001-12-22    E
135      11 2001-12-23    E
136      11 2001-12-27    E
137      14 2001-12-28    E

[174 rows x 3 columns]

In [12]:
result.to_csv('basket.csv', index = False)