In [59]:
import numpy as np
import pandas as pd
from datetime import datetime
import ephem

def get_phase_on_day(date):
    d = ephem.Date(date)
    pnm = ephem.previous_new_moon(date)
    lunation = int(d - pnm)
    return lunation

df1 = pd.read_csv('basket.csv', dtype = object)
df1

    cluster   startdate type
0         6  2001-01-01    E
1         6  2001-01-01    E
2         6  2001-01-02    E
3        11  2001-01-02    E
4         8  2001-01-08    V
5        11  2001-01-09    E
6         5  2001-01-10    E
7         6  2001-01-11    V
8         7  2001-01-11    V
9         5  2001-01-11    E
10       14  2001-01-13    E
11        2  2001-01-15    E
12       10  2001-01-16    E
13       10  2001-01-16    E
14       11  2001-01-16    V
15       14  2001-01-17    V
16        0  2001-01-19    E
17       11  2001-01-19    E
18        3  2001-01-19    E
19       13  2001-01-26    E
20        6  2001-01-29    E
21        5  2001-02-01    E
22        5  2001-02-02    V
23        9  2001-02-06    V
24       10  2001-02-13    E
25       14  2001-02-13    E
26       11  2001-02-14    E
27       11  2001-02-14    E
28        6  2001-02-16    E
29        5  2001-02-17    E
..      ...         ...  ...
144      14  2001-11-09    E
145       0  2001-11-13    E
146       7  2001-11-13    E
147       7  2001-11-13    E
148      13  2001-11-14    E
149       9  2001-11-15    E
150       7  2001-11-15    V
151       6  2001-11-20    E
152      11  2001-11-22    E
153      11  2001-11-22    E
154      13  2001-11-23    E
155       3  2001-11-24    V
156      14  2001-11-26    V
157      11  2001-11-27    E
158       0  2001-11-28    E
159       9  2001-12-01    V
160       7  2001-12-02    E
161      11  2001-12-02    E
162      11  2001-12-03    E
163      14  2001-12-04    V
164       8  2001-12-08    E
165       6  2001-12-09    E
166       7  2001-12-10    V
167      11  2001-12-12    E
168       6  2001-12-12    E
169       8  2001-12-18    E
170      11  2001-12-22    E
171      11  2001-12-23    E
172      11  2001-12-27    E
173      14  2001-12-28    E

[174 rows x 3 columns]

In [60]:
df1['startdate'] = pd.to_datetime(df1.startdate)
df1['startdate'] = df1['startdate'].dt.date
df1['phase'] = ' '
type(df1['startdate'][0])
for i in range(0, len(df1)):
    df1['phase'][i] = get_phase_on_day(df1['startdate'][i])

In [64]:
df1

    cluster   startdate type phase
0         6  2001-01-01    E     6
1         6  2001-01-01    E     6
2         6  2001-01-02    E     7
3        11  2001-01-02    E     7
4         8  2001-01-08    V    13
5        11  2001-01-09    E    14
6         5  2001-01-10    E    15
7         6  2001-01-11    V    16
8         7  2001-01-11    V    16
9         5  2001-01-11    E    16
10       14  2001-01-13    E    18
11        2  2001-01-15    E    20
12       10  2001-01-16    E    21
13       10  2001-01-16    E    21
14       11  2001-01-16    V    21
15       14  2001-01-17    V    22
16        0  2001-01-19    E    24
17       11  2001-01-19    E    24
18        3  2001-01-19    E    24
19       13  2001-01-26    E     1
20        6  2001-01-29    E     4
21        5  2001-02-01    E     7
22        5  2001-02-02    V     8
23        9  2001-02-06    V    12
24       10  2001-02-13    E    19
25       14  2001-02-13    E    19
26       11  2001-02-14    E    20
27       11  2001-02-14    E    20
28        6  2001-02-16    E    22
29        5  2001-02-17    E    23
..      ...         ...  ...   ...
144      14  2001-11-09    E    23
145       0  2001-11-13    E    27
146       7  2001-11-13    E    27
147       7  2001-11-13    E    27
148      13  2001-11-14    E    28
149       9  2001-11-15    E    29
150       7  2001-11-15    V    29
151       6  2001-11-20    E     4
152      11  2001-11-22    E     6
153      11  2001-11-22    E     6
154      13  2001-11-23    E     7
155       3  2001-11-24    V     8
156      14  2001-11-26    V    10
157      11  2001-11-27    E    11
158       0  2001-11-28    E    12
159       9  2001-12-01    V    15
160       7  2001-12-02    E    16
161      11  2001-12-02    E    16
162      11  2001-12-03    E    17
163      14  2001-12-04    V    18
164       8  2001-12-08    E    22
165       6  2001-12-09    E    23
166       7  2001-12-10    V    24
167      11  2001-12-12    E    26
168       6  2001-12-12    E    26
169       8  2001-12-18    E     3
170      11  2001-12-22    E     7
171      11  2001-12-23    E     8
172      11  2001-12-27    E    12
173      14  2001-12-28    E    13

[174 rows x 4 columns]

In [65]:
df1['sequence']=df1['type'] + df1['cluster'].map(str)

In [66]:
df1

    cluster   startdate type phase sequence
0         6  2001-01-01    E     6       E6
1         6  2001-01-01    E     6       E6
2         6  2001-01-02    E     7       E6
3        11  2001-01-02    E     7      E11
4         8  2001-01-08    V    13       V8
5        11  2001-01-09    E    14      E11
6         5  2001-01-10    E    15       E5
7         6  2001-01-11    V    16       V6
8         7  2001-01-11    V    16       V7
9         5  2001-01-11    E    16       E5
10       14  2001-01-13    E    18      E14
11        2  2001-01-15    E    20       E2
12       10  2001-01-16    E    21      E10
13       10  2001-01-16    E    21      E10
14       11  2001-01-16    V    21      V11
15       14  2001-01-17    V    22      V14
16        0  2001-01-19    E    24       E0
17       11  2001-01-19    E    24      E11
18        3  2001-01-19    E    24       E3
19       13  2001-01-26    E     1      E13
20        6  2001-01-29    E     4       E6
21        5  2001-02-01    E     7       E5
22        5  2001-02-02    V     8       V5
23        9  2001-02-06    V    12       V9
24       10  2001-02-13    E    19      E10
25       14  2001-02-13    E    19      E14
26       11  2001-02-14    E    20      E11
27       11  2001-02-14    E    20      E11
28        6  2001-02-16    E    22       E6
29        5  2001-02-17    E    23       E5
..      ...         ...  ...   ...      ...
144      14  2001-11-09    E    23      E14
145       0  2001-11-13    E    27       E0
146       7  2001-11-13    E    27       E7
147       7  2001-11-13    E    27       E7
148      13  2001-11-14    E    28      E13
149       9  2001-11-15    E    29       E9
150       7  2001-11-15    V    29       V7
151       6  2001-11-20    E     4       E6
152      11  2001-11-22    E     6      E11
153      11  2001-11-22    E     6      E11
154      13  2001-11-23    E     7      E13
155       3  2001-11-24    V     8       V3
156      14  2001-11-26    V    10      V14
157      11  2001-11-27    E    11      E11
158       0  2001-11-28    E    12       E0
159       9  2001-12-01    V    15       V9
160       7  2001-12-02    E    16       E7
161      11  2001-12-02    E    16      E11
162      11  2001-12-03    E    17      E11
163      14  2001-12-04    V    18      V14
164       8  2001-12-08    E    22       E8
165       6  2001-12-09    E    23       E6
166       7  2001-12-10    V    24       V7
167      11  2001-12-12    E    26      E11
168       6  2001-12-12    E    26       E6
169       8  2001-12-18    E     3       E8
170      11  2001-12-22    E     7      E11
171      11  2001-12-23    E     8      E11
172      11  2001-12-27    E    12      E11
173      14  2001-12-28    E    13      E14

[174 rows x 5 columns]

In [79]:
with open("test.txt", "a") as myfile:
        myfile.write(df1['sequence'][0])
for x in range(1, len(df1['sequence'])):
    #if date and sequence are different from the previous one
    if ((df1['startdate'][x] != df1['startdate'][x - 1]) and (df1['sequence'][x] != df1['sequence'][x - 1])):
        with open("test.txt", "a") as myfile:
            myfile.write(' ' + str(df1['phase'][x-1]) +' -1 ' + df1['sequence'][x] )
    #if date is the same but sequence is different
    elif df1['sequence'][x] != df1['sequence'][x - 1]:
        with open("test.txt", "a") as myfile:
            myfile.write(' ' + df1['sequence'][x])
with open("test.txt", "a") as myfile:
        myfile.write(' ' + str(df1['phase'][len(df1['phase']) - 1]) + ' -1 -2\n')