In [1]:
import numpy as np
import pandas as pd
import csv

df1 = pd.read_csv('2001volcanoes.csv')
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['startmonth'],row['startday'],row['startyear']), axis=1)
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1

,VEI,cluster,latitude,longitude,startday,startmonth,startyear,type,clustertype,startdate
0,3,9,13.257,123.685,8,1,2001,V,9V,2001-01-08
1,2,1,34.094,139.526,11,1,2001,V,1V,2001-01-11
2,2,9,-8.730,120.980,11,1,2001,V,9V,2001-01-11
3,3,7,-5.050,151.330,16,1,2001,V,7V,2001-01-16
4,1,4,12.602,-86.845,17,1,2001,V,4V,2001-01-17
5,3,2,52.825,-169.944,2,2,2001,V,2V,2001-02-02
6,2,3,-1.408,29.200,6,2,2001,V,3V,2001-02-06
7,2,8,-37.520,177.180,19,2,2001,V,8V,2001-02-19
8,1,6,-21.244,55.708,27,3,2001,V,6V,2001-03-27
9,2,9,-0.381,100.473,13,4,2001,V,9V,2001-04-13
10,1,4,11.984,-86.161,23,4,2001,V,4V,2001-04-23
11,0,1,20.420,145.030,24,4,2001,V,1V,2001-04-24
12,1,9,-53.030,72.600,3,5,2001,V,9V,2001-05-03
13,1,4,12.702,-87.004,11,5,2001,V,4V,2001-05-11
14,2,9,-1.697,101.264,12,5,2001,V,9V,2001-05-12
15,0,9,1.488,127.630,28,5,2001,V,9V,2001-05-28
16,3,7,-16.507,168.346,8,6,2001,V,7V,2001-06-08
17,1,6,-21.244,55.708,11,6,2001,V,6V,2001-06-11
18,2,7,-4.080,145.037,14,6,2001,V,7V,2001-06-14
19,2,3,37.734,15.004,17,7,2001,V,3V,2001-07-17
20,1,9,-6.102,105.423,21,7,2001,V,9V,2001-07-21
21,3,1,55.972,160.595,23,7,2001,V,1V,2001-07-23
22,2,7,-5.050,151.330,28,8,2001,V,7V,2001-08-28
23,0,0,-57.800,-26.483,1,9,2001,V,0V,2001-09-01
24,1,1,24.751,141.289,21,9,2001,V,1V,2001-09-21
25,1,9,-0.978,100.679,25,9,2001,V,9V,2001-09-25
26,2,8,-18.325,-174.365,27,9,2001,V,8V,2001-09-27
27,1,0,-58.445,-26.374,1,10,2001,V,0V,2001-10-01
28,1,1,53.256,158.836,5,10,2001,V,1V,2001-10-05
29,1,4,14.381,-90.601,31,10,2001,V,4V,2001-10-31
30,3,1,54.049,159.443,15,11,2001,V,1V,2001-11-15
31,0,0,-32.958,-5.220,24,11,2001,V,0V,2001-11-24
32,1,4,-0.171,-78.598,26,11,2001,V,4V,2001-11-26
33,1,3,37.734,15.004,1,12,2001,V,3V,2001-12-01
34,0,4,12.300,-61.640,4,12,2001,V,4V,2001-12-04
35,2,1,55.972,160.595,10,12,2001,V,1V,2001-12-10

In [3]:
df1.to_csv('2001volcanoes.csv', index = False)

In [4]:
df = pd.read_csv('2001magbigger6.csv')
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
df = df.sort_values(by = ['startdate'])
df

,cluster,mag,startday,startmonth,startyear,type,clustertype,startdate
0,9,7.50,1,1,2001,E,9E,2001-01-01
1,9,6.80,1,1,2001,E,9E,2001-01-01
2,9,6.40,2,1,2001,E,9E,2001-01-02
3,7,6.00,2,1,2001,E,7E,2001-01-02
4,7,7.10,9,1,2001,E,7E,2001-01-09
5,2,6.93,10,1,2001,E,2E,2001-01-10
6,5,6.00,11,1,2001,E,5E,2001-01-11
7,4,7.70,13,1,2001,E,4E,2001-01-13
8,9,6.40,15,1,2001,E,9E,2001-01-15
9,9,6.00,16,1,2001,E,9E,2001-01-16
10,9,6.90,16,1,2001,E,9E,2001-01-16
11,4,6.00,19,1,2001,E,4E,2001-01-19
12,7,6.30,19,1,2001,E,7E,2001-01-19
13,0,6.00,19,1,2001,E,0E,2001-01-19
14,6,7.70,26,1,2001,E,6E,2001-01-26
15,9,6.20,29,1,2001,E,9E,2001-01-29
16,2,6.00,1,2,2001,E,2E,2001-02-01
17,4,6.60,13,2,2001,E,4E,2001-02-13
18,9,7.40,13,2,2001,E,9E,2001-02-13
19,7,6.10,14,2,2001,E,7E,2001-02-14
20,7,6.20,14,2,2001,E,7E,2001-02-14
21,9,6.10,16,2,2001,E,9E,2001-02-16
22,5,6.20,17,2,2001,E,5E,2001-02-17
23,6,6.00,18,2,2001,E,6E,2001-02-18
25,9,7.10,24,2,2001,E,9E,2001-02-24
24,9,6.20,24,2,2001,E,9E,2001-02-24
26,6,6.20,25,2,2001,E,6E,2001-02-25
27,1,6.10,26,2,2001,E,1E,2001-02-26
28,7,6.70,28,2,2001,E,7E,2001-02-28
29,7,6.30,28,2,2001,E,7E,2001-02-28
...,...,...,...,...,...,...,...,...
108,4,6.00,17,10,2001,E,4E,2001-10-17
109,9,7.50,19,10,2001,E,9E,2001-10-19
110,7,6.70,21,10,2001,E,7E,2001-10-21
111,7,6.10,26,10,2001,E,7E,2001-10-26
112,7,7.00,31,10,2001,E,7E,2001-10-31
113,8,6.30,5,11,2001,E,8E,2001-11-05
114,4,6.10,9,11,2001,E,4E,2001-11-09
115,5,6.10,13,11,2001,E,5E,2001-11-13
116,1,6.00,13,11,2001,E,1E,2001-11-13
117,1,6.00,13,11,2001,E,1E,2001-11-13
118,6,7.80,14,11,2001,E,6E,2001-11-14
119,3,6.30,15,11,2001,E,3E,2001-11-15
120,9,6.20,20,11,2001,E,9E,2001-11-20
122,7,6.30,22,11,2001,E,7E,2001-11-22
121,7,6.20,22,11,2001,E,7E,2001-11-22
123,6,6.10,23,11,2001,E,6E,2001-11-23
124,8,6.00,27,11,2001,E,8E,2001-11-27
125,4,6.40,28,11,2001,E,4E,2001-11-28
126,7,6.00,2,12,2001,E,7E,2001-12-02
127,1,6.50,2,12,2001,E,1E,2001-12-02
128,8,6.40,3,12,2001,E,8E,2001-12-03
129,1,6.20,8,12,2001,E,1E,2001-12-08
130,9,6.10,9,12,2001,E,9E,2001-12-09
131,7,6.10,12,12,2001,E,7E,2001-12-12
132,9,7.10,12,12,2001,E,9E,2001-12-12
133,9,6.80,18,12,2001,E,9E,2001-12-18
134,7,6.00,22,12,2001,E,7E,2001-12-22
135,7,6.80,23,12,2001,E,7E,2001-12-23
136,7,6.20,27,12,2001,E,7E,2001-12-27
137,4,6.00,28,12,2001,E,4E,2001-12-28

In [5]:
df.to_csv('2001magbigger6.csv', index = False)

In [6]:
df = df.iloc[:,(0,-1,-3)]
df1 = df1.iloc[:,(1,-1,-3)]

In [8]:
df

     cluster  startdate type
0          9 2001-01-01    E
1          9 2001-01-01    E
2          9 2001-01-02    E
3          7 2001-01-02    E
4          7 2001-01-09    E
5          2 2001-01-10    E
6          5 2001-01-11    E
7          4 2001-01-13    E
8          9 2001-01-15    E
9          9 2001-01-16    E
10         9 2001-01-16    E
11         4 2001-01-19    E
12         7 2001-01-19    E
13         0 2001-01-19    E
14         6 2001-01-26    E
15         9 2001-01-29    E
16         2 2001-02-01    E
17         4 2001-02-13    E
18         9 2001-02-13    E
19         7 2001-02-14    E
20         7 2001-02-14    E
21         9 2001-02-16    E
22         5 2001-02-17    E
23         6 2001-02-18    E
25         9 2001-02-24    E
24         9 2001-02-24    E
26         6 2001-02-25    E
27         1 2001-02-26    E
28         7 2001-02-28    E
29         7 2001-02-28    E
..       ...        ...  ...
108        4 2001-10-17    E
109        9 2001-10-19    E
110        7 2001-10-21    E
111        7 2001-10-26    E
112        7 2001-10-31    E
113        8 2001-11-05    E
114        4 2001-11-09    E
115        5 2001-11-13    E
116        1 2001-11-13    E
117        1 2001-11-13    E
118        6 2001-11-14    E
119        3 2001-11-15    E
120        9 2001-11-20    E
122        7 2001-11-22    E
121        7 2001-11-22    E
123        6 2001-11-23    E
124        8 2001-11-27    E
125        4 2001-11-28    E
126        7 2001-12-02    E
127        1 2001-12-02    E
128        8 2001-12-03    E
129        1 2001-12-08    E
130        9 2001-12-09    E
131        7 2001-12-12    E
132        9 2001-12-12    E
133        9 2001-12-18    E
134        7 2001-12-22    E
135        7 2001-12-23    E
136        7 2001-12-27    E
137        4 2001-12-28    E

[138 rows x 3 columns]

In [9]:
frames = [df1, df]
result = pd.concat(frames)
result

     cluster  startdate type
0          9 2001-01-08    V
1          1 2001-01-11    V
2          9 2001-01-11    V
3          7 2001-01-16    V
4          4 2001-01-17    V
5          2 2001-02-02    V
6          3 2001-02-06    V
7          8 2001-02-19    V
8          6 2001-03-27    V
9          9 2001-04-13    V
10         4 2001-04-23    V
11         1 2001-04-24    V
12         9 2001-05-03    V
13         4 2001-05-11    V
14         9 2001-05-12    V
15         9 2001-05-28    V
16         7 2001-06-08    V
17         6 2001-06-11    V
18         7 2001-06-14    V
19         3 2001-07-17    V
20         9 2001-07-21    V
21         1 2001-07-23    V
22         7 2001-08-28    V
23         0 2001-09-01    V
24         1 2001-09-21    V
25         9 2001-09-25    V
26         8 2001-09-27    V
27         0 2001-10-01    V
28         1 2001-10-05    V
29         4 2001-10-31    V
..       ...        ...  ...
108        4 2001-10-17    E
109        9 2001-10-19    E
110        7 2001-10-21    E
111        7 2001-10-26    E
112        7 2001-10-31    E
113        8 2001-11-05    E
114        4 2001-11-09    E
115        5 2001-11-13    E
116        1 2001-11-13    E
117        1 2001-11-13    E
118        6 2001-11-14    E
119        3 2001-11-15    E
120        9 2001-11-20    E
122        7 2001-11-22    E
121        7 2001-11-22    E
123        6 2001-11-23    E
124        8 2001-11-27    E
125        4 2001-11-28    E
126        7 2001-12-02    E
127        1 2001-12-02    E
128        8 2001-12-03    E
129        1 2001-12-08    E
130        9 2001-12-09    E
131        7 2001-12-12    E
132        9 2001-12-12    E
133        9 2001-12-18    E
134        7 2001-12-22    E
135        7 2001-12-23    E
136        7 2001-12-27    E
137        4 2001-12-28    E

[174 rows x 3 columns]

In [13]:
result = result.sort_values(by = ['cluster', 'startdate'])

In [14]:
result

     cluster  startdate type
13         0 2001-01-19    E
36         0 2001-03-15    E
42         0 2001-04-09    E
43         0 2001-04-13    E
67         0 2001-06-19    E
68         0 2001-06-23    E
69         0 2001-06-23    E
71         0 2001-06-26    E
73         0 2001-06-29    E
77         0 2001-07-04    E
78         0 2001-07-05    E
79         0 2001-07-07    E
82         0 2001-07-24    E
23         0 2001-09-01    V
27         0 2001-10-01    V
31         0 2001-11-24    V
1          1 2001-01-11    V
27         1 2001-02-26    E
38         1 2001-03-23    E
39         1 2001-03-24    E
44         1 2001-04-14    E
11         1 2001-04-24    V
48         1 2001-04-26    E
55         1 2001-05-25    E
64         1 2001-06-15    E
70         1 2001-06-24    E
75         1 2001-07-03    E
21         1 2001-07-23    V
85         1 2001-08-02    E
87         1 2001-08-13    E
..       ...        ...  ...
10         9 2001-01-16    E
9          9 2001-01-16    E
15         9 2001-01-29    E
18         9 2001-02-13    E
21         9 2001-02-16    E
24         9 2001-02-24    E
25         9 2001-02-24    E
34         9 2001-03-14    E
37         9 2001-03-19    E
40         9 2001-04-04    E
9          9 2001-04-13    V
12         9 2001-05-03    V
14         9 2001-05-12    V
56         9 2001-05-25    E
15         9 2001-05-28    V
58         9 2001-05-28    E
20         9 2001-07-21    V
81         9 2001-07-22    E
91         9 2001-08-27    E
94         9 2001-09-11    E
98         9 2001-09-18    E
25         9 2001-09-25    V
102        9 2001-10-07    E
106        9 2001-10-12    E
107        9 2001-10-13    E
109        9 2001-10-19    E
120        9 2001-11-20    E
130        9 2001-12-09    E
132        9 2001-12-12    E
133        9 2001-12-18    E

[174 rows x 3 columns]

In [15]:
result.to_csv('basket.csv', index = False)

In [16]:
file = open('basket.csv', 'r')