In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('numberseq.csv', dtype=object)
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,3,NaN,011
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,2,NaN,007
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,3,NaN,008
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,3,NaN,010
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,1,NaN,002
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,0,NaN,005
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,0,NaN,010
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,2,NaN,007
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,0,NaN,007
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,2,2,2,10522
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,0,NaN,010
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,0,NaN,006
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,2,3,2,10522
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,1,NaN,010
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,1,NaN,006
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,0,NaN,002
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,1,NaN,003
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,3,NaN,006
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,0,NaN,010
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,0,NaN,003
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,1,NaN,006
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,2,NaN,002
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,2,NaN,007
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,2,2,2,10522
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,2,2,2,10522
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,2,2,2,10522
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,1,NaN,005
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,2,NaN,006
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,3,NaN,010
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,3,NaN,007
...,...,...,...,...,...,...,...,...,...,...,...,...
565129,-22.6621,171.5415,NaN,11,33.98,4.8,2016-07-04,1,2,3,2,11122
565130,-21.3093,168.6738,NaN,11,6.56,4.9,2016-07-04,1,2,3,2,11122
565131,-20.9661,-175.922,NaN,11,204.36,4.9,2016-07-04,1,2,3,2,11122
565132,-14.2914,167.7517,NaN,11,93.91,4.7,2016-07-04,1,2,3,2,11122
565133,-10.6376,164.9739,NaN,11,66.85,5.6,2016-07-04,1,2,3,2,11122
565134,39.5984,73.068,NaN,13,10.0,4.2,2016-07-04,1,2,3,1,11312
565135,39.4673,73.4369,NaN,13,10.0,4.7,2016-07-04,1,2,3,2,11322
565136,3.4481,-82.7973,NaN,14,10.0,4.8,2016-07-04,1,2,3,2,11422
565137,37.3679,-98.2025,NaN,00,5.0,3.5,2016-07-05,1,2,0,0,10002
565138,36.2626,-97.5821,NaN,00,5.0,3.5,2016-07-05,1,2,0,0,10002
565139,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,2,0,0,10002
565140,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,2,0,2,10122
565141,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,2,0,1,10312
565142,-20.1948,-70.9115,NaN,03,11.2,5.0,2016-07-05,1,2,0,2,10322
565143,43.3325,-126.6572,NaN,05,10.0,3.1,2016-07-05,1,2,0,0,10502
565144,44.1651,-128.9059,NaN,05,10.0,4.3,2016-07-05,1,2,0,1,10512
565145,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,2,0,1,10612
565146,-0.3386,125.4749,NaN,06,35.0,4.4,2016-07-05,1,2,0,1,10612
565147,-0.2665,125.5466,NaN,06,35.0,4.5,2016-07-05,1,2,0,2,10622
565148,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,2,0,1,10712
565149,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,2,0,2,10722
565150,35.5119,129.8661,NaN,07,10.0,4.8,2016-07-05,1,2,0,2,10722
565151,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,2,0,1,10812
565152,-32.927,-177.8664,NaN,11,10.0,5.2,2016-07-05,1,2,0,2,11122
565153,39.489,73.4459,NaN,13,10.0,4.4,2016-07-05,1,2,0,1,11312
565154,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,1,2,0,1,11312
565155,-56.8016,-142.1336,NaN,04,10.0,5.9,2016-07-06,1,2,0,2,10422
565156,53.4488,-163.4493,NaN,05,10.0,3.8,2016-07-06,1,2,0,0,10502
565157,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,2,0,2,11122
565158,0.166,-79.8907,NaN,14,35.0,4.3,2016-07-06,1,2,0,1,11412

In [6]:
del df['scale']
del df['sequence']

In [9]:
df['scale'] = ''
df['mag'] = pd.to_numeric(df['mag'])
df['scale'][df['mag']<4] = '0'
df['scale'][(df['mag']>=4) & (df['mag']<4.5)] = '1'
df['scale'][df['mag']>=4.5] = '2'

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
df['phase'] = pd.to_numeric(df['phase'])
from datetime import datetime
import ephem

def get_phase_on_day(date):
    d = ephem.Date(date)
    pnm = ephem.previous_new_moon(date)
    lunation = int(d - pnm)
    if lunation in range(0, 7):
        return 0
    elif lunation in range (7, 15):
        return 1
    elif lunation in range (15, 21):
        return 2
    elif lunation in range (21, 30):
        return 3
    #return lunation

df['startdate'] = pd.to_datetime(df.startdate)
df['startdate'] = df['startdate'].dt.date
for i in range(0, len(df)):
    df['phase'][i] = get_phase_on_day(df['startdate'][i])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,3,NaN,011
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,2,NaN,007
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,3,NaN,008
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,3,NaN,010
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,1,NaN,002
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,0,NaN,005
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,0,NaN,010
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,2,NaN,007
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,1,NaN,007
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,2,2,2,10522
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,0,NaN,010
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,1,NaN,006
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,2,3,2,10522
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,1,NaN,010
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,1,NaN,006
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,0,NaN,002
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,1,NaN,003
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,3,NaN,006
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,0,NaN,010
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,0,NaN,003
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,1,NaN,006
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,2,NaN,002
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,2,NaN,007
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,2,2,2,10522
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,2,2,2,10522
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,2,2,2,10522
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,1,NaN,005
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,3,NaN,006
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,3,NaN,010
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,3,NaN,007
...,...,...,...,...,...,...,...,...,...,...,...,...
565129,-22.6621,171.5415,NaN,11,33.98,4.8,2016-07-04,1,2,3,2,11122
565130,-21.3093,168.6738,NaN,11,6.56,4.9,2016-07-04,1,2,3,2,11122
565131,-20.9661,-175.922,NaN,11,204.36,4.9,2016-07-04,1,2,3,2,11122
565132,-14.2914,167.7517,NaN,11,93.91,4.7,2016-07-04,1,2,3,2,11122
565133,-10.6376,164.9739,NaN,11,66.85,5.6,2016-07-04,1,2,3,2,11122
565134,39.5984,73.068,NaN,13,10.0,4.2,2016-07-04,1,2,3,1,11312
565135,39.4673,73.4369,NaN,13,10.0,4.7,2016-07-04,1,2,3,2,11322
565136,3.4481,-82.7973,NaN,14,10.0,4.8,2016-07-04,1,2,3,2,11422
565137,37.3679,-98.2025,NaN,00,5.0,3.5,2016-07-05,1,2,0,0,10002
565138,36.2626,-97.5821,NaN,00,5.0,3.5,2016-07-05,1,2,0,0,10002
565139,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,2,0,0,10002
565140,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,2,0,2,10122
565141,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,2,0,1,10312
565142,-20.1948,-70.9115,NaN,03,11.2,5.0,2016-07-05,1,2,0,2,10322
565143,43.3325,-126.6572,NaN,05,10.0,3.1,2016-07-05,1,2,0,0,10502
565144,44.1651,-128.9059,NaN,05,10.0,4.3,2016-07-05,1,2,0,1,10512
565145,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,2,0,1,10612
565146,-0.3386,125.4749,NaN,06,35.0,4.4,2016-07-05,1,2,0,1,10612
565147,-0.2665,125.5466,NaN,06,35.0,4.5,2016-07-05,1,2,0,2,10622
565148,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,2,0,1,10712
565149,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,2,0,2,10722
565150,35.5119,129.8661,NaN,07,10.0,4.8,2016-07-05,1,2,0,2,10722
565151,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,2,0,1,10812
565152,-32.927,-177.8664,NaN,11,10.0,5.2,2016-07-05,1,2,0,2,11122
565153,39.489,73.4459,NaN,13,10.0,4.4,2016-07-05,1,2,0,1,11312
565154,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,1,2,0,1,11312
565155,-56.8016,-142.1336,NaN,04,10.0,5.9,2016-07-06,1,2,0,2,10422
565156,53.4488,-163.4493,NaN,05,10.0,3.8,2016-07-06,1,2,0,0,10502
565157,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,2,0,2,11122
565158,0.166,-79.8907,NaN,14,35.0,4.3,2016-07-06,1,2,0,1,11412

In [15]:
df['dep'] = ''
df['dep'][df['depth']<70] = '0'
df['dep'][(df['depth']>= 70)&(df['depth']<300)] = '1'
df['dep'][df['depth']>=300] = '2'
df['sequence'] = ''
df['sequence'] = df['type'] + df['cluster'] + df['scale'] + df['dep']
df

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,,3,,011
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,,2,,007
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,,3,,008
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,,3,,010
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,,1,,002
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,,0,,005
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,,0,,010
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,,2,,007
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,,0,,007
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,2,2,2,10522
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,,0,,010
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,,0,,006
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,2,3,2,10522
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,,1,,010
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,,1,,006
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,,0,,002
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,,1,,003
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,,3,,006
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,,0,,010
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,,0,,003
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,,1,,006
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,,2,,002
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,,2,,007
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,2,2,2,10522
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,2,2,2,10522
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,2,2,2,10522
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,,1,,005
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,,2,,006
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,,3,,010
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,,3,,007
...,...,...,...,...,...,...,...,...,...,...,...,...
565129,36.1361,139.705,NaN,07,48.58,4.5,2016-07-04,1,2,3,2,10722
565130,46.5141,152.7939,NaN,07,50.93,4.6,2016-07-04,1,2,3,2,10722
565131,36.3263,140.0904,NaN,07,77.55,4.4,2016-07-04,1,2,3,1,10712
565132,42.8475,145.4291,NaN,07,39.96,4.6,2016-07-04,1,2,3,2,10722
565133,39.3485,143.4638,NaN,07,22.75,4.6,2016-07-04,1,2,3,2,10722
565134,29.2387,129.4747,NaN,08,39.32,4.7,2016-07-04,1,2,3,2,10822
565135,29.0458,129.2817,NaN,08,37.53,4.7,2016-07-04,1,2,3,2,10822
565136,-0.5323,-12.6569,NaN,09,10.0,4.9,2016-07-04,1,2,3,2,10922
565137,37.3679,-98.2025,NaN,00,5.0,3.5,2016-07-05,1,2,0,0,10002
565138,36.2626,-97.5821,NaN,00,5.0,3.5,2016-07-05,1,2,0,0,10002
565139,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,2,0,0,10002
565140,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,2,0,2,10122
565141,-32.927,-177.8664,NaN,11,10.0,5.2,2016-07-05,1,2,0,2,11122
565142,39.489,73.4459,NaN,13,10.0,4.4,2016-07-05,1,2,0,1,11312
565143,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,1,2,0,1,11312
565144,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,2,0,1,10312
565145,-20.1948,-70.9115,NaN,03,11.2,5.0,2016-07-05,1,2,0,2,10322
565146,44.1651,-128.9059,NaN,05,10.0,4.3,2016-07-05,1,2,0,1,10512
565147,43.3325,-126.6572,NaN,05,10.0,3.1,2016-07-05,1,2,0,0,10502
565148,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,2,0,1,10612
565149,-0.3386,125.4749,NaN,06,35.0,4.4,2016-07-05,1,2,0,1,10612
565150,-0.2665,125.5466,NaN,06,35.0,4.5,2016-07-05,1,2,0,2,10622
565151,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,2,0,1,10712
565152,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,2,0,2,10722
565153,35.5119,129.8661,NaN,07,10.0,4.8,2016-07-05,1,2,0,2,10722
565154,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,2,0,1,10812
565155,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,2,0,2,11122
565156,0.166,-79.8907,NaN,14,35.0,4.3,2016-07-06,1,2,0,1,11412
565157,-56.8016,-142.1336,NaN,04,10.0,5.9,2016-07-06,1,2,0,2,10422
565158,53.4488,-163.4493,NaN,05,10.0,3.8,2016-07-06,1,2,0,0,10502

In [6]:
df['Latitude'] = pd.to_numeric(df['Latitude'])
df['Longitude'] = pd.to_numeric(df['Longitude'])
df.round({'Latitude': 3, 'Longitude': 3})
df = df.sort_values(by = ['startdate', 'sequence'])
df.to_csv('numberseq.csv', index = False)

In [8]:
with open("sequence.txt", "a") as myfile:
    myfile.write(df['sequence'][0])
for x in range(1, len(df)):
    #if date is different from the upcoming one
    if (df['startdate'][x] == df['startdate'][x - 1] and df['sequence'][x] == df['sequence'][x - 1]):
        continue
    elif ((df['startdate'][x] == df['startdate'][x - 1]) and (df['sequence'][x] != df['sequence'][x - 1])):
        with open("sequence.txt", "a") as myfile:
            myfile.write(' ' + df['sequence'][x])
    elif (df['startdate'][x] != df['startdate'][x - 1]):
        with open("sequence.txt", "a") as myfile:
            myfile.write(' ' + str(df['phase'][x-1]) + ' -1 ')
            #' ' + str(result['phase'][x-1]) +
        if (df['phase'][x - 1] != df['phase'][x]):
            with open("sequence.txt", "a") as myfile:
                myfile.write('-2\n')
        with open("sequence.txt", "a") as myfile:
            myfile.write(df['sequence'][x])
        
with open("sequence.txt", "a") as myfile:
        myfile.write(' -1 -2\n')