In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('wtemp.csv', dtype=object)
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,3,NaN,3,NaN,311,-1.193,-1.193,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,3,NaN,2,NaN,307,-1.792,-1.41028571429,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,3,NaN,3,NaN,308,0.054,-0.206166666667,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,3,NaN,3,NaN,310,0.504,0.379833333333,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,3,NaN,1,NaN,302,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,3,NaN,0,NaN,305,-0.372,-0.148,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,3,NaN,0,NaN,310,0.169,-0.148,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,3,NaN,2,NaN,307,-0.322,-0.302714285714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,3,NaN,1,NaN,307,0.211,0.3525,5
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,0,2,2,10520,0.281,0.182857142857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,3,NaN,0,NaN,310,0.409,0.227714285714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,3,NaN,1,NaN,306,-0.41,-0.56075,4
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,0,3,2,10520,-0.871,-0.782,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,3,NaN,1,NaN,310,0.179,-0.03825,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,3,NaN,1,NaN,306,-0.005,-0.03825,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,3,NaN,0,NaN,302,-0.401,-0.0492857142857,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,3,NaN,1,NaN,303,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,3,NaN,3,NaN,306,0.052,-0.109,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,3,NaN,0,NaN,310,-0.149,-0.0368571428571,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,3,NaN,0,NaN,303,-0.038,-0.0368571428571,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,3,NaN,1,NaN,306,-0.084,-0.119,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,3,NaN,2,NaN,302,-0.097,-0.00914285714286,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,3,NaN,2,NaN,307,-0.077,-0.00914285714286,4
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,0,2,2,10520,-0.216,-0.211714285714,4
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,0,2,2,10520,-0.22,-0.211714285714,4
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,0,2,2,10520,-0.266,-0.211714285714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,3,NaN,1,NaN,305,-0.006,-0.197,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,3,NaN,3,NaN,306,-0.583,-0.565285714286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,3,NaN,3,NaN,310,-0.267,-0.199142857143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,3,NaN,3,NaN,307,0.237,-0.199142857143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,0,1,1,10810,0.91,0.898,6
540278,13.7851,120.7236,NaN,08,155.6,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540279,24.8189,121.7784,NaN,08,70.3,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540281,13.7483,120.6673,NaN,08,110.0,5.5,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11020,0.91,0.898,6
540286,-2.9655,146.4038,NaN,11,10.0,4.4,2014-12-31,1,0,1,1,11110,0.91,0.898,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,0,1,2,11120,0.91,0.898,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540296,-4.4378,144.002,NaN,11,123.0,5.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540299,43.6052,-105.2467,NaN,12,0.0,3.3,2014-12-31,1,0,1,0,11200,0.91,0.898,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11321,0.91,0.898,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11401,0.91,0.898,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11400,0.91,0.898,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11411,0.91,0.898,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,0,1,2,11420,0.91,0.898,6

In [2]:
dff = df.copy()

In [7]:
dfsp1 = df[df['type'] == '1'].sample(800)
dfsp2 = df[df['type'] == '3'].sample(800)
frames = [dfsp1, df[df['type'] == '2'], dfsp2]
result = pd.concat(frames)
result['startdate'] = pd.to_datetime(result['startdate'])
result = result.sort(['startdate'])
result.index = range(len(result))
result

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,3,NaN,3,NaN,311,-1.193,-1.193,4
1,-8.108,112.92,2,10,NaN,NaN,1900-03-29,3,NaN,3,NaN,310,0.504,0.379833333333,5
2,37.647,140.281,2,07,NaN,NaN,1900-07-17,3,NaN,2,NaN,307,-0.322,-0.302714285714,4
3,36.618,138.528,1,07,NaN,NaN,1900-10-01,3,NaN,1,NaN,307,0.211,0.3525,5
4,-4.03,103.13,2,10,NaN,NaN,1900-10-26,3,NaN,0,NaN,310,0.409,0.227714285714,5
5,1.112,124.737,2,06,NaN,NaN,1901-02-04,3,NaN,1,NaN,306,-0.005,-0.03825,4
6,-7.93,112.308,3,10,NaN,NaN,1901-05-22,3,NaN,0,NaN,310,-0.149,-0.0368571428571,4
7,-7.3,109.992,1,10,NaN,NaN,1902-05-01,3,NaN,3,NaN,310,-0.419,-0.268833333333,4
8,38.65,-28.08,0,09,NaN,NaN,1902-05-07,3,NaN,3,NaN,309,-0.286,-0.268833333333,4
9,11.984,-86.161,2,14,NaN,NaN,1902-07-15,3,NaN,1,NaN,314,0.045,-0.108,4
10,-21.244,55.708,2,02,NaN,NaN,1902-08-13,3,NaN,1,NaN,302,-0.567,-0.505125,4
11,-13.612,-172.525,1,11,NaN,NaN,1902-10-30,3,NaN,3,NaN,311,-0.817,-0.769428571429,4
12,64.416,-17.316,4,09,NaN,NaN,1902-12-01,3,NaN,0,NaN,309,-1.541,-1.56028571429,4
13,-8.108,112.92,2,10,NaN,NaN,1903-03-26,3,NaN,3,NaN,310,-0.398,-0.536571428571,4
14,19.475,-155.608,0,05,NaN,NaN,1903-09-01,3,NaN,1,NaN,305,-0.333,-0.45925,4
15,-7.3,109.992,2,10,NaN,NaN,1903-10-17,3,NaN,3,NaN,310,-0.621,-0.485666666667,4
16,56.056,160.642,2,07,NaN,NaN,1904-01-31,3,NaN,1,NaN,307,-0.651,-0.931,4
17,14.002,120.993,1,08,NaN,NaN,1904-04-01,3,NaN,1,NaN,308,-0.791,-0.74125,4
18,2.3,125.37,3,06,NaN,NaN,1904-04-22,3,NaN,0,NaN,306,-0.538,-0.689428571429,4
19,-4.08,145.037,NaN,11,NaN,NaN,1904-04-30,3,NaN,1,NaN,311,-0.182,-0.29475,4
20,-4.92,151.158,4,11,NaN,NaN,1904-08-09,3,NaN,3,NaN,311,-0.66,-0.5005,4
21,2.78,125.4,2,06,NaN,NaN,1905-05-21,3,NaN,2,NaN,306,-0.15,-0.111,4
22,36.618,138.528,2,07,NaN,NaN,1905-10-01,3,NaN,0,NaN,307,-0.074,0.147714285714,5
23,-7.542,110.442,2,10,NaN,NaN,1906-01-26,3,NaN,0,NaN,310,-0.848,-0.352142857143,4
24,-39.157,175.632,2,11,NaN,NaN,1906-03-01,3,NaN,0,NaN,311,-0.91,-0.922714285714,4
25,36.406,138.523,2,07,NaN,NaN,1906-04-06,3,NaN,1,NaN,307,0.234,0.07075,5
26,-7.942,112.95,2,10,NaN,NaN,1906-09-25,3,NaN,0,NaN,310,-0.282,-0.233571428571,4
27,-16.355,-70.903,2,03,NaN,NaN,1906-10-01,3,NaN,1,NaN,303,-0.403,-0.3415,4
28,12.602,-86.845,2,14,NaN,NaN,1907-11-01,3,NaN,3,NaN,314,-0.493,-0.567,4
29,-1.408,29.2,3,09,NaN,NaN,1907-11-07,3,NaN,0,NaN,309,-0.867,-0.875714285714,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2367,51.6361,176.0665,NaN,05,NaN,NaN,2014-06-24,2,NaN,3,NaN,205,0.914,0.889,6
2368,-54.8978,-31.995,NaN,03,NaN,NaN,2014-06-28,2,NaN,0,NaN,203,0.695,0.508571428571,6
2369,36.2157,-97.5417,NaN,00,4.92,3.3,2014-07-06,1,0,1,0,10000,0.534,0.245125,5
2370,51.8338,178.3912,NaN,05,108.0,4.4,2014-08-14,1,1,2,1,10511,0.21,0.575857142857,6
2371,32.7,47.64,NaN,13,NaN,NaN,2014-08-17,2,NaN,3,NaN,213,0.833,0.575857142857,6
2372,64.633,-17.516,0,09,NaN,NaN,2014-08-29,3,NaN,0,NaN,309,1.295,1.19542857143,7
2373,32.884,131.104,2,08,NaN,NaN,2014-08-30,3,NaN,0,NaN,308,1.248,1.19542857143,7
2374,-0.3238,125.1931,NaN,06,35.0,4.0,2014-09-10,1,0,2,1,10610,1.017,0.809,6
2375,37.5179,141.3349,NaN,07,50.96,5.2,2014-09-24,1,0,3,2,10720,0.929,0.989857142857,6
2376,28.3998,102.7906,NaN,08,9.32,5.1,2014-10-01,1,0,0,2,10820,1.046,1.05257142857,7
2377,-37.94,179.97,NaN,11,33.0,4.3,2014-10-03,1,0,1,1,11110,0.687,0.75175,6
2378,-22.0926,179.6622,NaN,11,587.12,4.5,2014-10-10,1,2,2,2,11122,0.927,0.887571428571,6
2379,64.5605,-17.4836,NaN,09,10.0,4.6,2014-10-23,1,0,3,2,10920,1.194,1.02433333333,7
2380,31.5256,115.467,NaN,08,14.09,4.0,2014-10-25,1,0,0,1,10810,1.431,1.17628571429,7
2381,36.0481,-97.2529,NaN,00,5.0,3.0,2014-11-01,1,0,1,0,10000,1.03,1.074,7
2382,41.8994,-119.6348,NaN,00,NaN,NaN,2014-11-04,2,NaN,1,NaN,200,1.212,1.074,7
2383,55.417,-161.894,1,05,NaN,NaN,2014-11-12,3,NaN,2,NaN,305,0.455,0.618714285714,6
2384,1.0992,-26.1504,NaN,14,NaN,NaN,2014-11-13,2,NaN,2,NaN,214,0.155,0.618714285714,6
2385,-14.9874,167.6038,NaN,11,123.3,4.4,2014-11-17,1,1,3,1,11111,0.269,0.384857142857,5
2386,14.95,-24.35,3,09,NaN,NaN,2014-11-23,3,NaN,0,NaN,309,0.575,-0.0381428571429,4
2387,1.9083,126.4369,NaN,06,47.27,5.2,2014-11-28,1,0,0,2,10620,-0.491,-0.0381428571429,4
2388,-6.681,154.9311,NaN,11,NaN,NaN,2014-12-07,2,NaN,1,NaN,211,0.946,0.675,6
2389,32.581,141.4514,NaN,07,37.74,4.6,2014-12-09,1,0,2,2,10720,1.23,1.42814285714,7
2390,-56.8316,-25.4395,NaN,03,15.24,4.9,2014-12-11,1,0,2,2,10320,1.526,1.42814285714,7
2391,64.532,-17.4948,NaN,09,6.89,4.5,2014-12-13,1,0,2,2,10920,1.629,1.42814285714,7
2392,4.892,-75.324,1,14,NaN,NaN,2014-12-15,3,NaN,3,NaN,314,1.492,1.36442857143,7
2393,17.4909,145.9404,NaN,01,165.49,4.4,2014-12-18,1,1,3,1,10111,1.276,1.36442857143,7
2394,-20.536,-175.382,2,11,NaN,NaN,2014-12-19,3,NaN,3,NaN,311,1.289,1.36442857143,7
2395,-5.8244,154.6034,NaN,11,116.47,4.5,2014-12-28,1,1,0,2,11121,1.075,1.28185714286,7
2396,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,0,1,2,10720,0.91,0.898,6

In [8]:
#result = df.copy()
with open('samplesequence3.txt', "a") as myfile:
    myfile.write(result['sequence'][0])
    #str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' -1 ' + 
    for x in range(1, len(result)):
        #if date is the same from the previous one
        if ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] == result['sequence'][x - 1])):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] > result['phase'][x]):
                myfile.write(' -1 -2\n' + result['sequence'][x])
                #str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' -1 ' +
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [46]:
len(result['startdate'].unique())

765