In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('allquakeswnphase.csv', dtype=object)
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,phase,phaseofmonth
0,5,0.0,57.09,-153.48,8.3,10,10,1900,1,1900-10-10,2,16
1,5,0.0,60.0,-135.0,7.1,18,1,1901,1,1901-01-18,0,26
2,5,0.0,52.0,-160.0,6.6,30,12,1901,1,1901-12-30,2,18
3,5,0.0,51.45,-171.02,7.8,31,12,1901,1,1901-12-31,3,19
4,5,0.0,52.38,-167.45,7.8,1,1,1902,1,1902-01-01,3,20
5,5,0.0,50.85,-175.16,7.0,17,1,1903,1,1903-01-17,2,18
6,5,0.0,52.0,175.0,6.8,5,2,1903,1,1903-02-05,1,7
7,5,0.0,61.56,-158.54,8.3,2,6,1903,1,1903-06-02,1,6
8,5,0.0,64.62,-148.23,7.8,27,8,1904,1,1904-08-27,2,15
9,5,0.0,50.73,-178.55,7.7,14,2,1905,1,1905-02-14,1,9
10,5,0.0,51.28,174.83,7.2,22,3,1905,1,1905-03-22,2,15
11,7,0.0,52.06,171.45,7.4,15,9,1905,1,1905-09-15,2,15
12,5,0.0,53.88,-161.68,7.0,10,12,1905,1,1905-12-10,2,13
13,5,0.0,50.77,179.73,8.0,17,8,1906,1,1906-08-17,0,26
14,5,0.0,53.0,-165.0,7.6,23,12,1906,1,1906-12-23,1,7
15,5,120.0,57.0,-161.0,6.5,22,8,1907,1,1907-08-22,2,12
16,7,0.0,52.44,170.28,7.7,2,9,1907,1,1907-09-02,3,23
17,5,25.0,59.0,-141.0,7.1,15,5,1908,1,1908-05-15,2,14
18,5,0.0,52.0,175.0,7.0,10,4,1909,1,1909-04-10,3,19
19,5,90.0,52.5,-169.0,7.4,8,9,1909,1,1909-09-08,3,23
20,5,0.0,60.0,-149.5,7.4,19,9,1909,1,1909-09-19,1,4
21,5,100.0,57.0,-160.0,6.7,13,5,1910,1,1910-05-13,0,3
22,0,NaN,42.0,-127.0,6.8,5,8,1910,1,1910-08-05,0,29
23,5,25.0,50.75,179.38,7.3,9,9,1910,1,1910-09-09,1,5
24,5,0.0,53.0,-135.0,6.8,6,11,1910,1,1910-11-06,0,3
25,0,NaN,37.25,-121.75,6.6,1,7,1911,1,1911-07-01,1,4
26,5,0.0,51.0,180.0,7.1,17,9,1911,1,1911-09-17,3,23
27,5,60.0,60.5,-149.0,6.9,22,9,1911,1,1911-09-22,0,28
28,7,0.0,52.0,173.0,7.0,13,11,1911,1,1911-11-13,3,21
29,5,25.0,52.0,-179.0,7.1,4,1,1912,1,1912-01-04,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...
617829,13,10.0,39.4673,73.4369,4.7,4,7,2016,1,2016-07-04,0,28
617830,7,39.96,42.8475,145.4291,4.6,4,7,2016,1,2016-07-04,0,28
617831,11,93.91,-14.2914,167.7517,4.7,4,7,2016,1,2016-07-04,0,28
617832,7,22.75,39.3485,143.4638,4.6,4,7,2016,1,2016-07-04,0,28
617833,11,66.85,-10.6376,164.9739,5.6,4,7,2016,1,2016-07-04,0,28
617834,14,10.0,3.4481,-82.7973,4.8,4,7,2016,1,2016-07-04,0,28
617835,9,10.0,-0.5323,-12.6569,4.9,4,7,2016,1,2016-07-04,0,28
617836,8,37.53,29.0458,129.2817,4.7,4,7,2016,1,2016-07-04,0,28
617837,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05,0,0
617838,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05,0,0
617839,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05,0,0
617840,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05,0,0
617841,13,10.0,39.489,73.4459,4.4,5,7,2016,1,2016-07-05,0,0
617842,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05,0,0
617843,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05,0,0
617844,11,10.0,-32.927,-177.8664,5.2,5,7,2016,1,2016-07-05,0,0
617845,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05,0,0
617846,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05,0,0
617847,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05,0,0
617848,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05,0,0
617849,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05,0,0
617850,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05,0,0
617851,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05,0,0
617852,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05,0,0
617853,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05,0,0
617854,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05,0,0
617855,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06,0,1
617856,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06,0,1
617857,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06,0,1
617858,14,35.0,0.166,-79.8907,4.3,6,7,2016,1,2016-07-06,0,1

In [3]:
dff = df.copy()
df['phase'] = ''
df['phaseofmonth'] = pd.to_numeric(df['phaseofmonth'])
df['phase'][(df['phaseofmonth']>=26) | (df['phaseofmonth']<4)] = '0'
df['phase'][(df['phaseofmonth']>=4) & (df['phaseofmonth']<11)] = '1'
df['phase'][(df['phaseofmonth']>=11) & (df['phaseofmonth']<19)] = '2'
df['phase'][(df['phaseofmonth']>=19) & (df['phaseofmonth']<=25)] = '3'
df

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,phase,phaseofmonth
0,5,0.0,57.09,-153.48,8.3,10,10,1900,1,1900-10-10,2,16
1,5,0.0,60.0,-135.0,7.1,18,1,1901,1,1901-01-18,0,26
2,5,0.0,52.0,-160.0,6.6,30,12,1901,1,1901-12-30,2,18
3,5,0.0,51.45,-171.02,7.8,31,12,1901,1,1901-12-31,3,19
4,5,0.0,52.38,-167.45,7.8,1,1,1902,1,1902-01-01,3,20
5,5,0.0,50.85,-175.16,7.0,17,1,1903,1,1903-01-17,2,18
6,5,0.0,52.0,175.0,6.8,5,2,1903,1,1903-02-05,1,7
7,5,0.0,61.56,-158.54,8.3,2,6,1903,1,1903-06-02,1,6
8,5,0.0,64.62,-148.23,7.8,27,8,1904,1,1904-08-27,2,15
9,5,0.0,50.73,-178.55,7.7,14,2,1905,1,1905-02-14,1,9
10,5,0.0,51.28,174.83,7.2,22,3,1905,1,1905-03-22,2,15
11,7,0.0,52.06,171.45,7.4,15,9,1905,1,1905-09-15,2,15
12,5,0.0,53.88,-161.68,7.0,10,12,1905,1,1905-12-10,2,13
13,5,0.0,50.77,179.73,8.0,17,8,1906,1,1906-08-17,0,26
14,5,0.0,53.0,-165.0,7.6,23,12,1906,1,1906-12-23,1,7
15,5,120.0,57.0,-161.0,6.5,22,8,1907,1,1907-08-22,2,12
16,7,0.0,52.44,170.28,7.7,2,9,1907,1,1907-09-02,3,23
17,5,25.0,59.0,-141.0,7.1,15,5,1908,1,1908-05-15,2,14
18,5,0.0,52.0,175.0,7.0,10,4,1909,1,1909-04-10,3,19
19,5,90.0,52.5,-169.0,7.4,8,9,1909,1,1909-09-08,3,23
20,5,0.0,60.0,-149.5,7.4,19,9,1909,1,1909-09-19,1,4
21,5,100.0,57.0,-160.0,6.7,13,5,1910,1,1910-05-13,0,3
22,0,NaN,42.0,-127.0,6.8,5,8,1910,1,1910-08-05,0,29
23,5,25.0,50.75,179.38,7.3,9,9,1910,1,1910-09-09,1,5
24,5,0.0,53.0,-135.0,6.8,6,11,1910,1,1910-11-06,0,3
25,0,NaN,37.25,-121.75,6.6,1,7,1911,1,1911-07-01,1,4
26,5,0.0,51.0,180.0,7.1,17,9,1911,1,1911-09-17,3,23
27,5,60.0,60.5,-149.0,6.9,22,9,1911,1,1911-09-22,0,28
28,7,0.0,52.0,173.0,7.0,13,11,1911,1,1911-11-13,3,21
29,5,25.0,52.0,-179.0,7.1,4,1,1912,1,1912-01-04,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...
617829,13,10.0,39.4673,73.4369,4.7,4,7,2016,1,2016-07-04,0,28
617830,7,39.96,42.8475,145.4291,4.6,4,7,2016,1,2016-07-04,0,28
617831,11,93.91,-14.2914,167.7517,4.7,4,7,2016,1,2016-07-04,0,28
617832,7,22.75,39.3485,143.4638,4.6,4,7,2016,1,2016-07-04,0,28
617833,11,66.85,-10.6376,164.9739,5.6,4,7,2016,1,2016-07-04,0,28
617834,14,10.0,3.4481,-82.7973,4.8,4,7,2016,1,2016-07-04,0,28
617835,9,10.0,-0.5323,-12.6569,4.9,4,7,2016,1,2016-07-04,0,28
617836,8,37.53,29.0458,129.2817,4.7,4,7,2016,1,2016-07-04,0,28
617837,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05,0,0
617838,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05,0,0
617839,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05,0,0
617840,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05,0,0
617841,13,10.0,39.489,73.4459,4.4,5,7,2016,1,2016-07-05,0,0
617842,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05,0,0
617843,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05,0,0
617844,11,10.0,-32.927,-177.8664,5.2,5,7,2016,1,2016-07-05,0,0
617845,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05,0,0
617846,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05,0,0
617847,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05,0,0
617848,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05,0,0
617849,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05,0,0
617850,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05,0,0
617851,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05,0,0
617852,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05,0,0
617853,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05,0,0
617854,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05,0,0
617855,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06,0,1
617856,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06,0,1
617857,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06,0,1
617858,14,35.0,0.166,-79.8907,4.3,6,7,2016,1,2016-07-06,0,1

In [4]:
df.to_csv('allquakeswnphase.csv', index = False)

In [4]:
df6.index = range(len(df6))

In [5]:
df6.to_csv('df6.csv', index = False)

In [2]:
dff = df.copy()

In [9]:
#df = dff[dff['type'] == '1']
#result = df[(df['cluster']== '01') | (df['cluster']== '03') | (df['cluster']== '04') | (df['cluster']== '06') | (df['cluster']== '07') | (df['cluster']== '08')| (df['cluster']== '10')| (df['cluster']== '11')] 
#result.index = range(len(result))
result = df6.copy()
with open('df6sequence.txt', "a") as myfile:
    myfile.write(result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] > result['phase'][x]):
                myfile.write(' -1 -2\n' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [9]:

result = df[(df['cluster']== '00') | (df['cluster']== '03') | (df['cluster']== '04') | (df['cluster']== '05') | (df['cluster']== '12') | (df['cluster']== '14')] 
result.index = range(len(result))
with open('tempsequence2.txt', "a") as myfile:
    myfile.write(str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' -1 ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' -1 ' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [11]:
result = df[(df['cluster']== '02') | (df['cluster']== '03') | (df['cluster']== '09') | (df['cluster']== '10') | (df['cluster']== '13') | (df['cluster']== '14')] 
result.index = range(len(result))
with open('tempsequence.txt', "a") as myfile:
    myfile.write(str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' -1 ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' -1 ' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [5]:
df['temp'] = ''
df['pavg'] = pd.to_numeric(df['pavg'])
df['temp'][df['pavg'] < 0] = 4
df['temp'][(df['pavg']>=0) & (df['pavg']<0.5)] = 5
df['temp'][(df['pavg']>=0.5) & (df['pavg']<1)] = 6
df['temp'][df['pavg']>=1] = 7
df

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,3,NaN,011,-1.193,-1.193000,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,2,NaN,007,-1.792,-1.410286,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,3,NaN,008,0.054,-0.206167,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,3,NaN,010,0.504,0.379833,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,1,NaN,002,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,0,NaN,005,-0.372,-0.148000,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,0,NaN,010,0.169,-0.148000,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,2,NaN,007,-0.322,-0.302714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,1,NaN,007,0.211,0.352500,5
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,2,2,2,10522,0.281,0.182857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,0,NaN,010,0.409,0.227714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,1,NaN,006,-0.41,-0.560750,4
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,2,3,2,10522,-0.871,-0.782000,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,1,NaN,010,0.179,-0.038250,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,1,NaN,006,-0.005,-0.038250,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,0,NaN,002,-0.401,-0.049286,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,1,NaN,003,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,3,NaN,006,0.052,-0.109000,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,0,NaN,010,-0.149,-0.036857,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,0,NaN,003,-0.038,-0.036857,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,1,NaN,006,-0.084,-0.119000,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,2,NaN,002,-0.097,-0.009143,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,2,NaN,007,-0.077,-0.009143,4
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,2,2,2,10522,-0.216,-0.211714,4
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,2,2,2,10522,-0.22,-0.211714,4
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,2,2,2,10522,-0.266,-0.211714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,1,NaN,005,-0.006,-0.197000,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,3,NaN,006,-0.583,-0.565286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,3,NaN,010,-0.267,-0.199143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,3,NaN,007,0.237,-0.199143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,2,1,2,10722,0.91,0.898000,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,2,1,2,10722,0.91,0.898000,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,2,1,1,10812,0.91,0.898000,6
540278,13.7851,120.7236,NaN,08,155.6,4.6,2014-12-31,1,2,1,2,10822,0.91,0.898000,6
540279,24.8189,121.7784,NaN,08,70.3,4.6,2014-12-31,1,2,1,2,10822,0.91,0.898000,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,2,1,2,10822,0.91,0.898000,6
540281,13.7483,120.6673,NaN,08,110.0,5.5,2014-12-31,1,2,1,2,10822,0.91,0.898000,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,2,1,1,10912,0.91,0.898000,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,2,1,1,10912,0.91,0.898000,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,2,1,1,10912,0.91,0.898000,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,2,1,2,11022,0.91,0.898000,6
540286,-2.9655,146.4038,NaN,11,10.0,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540296,-4.4378,144.002,NaN,11,123.0,5.8,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540299,43.6052,-105.2467,NaN,12,0.0,3.3,2014-12-31,1,2,1,0,11202,0.91,0.898000,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,2,1,2,11322,0.91,0.898000,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,2,1,0,11402,0.91,0.898000,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,2,1,0,11402,0.91,0.898000,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,2,1,1,11412,0.91,0.898000,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,2,1,2,11422,0.91,0.898000,6

In [6]:
df['depth'] = pd.to_numeric(df['depth'])
df['dep'] = ''
df['dep'][df['depth']<70] = '0'
df['dep'][(df['depth']>= 70)&(df['depth']<300)] = '1'
df['dep'][df['depth']>=300] = '2'
df

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,,3,NaN,011,-1.193,-1.193000,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,,2,NaN,007,-1.792,-1.410286,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,,3,NaN,008,0.054,-0.206167,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,,3,NaN,010,0.504,0.379833,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,,1,NaN,002,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,,0,NaN,005,-0.372,-0.148000,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,,0,NaN,010,0.169,-0.148000,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,,2,NaN,007,-0.322,-0.302714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,,1,NaN,007,0.211,0.352500,5
9,57.09,-153.48,NaN,05,0.00,8.3,1900-10-10,1,0,2,2,10522,0.281,0.182857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,,0,NaN,010,0.409,0.227714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,,1,NaN,006,-0.41,-0.560750,4
12,60.0,-135.0,NaN,05,0.00,7.1,1901-01-18,1,0,3,2,10522,-0.871,-0.782000,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,,1,NaN,010,0.179,-0.038250,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,,1,NaN,006,-0.005,-0.038250,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,,0,NaN,002,-0.401,-0.049286,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,,1,NaN,003,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,,3,NaN,006,0.052,-0.109000,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,,0,NaN,010,-0.149,-0.036857,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,,0,NaN,003,-0.038,-0.036857,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,,1,NaN,006,-0.084,-0.119000,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,,2,NaN,002,-0.097,-0.009143,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,,2,NaN,007,-0.077,-0.009143,4
23,52.0,-160.0,NaN,05,0.00,6.6,1901-12-30,1,0,2,2,10522,-0.216,-0.211714,4
24,51.45,-171.02,NaN,05,0.00,7.8,1901-12-31,1,0,2,2,10522,-0.22,-0.211714,4
25,52.38,-167.45,NaN,05,0.00,7.8,1902-01-01,1,0,2,2,10522,-0.266,-0.211714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,,1,NaN,005,-0.006,-0.197000,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,,3,NaN,006,-0.583,-0.565286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,,3,NaN,010,-0.267,-0.199143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,,3,NaN,007,0.237,-0.199143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,0,1,2,10722,0.91,0.898000,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,0,1,2,10722,0.91,0.898000,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,0,1,1,10812,0.91,0.898000,6
540278,13.7851,120.7236,NaN,08,155.60,4.6,2014-12-31,1,1,1,2,10822,0.91,0.898000,6
540279,24.8189,121.7784,NaN,08,70.30,4.6,2014-12-31,1,1,1,2,10822,0.91,0.898000,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,1,1,2,10822,0.91,0.898000,6
540281,13.7483,120.6673,NaN,08,110.00,5.5,2014-12-31,1,1,1,2,10822,0.91,0.898000,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10912,0.91,0.898000,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10912,0.91,0.898000,6
540284,38.19,22.51,NaN,09,20.00,4.3,2014-12-31,1,0,1,1,10912,0.91,0.898000,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11022,0.91,0.898000,6
540286,-2.9655,146.4038,NaN,11,10.00,4.4,2014-12-31,1,0,1,1,11112,0.91,0.898000,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,0,1,2,11122,0.91,0.898000,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,1,1,2,11122,0.91,0.898000,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,1,1,2,11122,0.91,0.898000,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,1,1,2,11122,0.91,0.898000,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540296,-4.4378,144.002,NaN,11,123.00,5.8,2014-12-31,1,1,1,2,11122,0.91,0.898000,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540299,43.6052,-105.2467,NaN,12,0.00,3.3,2014-12-31,1,0,1,0,11202,0.91,0.898000,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11322,0.91,0.898000,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11402,0.91,0.898000,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11402,0.91,0.898000,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11412,0.91,0.898000,6
540304,5.9469,-32.9872,NaN,14,10.00,4.7,2014-12-31,1,0,1,2,11422,0.91,0.898000,6

In [9]:
df = df.fillna('')
df['sequence'] = ''
df['sequence'] = df['type'] + df['cluster'] + df['scale'] + df['dep']

In [28]:
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,3,NaN,011,-1.193,-1.193,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,2,NaN,007,-1.792,-1.41028571429,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,3,NaN,008,0.054,-0.206166666667,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,3,NaN,010,0.504,0.379833333333,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,1,NaN,002,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,0,NaN,005,-0.372,-0.148,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,0,NaN,010,0.169,-0.148,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,2,NaN,007,-0.322,-0.302714285714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,1,NaN,007,0.211,0.3525,5
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,0,2,2,10520,0.281,0.182857142857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,0,NaN,010,0.409,0.227714285714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,1,NaN,006,-0.41,-0.56075,4
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,0,3,2,10520,-0.871,-0.782,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,1,NaN,010,0.179,-0.03825,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,1,NaN,006,-0.005,-0.03825,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,0,NaN,002,-0.401,-0.0492857142857,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,1,NaN,003,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,3,NaN,006,0.052,-0.109,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,0,NaN,010,-0.149,-0.0368571428571,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,0,NaN,003,-0.038,-0.0368571428571,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,1,NaN,006,-0.084,-0.119,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,2,NaN,002,-0.097,-0.00914285714286,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,2,NaN,007,-0.077,-0.00914285714286,4
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,0,2,2,10520,-0.216,-0.211714285714,4
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,0,2,2,10520,-0.22,-0.211714285714,4
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,0,2,2,10520,-0.266,-0.211714285714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,1,NaN,005,-0.006,-0.197,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,3,NaN,006,-0.583,-0.565285714286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,3,NaN,010,-0.267,-0.199142857143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,3,NaN,007,0.237,-0.199142857143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,0,1,1,10810,0.91,0.898,6
540278,13.7851,120.7236,NaN,08,155.6,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540279,24.8189,121.7784,NaN,08,70.3,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540281,13.7483,120.6673,NaN,08,110.0,5.5,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11020,0.91,0.898,6
540286,-2.9655,146.4038,NaN,11,10.0,4.4,2014-12-31,1,0,1,1,11110,0.91,0.898,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,0,1,2,11120,0.91,0.898,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540296,-4.4378,144.002,NaN,11,123.0,5.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540299,43.6052,-105.2467,NaN,12,0.0,3.3,2014-12-31,1,0,1,0,11200,0.91,0.898,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11321,0.91,0.898,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11401,0.91,0.898,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11400,0.91,0.898,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11411,0.91,0.898,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,0,1,2,11420,0.91,0.898,6

In [12]:
df.to_csv('wtemp.csv', index = False)

In [14]:
result = df.copy()
with open('tempsequence.txt', "a") as myfile:
    myfile.write(str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' ' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [32]:
result = df[(df['cluster']== '02') | (df['cluster']== '03') | (df['cluster']== '09') | (df['cluster']== '10') | (df['cluster']== '13') | (df['cluster']== '14') ]

In [33]:
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,3,NaN,010,0.504,0.379833333333,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,1,NaN,002,0.29,0.341375,5
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,0,NaN,010,0.169,-0.148,4
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,0,NaN,010,0.409,0.227714285714,5
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,1,NaN,010,0.179,-0.03825,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,0,NaN,002,-0.401,-0.0492857142857,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,1,NaN,003,0.437,0.326875,5
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,0,NaN,010,-0.149,-0.0368571428571,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,0,NaN,003,-0.038,-0.0368571428571,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,2,NaN,002,-0.097,-0.00914285714286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,3,NaN,010,-0.267,-0.199142857143,4
32,12.422,-86.54,2,14,NaN,NaN,1902-03-31,0,NaN,2,NaN,014,-0.103,-0.247285714286,4
33,-1.408,29.2,0,09,NaN,NaN,1902-04-22,0,NaN,1,NaN,009,-0.684,-0.449125,4
34,14.809,-61.165,4,14,NaN,NaN,1902-04-23,0,NaN,1,NaN,014,-0.827,-0.449125,4
35,-7.3,109.992,1,10,NaN,NaN,1902-05-01,0,NaN,3,NaN,010,-0.419,-0.268833333333,4
36,13.33,-61.18,4,14,NaN,NaN,1902-05-06,0,NaN,3,NaN,014,-0.325,-0.268833333333,4
37,38.65,-28.08,0,09,NaN,NaN,1902-05-07,0,NaN,3,NaN,009,-0.286,-0.268833333333,4
38,13.813,-89.633,2,14,NaN,NaN,1902-05-10,0,NaN,0,NaN,014,-0.635,-0.441,4
42,11.984,-86.161,2,14,NaN,NaN,1902-07-15,0,NaN,1,NaN,014,0.045,-0.108,4
45,-21.244,55.708,2,02,NaN,NaN,1902-08-13,0,NaN,1,NaN,002,-0.567,-0.505125,4
46,14.756,-91.552,6,14,NaN,NaN,1902-10-24,0,NaN,3,NaN,014,-0.433,-0.769428571429,4
48,64.416,-17.316,4,09,NaN,NaN,1902-12-01,0,NaN,0,NaN,009,-1.541,-1.56028571429,4
49,64.633,-17.516,2,09,NaN,NaN,1902-12-01,0,NaN,0,NaN,009,-1.541,-1.56028571429,4
50,-7.542,110.442,2,10,NaN,NaN,1902-12-01,0,NaN,0,NaN,010,-1.541,-1.56028571429,4
51,-77.53,167.17,0,02,NaN,NaN,1903-01-01,0,NaN,0,NaN,002,0.094,0.196142857143,5
56,-8.108,112.92,2,10,NaN,NaN,1903-03-26,0,NaN,3,NaN,010,-0.398,-0.536571428571,4
59,-38.692,-71.729,2,03,NaN,NaN,1903-05-12,0,NaN,1,NaN,003,-0.388,-0.231875,4
63,-0.677,-78.436,3,14,NaN,NaN,1903-09-26,0,NaN,0,NaN,014,-0.671,-0.598571428571,4
64,-7.3,109.992,2,10,NaN,NaN,1903-10-17,0,NaN,3,NaN,010,-0.621,-0.485666666667,4
65,13.813,-89.633,2,14,NaN,NaN,1903-11-01,0,NaN,1,NaN,014,-0.178,-0.253125,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540193,12.817,-88.558,NaN,14,35.0,4.3,2014-12-29,1,0,0,1,11410,0.901,1.28185714286,7
540205,-9.3419,-75.086,NaN,03,121.21,4.0,2014-12-30,1,1,1,1,10311,0.886,0.898,6
540206,-22.612,-70.326,NaN,03,41.8,4.2,2014-12-30,1,0,1,1,10310,0.886,0.898,6
540207,-36.057,-70.9,NaN,03,163.0,4.0,2014-12-30,1,1,1,1,10311,0.886,0.898,6
540208,-17.812,-69.0737,NaN,03,159.41,4.0,2014-12-30,1,1,1,1,10311,0.886,0.898,6
540232,64.4784,-17.6649,NaN,09,7.91,4.6,2014-12-30,1,0,1,2,10920,0.886,0.898,6
540233,64.628,-17.7035,NaN,09,8.9,5.0,2014-12-30,1,0,1,2,10920,0.886,0.898,6
540234,2.6841,95.967,NaN,10,29.04,4.2,2014-12-30,1,0,1,1,11010,0.886,0.898,6
540250,28.5951,51.8357,NaN,13,10.0,3.9,2014-12-30,1,0,1,0,11300,0.886,0.898,6
540251,28.729,51.893,NaN,13,7.1,4.4,2014-12-30,1,0,1,1,11310,0.886,0.898,6
540252,28.752,51.865,NaN,13,18.0,4.4,2014-12-30,1,0,1,1,11310,0.886,0.898,6
540253,28.44,51.84,NaN,13,28.0,5.3,2014-12-30,1,0,1,2,11320,0.886,0.898,6
540254,19.0853,-65.2837,NaN,14,60.97,3.1,2014-12-30,1,0,1,0,11400,0.886,0.898,6
540255,18.9838,-65.329,NaN,14,29.68,3.0,2014-12-30,1,0,1,0,11400,0.886,0.898,6
540256,18.918,-65.2693,NaN,14,28.31,3.1,2014-12-30,1,0,1,0,11400,0.886,0.898,6
540257,13.139,-89.276,NaN,14,50.1,4.3,2014-12-30,1,0,1,1,11410,0.886,0.898,6
540262,-10.0274,33.8632,NaN,02,14.93,5.1,2014-12-31,1,0,1,2,10220,0.91,0.898,6
540263,-55.5827,-27.7992,NaN,03,39.31,4.4,2014-12-31,1,0,1,1,10310,0.91,0.898,6
540264,-20.8231,-67.9407,NaN,03,183.72,4.2,2014-12-31,1,1,1,1,10311,0.91,0.898,6
540265,-10.0271,-74.4135,NaN,03,54.53,4.7,2014-12-31,1,0,1,2,10320,0.91,0.898,6
540266,-19.1412,-69.0094,NaN,03,113.09,4.7,2014-12-31,1,1,1,2,10321,0.91,0.898,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11020,0.91,0.898,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11321,0.91,0.898,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11401,0.91,0.898,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11400,0.91,0.898,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11411,0.91,0.898,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,0,1,2,11420,0.91,0.898,6

In [34]:
result.index = range(len(result))
with open('tempsequence3.txt', "a") as myfile:
    myfile.write(str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' ' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [35]:
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,3,NaN,011,-1.193,-1.193,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,2,NaN,007,-1.792,-1.41028571429,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,3,NaN,008,0.054,-0.206166666667,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,3,NaN,010,0.504,0.379833333333,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,1,NaN,002,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,0,NaN,005,-0.372,-0.148,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,0,NaN,010,0.169,-0.148,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,2,NaN,007,-0.322,-0.302714285714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,1,NaN,007,0.211,0.3525,5
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,0,2,2,10520,0.281,0.182857142857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,0,NaN,010,0.409,0.227714285714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,1,NaN,006,-0.41,-0.56075,4
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,0,3,2,10520,-0.871,-0.782,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,1,NaN,010,0.179,-0.03825,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,1,NaN,006,-0.005,-0.03825,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,0,NaN,002,-0.401,-0.0492857142857,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,1,NaN,003,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,3,NaN,006,0.052,-0.109,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,0,NaN,010,-0.149,-0.0368571428571,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,0,NaN,003,-0.038,-0.0368571428571,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,1,NaN,006,-0.084,-0.119,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,2,NaN,002,-0.097,-0.00914285714286,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,2,NaN,007,-0.077,-0.00914285714286,4
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,0,2,2,10520,-0.216,-0.211714285714,4
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,0,2,2,10520,-0.22,-0.211714285714,4
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,0,2,2,10520,-0.266,-0.211714285714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,1,NaN,005,-0.006,-0.197,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,3,NaN,006,-0.583,-0.565285714286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,3,NaN,010,-0.267,-0.199142857143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,3,NaN,007,0.237,-0.199142857143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,0,1,1,10810,0.91,0.898,6
540278,13.7851,120.7236,NaN,08,155.6,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540279,24.8189,121.7784,NaN,08,70.3,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540281,13.7483,120.6673,NaN,08,110.0,5.5,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11020,0.91,0.898,6
540286,-2.9655,146.4038,NaN,11,10.0,4.4,2014-12-31,1,0,1,1,11110,0.91,0.898,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,0,1,2,11120,0.91,0.898,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540296,-4.4378,144.002,NaN,11,123.0,5.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540299,43.6052,-105.2467,NaN,12,0.0,3.3,2014-12-31,1,0,1,0,11200,0.91,0.898,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11321,0.91,0.898,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11401,0.91,0.898,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11400,0.91,0.898,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11411,0.91,0.898,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,0,1,2,11420,0.91,0.898,6

In [5]:
import numpy as np
import pandas as pd
df1 = pd.read_csv('allvolcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
df1['enddate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['End_Month'],row['End_Day'],row['End_Year']), axis = 1)
#print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
for i in (0, len(df1)):
    try:
        df1['enddate'][i] = pd.to_datetime(df1['enddate'][i])
    except:
        ValueError
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = '3'
df1

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,Start_Year_Uncertainty,...,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type,enddate
0,241050,Okataina,14508,Confirmed Eruption,Waimangu Geyser,1,NaN,NaN,1900,NaN,...,11,NaN,1,NaN,-38.12,176.5,11,1900-01-01,3,1904-11-01 00:00:00
1,283110,Asamayama,17762,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,10,NaN,0,NaN,36.406,138.523,7,1900-01-22,3,10/0/1901
2,273030,Mayon,16795,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,3,NaN,6,NaN,13.257,123.685,8,1900-03-01,3,3/6/1900
3,263300,Semeru,13571,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,4,>,11,NaN,-8.108,112.92,10,1900-03-29,3,4/11/1900
4,233020,Fournaise Piton de la,14306,Confirmed Eruption,East of Dolomieu,0,NaN,NaN,1900,NaN,...,5,NaN,30,NaN,-21.244,55.708,2,1900-05-11,3,5/30/1900
5,315020,Wrangell,20412,Confirmed Eruption,NaN,2,?,NaN,1900,NaN,...,NaN,NaN,NaN,NaN,62.006,-144.017,5,1900-06-01,3,nan/nan/nan
6,261230,Dempo,15558,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,6,NaN,4,NaN,-4.03,103.13,10,1900-06-04,3,6/4/1900
7,283170,Adatarayama,17912,Confirmed Eruption,Numanotaira,2,NaN,NaN,1900,NaN,...,7,NaN,17,NaN,37.647,140.281,7,1900-07-17,3,7/17/1900
8,283120,Kusatsu-Shiranesan,17826,Confirmed Eruption,NE part of Yu-gama,1,NaN,NaN,1900,NaN,...,10,NaN,1,NaN,36.618,138.528,7,1900-10-01,3,10/1/1900
9,261230,Dempo,15559,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,10,NaN,27,NaN,-4.03,103.13,10,1900-10-26,3,10/27/1900
10,264030,Rinjani,16213,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1900,NaN,...,12,NaN,2,NaN,-8.42,116.47,6,1900-11-30,3,12/2/1900
11,263300,Semeru,13572,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,1,>,30,NaN,-8.108,112.92,10,1901-01-29,3,1/30/1901
12,266030,Soputan,13584,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,1.112,124.737,6,1901-02-04,3,nan/nan/nan
13,233020,Fournaise Piton de la,14307,Confirmed Eruption,East of Dolomieu,2,NaN,NaN,1901,NaN,...,2,NaN,25,NaN,-21.244,55.708,2,1901-02-21,3,2/25/1901
14,357010,Tupungatito,11894,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,-33.425,-69.797,3,1901-04-01,3,nan/nan/nan
15,265090,Banda Api,16418,Confirmed Eruption,Summit and north flank,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,-4.523,129.881,6,1901-05-18,3,nan/nan/nan
16,263280,Kelut,15952,Confirmed Eruption,NaN,3,NaN,NaN,1901,NaN,...,5,NaN,23,NaN,-7.93,112.308,10,1901-05-22,3,5/23/1901
17,355070,San Pedro,11834,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,8,NaN,0,NaN,-21.88,-68.4,3,1901-05-25,3,8/0/1901
18,264030,Rinjani,16214,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1901,NaN,...,6,NaN,2,NaN,-8.42,116.47,6,1901-06-01,3,6/2/1901
19,233020,Fournaise Piton de la,14308,Confirmed Eruption,NE flank (above Piton de Crac),2,NaN,NaN,1901,NaN,...,7,NaN,6,NaN,-21.244,55.708,2,1901-07-04,3,7/6/1901
20,300100,Avachinsky,19096,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,7,NaN,13,NaN,53.256,158.836,7,1901-07-07,3,7/13/1901
21,313030,Redoubt,20384,Confirmed Eruption,NaN,3,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,60.485,-152.742,5,1902-01-18,3,nan/nan/nan
22,272020,Kanlaon,16727,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,10.412,123.132,6,1902-01-31,3,nan/nan/nan
23,263250,Merapi,15890,Confirmed Eruption,NaN,1,NaN,NaN,1902,NaN,...,2,NaN,3,NaN,-7.542,110.442,10,1902-02-03,3,2/3/1902
24,283110,Asamayama,17763,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,2,NaN,7,NaN,36.406,138.523,7,1902-02-07,3,2/7/1902
25,332010,Kilauea,10071,Confirmed Eruption,Halemaumau,0,NaN,NaN,1902,NaN,...,2,NaN,0,NaN,19.421,-155.287,5,1902-02-14,3,2/0/1902
26,263340,Raung,16120,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,2,>,27,NaN,-8.119,114.056,6,1902-02-16,3,2/27/1902
27,344090,Momotombo,11001,Confirmed Eruption,NaN,2,?,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,12.422,-86.54,14,1902-03-31,3,nan/nan/nan
28,223020,Nyamuragira,14045,Confirmed Eruption,SSE fissure zone,0,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,-1.408,29.2,9,1902-04-22,3,nan/nan/nan
29,360120,Pelee,12430,Confirmed Eruption,Rivi�re Blanche and summit crater,4,NaN,NaN,1902,NaN,...,10,NaN,5,NaN,14.809,-61.165,14,1902-04-23,3,10/5/1905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,290390,Alaid,21096,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,10,NaN,9,NaN,50.861,155.565,7,2015-10-02,3,10/9/2015
3292,357090,Copahue,21098,Confirmed Eruption,Agrio Crater,2,NaN,NaN,2015,NaN,...,3,NaN,26,NaN,-37.856,-71.183,3,2015-10-06,3,3/26/2016
3293,345020,Rincon de la Vieja,22132,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,5,NaN,1,NaN,10.83,-85.324,14,2015-10-17,3,5/1/2016
3294,345070,Turrialba,22109,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,10,NaN,30,NaN,10.025,-83.767,14,2015-10-23,3,10/30/2015
3295,264030,Rinjani,22104,Confirmed Eruption,Barujari crater,2,NaN,NaN,2015,NaN,...,12,NaN,24,NaN,-8.42,116.47,6,2015-10-25,3,12/24/2015
3296,355100,Lascar,22110,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,10,NaN,30,NaN,-23.37,-67.73,3,2015-10-30,3,10/30/2015
3297,263310,Tengger Caldera,22103,Confirmed Eruption,Bromo cone,2,NaN,NaN,2015,NaN,...,5,NaN,24,NaN,-7.942,112.95,10,2015-11-12,3,5/24/2016
3298,261140,Marapi,22111,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,11,NaN,14,NaN,-0.381,100.473,10,2015-11-14,3,11/14/2015
3299,272020,Kanlaon,22106,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,3,NaN,31,NaN,10.412,123.132,6,2015-11-24,3,3/31/2016
3300,344090,Momotombo,22107,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,4,NaN,7,NaN,12.422,-86.54,14,2015-12-01,3,4/7/2016
3301,211060,Etna,22102,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,4,NaN,1,NaN,37.734,15.004,9,2015-12-02,3,4/1/2016
3302,344100,Masaya,22108,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,5,NaN,19,NaN,11.984,-86.161,14,2015-12-11,3,5/19/2016
3303,266030,Soputan,22105,Confirmed Eruption,NaN,3,NaN,NaN,2016,NaN,...,2,NaN,7,NaN,1.112,124.737,6,2016-01-02,3,2/7/2016
3304,357070,Chill�n Nevados de,22119,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,5,NaN,9,NaN,-36.863,-71.377,3,2016-01-08,3,5/9/2016
3305,343100,San Miguel,22117,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,1,NaN,18,NaN,13.434,-88.269,14,2016-01-12,3,1/18/2016
3306,345070,Turrialba,22118,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,6,NaN,2,NaN,10.025,-83.767,14,2016-02-02,3,6/2/2016
3307,290390,Alaid,22116,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,5,NaN,20,NaN,50.861,155.565,7,2016-02-21,3,5/20/2016
3308,273010,Bulusan,22114,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,2,NaN,22,NaN,12.77,124.05,6,2016-02-22,3,2/22/2016
3309,255020,Bagana,22124,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,5,NaN,22,NaN,-6.137,155.196,11,2016-03-03,3,5/22/2016
3310,282110,Asosan,22126,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,4,NaN,16,NaN,32.884,131.104,8,2016-03-04,3,4/16/2016
3311,251020,Manam,22122,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,3,NaN,4,NaN,-4.08,145.037,11,2016-03-04,3,3/4/2016
3312,312030,Pavlof,22129,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,5,NaN,20,NaN,55.417,-161.894,5,2016-03-27,3,5/20/2016
3313,290360,Chikurachki,22127,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,3,NaN,31,NaN,50.324,155.461,7,2016-03-29,3,3/31/2016
3314,261170,Kerinci,22125,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,5,NaN,4,NaN,-1.697,101.264,10,2016-03-31,3,5/4/2016
3315,252010,Langila,22123,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,5,NaN,13,NaN,-5.525,148.42,11,2016-04-02,3,5/13/2016
3316,357120,Villarrica,22134,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,4,NaN,3,NaN,-39.42,-71.93,3,2016-04-03,3,4/3/2016
3317,311240,Cleveland,22128,Confirmed Eruption,NaN,0,NaN,NaN,2016,NaN,...,5,NaN,17,NaN,52.825,-169.944,5,2016-04-16,3,5/17/2016
3318,344020,San Cristobal,22130,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,4,NaN,22,NaN,12.702,-87.004,14,2016-04-22,3,4/22/2016
3319,390080,Bristol Island,22133,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,5,NaN,28,NaN,-59.017,-26.533,3,2016-04-24,3,5/28/2016
3320,241040,White Island,22121,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,4,NaN,27,NaN,-37.52,177.18,11,2016-04-27,3,4/27/2016

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('allquakeswpwt.csv', dtype=object)

In [3]:
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,phase,phaseofmonth,sequence,scale,dep,Date Number,Anomaly,date,pavg,temp
0,05,0.0,57.09,-153.48,8.3,10,10,1900,1,1900-10-10,2,16,10520,2,0,1900.774,0.281,1900-10-10,0.272875,5
1,05,0.0,60.0,-135.0,7.1,18,1,1901,1,1901-01-18,0,26,10520,2,0,1901.048,-0.871,1901-01-18,-0.210833333333,4
2,05,0.0,52.0,-160.0,6.6,30,12,1901,1,1901-12-30,2,18,10520,2,0,1901.996,-0.216,1901-12-30,-0.028375,4
3,05,0.0,51.45,-171.02,7.8,31,12,1901,1,1901-12-31,3,19,10520,2,0,1901.999,-0.22,1901-12-31,0.00371428571429,5
4,05,0.0,52.38,-167.45,7.8,1,1,1902,1,1902-01-01,3,20,10520,2,0,1902.001,-0.266,1902-01-01,0.00371428571429,5
5,05,0.0,50.85,-175.16,7.0,17,1,1903,1,1903-01-17,2,18,10520,2,0,1903.045,0.291,1903-01-17,0.3015,5
6,05,0.0,52.0,175.0,6.8,5,2,1903,1,1903-02-05,1,7,10520,2,0,1903.097,0.027,1903-02-05,0.165428571429,5
7,05,0.0,61.56,-158.54,8.3,2,6,1903,1,1903-06-02,1,6,10520,2,0,1903.418,-0.443,1903-06-02,-0.377428571429,4
8,05,0.0,64.62,-148.23,7.8,27,8,1904,1,1904-08-27,2,15,10520,2,0,1904.654,-0.496,1904-08-27,-0.498625,4
9,05,0.0,50.73,-178.55,7.7,14,2,1905,1,1905-02-14,1,9,10520,2,0,1905.122,-1.446,1905-02-14,-1.38457142857,4
10,05,0.0,51.28,174.83,7.2,22,3,1905,1,1905-03-22,2,15,10520,2,0,1905.221,-0.443,1905-03-22,-0.418625,4
11,07,0.0,52.06,171.45,7.4,15,9,1905,1,1905-09-15,2,15,10720,2,0,1905.705,-0.5,1905-09-15,-0.3215,4
12,05,0.0,53.88,-161.68,7.0,10,12,1905,1,1905-12-10,2,13,10520,2,0,1905.941,-0.626,1905-12-10,-0.4865,4
13,05,0.0,50.77,179.73,8.0,17,8,1906,1,1906-08-17,0,26,10520,2,0,1906.626,0.081,1906-08-17,-0.201428571429,4
14,05,0.0,53.0,-165.0,7.6,23,12,1906,1,1906-12-23,1,7,10520,2,0,1906.977,-0.341,1906-12-23,-0.239428571429,4
15,05,120.0,57.0,-161.0,6.5,22,8,1907,1,1907-08-22,2,12,10521,2,1,1907.64,-0.712,1907-08-22,-0.611375,4
16,07,0.0,52.44,170.28,7.7,2,9,1907,1,1907-09-02,3,23,10720,2,0,1907.67,-0.539,1907-09-02,-0.582142857143,4
17,05,25.0,59.0,-141.0,7.1,15,5,1908,1,1908-05-15,2,14,10520,2,0,1908.37,-0.145,1908-05-15,-0.077625,4
18,05,0.0,52.0,175.0,7.0,10,4,1909,1,1909-04-10,3,19,10520,2,0,1909.273,-0.934,1909-04-10,-0.837285714286,4
19,05,90.0,52.5,-169.0,7.4,8,9,1909,1,1909-09-08,3,23,10521,2,1,1909.686,-0.033,1909-09-08,-0.161142857143,4
20,05,0.0,60.0,-149.5,7.4,19,9,1909,1,1909-09-19,1,4,10520,2,0,1909.716,-0.293,1909-09-19,-0.391142857143,4
21,05,100.0,57.0,-160.0,6.7,13,5,1910,1,1910-05-13,0,3,10521,2,1,1910.363,-0.382,1910-05-13,-0.18925,4
22,00,NaN,42.0,-127.0,6.8,5,8,1910,1,1910-08-05,0,29,1002,2,NaN,1910.593,-0.456,1910-08-05,-0.298285714286,4
23,05,25.0,50.75,179.38,7.3,9,9,1910,1,1910-09-09,1,5,10520,2,0,1910.689,-0.456,1910-09-09,-0.544285714286,4
24,05,0.0,53.0,-135.0,6.8,6,11,1910,1,1910-11-06,0,3,10520,2,0,1910.848,-0.795,1910-11-06,-0.806875,4
25,00,NaN,37.25,-121.75,6.6,1,7,1911,1,1911-07-01,1,4,1002,2,NaN,1911.497,-0.319,1911-07-01,-0.138142857143,4
26,05,0.0,51.0,180.0,7.1,17,9,1911,1,1911-09-17,3,23,10520,2,0,1911.711,-0.506,1911-09-17,-0.485428571429,4
27,05,60.0,60.5,-149.0,6.9,22,9,1911,1,1911-09-22,0,28,10520,2,0,1911.725,-0.489,1911-09-22,-0.510333333333,4
28,07,0.0,52.0,173.0,7.0,13,11,1911,1,1911-11-13,3,21,10720,2,0,1911.867,-0.921,1911-11-13,-0.745285714286,4
29,05,25.0,52.0,-179.0,7.1,4,1,1912,1,1912-01-04,2,14,10520,2,0,1912.01,-0.46,1912-01-04,-0.7875,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591173,07,22.07,42.8132,146.3293,4.8,31,12,2014,1,2014-12-31,1,8,10720,2,0,2014.999,0.91,2014-12-31,0.995,6
591174,07,89.64,35.7823,139.9016,4.5,31,12,2014,1,2014-12-31,1,8,10721,2,1,2014.999,0.91,2014-12-31,0.995,6
591175,08,5.02,24.5055,127.8361,4.4,31,12,2014,1,2014-12-31,1,8,10810,1,0,2014.999,0.91,2014-12-31,0.995,6
591176,08,155.6,13.7851,120.7236,4.6,31,12,2014,1,2014-12-31,1,8,10821,2,1,2014.999,0.91,2014-12-31,0.995,6
591177,08,70.3,24.8189,121.7784,4.6,31,12,2014,1,2014-12-31,1,8,10821,2,1,2014.999,0.91,2014-12-31,0.995,6
591178,08,103.89,24.6707,122.5575,5.2,31,12,2014,1,2014-12-31,1,8,10821,2,1,2014.999,0.91,2014-12-31,0.995,6
591179,08,110.0,13.7483,120.6673,5.5,31,12,2014,1,2014-12-31,1,8,10821,2,1,2014.999,0.91,2014-12-31,0.995,6
591180,09,8.84,64.73,-17.0797,4.4,31,12,2014,1,2014-12-31,1,8,10910,1,0,2014.999,0.91,2014-12-31,0.995,6
591181,09,21.74,34.2103,24.9872,4.1,31,12,2014,1,2014-12-31,1,8,10910,1,0,2014.999,0.91,2014-12-31,0.995,6
591182,09,20.0,38.19,22.51,4.3,31,12,2014,1,2014-12-31,1,8,10910,1,0,2014.999,0.91,2014-12-31,0.995,6
591183,10,57.44,21.9688,93.3698,4.5,31,12,2014,1,2014-12-31,1,8,11020,2,0,2014.999,0.91,2014-12-31,0.995,6
591184,11,10.0,-2.9655,146.4038,4.4,31,12,2014,1,2014-12-31,1,8,11110,1,0,2014.999,0.91,2014-12-31,0.995,6
591185,11,600.94,-20.2064,-178.4648,4.2,31,12,2014,1,2014-12-31,1,8,11112,1,2,2014.999,0.91,2014-12-31,0.995,6
591186,11,382.41,-19.5474,-177.5575,4.4,31,12,2014,1,2014-12-31,1,8,11112,1,2,2014.999,0.91,2014-12-31,0.995,6
591187,11,597.88,-20.2373,-178.5624,4.3,31,12,2014,1,2014-12-31,1,8,11112,1,2,2014.999,0.91,2014-12-31,0.995,6
591188,11,54.35,-5.5013,151.8625,4.9,31,12,2014,1,2014-12-31,1,8,11120,2,0,2014.999,0.91,2014-12-31,0.995,6
591189,11,80.26,-18.0115,-172.8369,4.5,31,12,2014,1,2014-12-31,1,8,11121,2,1,2014.999,0.91,2014-12-31,0.995,6
591190,11,75.39,-27.6109,-177.1158,4.8,31,12,2014,1,2014-12-31,1,8,11121,2,1,2014.999,0.91,2014-12-31,0.995,6
591191,11,129.11,-30.874,-178.6059,4.6,31,12,2014,1,2014-12-31,1,8,11121,2,1,2014.999,0.91,2014-12-31,0.995,6
591192,11,123.0,-4.4378,144.002,5.8,31,12,2014,1,2014-12-31,1,8,11121,2,1,2014.999,0.91,2014-12-31,0.995,6
591193,11,575.16,-17.6985,-178.7652,5.0,31,12,2014,1,2014-12-31,1,8,11122,2,2,2014.999,0.91,2014-12-31,0.995,6
591194,11,605.82,-20.3096,-178.5461,5.4,31,12,2014,1,2014-12-31,1,8,11122,2,2,2014.999,0.91,2014-12-31,0.995,6
591195,11,608.91,-25.4948,178.2221,5.1,31,12,2014,1,2014-12-31,1,8,11122,2,2,2014.999,0.91,2014-12-31,0.995,6
591196,11,589.53,-20.3616,-178.5093,4.7,31,12,2014,1,2014-12-31,1,8,11122,2,2,2014.999,0.91,2014-12-31,0.995,6
591197,12,0.0,43.6052,-105.2467,3.3,31,12,2014,1,2014-12-31,1,8,11200,0,0,2014.999,0.91,2014-12-31,0.995,6
591198,13,119.48,37.9736,72.6023,4.7,31,12,2014,1,2014-12-31,1,8,11321,2,1,2014.999,0.91,2014-12-31,0.995,6
591199,14,39.16,19.0253,-68.507,3.2,31,12,2014,1,2014-12-31,1,8,11400,0,0,2014.999,0.91,2014-12-31,0.995,6
591200,14,91.36,18.7194,-68.9044,3.6,31,12,2014,1,2014-12-31,1,8,11401,0,1,2014.999,0.91,2014-12-31,0.995,6
591201,14,92.26,-3.0515,-79.4612,4.4,31,12,2014,1,2014-12-31,1,8,11411,1,1,2014.999,0.91,2014-12-31,0.995,6
591202,14,10.0,5.9469,-32.9872,4.7,31,12,2014,1,2014-12-31,1,8,11420,2,0,2014.999,0.91,2014-12-31,0.995,6

In [4]:
result = df.copy()
with open('etempsequence.txt', "a") as myfile:
    myfile.write(str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' ' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')