In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('wtemp.csv', dtype=object)
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,3,NaN,3,NaN,311,-1.193,-1.193,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,3,NaN,2,NaN,307,-1.792,-1.41028571429,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,3,NaN,3,NaN,308,0.054,-0.206166666667,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,3,NaN,3,NaN,310,0.504,0.379833333333,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,3,NaN,1,NaN,302,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,3,NaN,0,NaN,305,-0.372,-0.148,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,3,NaN,0,NaN,310,0.169,-0.148,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,3,NaN,2,NaN,307,-0.322,-0.302714285714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,3,NaN,1,NaN,307,0.211,0.3525,5
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,0,2,2,10520,0.281,0.182857142857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,3,NaN,0,NaN,310,0.409,0.227714285714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,3,NaN,1,NaN,306,-0.41,-0.56075,4
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,0,3,2,10520,-0.871,-0.782,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,3,NaN,1,NaN,310,0.179,-0.03825,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,3,NaN,1,NaN,306,-0.005,-0.03825,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,3,NaN,0,NaN,302,-0.401,-0.0492857142857,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,3,NaN,1,NaN,303,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,3,NaN,3,NaN,306,0.052,-0.109,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,3,NaN,0,NaN,310,-0.149,-0.0368571428571,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,3,NaN,0,NaN,303,-0.038,-0.0368571428571,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,3,NaN,1,NaN,306,-0.084,-0.119,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,3,NaN,2,NaN,302,-0.097,-0.00914285714286,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,3,NaN,2,NaN,307,-0.077,-0.00914285714286,4
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,0,2,2,10520,-0.216,-0.211714285714,4
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,0,2,2,10520,-0.22,-0.211714285714,4
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,0,2,2,10520,-0.266,-0.211714285714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,3,NaN,1,NaN,305,-0.006,-0.197,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,3,NaN,3,NaN,306,-0.583,-0.565285714286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,3,NaN,3,NaN,310,-0.267,-0.199142857143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,3,NaN,3,NaN,307,0.237,-0.199142857143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,0,1,1,10810,0.91,0.898,6
540278,13.7851,120.7236,NaN,08,155.6,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540279,24.8189,121.7784,NaN,08,70.3,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540281,13.7483,120.6673,NaN,08,110.0,5.5,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11020,0.91,0.898,6
540286,-2.9655,146.4038,NaN,11,10.0,4.4,2014-12-31,1,0,1,1,11110,0.91,0.898,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,0,1,2,11120,0.91,0.898,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540296,-4.4378,144.002,NaN,11,123.0,5.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540299,43.6052,-105.2467,NaN,12,0.0,3.3,2014-12-31,1,0,1,0,11200,0.91,0.898,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11321,0.91,0.898,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11401,0.91,0.898,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11400,0.91,0.898,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11411,0.91,0.898,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,0,1,2,11420,0.91,0.898,6

In [7]:
dff = df.copy()

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,3,NaN,3,NaN,311,-1.193,-1.193,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,3,NaN,2,NaN,307,-1.792,-1.41028571429,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,3,NaN,3,NaN,308,0.054,-0.206166666667,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,3,NaN,3,NaN,310,0.504,0.379833333333,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,3,NaN,1,NaN,302,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,3,NaN,0,NaN,305,-0.372,-0.148,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,3,NaN,0,NaN,310,0.169,-0.148,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,3,NaN,2,NaN,307,-0.322,-0.302714285714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,3,NaN,1,NaN,307,0.211,0.3525,5
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,0,2,2,10520,0.281,0.182857142857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,3,NaN,0,NaN,310,0.409,0.227714285714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,3,NaN,1,NaN,306,-0.41,-0.56075,4
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,0,3,2,10520,-0.871,-0.782,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,3,NaN,1,NaN,310,0.179,-0.03825,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,3,NaN,1,NaN,306,-0.005,-0.03825,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,3,NaN,0,NaN,302,-0.401,-0.0492857142857,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,3,NaN,1,NaN,303,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,3,NaN,3,NaN,306,0.052,-0.109,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,3,NaN,0,NaN,310,-0.149,-0.0368571428571,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,3,NaN,0,NaN,303,-0.038,-0.0368571428571,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,3,NaN,1,NaN,306,-0.084,-0.119,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,3,NaN,2,NaN,302,-0.097,-0.00914285714286,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,3,NaN,2,NaN,307,-0.077,-0.00914285714286,4
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,0,2,2,10520,-0.216,-0.211714285714,4
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,0,2,2,10520,-0.22,-0.211714285714,4
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,0,2,2,10520,-0.266,-0.211714285714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,3,NaN,1,NaN,305,-0.006,-0.197,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,3,NaN,3,NaN,306,-0.583,-0.565285714286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,3,NaN,3,NaN,310,-0.267,-0.199142857143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,3,NaN,3,NaN,307,0.237,-0.199142857143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,0,1,1,10810,0.91,0.898,6
540278,13.7851,120.7236,NaN,08,155.6,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540279,24.8189,121.7784,NaN,08,70.3,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540281,13.7483,120.6673,NaN,08,110.0,5.5,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11020,0.91,0.898,6
540286,-2.9655,146.4038,NaN,11,10.0,4.4,2014-12-31,1,0,1,1,11110,0.91,0.898,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,0,1,2,11120,0.91,0.898,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540296,-4.4378,144.002,NaN,11,123.0,5.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540299,43.6052,-105.2467,NaN,12,0.0,3.3,2014-12-31,1,0,1,0,11200,0.91,0.898,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11321,0.91,0.898,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11401,0.91,0.898,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11400,0.91,0.898,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11411,0.91,0.898,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,0,1,2,11420,0.91,0.898,6

In [8]:
df = dff[dff['type'] == '1']
result = df[(df['cluster']== '01') | (df['cluster']== '03') | (df['cluster']== '04') | (df['cluster']== '06') | (df['cluster']== '07') | (df['cluster']== '08')| (df['cluster']== '10')| (df['cluster']== '11')] 
result.index = range(len(result))
with open('tempsequence1.txt', "a") as myfile:
    myfile.write(str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' -1 ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' -1 ' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [9]:

result = df[(df['cluster']== '00') | (df['cluster']== '03') | (df['cluster']== '04') | (df['cluster']== '05') | (df['cluster']== '12') | (df['cluster']== '14')] 
result.index = range(len(result))
with open('tempsequence2.txt', "a") as myfile:
    myfile.write(str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' -1 ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' -1 ' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [11]:
result = df[(df['cluster']== '02') | (df['cluster']== '03') | (df['cluster']== '09') | (df['cluster']== '10') | (df['cluster']== '13') | (df['cluster']== '14')] 
result.index = range(len(result))
with open('tempsequence.txt', "a") as myfile:
    myfile.write(str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' -1 ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' -1 ' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [5]:
df['temp'] = ''
df['pavg'] = pd.to_numeric(df['pavg'])
df['temp'][df['pavg'] < 0] = 4
df['temp'][(df['pavg']>=0) & (df['pavg']<0.5)] = 5
df['temp'][(df['pavg']>=0.5) & (df['pavg']<1)] = 6
df['temp'][df['pavg']>=1] = 7
df

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,3,NaN,011,-1.193,-1.193000,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,2,NaN,007,-1.792,-1.410286,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,3,NaN,008,0.054,-0.206167,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,3,NaN,010,0.504,0.379833,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,1,NaN,002,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,0,NaN,005,-0.372,-0.148000,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,0,NaN,010,0.169,-0.148000,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,2,NaN,007,-0.322,-0.302714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,1,NaN,007,0.211,0.352500,5
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,2,2,2,10522,0.281,0.182857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,0,NaN,010,0.409,0.227714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,1,NaN,006,-0.41,-0.560750,4
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,2,3,2,10522,-0.871,-0.782000,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,1,NaN,010,0.179,-0.038250,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,1,NaN,006,-0.005,-0.038250,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,0,NaN,002,-0.401,-0.049286,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,1,NaN,003,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,3,NaN,006,0.052,-0.109000,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,0,NaN,010,-0.149,-0.036857,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,0,NaN,003,-0.038,-0.036857,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,1,NaN,006,-0.084,-0.119000,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,2,NaN,002,-0.097,-0.009143,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,2,NaN,007,-0.077,-0.009143,4
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,2,2,2,10522,-0.216,-0.211714,4
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,2,2,2,10522,-0.22,-0.211714,4
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,2,2,2,10522,-0.266,-0.211714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,1,NaN,005,-0.006,-0.197000,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,3,NaN,006,-0.583,-0.565286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,3,NaN,010,-0.267,-0.199143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,3,NaN,007,0.237,-0.199143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,2,1,2,10722,0.91,0.898000,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,2,1,2,10722,0.91,0.898000,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,2,1,1,10812,0.91,0.898000,6
540278,13.7851,120.7236,NaN,08,155.6,4.6,2014-12-31,1,2,1,2,10822,0.91,0.898000,6
540279,24.8189,121.7784,NaN,08,70.3,4.6,2014-12-31,1,2,1,2,10822,0.91,0.898000,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,2,1,2,10822,0.91,0.898000,6
540281,13.7483,120.6673,NaN,08,110.0,5.5,2014-12-31,1,2,1,2,10822,0.91,0.898000,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,2,1,1,10912,0.91,0.898000,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,2,1,1,10912,0.91,0.898000,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,2,1,1,10912,0.91,0.898000,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,2,1,2,11022,0.91,0.898000,6
540286,-2.9655,146.4038,NaN,11,10.0,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540296,-4.4378,144.002,NaN,11,123.0,5.8,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540299,43.6052,-105.2467,NaN,12,0.0,3.3,2014-12-31,1,2,1,0,11202,0.91,0.898000,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,2,1,2,11322,0.91,0.898000,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,2,1,0,11402,0.91,0.898000,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,2,1,0,11402,0.91,0.898000,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,2,1,1,11412,0.91,0.898000,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,2,1,2,11422,0.91,0.898000,6

In [6]:
df['depth'] = pd.to_numeric(df['depth'])
df['dep'] = ''
df['dep'][df['depth']<70] = '0'
df['dep'][(df['depth']>= 70)&(df['depth']<300)] = '1'
df['dep'][df['depth']>=300] = '2'
df

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,,3,NaN,011,-1.193,-1.193000,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,,2,NaN,007,-1.792,-1.410286,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,,3,NaN,008,0.054,-0.206167,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,,3,NaN,010,0.504,0.379833,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,,1,NaN,002,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,,0,NaN,005,-0.372,-0.148000,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,,0,NaN,010,0.169,-0.148000,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,,2,NaN,007,-0.322,-0.302714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,,1,NaN,007,0.211,0.352500,5
9,57.09,-153.48,NaN,05,0.00,8.3,1900-10-10,1,0,2,2,10522,0.281,0.182857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,,0,NaN,010,0.409,0.227714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,,1,NaN,006,-0.41,-0.560750,4
12,60.0,-135.0,NaN,05,0.00,7.1,1901-01-18,1,0,3,2,10522,-0.871,-0.782000,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,,1,NaN,010,0.179,-0.038250,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,,1,NaN,006,-0.005,-0.038250,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,,0,NaN,002,-0.401,-0.049286,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,,1,NaN,003,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,,3,NaN,006,0.052,-0.109000,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,,0,NaN,010,-0.149,-0.036857,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,,0,NaN,003,-0.038,-0.036857,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,,1,NaN,006,-0.084,-0.119000,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,,2,NaN,002,-0.097,-0.009143,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,,2,NaN,007,-0.077,-0.009143,4
23,52.0,-160.0,NaN,05,0.00,6.6,1901-12-30,1,0,2,2,10522,-0.216,-0.211714,4
24,51.45,-171.02,NaN,05,0.00,7.8,1901-12-31,1,0,2,2,10522,-0.22,-0.211714,4
25,52.38,-167.45,NaN,05,0.00,7.8,1902-01-01,1,0,2,2,10522,-0.266,-0.211714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,,1,NaN,005,-0.006,-0.197000,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,,3,NaN,006,-0.583,-0.565286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,,3,NaN,010,-0.267,-0.199143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,,3,NaN,007,0.237,-0.199143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,0,1,2,10722,0.91,0.898000,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,0,1,2,10722,0.91,0.898000,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,0,1,1,10812,0.91,0.898000,6
540278,13.7851,120.7236,NaN,08,155.60,4.6,2014-12-31,1,1,1,2,10822,0.91,0.898000,6
540279,24.8189,121.7784,NaN,08,70.30,4.6,2014-12-31,1,1,1,2,10822,0.91,0.898000,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,1,1,2,10822,0.91,0.898000,6
540281,13.7483,120.6673,NaN,08,110.00,5.5,2014-12-31,1,1,1,2,10822,0.91,0.898000,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10912,0.91,0.898000,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10912,0.91,0.898000,6
540284,38.19,22.51,NaN,09,20.00,4.3,2014-12-31,1,0,1,1,10912,0.91,0.898000,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11022,0.91,0.898000,6
540286,-2.9655,146.4038,NaN,11,10.00,4.4,2014-12-31,1,0,1,1,11112,0.91,0.898000,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898000,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,0,1,2,11122,0.91,0.898000,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,1,1,2,11122,0.91,0.898000,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,1,1,2,11122,0.91,0.898000,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,1,1,2,11122,0.91,0.898000,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540296,-4.4378,144.002,NaN,11,123.00,5.8,2014-12-31,1,1,1,2,11122,0.91,0.898000,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898000,6
540299,43.6052,-105.2467,NaN,12,0.00,3.3,2014-12-31,1,0,1,0,11202,0.91,0.898000,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11322,0.91,0.898000,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11402,0.91,0.898000,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11402,0.91,0.898000,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11412,0.91,0.898000,6
540304,5.9469,-32.9872,NaN,14,10.00,4.7,2014-12-31,1,0,1,2,11422,0.91,0.898000,6

In [9]:
df = df.fillna('')
df['sequence'] = ''
df['sequence'] = df['type'] + df['cluster'] + df['scale'] + df['dep']

In [28]:
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,3,NaN,011,-1.193,-1.193,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,2,NaN,007,-1.792,-1.41028571429,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,3,NaN,008,0.054,-0.206166666667,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,3,NaN,010,0.504,0.379833333333,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,1,NaN,002,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,0,NaN,005,-0.372,-0.148,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,0,NaN,010,0.169,-0.148,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,2,NaN,007,-0.322,-0.302714285714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,1,NaN,007,0.211,0.3525,5
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,0,2,2,10520,0.281,0.182857142857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,0,NaN,010,0.409,0.227714285714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,1,NaN,006,-0.41,-0.56075,4
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,0,3,2,10520,-0.871,-0.782,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,1,NaN,010,0.179,-0.03825,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,1,NaN,006,-0.005,-0.03825,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,0,NaN,002,-0.401,-0.0492857142857,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,1,NaN,003,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,3,NaN,006,0.052,-0.109,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,0,NaN,010,-0.149,-0.0368571428571,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,0,NaN,003,-0.038,-0.0368571428571,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,1,NaN,006,-0.084,-0.119,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,2,NaN,002,-0.097,-0.00914285714286,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,2,NaN,007,-0.077,-0.00914285714286,4
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,0,2,2,10520,-0.216,-0.211714285714,4
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,0,2,2,10520,-0.22,-0.211714285714,4
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,0,2,2,10520,-0.266,-0.211714285714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,1,NaN,005,-0.006,-0.197,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,3,NaN,006,-0.583,-0.565285714286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,3,NaN,010,-0.267,-0.199142857143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,3,NaN,007,0.237,-0.199142857143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,0,1,1,10810,0.91,0.898,6
540278,13.7851,120.7236,NaN,08,155.6,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540279,24.8189,121.7784,NaN,08,70.3,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540281,13.7483,120.6673,NaN,08,110.0,5.5,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11020,0.91,0.898,6
540286,-2.9655,146.4038,NaN,11,10.0,4.4,2014-12-31,1,0,1,1,11110,0.91,0.898,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,0,1,2,11120,0.91,0.898,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540296,-4.4378,144.002,NaN,11,123.0,5.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540299,43.6052,-105.2467,NaN,12,0.0,3.3,2014-12-31,1,0,1,0,11200,0.91,0.898,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11321,0.91,0.898,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11401,0.91,0.898,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11400,0.91,0.898,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11411,0.91,0.898,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,0,1,2,11420,0.91,0.898,6

In [12]:
df.to_csv('wtemp.csv', index = False)

In [14]:
result = df.copy()
with open('tempsequence.txt', "a") as myfile:
    myfile.write(str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' ' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [32]:
result = df[(df['cluster']== '02') | (df['cluster']== '03') | (df['cluster']== '09') | (df['cluster']== '10') | (df['cluster']== '13') | (df['cluster']== '14') ]

In [33]:
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,3,NaN,010,0.504,0.379833333333,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,1,NaN,002,0.29,0.341375,5
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,0,NaN,010,0.169,-0.148,4
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,0,NaN,010,0.409,0.227714285714,5
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,1,NaN,010,0.179,-0.03825,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,0,NaN,002,-0.401,-0.0492857142857,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,1,NaN,003,0.437,0.326875,5
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,0,NaN,010,-0.149,-0.0368571428571,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,0,NaN,003,-0.038,-0.0368571428571,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,2,NaN,002,-0.097,-0.00914285714286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,3,NaN,010,-0.267,-0.199142857143,4
32,12.422,-86.54,2,14,NaN,NaN,1902-03-31,0,NaN,2,NaN,014,-0.103,-0.247285714286,4
33,-1.408,29.2,0,09,NaN,NaN,1902-04-22,0,NaN,1,NaN,009,-0.684,-0.449125,4
34,14.809,-61.165,4,14,NaN,NaN,1902-04-23,0,NaN,1,NaN,014,-0.827,-0.449125,4
35,-7.3,109.992,1,10,NaN,NaN,1902-05-01,0,NaN,3,NaN,010,-0.419,-0.268833333333,4
36,13.33,-61.18,4,14,NaN,NaN,1902-05-06,0,NaN,3,NaN,014,-0.325,-0.268833333333,4
37,38.65,-28.08,0,09,NaN,NaN,1902-05-07,0,NaN,3,NaN,009,-0.286,-0.268833333333,4
38,13.813,-89.633,2,14,NaN,NaN,1902-05-10,0,NaN,0,NaN,014,-0.635,-0.441,4
42,11.984,-86.161,2,14,NaN,NaN,1902-07-15,0,NaN,1,NaN,014,0.045,-0.108,4
45,-21.244,55.708,2,02,NaN,NaN,1902-08-13,0,NaN,1,NaN,002,-0.567,-0.505125,4
46,14.756,-91.552,6,14,NaN,NaN,1902-10-24,0,NaN,3,NaN,014,-0.433,-0.769428571429,4
48,64.416,-17.316,4,09,NaN,NaN,1902-12-01,0,NaN,0,NaN,009,-1.541,-1.56028571429,4
49,64.633,-17.516,2,09,NaN,NaN,1902-12-01,0,NaN,0,NaN,009,-1.541,-1.56028571429,4
50,-7.542,110.442,2,10,NaN,NaN,1902-12-01,0,NaN,0,NaN,010,-1.541,-1.56028571429,4
51,-77.53,167.17,0,02,NaN,NaN,1903-01-01,0,NaN,0,NaN,002,0.094,0.196142857143,5
56,-8.108,112.92,2,10,NaN,NaN,1903-03-26,0,NaN,3,NaN,010,-0.398,-0.536571428571,4
59,-38.692,-71.729,2,03,NaN,NaN,1903-05-12,0,NaN,1,NaN,003,-0.388,-0.231875,4
63,-0.677,-78.436,3,14,NaN,NaN,1903-09-26,0,NaN,0,NaN,014,-0.671,-0.598571428571,4
64,-7.3,109.992,2,10,NaN,NaN,1903-10-17,0,NaN,3,NaN,010,-0.621,-0.485666666667,4
65,13.813,-89.633,2,14,NaN,NaN,1903-11-01,0,NaN,1,NaN,014,-0.178,-0.253125,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540193,12.817,-88.558,NaN,14,35.0,4.3,2014-12-29,1,0,0,1,11410,0.901,1.28185714286,7
540205,-9.3419,-75.086,NaN,03,121.21,4.0,2014-12-30,1,1,1,1,10311,0.886,0.898,6
540206,-22.612,-70.326,NaN,03,41.8,4.2,2014-12-30,1,0,1,1,10310,0.886,0.898,6
540207,-36.057,-70.9,NaN,03,163.0,4.0,2014-12-30,1,1,1,1,10311,0.886,0.898,6
540208,-17.812,-69.0737,NaN,03,159.41,4.0,2014-12-30,1,1,1,1,10311,0.886,0.898,6
540232,64.4784,-17.6649,NaN,09,7.91,4.6,2014-12-30,1,0,1,2,10920,0.886,0.898,6
540233,64.628,-17.7035,NaN,09,8.9,5.0,2014-12-30,1,0,1,2,10920,0.886,0.898,6
540234,2.6841,95.967,NaN,10,29.04,4.2,2014-12-30,1,0,1,1,11010,0.886,0.898,6
540250,28.5951,51.8357,NaN,13,10.0,3.9,2014-12-30,1,0,1,0,11300,0.886,0.898,6
540251,28.729,51.893,NaN,13,7.1,4.4,2014-12-30,1,0,1,1,11310,0.886,0.898,6
540252,28.752,51.865,NaN,13,18.0,4.4,2014-12-30,1,0,1,1,11310,0.886,0.898,6
540253,28.44,51.84,NaN,13,28.0,5.3,2014-12-30,1,0,1,2,11320,0.886,0.898,6
540254,19.0853,-65.2837,NaN,14,60.97,3.1,2014-12-30,1,0,1,0,11400,0.886,0.898,6
540255,18.9838,-65.329,NaN,14,29.68,3.0,2014-12-30,1,0,1,0,11400,0.886,0.898,6
540256,18.918,-65.2693,NaN,14,28.31,3.1,2014-12-30,1,0,1,0,11400,0.886,0.898,6
540257,13.139,-89.276,NaN,14,50.1,4.3,2014-12-30,1,0,1,1,11410,0.886,0.898,6
540262,-10.0274,33.8632,NaN,02,14.93,5.1,2014-12-31,1,0,1,2,10220,0.91,0.898,6
540263,-55.5827,-27.7992,NaN,03,39.31,4.4,2014-12-31,1,0,1,1,10310,0.91,0.898,6
540264,-20.8231,-67.9407,NaN,03,183.72,4.2,2014-12-31,1,1,1,1,10311,0.91,0.898,6
540265,-10.0271,-74.4135,NaN,03,54.53,4.7,2014-12-31,1,0,1,2,10320,0.91,0.898,6
540266,-19.1412,-69.0094,NaN,03,113.09,4.7,2014-12-31,1,1,1,2,10321,0.91,0.898,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11020,0.91,0.898,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11321,0.91,0.898,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11401,0.91,0.898,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11400,0.91,0.898,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11411,0.91,0.898,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,0,1,2,11420,0.91,0.898,6

In [34]:
result.index = range(len(result))
with open('tempsequence3.txt', "a") as myfile:
    myfile.write(str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' ' + result['sequence'][0])
    for x in range(1, len(result['startdate'])):
        #if date is the same from the previous one
        if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] != result['phase'][x]):
                myfile.write(' -1 -2\n' + str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' ' + result['sequence'][x])
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [35]:
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,dep,phase,scale,sequence,Anomaly,pavg,temp
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,3,NaN,011,-1.193,-1.193,4
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,2,NaN,007,-1.792,-1.41028571429,4
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,3,NaN,008,0.054,-0.206166666667,4
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,3,NaN,010,0.504,0.379833333333,5
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,1,NaN,002,0.29,0.341375,5
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,0,NaN,005,-0.372,-0.148,4
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,0,NaN,010,0.169,-0.148,4
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,2,NaN,007,-0.322,-0.302714285714,4
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,1,NaN,007,0.211,0.3525,5
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,0,2,2,10520,0.281,0.182857142857,5
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,0,NaN,010,0.409,0.227714285714,5
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,1,NaN,006,-0.41,-0.56075,4
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,0,3,2,10520,-0.871,-0.782,4
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,1,NaN,010,0.179,-0.03825,4
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,1,NaN,006,-0.005,-0.03825,4
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,0,NaN,002,-0.401,-0.0492857142857,4
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,1,NaN,003,0.437,0.326875,5
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,3,NaN,006,0.052,-0.109,4
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,0,NaN,010,-0.149,-0.0368571428571,4
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,0,NaN,003,-0.038,-0.0368571428571,4
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,1,NaN,006,-0.084,-0.119,4
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,2,NaN,002,-0.097,-0.00914285714286,4
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,2,NaN,007,-0.077,-0.00914285714286,4
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,0,2,2,10520,-0.216,-0.211714285714,4
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,0,2,2,10520,-0.22,-0.211714285714,4
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,0,2,2,10520,-0.266,-0.211714285714,4
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,1,NaN,005,-0.006,-0.197,4
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,3,NaN,006,-0.583,-0.565285714286,4
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,3,NaN,010,-0.267,-0.199142857143,4
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,3,NaN,007,0.237,-0.199142857143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540275,35.8841,141.024,NaN,07,42.81,4.5,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540276,42.8132,146.3293,NaN,07,22.07,4.8,2014-12-31,1,0,1,2,10720,0.91,0.898,6
540277,24.5055,127.8361,NaN,08,5.02,4.4,2014-12-31,1,0,1,1,10810,0.91,0.898,6
540278,13.7851,120.7236,NaN,08,155.6,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540279,24.8189,121.7784,NaN,08,70.3,4.6,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540280,24.6707,122.5575,NaN,08,103.89,5.2,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540281,13.7483,120.6673,NaN,08,110.0,5.5,2014-12-31,1,1,1,2,10821,0.91,0.898,6
540282,64.73,-17.0797,NaN,09,8.84,4.4,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540283,34.2103,24.9872,NaN,09,21.74,4.1,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540284,38.19,22.51,NaN,09,20.0,4.3,2014-12-31,1,0,1,1,10910,0.91,0.898,6
540285,21.9688,93.3698,NaN,10,57.44,4.5,2014-12-31,1,0,1,2,11020,0.91,0.898,6
540286,-2.9655,146.4038,NaN,11,10.0,4.4,2014-12-31,1,0,1,1,11110,0.91,0.898,6
540287,-20.2064,-178.4648,NaN,11,600.94,4.2,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540288,-19.5474,-177.5575,NaN,11,382.41,4.4,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540289,-20.2373,-178.5624,NaN,11,597.88,4.3,2014-12-31,1,2,1,1,11112,0.91,0.898,6
540290,-5.5013,151.8625,NaN,11,54.35,4.9,2014-12-31,1,0,1,2,11120,0.91,0.898,6
540291,-18.0115,-172.8369,NaN,11,80.26,4.5,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540292,-27.6109,-177.1158,NaN,11,75.39,4.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540293,-17.6985,-178.7652,NaN,11,575.16,5.0,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540294,-30.874,-178.6059,NaN,11,129.11,4.6,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540295,-20.3096,-178.5461,NaN,11,605.82,5.4,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540296,-4.4378,144.002,NaN,11,123.0,5.8,2014-12-31,1,1,1,2,11121,0.91,0.898,6
540297,-25.4948,178.2221,NaN,11,608.91,5.1,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540298,-20.3616,-178.5093,NaN,11,589.53,4.7,2014-12-31,1,2,1,2,11122,0.91,0.898,6
540299,43.6052,-105.2467,NaN,12,0.0,3.3,2014-12-31,1,0,1,0,11200,0.91,0.898,6
540300,37.9736,72.6023,NaN,13,119.48,4.7,2014-12-31,1,1,1,2,11321,0.91,0.898,6
540301,18.7194,-68.9044,NaN,14,91.36,3.6,2014-12-31,1,1,1,0,11401,0.91,0.898,6
540302,19.0253,-68.507,NaN,14,39.16,3.2,2014-12-31,1,0,1,0,11400,0.91,0.898,6
540303,-3.0515,-79.4612,NaN,14,92.26,4.4,2014-12-31,1,1,1,1,11411,0.91,0.898,6
540304,5.9469,-32.9872,NaN,14,10.0,4.7,2014-12-31,1,0,1,2,11420,0.91,0.898,6