In [61]:
import numpy as np
import pandas as pd
df = pd.read_csv('volcluster.csv', dtype=object)
df

,Volcano Number,Volcano Name,Eruption Number,Eruption Category,Area of Activity,VEI,VEI Modifier,Start Year Modifier,Start Year,Start Year Uncertainty,...,End Year Modifier,End Year,End Year Uncertainty,End Month,End Day Modifier,End Day,End Day Uncertainty,Latitude,Longitude,cluster
0,345040,Poas,11193,Confirmed Eruption,NaN,1,NaN,NaN,2009,NaN,...,NaN,2014,NaN,10,NaN,31,5,10.2,-84.233,14
1,252010,Langila,15003,Confirmed Eruption,Crater 2,2,NaN,NaN,2009,NaN,...,NaN,2010,NaN,2,?,0,NaN,-5.525,148.42,11
2,243120,Tafu-Maka,14799,Confirmed Eruption,Maka,0,NaN,NaN,2008,NaN,...,NaN,2008,NaN,11,?,0,NaN,-15.37,-174.23,11
3,243130,West Mata,14800,Confirmed Eruption,Prometheus and Hades vents,0,NaN,NaN,2008,NaN,...,NaN,2009,NaN,5,>,0,NaN,-15.1,-173.75,11
4,241130,Rumble III,14676,Confirmed Eruption,NaN,0,NaN,NaN,2008,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-35.745,178.478,11
5,263280,Kelut,15958,Confirmed Eruption,NaN,2,NaN,NaN,2007,NaN,...,NaN,2008,NaN,4,<,0,NaN,-7.93,112.308,10
6,266030,Soputan,16438,Confirmed Eruption,NaN,3,NaN,NaN,2007,NaN,...,NaN,2007,NaN,11,?,9,NaN,1.112,124.737,6
7,222120,Lengai Ol Doinyo,13828,Confirmed Eruption,NaN,3,NaN,NaN,2007,NaN,...,NaN,2010,NaN,10,?,9,1,-2.764,35.914,2
8,300250,Bezymianny,19384,Confirmed Eruption,NaN,3,NaN,NaN,2006,NaN,...,NaN,2006,NaN,12,?,29,NaN,55.972,160.595,7
9,263250,Merapi,15923,Confirmed Eruption,NaN,1,NaN,NaN,2006,NaN,...,NaN,2007,NaN,8,?,9,NaN,-7.542,110.442,10
10,256010,Tinakula,15209,Confirmed Eruption,NaN,2,NaN,NaN,2006,NaN,...,NaN,2007,NaN,11,>,0,NaN,-10.38,165.8,11
11,334050,Unnamed,10346,Confirmed Eruption,East Pacific Rise (9.8 deg N),0,NaN,NaN,2005,NaN,...,NaN,2006,NaN,1,?,0,NaN,9.83,-104.3,0
12,257050,Lopevi,15319,Confirmed Eruption,NaN,2,NaN,NaN,2004,NaN,...,NaN,2004,NaN,9,NaN,0,NaN,-16.507,168.346,11
13,268030,Ibu,16581,Confirmed Eruption,NaN,0,?,NaN,2004,NaN,...,NaN,2005,NaN,2,?,22,NaN,1.488,127.63,6
14,263200,Dieng Volcanic Complex,15791,Confirmed Eruption,Sileri crater,1,?,NaN,2003,NaN,...,NaN,2003,NaN,7,NaN,0,NaN,-7.2,109.92,10
15,244000,Vailulu'u,14803,Confirmed Eruption,West side of caldera (Nafanua),0,NaN,NaN,2003,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-14.215,-169.058,11
16,282060,Kikai,17002,Confirmed Eruption,Iwo-dake,2,NaN,NaN,2003,NaN,...,NaN,2003,NaN,10,NaN,0,NaN,30.789,130.308,8
17,284211,NW Rota-1,18539,Confirmed Eruption,Upper South flank (Brimstone Pit),0,NaN,?,2003,NaN,...,NaN,2010,NaN,3,>,0,NaN,14.601,144.775,1
18,311161,Korovin,19765,Confirmed Eruption,NaN,1,?,NaN,2002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.381,-174.166,5
19,390090,Saunders,13218,Confirmed Eruption,NaN,0,NaN,NaN,2002,NaN,...,NaN,2002,NaN,11,?,0,NaN,-57.8,-26.483,3
20,263340,Raung,16162,Confirmed Eruption,NaN,2,NaN,NaN,2002,NaN,...,NaN,2002,NaN,8,>,25,NaN,-8.119,114.056,6
21,256010,Tinakula,15207,Confirmed Eruption,Upper NW flank,1,NaN,NaN,2002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.38,165.8,11
22,352020,Guagua Pichincha,11498,Confirmed Eruption,NaN,1,?,NaN,2002,NaN,...,NaN,2002,NaN,4,NaN,0,NaN,-0.171,-78.598,14
23,257060,Epi,15331,Confirmed Eruption,NaN,1,?,NaN,2002,NaN,...,NaN,2002,NaN,3,NaN,0,NaN,-16.68,168.37,11
24,211060,Etna,13835,Confirmed Eruption,Central Crater NE Crater,1,NaN,NaN,2001,NaN,...,NaN,2002,NaN,10,?,30,NaN,37.734,15.004,9
25,390090,Saunders,13217,Confirmed Eruption,NaN,0,NaN,NaN,2001,NaN,...,NaN,2001,NaN,11,?,0,NaN,-57.8,-26.483,3
26,282060,Kikai,17000,Confirmed Eruption,Iwo-dake,1,NaN,NaN,2000,NaN,...,NaN,2001,NaN,12,NaN,0,NaN,30.789,130.308,8
27,342110,Pacaya,10763,Confirmed Eruption,MacKenney Crater,1,NaN,NaN,2000,NaN,...,NaN,2001,NaN,7,?,5,NaN,14.381,-90.601,14
28,390090,Saunders,13204,Confirmed Eruption,NaN,0,NaN,NaN,2000,NaN,...,NaN,2001,NaN,1,?,0,NaN,-57.8,-26.483,3
29,354006,Sabancaya,11751,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,2000,NaN,10,>,29,NaN,-15.78,-71.85,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9743,302060,Jom-Bolok,20948,Confirmed Eruption,Jom-Bolok (Atkinson cone),NaN,NaN,NaN,-5180,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.713,99.021,13
9744,290340,Fuss Peak,20886,Confirmed Eruption,NaN,2,?,?,-5250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.267,155.246,7
9745,290340,Fuss Peak,20884,Confirmed Eruption,NaN,3,NaN,NaN,-5340,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.267,155.246,7
9746,351011,Romeral,21077,Confirmed Eruption,NaN,4,P,NaN,-5390,350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.203,-75.363,14
9747,322160,Crater Lake,20610,Confirmed Eruption,Mt. Mazama summit and flank vents,7,NaN,NaN,-5680,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.93,-122.12,0
9748,285011,Esan,20943,Confirmed Eruption,East flank (Misaka lava dome),0,?,NaN,-5770,924,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.805,141.166,7
9749,221113,Dabbahu,20944,Confirmed Eruption,North flank,NaN,NaN,NaN,-5850,4300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.595,40.48,13
9750,341060,Michoacan-Guanajuato,20949,Confirmed Eruption,Cerro Grande?,NaN,NaN,NaN,-5940,335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.85,-101.75,0
9751,358020,Calbuco,20865,Confirmed Eruption,NaN,NaN,NaN,NaN,-6300,1035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-41.326,-72.614,3
9752,290360,Chikurachki,20893,Confirmed Eruption,NaN,4,?,NaN,-6310,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.324,155.461,7
9753,351011,Romeral,11257,Confirmed Eruption,NaN,4,P,NaN,-6510,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.203,-75.363,14
9754,358041,Chaiten,20854,Confirmed Eruption,NaN,NaN,NaN,NaN,-6650,1300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-42.833,-72.646,3
9755,358020,Calbuco,20864,Confirmed Eruption,NaN,4,NaN,NaN,-7550,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-41.326,-72.614,3
9756,290360,Chikurachki,20895,Confirmed Eruption,NaN,2,?,?,-7550,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.324,155.461,7
9757,358020,Calbuco,20863,Confirmed Eruption,NaN,NaN,NaN,NaN,-7930,275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-41.326,-72.614,3
9758,358020,Calbuco,20862,Confirmed Eruption,NaN,NaN,NaN,NaN,-7990,290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-41.326,-72.614,3
9759,360050,Soufri�re Hills,20970,Confirmed Eruption,NaN,NaN,NaN,NaN,-8050,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.72,-62.18,14
9760,282080,Aira,17036,Confirmed Eruption,Wakamiko Caldera,6,NaN,NaN,-8050,1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.593,130.657,8
9761,358020,Calbuco,20861,Confirmed Eruption,NaN,NaN,NaN,NaN,-8100,1300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-41.326,-72.614,3
9762,358020,Calbuco,20860,Confirmed Eruption,NaN,NaN,NaN,NaN,-8210,290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-41.326,-72.614,3
9763,324020,Craters of the Moon,21100,Confirmed Eruption,NaN,0,NaN,NaN,-8290,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.42,-113.5,0
9764,358020,Calbuco,20859,Confirmed Eruption,NaN,NaN,NaN,NaN,-8320,250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-41.326,-72.614,3
9765,358040,Minchinmavida,20855,Confirmed Eruption,NaN,6,NaN,NaN,-8400,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-42.793,-72.439,3
9766,358020,Calbuco,20858,Confirmed Eruption,NaN,5,NaN,NaN,-8460,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-41.326,-72.614,3
9767,290360,Chikurachki,20894,Confirmed Eruption,Lomonosov,NaN,NaN,NaN,-8500,950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.324,155.461,7
9768,324020,Craters of the Moon,21100,Confirmed Eruption,NaN,0,NaN,NaN,-8720,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.42,-113.5,0
9769,324020,Craters of the Moon,21100,Confirmed Eruption,NaN,0,NaN,NaN,-9050,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.42,-113.5,0
9770,290360,Chikurachki,20896,Confirmed Eruption,NaN,2,?,NaN,-9360,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.324,155.461,7
9771,324020,Craters of the Moon,21101,Confirmed Eruption,Sunset cone,0,NaN,NaN,-10060,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.42,-113.5,0
9772,344020,San Cristobal,22131,Confirmed Eruption,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.702,-87.004,14

In [62]:
cols = df.columns
cols = cols.map(lambda x: x.replace(' ', '_') if isinstance(x, (str, unicode)) else x)
df.columns = cols
#replace space with _ in df
df1 = df.query('Start_Year == "2000"')
df1.to_csv('2000volcanoes.csv',index = False)

In [63]:
df = pd.read_csv('earthquakesimplified.csv', dtype=object)
df2 = df.convert_objects(convert_numeric=True).query('startyear == 2000 and mag >= 6')
df2
df2.to_csv('2000magbigger6.csv', index = False)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

In [64]:
df1 = pd.read_csv('2000volcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
#print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = 'V'
df1

,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,Start_Year_Uncertainty,...,End_Year_Uncertainty,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type
4,282060,Kikai,16999,Confirmed Eruption,Iwo-dake,2,?,NaN,2000,NaN,...,NaN,3,NaN,0,NaN,30.789,130.308,8,2000-01-01,V
30,223020,Nyamuragira,14080,Confirmed Eruption,SE flank (Ngerageze),2,?,NaN,2000,NaN,...,NaN,2,>,10,NaN,-1.408,29.2,9,2000-01-27,V
8,300260,Klyuchevskoy,19477,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,2,?,8,NaN,56.056,160.642,7,2000-02-03,V
17,233020,Fournaise Piton de la,14378,Confirmed Eruption,North flank of Dolomieu (2490-2250 m),1,NaN,NaN,2000,NaN,...,NaN,3,NaN,4,NaN,-21.244,55.708,2,2000-02-14,V
26,282030,Suwanosejima,16945,Confirmed Eruption,O-take,2,?,NaN,2000,NaN,...,NaN,2,NaN,24,4,29.638,129.714,8,2000-02-24,V
28,372070,Hekla,12754,Confirmed Eruption,SW flank,3,NaN,NaN,2000,NaN,...,NaN,3,NaN,8,NaN,63.983,-19.666,9,2000-02-26,V
34,255020,Bagana,15139,Confirmed Eruption,NaN,2,NaN,<,2000,NaN,...,NaN,10,NaN,30,NaN,-6.137,155.196,11,2000-02-28,V
10,234010,Heard,14409,Confirmed Eruption,Mawson Peak and upper south flank,2,NaN,NaN,2000,NaN,...,NaN,2,NaN,0,NaN,-53.106,73.513,2,2000-03-07,V
11,241040,White Island,14494,Confirmed Eruption,MH vent,3,?,NaN,2000,NaN,...,NaN,9,NaN,5,4,-37.52,177.18,11,2000-03-07,V
14,261140,Marapi,15477,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,4,>,3,NaN,-0.381,100.473,10,2000-03-11,V
16,300250,Bezymianny,19376,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,3,NaN,26,1,55.972,160.595,7,2000-03-14,V
19,300060,Mutnovsky,18972,Confirmed Eruption,North crater,2,NaN,NaN,2000,NaN,...,NaN,3,NaN,17,NaN,52.449,158.196,7,2000-03-17,V
23,351080,Galeras,11375,Confirmed Eruption,NaN,1,NaN,NaN,2000,NaN,...,NaN,5,NaN,18,NaN,1.22,-77.37,14,2000-03-21,V
38,285030,Toya,18602,Confirmed Eruption,Usu N flank (Kompira-yama & W Nishi-yama),2,NaN,NaN,2000,NaN,...,NaN,9,NaN,15,5,42.544,140.839,7,2000-03-31,V
3,354006,Sabancaya,11751,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,10,>,29,NaN,-15.78,-71.85,3,2000-04-01,V
13,266100,Lokon-Empung,16460,Confirmed Eruption,Tompaluan,2,NaN,NaN,2000,NaN,...,NaN,8,NaN,18,NaN,1.358,124.792,6,2000-05-10,V
15,266030,Soputan,16435,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,9,?,4,NaN,1.112,124.737,6,2000-05-13,V
33,224010,Cameroon,14135,Confirmed Eruption,Upper SW flank (4000 3470-3220 2750 m),2,?,NaN,2000,NaN,...,NaN,9,NaN,15,5,4.203,9.17,9,2000-05-28,V
36,262000,Krakatau,15624,Confirmed Eruption,Anak Krakatau,1,NaN,NaN,2000,NaN,...,NaN,10,?,30,NaN,-6.102,105.423,10,2000-05-29,V
7,251020,Manam,14928,Confirmed Eruption,South Crater,2,NaN,NaN,2000,NaN,...,NaN,6,NaN,4,NaN,-4.08,145.037,11,2000-06-03,V
25,233020,Fournaise Piton de la,14379,Confirmed Eruption,SE flank (2100-1800 m) E flank (2260-2000 m),1,NaN,NaN,2000,NaN,...,NaN,11,NaN,13,NaN,-21.244,55.708,2,2000-06-23,V
29,284040,Miyakejima,18273,Confirmed Eruption,Summit and submarine western flank,3,NaN,NaN,2000,NaN,...,NaN,9,NaN,28,NaN,34.094,139.526,7,2000-06-27,V
37,300060,Mutnovsky,18973,Confirmed Eruption,NaN,1,?,NaN,2000,NaN,...,NaN,6,NaN,30,NaN,52.449,158.196,7,2000-06-30,V
5,357090,Copahue,12011,Confirmed Eruption,Agrio Crater,2,NaN,NaN,2000,NaN,...,NaN,10,NaN,18,NaN,-37.856,-71.183,3,2000-07-01,V
12,263340,Raung,16161,Confirmed Eruption,NaN,2,?,NaN,2000,NaN,...,NaN,NaN,NaN,NaN,NaN,-8.119,114.056,6,2000-07-09,V
18,273030,Mayon,16809,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,8,NaN,31,NaN,13.257,123.685,8,2000-07-16,V
20,300250,Bezymianny,19377,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,11,>,4,NaN,55.972,160.595,7,2000-07-18,V
22,355100,Lascar,11873,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,1,?,18,NaN,-23.37,-67.73,3,2000-07-20,V
32,300260,Klyuchevskoy,19478,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,9,NaN,22,NaN,56.056,160.642,7,2000-07-28,V
2,390090,Saunders,13204,Confirmed Eruption,NaN,0,NaN,NaN,2000,NaN,...,NaN,1,?,0,NaN,-57.8,-26.483,3,2000-08-01,V
1,342110,Pacaya,10763,Confirmed Eruption,MacKenney Crater,1,NaN,NaN,2000,NaN,...,NaN,7,?,5,NaN,14.381,-90.601,14,2000-08-01,V
24,261220,Kaba,15548,Confirmed Eruption,NaN,1,NaN,NaN,2000,NaN,...,NaN,8,?,27,NaN,-3.52,102.62,10,2000-08-22,V
9,285020,Hokkaido-Komagatake,18582,Confirmed Eruption,NaN,1,NaN,NaN,2000,NaN,...,NaN,11,NaN,8,NaN,42.063,140.677,7,2000-09-04,V
31,252120,Ulawun,15063,Confirmed Eruption,NaN,4,NaN,NaN,2000,NaN,...,NaN,11,NaN,1,NaN,-5.05,151.33,11,2000-09-28,V
0,282060,Kikai,17000,Confirmed Eruption,Iwo-dake,1,NaN,NaN,2000,NaN,...,NaN,12,NaN,0,NaN,30.789,130.308,8,2000-10-01,V
6,256010,Tinakula,15206,Confirmed Eruption,NaN,1,?,NaN,2000,NaN,...,NaN,4,?,16,NaN,-10.38,165.8,11,2000-11-02,V
35,263310,Tengger Caldera,16062,Confirmed Eruption,Bromo,2,NaN,NaN,2000,NaN,...,NaN,1,>,15,NaN,-7.942,112.95,10,2000-11-29,V
21,282030,Suwanosejima,16946,Confirmed Eruption,O-take (Upper NE flank),3,?,NaN,2000,NaN,...,NaN,7,?,5,NaN,29.638,129.714,8,2000-12-19,V
27,261030,Peuet Sague,15395,Confirmed Eruption,NaN,2,NaN,NaN,2000,NaN,...,NaN,12,>,26,NaN,4.914,96.329,10,2000-12-25,V

In [65]:
df1.to_csv('2000volcanoes.csv', index = False)

In [66]:
df = pd.read_csv('2000magbigger6.csv', dtype=object)
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
#result['startdate'] = result['startdate'].dt.date
df = df.sort_values(by = ['startdate'])
df

    cluster  mag startday startmonth startyear type  startdate
0        11  6.0        1          1      2000    E 2000-01-01
1        11  6.1        5          1      2000    E 2000-01-05
2         5  6.1        6          1      2000    E 2000-01-06
3         5  6.2        6          1      2000    E 2000-01-06
4         8  6.2        6          1      2000    E 2000-01-06
5        11  6.4        8          1      2000    E 2000-01-08
6         3  6.4        8          1      2000    E 2000-01-08
7        11  7.2        8          1      2000    E 2000-01-08
8        11  6.5        9          1      2000    E 2000-01-09
9        11  6.2       13          1      2000    E 2000-01-13
10       11  6.0       15          1      2000    E 2000-01-15
11       13  6.0       19          1      2000    E 2000-01-19
12        5  6.1       20          1      2000    E 2000-01-20
13       11  6.3       26          1      2000    E 2000-01-26
14        7  6.8       28          1      2000    E 2000-01-28
15        8  6.0       28          1      2000    E 2000-01-28
16       11  6.6        6          2      2000    E 2000-02-06
17        7  6.0       13          2      2000    E 2000-02-13
18       11  7.1       25          2      2000    E 2000-02-25
20       14  6.1       26          2      2000    E 2000-02-26
19        1  6.2       26          2      2000    E 2000-02-26
21       11  6.0       28          2      2000    E 2000-02-28
22        4  6.0       29          2      2000    E 2000-02-29
23       11  6.0       29          2      2000    E 2000-02-29
24        6  6.4        3          3      2000    E 2000-03-03
25       11  6.6        3          3      2000    E 2000-03-03
26       11  6.4        4          3      2000    E 2000-03-04
27       11  6.1        5          3      2000    E 2000-03-05
28       14  6.3       12          3      2000    E 2000-03-12
29        1  7.6       28          3      2000    E 2000-03-28
..      ...  ...      ...        ...       ...  ...        ...
131      11  6.0       16         11      2000    E 2000-11-16
132      11  7.8       16         11      2000    E 2000-11-16
133      11  6.5       16         11      2000    E 2000-11-16
134      11  6.2       16         11      2000    E 2000-11-16
135      11  7.8       17         11      2000    E 2000-11-17
136      11  6.6       18         11      2000    E 2000-11-18
137      11  6.8       18         11      2000    E 2000-11-18
138      11  6.1       18         11      2000    E 2000-11-18
140      11  6.1       19         11      2000    E 2000-11-19
139      11  6.0       19         11      2000    E 2000-11-19
141      11  6.2       21         11      2000    E 2000-11-21
142      11  6.1       21         11      2000    E 2000-11-21
143      11  6.3       23         11      2000    E 2000-11-23
144      13  6.8       25         11      2000    E 2000-11-25
145      13  6.5       25         11      2000    E 2000-11-25
146       3  6.3       29         11      2000    E 2000-11-29
147       0  6.1        4         12      2000    E 2000-12-04
149      11  6.5        6         12      2000    E 2000-12-06
148      13  7.0        6         12      2000    E 2000-12-06
150      14  6.1       12         12      2000    E 2000-12-12
151       9  6.0       15         12      2000    E 2000-12-15
152      11  6.6       18         12      2000    E 2000-12-18
153       1  6.2       19         12      2000    E 2000-12-19
154       3  6.5       20         12      2000    E 2000-12-20
155      11  6.6       20         12      2000    E 2000-12-20
157      11  6.0       21         12      2000    E 2000-12-21
156      11  6.4       21         12      2000    E 2000-12-21
158       7  6.2       22         12      2000    E 2000-12-22
159       6  6.0       23         12      2000    E 2000-12-23
160      11  6.2       28         12      2000    E 2000-12-28

[161 rows x 7 columns]

In [67]:
df.to_csv('2000magbigger6.csv', index = False)

In [68]:
df_eq = df.iloc[:,(0,-1,-2)]
df_vo = df1.iloc[:,(-3,-1,-2)]

In [69]:
frames = [df_eq, df_vo]
result = pd.concat(frames)
result

   cluster  startdate type
0       11 2000-01-01    E
1       11 2000-01-05    E
2        5 2000-01-06    E
3        5 2000-01-06    E
4        8 2000-01-06    E
5       11 2000-01-08    E
6        3 2000-01-08    E
7       11 2000-01-08    E
8       11 2000-01-09    E
9       11 2000-01-13    E
10      11 2000-01-15    E
11      13 2000-01-19    E
12       5 2000-01-20    E
13      11 2000-01-26    E
14       7 2000-01-28    E
15       8 2000-01-28    E
16      11 2000-02-06    E
17       7 2000-02-13    E
18      11 2000-02-25    E
20      14 2000-02-26    E
19       1 2000-02-26    E
21      11 2000-02-28    E
22       4 2000-02-29    E
23      11 2000-02-29    E
24       6 2000-03-03    E
25      11 2000-03-03    E
26      11 2000-03-04    E
27      11 2000-03-05    E
28      14 2000-03-12    E
29       1 2000-03-28    E
..     ...        ...  ...
14      10 2000-03-11    V
16       7 2000-03-14    V
19       7 2000-03-17    V
23      14 2000-03-21    V
38       7 2000-03-31    V
3        3 2000-04-01    V
13       6 2000-05-10    V
15       6 2000-05-13    V
33       9 2000-05-28    V
36      10 2000-05-29    V
7       11 2000-06-03    V
25       2 2000-06-23    V
29       7 2000-06-27    V
37       7 2000-06-30    V
5        3 2000-07-01    V
12       6 2000-07-09    V
18       8 2000-07-16    V
20       7 2000-07-18    V
22       3 2000-07-20    V
32       7 2000-07-28    V
2        3 2000-08-01    V
1       14 2000-08-01    V
24      10 2000-08-22    V
9        7 2000-09-04    V
31      11 2000-09-28    V
0        8 2000-10-01    V
6       11 2000-11-02    V
35      10 2000-11-29    V
21       8 2000-12-19    V
27      10 2000-12-25    V

[200 rows x 3 columns]

In [56]:
#result.to_csv('2000basket.csv', index = False)

In [57]:
#result = pd.read_csv('2000basket.csv', dtype=object)
#type(result['startdate'][0])

str

TypeError: cannot convert the series to <type 'float'>

In [71]:
result['sequence']=result['type'] + result['cluster'].map(str)
result = result.sort_values(by = ['startdate', 'sequence'])

In [72]:
result

    cluster   startdate type phase sequence
0        11  2000-01-01    E            E11
4         8  2000-01-01    V             V8
1        11  2000-01-05    E            E11
2         5  2000-01-06    E             E5
3         5  2000-01-06    E             E5
4         8  2000-01-06    E             E8
5        11  2000-01-08    E            E11
7        11  2000-01-08    E            E11
6         3  2000-01-08    E             E3
8        11  2000-01-09    E            E11
9        11  2000-01-13    E            E11
10       11  2000-01-15    E            E11
11       13  2000-01-19    E            E13
12        5  2000-01-20    E             E5
13       11  2000-01-26    E            E11
30        9  2000-01-27    V             V9
14        7  2000-01-28    E             E7
15        8  2000-01-28    E             E8
8         7  2000-02-03    V             V7
16       11  2000-02-06    E            E11
17        7  2000-02-13    E             E7
17        2  2000-02-14    V             V2
26        8  2000-02-24    V             V8
18       11  2000-02-25    E            E11
19        1  2000-02-26    E             E1
20       14  2000-02-26    E            E14
28        9  2000-02-26    V             V9
21       11  2000-02-28    E            E11
34       11  2000-02-28    V            V11
23       11  2000-02-29    E            E11
..      ...         ...  ...   ...      ...
134      11  2000-11-16    E            E11
135      11  2000-11-17    E            E11
136      11  2000-11-18    E            E11
137      11  2000-11-18    E            E11
138      11  2000-11-18    E            E11
140      11  2000-11-19    E            E11
139      11  2000-11-19    E            E11
141      11  2000-11-21    E            E11
142      11  2000-11-21    E            E11
143      11  2000-11-23    E            E11
144      13  2000-11-25    E            E13
145      13  2000-11-25    E            E13
146       3  2000-11-29    E             E3
35       10  2000-11-29    V            V10
147       0  2000-12-04    E             E0
149      11  2000-12-06    E            E11
148      13  2000-12-06    E            E13
150      14  2000-12-12    E            E14
151       9  2000-12-15    E             E9
152      11  2000-12-18    E            E11
153       1  2000-12-19    E             E1
21        8  2000-12-19    V             V8
155      11  2000-12-20    E            E11
154       3  2000-12-20    E             E3
157      11  2000-12-21    E            E11
156      11  2000-12-21    E            E11
158       7  2000-12-22    E             E7
159       6  2000-12-23    E             E6
27       10  2000-12-25    V            V10
160      11  2000-12-28    E            E11

[200 rows x 5 columns]

In [73]:
result.index = range(len(result))
result

    cluster   startdate type phase sequence
0        11  2000-01-01    E            E11
1         8  2000-01-01    V             V8
2        11  2000-01-05    E            E11
3         5  2000-01-06    E             E5
4         5  2000-01-06    E             E5
5         8  2000-01-06    E             E8
6        11  2000-01-08    E            E11
7        11  2000-01-08    E            E11
8         3  2000-01-08    E             E3
9        11  2000-01-09    E            E11
10       11  2000-01-13    E            E11
11       11  2000-01-15    E            E11
12       13  2000-01-19    E            E13
13        5  2000-01-20    E             E5
14       11  2000-01-26    E            E11
15        9  2000-01-27    V             V9
16        7  2000-01-28    E             E7
17        8  2000-01-28    E             E8
18        7  2000-02-03    V             V7
19       11  2000-02-06    E            E11
20        7  2000-02-13    E             E7
21        2  2000-02-14    V             V2
22        8  2000-02-24    V             V8
23       11  2000-02-25    E            E11
24        1  2000-02-26    E             E1
25       14  2000-02-26    E            E14
26        9  2000-02-26    V             V9
27       11  2000-02-28    E            E11
28       11  2000-02-28    V            V11
29       11  2000-02-29    E            E11
..      ...         ...  ...   ...      ...
170      11  2000-11-16    E            E11
171      11  2000-11-17    E            E11
172      11  2000-11-18    E            E11
173      11  2000-11-18    E            E11
174      11  2000-11-18    E            E11
175      11  2000-11-19    E            E11
176      11  2000-11-19    E            E11
177      11  2000-11-21    E            E11
178      11  2000-11-21    E            E11
179      11  2000-11-23    E            E11
180      13  2000-11-25    E            E13
181      13  2000-11-25    E            E13
182       3  2000-11-29    E             E3
183      10  2000-11-29    V            V10
184       0  2000-12-04    E             E0
185      11  2000-12-06    E            E11
186      13  2000-12-06    E            E13
187      14  2000-12-12    E            E14
188       9  2000-12-15    E             E9
189      11  2000-12-18    E            E11
190       1  2000-12-19    E             E1
191       8  2000-12-19    V             V8
192      11  2000-12-20    E            E11
193       3  2000-12-20    E             E3
194      11  2000-12-21    E            E11
195      11  2000-12-21    E            E11
196       7  2000-12-22    E             E7
197       6  2000-12-23    E             E6
198      10  2000-12-25    V            V10
199      11  2000-12-28    E            E11

[200 rows x 5 columns]

In [74]:
from datetime import datetime
import ephem

def get_phase_on_day(date):
    d = ephem.Date(date)
    pnm = ephem.previous_new_moon(date)
    lunation = int(d - pnm)
    return lunation

result['startdate'] = pd.to_datetime(result.startdate)
result['startdate'] = result['startdate'].dt.date
result['phase'] = ' '
for i in range(0, len(result)):
    result['phase'][i] = get_phase_on_day(result['startdate'][i])

In [75]:
result

    cluster   startdate type phase sequence
0        11  2000-01-01    E    24      E11
1         8  2000-01-01    V    24       V8
2        11  2000-01-05    E    28      E11
3         5  2000-01-06    E    29       E5
4         5  2000-01-06    E    29       E5
5         8  2000-01-06    E    29       E8
6        11  2000-01-08    E     1      E11
7        11  2000-01-08    E     1      E11
8         3  2000-01-08    E     1       E3
9        11  2000-01-09    E     2      E11
10       11  2000-01-13    E     6      E11
11       11  2000-01-15    E     8      E11
12       13  2000-01-19    E    12      E13
13        5  2000-01-20    E    13       E5
14       11  2000-01-26    E    19      E11
15        9  2000-01-27    V    20       V9
16        7  2000-01-28    E    21       E7
17        8  2000-01-28    E    21       E8
18        7  2000-02-03    V    27       V7
19       11  2000-02-06    E     0      E11
20        7  2000-02-13    E     7       E7
21        2  2000-02-14    V     8       V2
22        8  2000-02-24    V    18       V8
23       11  2000-02-25    E    19      E11
24        1  2000-02-26    E    20       E1
25       14  2000-02-26    E    20      E14
26        9  2000-02-26    V    20       V9
27       11  2000-02-28    E    22      E11
28       11  2000-02-28    V    22      V11
29       11  2000-02-29    E    23      E11
..      ...         ...  ...   ...      ...
170      11  2000-11-16    E    19      E11
171      11  2000-11-17    E    20      E11
172      11  2000-11-18    E    21      E11
173      11  2000-11-18    E    21      E11
174      11  2000-11-18    E    21      E11
175      11  2000-11-19    E    22      E11
176      11  2000-11-19    E    22      E11
177      11  2000-11-21    E    24      E11
178      11  2000-11-21    E    24      E11
179      11  2000-11-23    E    26      E11
180      13  2000-11-25    E    28      E13
181      13  2000-11-25    E    28      E13
182       3  2000-11-29    E     3       E3
183      10  2000-11-29    V     3      V10
184       0  2000-12-04    E     8       E0
185      11  2000-12-06    E    10      E11
186      13  2000-12-06    E    10      E13
187      14  2000-12-12    E    16      E14
188       9  2000-12-15    E    19       E9
189      11  2000-12-18    E    22      E11
190       1  2000-12-19    E    23       E1
191       8  2000-12-19    V    23       V8
192      11  2000-12-20    E    24      E11
193       3  2000-12-20    E    24       E3
194      11  2000-12-21    E    25      E11
195      11  2000-12-21    E    25      E11
196       7  2000-12-22    E    26       E7
197       6  2000-12-23    E    27       E6
198      10  2000-12-25    V    29      V10
199      11  2000-12-28    E     2      E11

[200 rows x 5 columns]

In [82]:
with open("test2000.txt", "a") as myfile:
        myfile.write(result['sequence'][0])
for x in range(1, len(result['sequence'])):
    #if date is different from the upcoming one
    if ((result['startdate'][x] != result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
        with open("test2000.txt", "a") as myfile:
            myfile.write(' ' + str(result['phase'][x-1]) + ' -1 ' + result['sequence'][x] )
    elif result['sequence'][x] != result['sequence'][x - 1]:
        with open("test2000.txt", "a") as myfile:
            myfile.write(' ' + result['sequence'][x])
with open("test2000.txt", "a") as myfile:
        myfile.write( ' ' + str(result['sequence'][len(result['phase']) - 1]) +' -1 -2\n')