In [35]:
import numpy as np
import pandas as pd
import csv

df1 = pd.read_csv('2001volcanoes.csv')
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['startmonth'],row['startday'],row['startyear']), axis=1)
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1

,VEI,cluster,latitude,longitude,startday,startmonth,startyear,type,clustertype,startdate
0,3,9,13.257,123.685,8,1,2001,V,9V,2001-01-08
1,2,1,34.094,139.526,11,1,2001,V,1V,2001-01-11
2,2,9,-8.730,120.980,11,1,2001,V,9V,2001-01-11
3,3,7,-5.050,151.330,16,1,2001,V,7V,2001-01-16
4,1,4,12.602,-86.845,17,1,2001,V,4V,2001-01-17
5,3,2,52.825,-169.944,2,2,2001,V,2V,2001-02-02
6,2,3,-1.408,29.200,6,2,2001,V,3V,2001-02-06
7,2,8,-37.520,177.180,19,2,2001,V,8V,2001-02-19
8,1,6,-21.244,55.708,27,3,2001,V,6V,2001-03-27
9,2,9,-0.381,100.473,13,4,2001,V,9V,2001-04-13
10,1,4,11.984,-86.161,23,4,2001,V,4V,2001-04-23
11,0,1,20.420,145.030,24,4,2001,V,1V,2001-04-24
12,1,9,-53.030,72.600,3,5,2001,V,9V,2001-05-03
13,1,4,12.702,-87.004,11,5,2001,V,4V,2001-05-11
14,2,9,-1.697,101.264,12,5,2001,V,9V,2001-05-12
15,0,9,1.488,127.630,28,5,2001,V,9V,2001-05-28
16,3,7,-16.507,168.346,8,6,2001,V,7V,2001-06-08
17,1,6,-21.244,55.708,11,6,2001,V,6V,2001-06-11
18,2,7,-4.080,145.037,14,6,2001,V,7V,2001-06-14
19,2,3,37.734,15.004,17,7,2001,V,3V,2001-07-17
20,1,9,-6.102,105.423,21,7,2001,V,9V,2001-07-21
21,3,1,55.972,160.595,23,7,2001,V,1V,2001-07-23
22,2,7,-5.050,151.330,28,8,2001,V,7V,2001-08-28
23,0,0,-57.800,-26.483,1,9,2001,V,0V,2001-09-01
24,1,1,24.751,141.289,21,9,2001,V,1V,2001-09-21
25,1,9,-0.978,100.679,25,9,2001,V,9V,2001-09-25
26,2,8,-18.325,-174.365,27,9,2001,V,8V,2001-09-27
27,1,0,-58.445,-26.374,1,10,2001,V,0V,2001-10-01
28,1,1,53.256,158.836,5,10,2001,V,1V,2001-10-05
29,1,4,14.381,-90.601,31,10,2001,V,4V,2001-10-31
30,3,1,54.049,159.443,15,11,2001,V,1V,2001-11-15
31,0,0,-32.958,-5.220,24,11,2001,V,0V,2001-11-24
32,1,4,-0.171,-78.598,26,11,2001,V,4V,2001-11-26
33,1,3,37.734,15.004,1,12,2001,V,3V,2001-12-01
34,0,4,12.300,-61.640,4,12,2001,V,4V,2001-12-04
35,2,1,55.972,160.595,10,12,2001,V,1V,2001-12-10

In [30]:
df.to_csv('2001volcanoes.csv', index = False)

In [31]:
df = pd.read_csv('2001magbigger6.csv')
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
df = df.sort_values(by = ['startdate'])
df

,Unnamed: 0,cluster,mag,startday,startmonth,startyear,type,clustertype,startdate
0,325667,9,7.50,1,1,2001,E,9E,2001-01-01
1,325671,9,6.80,1,1,2001,E,9E,2001-01-01
2,325704,9,6.40,2,1,2001,E,9E,2001-01-02
3,325723,7,6.00,2,1,2001,E,7E,2001-01-02
4,325954,7,7.10,9,1,2001,E,7E,2001-01-09
5,326004,2,6.93,10,1,2001,E,2E,2001-01-10
6,326022,5,6.00,11,1,2001,E,5E,2001-01-11
7,326095,4,7.70,13,1,2001,E,4E,2001-01-13
8,326176,9,6.40,15,1,2001,E,9E,2001-01-15
9,326228,9,6.00,16,1,2001,E,9E,2001-01-16
10,326229,9,6.90,16,1,2001,E,9E,2001-01-16
11,326339,4,6.00,19,1,2001,E,4E,2001-01-19
12,326348,7,6.30,19,1,2001,E,7E,2001-01-19
13,326351,0,6.00,19,1,2001,E,0E,2001-01-19
14,326639,6,7.70,26,1,2001,E,6E,2001-01-26
15,326794,9,6.20,29,1,2001,E,9E,2001-01-29
16,326925,2,6.00,1,2,2001,E,2E,2001-02-01
17,327424,4,6.60,13,2,2001,E,4E,2001-02-13
18,327440,9,7.40,13,2,2001,E,9E,2001-02-13
19,327475,7,6.10,14,2,2001,E,7E,2001-02-14
20,327477,7,6.20,14,2,2001,E,7E,2001-02-14
21,327525,9,6.10,16,2,2001,E,9E,2001-02-16
22,327595,5,6.20,17,2,2001,E,5E,2001-02-17
23,327640,6,6.00,18,2,2001,E,6E,2001-02-18
25,327874,9,6.20,24,2,2001,E,9E,2001-02-24
24,327861,9,7.10,24,2,2001,E,9E,2001-02-24
26,327906,6,6.20,25,2,2001,E,6E,2001-02-25
27,327971,1,6.10,26,2,2001,E,1E,2001-02-26
28,328080,7,6.70,28,2,2001,E,7E,2001-02-28
29,328082,7,6.30,28,2,2001,E,7E,2001-02-28
...,...,...,...,...,...,...,...,...,...
108,337981,4,6.00,17,10,2001,E,4E,2001-10-17
109,338060,9,7.50,19,10,2001,E,9E,2001-10-19
110,338140,7,6.70,21,10,2001,E,7E,2001-10-21
111,338405,7,6.10,26,10,2001,E,7E,2001-10-26
112,338604,7,7.00,31,10,2001,E,7E,2001-10-31
113,338854,8,6.30,5,11,2001,E,8E,2001-11-05
114,338994,4,6.10,9,11,2001,E,4E,2001-11-09
115,339203,5,6.10,13,11,2001,E,5E,2001-11-13
116,339208,1,6.00,13,11,2001,E,1E,2001-11-13
117,339209,1,6.00,13,11,2001,E,1E,2001-11-13
118,339259,6,7.80,14,11,2001,E,6E,2001-11-14
119,339301,3,6.30,15,11,2001,E,3E,2001-11-15
120,339542,9,6.20,20,11,2001,E,9E,2001-11-20
122,339609,7,6.20,22,11,2001,E,7E,2001-11-22
121,339608,7,6.30,22,11,2001,E,7E,2001-11-22
123,339649,6,6.10,23,11,2001,E,6E,2001-11-23
124,339781,8,6.00,27,11,2001,E,8E,2001-11-27
125,339852,4,6.40,28,11,2001,E,4E,2001-11-28
126,340037,7,6.00,2,12,2001,E,7E,2001-12-02
127,340055,1,6.50,2,12,2001,E,1E,2001-12-02
128,340093,8,6.40,3,12,2001,E,8E,2001-12-03
129,340367,1,6.20,8,12,2001,E,1E,2001-12-08
130,340429,9,6.10,9,12,2001,E,9E,2001-12-09
131,340532,7,6.10,12,12,2001,E,7E,2001-12-12
132,340534,9,7.10,12,12,2001,E,9E,2001-12-12
133,340776,9,6.80,18,12,2001,E,9E,2001-12-18
134,340960,7,6.00,22,12,2001,E,7E,2001-12-22
135,341033,7,6.80,23,12,2001,E,7E,2001-12-23
136,341189,7,6.20,27,12,2001,E,7E,2001-12-27
137,341251,4,6.00,28,12,2001,E,4E,2001-12-28

In [32]:
df.to_csv('2001magbigger6.csv', index = False)

In [38]:
df = df.iloc[:,(-1,-2)]
df1 = df1.iloc[:,(-1,-2)]

In [39]:
df1

    startdate clustertype
0  2001-01-08          9V
1  2001-01-11          1V
2  2001-01-11          9V
3  2001-01-16          7V
4  2001-01-17          4V
5  2001-02-02          2V
6  2001-02-06          3V
7  2001-02-19          8V
8  2001-03-27          6V
9  2001-04-13          9V
10 2001-04-23          4V
11 2001-04-24          1V
12 2001-05-03          9V
13 2001-05-11          4V
14 2001-05-12          9V
15 2001-05-28          9V
16 2001-06-08          7V
17 2001-06-11          6V
18 2001-06-14          7V
19 2001-07-17          3V
20 2001-07-21          9V
21 2001-07-23          1V
22 2001-08-28          7V
23 2001-09-01          0V
24 2001-09-21          1V
25 2001-09-25          9V
26 2001-09-27          8V
27 2001-10-01          0V
28 2001-10-05          1V
29 2001-10-31          4V
30 2001-11-15          1V
31 2001-11-24          0V
32 2001-11-26          4V
33 2001-12-01          3V
34 2001-12-04          4V
35 2001-12-10          1V

In [41]:
frames = [df1, df]
result = pd.concat(frames)
result

    clustertype  startdate
0            9V 2001-01-08
1            1V 2001-01-11
2            9V 2001-01-11
3            7V 2001-01-16
4            4V 2001-01-17
5            2V 2001-02-02
6            3V 2001-02-06
7            8V 2001-02-19
8            6V 2001-03-27
9            9V 2001-04-13
10           4V 2001-04-23
11           1V 2001-04-24
12           9V 2001-05-03
13           4V 2001-05-11
14           9V 2001-05-12
15           9V 2001-05-28
16           7V 2001-06-08
17           6V 2001-06-11
18           7V 2001-06-14
19           3V 2001-07-17
20           9V 2001-07-21
21           1V 2001-07-23
22           7V 2001-08-28
23           0V 2001-09-01
24           1V 2001-09-21
25           9V 2001-09-25
26           8V 2001-09-27
27           0V 2001-10-01
28           1V 2001-10-05
29           4V 2001-10-31
..          ...        ...
108          4E 2001-10-17
109          9E 2001-10-19
110          7E 2001-10-21
111          7E 2001-10-26
112          7E 2001-10-31
113          8E 2001-11-05
114          4E 2001-11-09
115          5E 2001-11-13
116          1E 2001-11-13
117          1E 2001-11-13
118          6E 2001-11-14
119          3E 2001-11-15
120          9E 2001-11-20
122          7E 2001-11-22
121          7E 2001-11-22
123          6E 2001-11-23
124          8E 2001-11-27
125          4E 2001-11-28
126          7E 2001-12-02
127          1E 2001-12-02
128          8E 2001-12-03
129          1E 2001-12-08
130          9E 2001-12-09
131          7E 2001-12-12
132          9E 2001-12-12
133          9E 2001-12-18
134          7E 2001-12-22
135          7E 2001-12-23
136          7E 2001-12-27
137          4E 2001-12-28

[174 rows x 2 columns]

In [42]:
result = result.sort_values(by = ['startdate'])

In [43]:
result

    clustertype  startdate
0            9E 2001-01-01
1            9E 2001-01-01
2            9E 2001-01-02
3            7E 2001-01-02
0            9V 2001-01-08
4            7E 2001-01-09
5            2E 2001-01-10
1            1V 2001-01-11
2            9V 2001-01-11
6            5E 2001-01-11
7            4E 2001-01-13
8            9E 2001-01-15
9            9E 2001-01-16
10           9E 2001-01-16
3            7V 2001-01-16
4            4V 2001-01-17
13           0E 2001-01-19
12           7E 2001-01-19
11           4E 2001-01-19
14           6E 2001-01-26
15           9E 2001-01-29
16           2E 2001-02-01
5            2V 2001-02-02
6            3V 2001-02-06
18           9E 2001-02-13
17           4E 2001-02-13
19           7E 2001-02-14
20           7E 2001-02-14
21           9E 2001-02-16
22           5E 2001-02-17
..          ...        ...
114          4E 2001-11-09
117          1E 2001-11-13
116          1E 2001-11-13
115          5E 2001-11-13
118          6E 2001-11-14
30           1V 2001-11-15
119          3E 2001-11-15
120          9E 2001-11-20
121          7E 2001-11-22
122          7E 2001-11-22
123          6E 2001-11-23
31           0V 2001-11-24
32           4V 2001-11-26
124          8E 2001-11-27
125          4E 2001-11-28
33           3V 2001-12-01
127          1E 2001-12-02
126          7E 2001-12-02
128          8E 2001-12-03
34           4V 2001-12-04
129          1E 2001-12-08
130          9E 2001-12-09
35           1V 2001-12-10
131          7E 2001-12-12
132          9E 2001-12-12
133          9E 2001-12-18
134          7E 2001-12-22
135          7E 2001-12-23
136          7E 2001-12-27
137          4E 2001-12-28

[174 rows x 2 columns]

In [45]:
result = result.iloc[:,(-1,-2)]
result.to_csv('basket.csv', index = False)