In [3]:
import numpy as np
import pandas as pd
df1 = pd.read_csv('allvolcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
#print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = '0'
df1

,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,Start_Year_Uncertainty,...,End_Year_Uncertainty,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type
0,241050,Okataina,14508,Confirmed Eruption,Waimangu Geyser,1,NaN,NaN,1900,NaN,...,NaN,11,NaN,1,NaN,-38.12,176.5,11,1900-01-01,0
1,283110,Asamayama,17762,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,10,NaN,0,NaN,36.406,138.523,7,1900-01-22,0
2,273030,Mayon,16795,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,3,NaN,6,NaN,13.257,123.685,8,1900-03-01,0
3,263300,Semeru,13571,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,4,>,11,NaN,-8.108,112.92,10,1900-03-29,0
4,233020,Fournaise Piton de la,14306,Confirmed Eruption,East of Dolomieu,0,NaN,NaN,1900,NaN,...,NaN,5,NaN,30,NaN,-21.244,55.708,2,1900-05-11,0
5,315020,Wrangell,20412,Confirmed Eruption,NaN,2,?,NaN,1900,NaN,...,NaN,NaN,NaN,NaN,NaN,62.006,-144.017,5,1900-06-01,0
6,261230,Dempo,15558,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,6,NaN,4,NaN,-4.03,103.13,10,1900-06-04,0
7,283170,Adatarayama,17912,Confirmed Eruption,Numanotaira,2,NaN,NaN,1900,NaN,...,NaN,7,NaN,17,NaN,37.647,140.281,7,1900-07-17,0
8,283120,Kusatsu-Shiranesan,17826,Confirmed Eruption,NE part of Yu-gama,1,NaN,NaN,1900,NaN,...,NaN,10,NaN,1,NaN,36.618,138.528,7,1900-10-01,0
9,261230,Dempo,15559,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,10,NaN,27,NaN,-4.03,103.13,10,1900-10-26,0
10,264030,Rinjani,16213,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1900,NaN,...,NaN,12,NaN,2,NaN,-8.42,116.47,6,1900-11-30,0
11,263300,Semeru,13572,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,1,>,30,NaN,-8.108,112.92,10,1901-01-29,0
12,266030,Soputan,13584,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,1.112,124.737,6,1901-02-04,0
13,233020,Fournaise Piton de la,14307,Confirmed Eruption,East of Dolomieu,2,NaN,NaN,1901,NaN,...,NaN,2,NaN,25,NaN,-21.244,55.708,2,1901-02-21,0
14,357010,Tupungatito,11894,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,-33.425,-69.797,3,1901-04-01,0
15,265090,Banda Api,16418,Confirmed Eruption,Summit and north flank,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,-4.523,129.881,6,1901-05-18,0
16,263280,Kelut,15952,Confirmed Eruption,NaN,3,NaN,NaN,1901,NaN,...,NaN,5,NaN,23,NaN,-7.93,112.308,10,1901-05-22,0
17,355070,San Pedro,11834,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,8,NaN,0,NaN,-21.88,-68.4,3,1901-05-25,0
18,264030,Rinjani,16214,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1901,NaN,...,NaN,6,NaN,2,NaN,-8.42,116.47,6,1901-06-01,0
19,233020,Fournaise Piton de la,14308,Confirmed Eruption,NE flank (above Piton de Crac),2,NaN,NaN,1901,NaN,...,NaN,7,NaN,6,NaN,-21.244,55.708,2,1901-07-04,0
20,300100,Avachinsky,19096,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,7,NaN,13,NaN,53.256,158.836,7,1901-07-07,0
21,313030,Redoubt,20384,Confirmed Eruption,NaN,3,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,60.485,-152.742,5,1902-01-18,0
22,272020,Kanlaon,16727,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,10.412,123.132,6,1902-01-31,0
23,263250,Merapi,15890,Confirmed Eruption,NaN,1,NaN,NaN,1902,NaN,...,NaN,2,NaN,3,NaN,-7.542,110.442,10,1902-02-03,0
24,283110,Asamayama,17763,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,2,NaN,7,NaN,36.406,138.523,7,1902-02-07,0
25,332010,Kilauea,10071,Confirmed Eruption,Halemaumau,0,NaN,NaN,1902,NaN,...,NaN,2,NaN,0,NaN,19.421,-155.287,5,1902-02-14,0
26,263340,Raung,16120,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,2,>,27,NaN,-8.119,114.056,6,1902-02-16,0
27,344090,Momotombo,11001,Confirmed Eruption,NaN,2,?,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,12.422,-86.54,14,1902-03-31,0
28,223020,Nyamuragira,14045,Confirmed Eruption,SSE fissure zone,0,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,-1.408,29.2,9,1902-04-22,0
29,360120,Pelee,12430,Confirmed Eruption,Rivi�re Blanche and summit crater,4,NaN,NaN,1902,NaN,...,NaN,10,NaN,5,NaN,14.809,-61.165,14,1902-04-23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,290390,Alaid,21096,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,NaN,10,NaN,9,NaN,50.861,155.565,7,2015-10-02,0
3292,357090,Copahue,21098,Confirmed Eruption,Agrio Crater,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,26,NaN,-37.856,-71.183,3,2015-10-06,0
3293,345020,Rincon de la Vieja,22132,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,1,NaN,10.83,-85.324,14,2015-10-17,0
3294,345070,Turrialba,22109,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,10.025,-83.767,14,2015-10-23,0
3295,264030,Rinjani,22104,Confirmed Eruption,Barujari crater,2,NaN,NaN,2015,NaN,...,NaN,12,NaN,24,NaN,-8.42,116.47,6,2015-10-25,0
3296,355100,Lascar,22110,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,-23.37,-67.73,3,2015-10-30,0
3297,263310,Tengger Caldera,22103,Confirmed Eruption,Bromo cone,2,NaN,NaN,2015,NaN,...,NaN,5,NaN,24,NaN,-7.942,112.95,10,2015-11-12,0
3298,261140,Marapi,22111,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,11,NaN,14,NaN,-0.381,100.473,10,2015-11-14,0
3299,272020,Kanlaon,22106,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,31,NaN,10.412,123.132,6,2015-11-24,0
3300,344090,Momotombo,22107,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,7,NaN,12.422,-86.54,14,2015-12-01,0
3301,211060,Etna,22102,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,1,NaN,37.734,15.004,9,2015-12-02,0
3302,344100,Masaya,22108,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,19,NaN,11.984,-86.161,14,2015-12-11,0
3303,266030,Soputan,22105,Confirmed Eruption,NaN,3,NaN,NaN,2016,NaN,...,NaN,2,NaN,7,NaN,1.112,124.737,6,2016-01-02,0
3304,357070,Chill�n Nevados de,22119,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,9,NaN,-36.863,-71.377,3,2016-01-08,0
3305,343100,San Miguel,22117,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,1,NaN,18,NaN,13.434,-88.269,14,2016-01-12,0
3306,345070,Turrialba,22118,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,6,NaN,2,NaN,10.025,-83.767,14,2016-02-02,0
3307,290390,Alaid,22116,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,50.861,155.565,7,2016-02-21,0
3308,273010,Bulusan,22114,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2,NaN,22,NaN,12.77,124.05,6,2016-02-22,0
3309,255020,Bagana,22124,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,22,NaN,-6.137,155.196,11,2016-03-03,0
3310,282110,Asosan,22126,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,16,NaN,32.884,131.104,8,2016-03-04,0
3311,251020,Manam,22122,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,4,NaN,-4.08,145.037,11,2016-03-04,0
3312,312030,Pavlof,22129,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,55.417,-161.894,5,2016-03-27,0
3313,290360,Chikurachki,22127,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,31,NaN,50.324,155.461,7,2016-03-29,0
3314,261170,Kerinci,22125,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,4,NaN,-1.697,101.264,10,2016-03-31,0
3315,252010,Langila,22123,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,13,NaN,-5.525,148.42,11,2016-04-02,0
3316,357120,Villarrica,22134,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,3,NaN,-39.42,-71.93,3,2016-04-03,0
3317,311240,Cleveland,22128,Confirmed Eruption,NaN,0,NaN,NaN,2016,NaN,...,NaN,5,NaN,17,NaN,52.825,-169.944,5,2016-04-16,0
3318,344020,San Cristobal,22130,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,4,NaN,22,NaN,12.702,-87.004,14,2016-04-22,0
3319,390080,Bristol Island,22133,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,28,NaN,-59.017,-26.533,3,2016-04-24,0
3320,241040,White Island,22121,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,27,NaN,-37.52,177.18,11,2016-04-27,0

In [39]:
df = pd.read_csv('allquakes.csv', dtype=object)
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
df['Longitude'] = pd.to_numeric(df['Longitude'])
df['Latitude'] = pd.to_numeric(df['Latitude'])
from datetime import timedelta
df['enddate'] = df['startdate'] + timedelta(days=30)
#result['startdate'] = result['startdate'].dt.date
df = df.sort_values(by = ['startdate'])
df.index = range(len(df))
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,enddate
0,5,0.0,57.0900,-153.4800,8.3,10,10,1900,1,1900-10-10,1900-11-09
1,5,0.0,60.0000,-135.0000,7.1,18,1,1901,1,1901-01-18,1901-02-17
2,5,0.0,52.0000,-160.0000,6.6,30,12,1901,1,1901-12-30,1902-01-29
3,5,0.0,51.4500,-171.0200,7.8,31,12,1901,1,1901-12-31,1902-01-30
4,5,0.0,52.3800,-167.4500,7.8,1,1,1902,1,1902-01-01,1902-01-31
5,5,0.0,50.8500,-175.1600,7.0,17,1,1903,1,1903-01-17,1903-02-16
6,5,0.0,52.0000,175.0000,6.8,5,2,1903,1,1903-02-05,1903-03-07
7,5,0.0,61.5600,-158.5400,8.3,2,6,1903,1,1903-06-02,1903-07-02
8,5,0.0,64.6200,-148.2300,7.8,27,8,1904,1,1904-08-27,1904-09-26
9,5,0.0,50.7300,-178.5500,7.7,14,2,1905,1,1905-02-14,1905-03-16
10,5,0.0,51.2800,174.8300,7.2,22,3,1905,1,1905-03-22,1905-04-21
11,7,0.0,52.0600,171.4500,7.4,15,9,1905,1,1905-09-15,1905-10-15
12,5,0.0,53.8800,-161.6800,7.0,10,12,1905,1,1905-12-10,1906-01-09
13,5,0.0,50.7700,179.7300,8.0,17,8,1906,1,1906-08-17,1906-09-16
14,5,0.0,53.0000,-165.0000,7.6,23,12,1906,1,1906-12-23,1907-01-22
15,5,120.0,57.0000,-161.0000,6.5,22,8,1907,1,1907-08-22,1907-09-21
16,7,0.0,52.4400,170.2800,7.7,2,9,1907,1,1907-09-02,1907-10-02
17,5,25.0,59.0000,-141.0000,7.1,15,5,1908,1,1908-05-15,1908-06-14
18,5,0.0,52.0000,175.0000,7.0,10,4,1909,1,1909-04-10,1909-05-10
19,5,90.0,52.5000,-169.0000,7.4,8,9,1909,1,1909-09-08,1909-10-08
20,5,0.0,60.0000,-149.5000,7.4,19,9,1909,1,1909-09-19,1909-10-19
21,5,100.0,57.0000,-160.0000,6.7,13,5,1910,1,1910-05-13,1910-06-12
22,0,NaN,42.0000,-127.0000,6.8,5,8,1910,1,1910-08-05,1910-09-04
23,5,25.0,50.7500,179.3800,7.3,9,9,1910,1,1910-09-09,1910-10-09
24,5,0.0,53.0000,-135.0000,6.8,6,11,1910,1,1910-11-06,1910-12-06
25,0,NaN,37.2500,-121.7500,6.6,1,7,1911,1,1911-07-01,1911-07-31
26,5,0.0,51.0000,180.0000,7.1,17,9,1911,1,1911-09-17,1911-10-17
27,5,60.0,60.5000,-149.0000,6.9,22,9,1911,1,1911-09-22,1911-10-22
28,7,0.0,52.0000,173.0000,7.0,13,11,1911,1,1911-11-13,1911-12-13
29,5,25.0,52.0000,-179.0000,7.1,4,1,1912,1,1912-01-04,1912-02-03
...,...,...,...,...,...,...,...,...,...,...,...
617829,13,10.0,39.4673,73.4369,4.7,4,7,2016,1,2016-07-04,2016-08-03
617830,7,39.96,42.8475,145.4291,4.6,4,7,2016,1,2016-07-04,2016-08-03
617831,11,93.91,-14.2914,167.7517,4.7,4,7,2016,1,2016-07-04,2016-08-03
617832,7,22.75,39.3485,143.4638,4.6,4,7,2016,1,2016-07-04,2016-08-03
617833,11,66.85,-10.6376,164.9739,5.6,4,7,2016,1,2016-07-04,2016-08-03
617834,14,10.0,3.4481,-82.7973,4.8,4,7,2016,1,2016-07-04,2016-08-03
617835,9,10.0,-0.5323,-12.6569,4.9,4,7,2016,1,2016-07-04,2016-08-03
617836,8,37.53,29.0458,129.2817,4.7,4,7,2016,1,2016-07-04,2016-08-03
617837,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05,2016-08-04
617838,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05,2016-08-04
617839,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05,2016-08-04
617840,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05,2016-08-04
617841,13,10.0,39.4890,73.4459,4.4,5,7,2016,1,2016-07-05,2016-08-04
617842,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05,2016-08-04
617843,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05,2016-08-04
617844,11,10.0,-32.9270,-177.8664,5.2,5,7,2016,1,2016-07-05,2016-08-04
617845,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05,2016-08-04
617846,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05,2016-08-04
617847,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05,2016-08-04
617848,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05,2016-08-04
617849,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05,2016-08-04
617850,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05,2016-08-04
617851,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05,2016-08-04
617852,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05,2016-08-04
617853,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05,2016-08-04
617854,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05,2016-08-04
617855,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06,2016-08-05
617856,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06,2016-08-05
617857,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06,2016-08-05
617858,14,35.0,0.1660,-79.8907,4.3,6,7,2016,1,2016-07-06,2016-08-05

In [52]:
df = dff.copy()

In [53]:

for i in range(0, len(df)-1):
    df2 = df[(df['startdate'] >= df['startdate'][i]) & (df['startdate'] < df['enddate'][i]) & (df['Longitude'] >= df['Longitude'][i] - 1) & (df['Longitude'] < df['Longitude'][i] + 1) & (df['Latitude'] >= df['Latitude'][i] - 1) & (df['Latitude'] < df['Latitude'][i] + 1)]
    if len(df2) >= 100:
        print i
        print len(df2)
        df2['type'][i] = '2'
        df = df[~((df['startdate'] >= df['startdate'][i]) & (df['startdate'] < df['enddate'][i]) & (df['Longitude'] >= df['Longitude'][i] - 1) & (df['Longitude'] < df['Longitude'][i] + 1) & (df['Latitude'] >= df['Latitude'][i] - 1) & (df['Latitude'] < df['Latitude'][i] + 1) & (df['type'] == '1'))]
        df.index = range(len(df))

240
180

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

4454
255
5152
104
7261
101
11074
196
11162
114
13095
138
13096
111
16929
209
16930
110
16931
163
16940
129
17476
105
27124
117
33066
100
33258
141
33784
255
36001
101
39562
260
46454
122
46882
283
48874
101
49096
183
49268
102
52265
115
52752
102
55720
103
57299
118
60404
118
68587
127
71514
110
72235
115
74148
167
74573
102
75338
113
84520
103
87628
196
92739
135
93201
100
96941
110
96973
149
100100
273
100575
423
100831
417
101246
138
101773
109
105649
126
110882
100
118197
133
120091
100
120093
188
120803
118
121768
124
122169
102
131124
126
133306
120
133365
103
139682
100
141896
120
143338
182
144640
250
147103
106
155564
126
155570
195
170862
188
172610
103
175407
136
177944
158
190677
188
193898
142
193925
187
194506
124
195688
408
196050
174
196522
119
196604
307
197475
100
198388
116
200330
102
202057
106
208160
133
208976
103
209632
103
210385
101
213326
359
213931
105
216740
100
217229
152
220320
138
221034
235
227140
109
227564
200
227922
179
228145
106
228367
111
228827
116
230947
141
231282
162
233885
100
235257
257
235593
109
236957
132
239199
326
241605
107
243622
128
243680
148
244117
114
244343
264
245464
112
246629
121
248060
170
253026
149
254623
106
259756
130
260713
176
263058
167
263123
288
271724
112
271965
102
285445
102
287730
101
288807
155
288822
300
289675
161
297534
127
297631
100
298420
490
298736
122
299460
124
302346
121
302439
150
303031
119
303302
308
308186
107
311654
203
312070
102
312976
172
314254
152
316063
138
316318
106
317283
112
318531
107
330724
106
332185
217
332780
306
332785
115
338350
123
339792
119
340569
115
340988
105
341760
116
342479
107
344433
116
345049
144
345614
105
346427
103
347106
142
348328
219
349086
103
349585
102
350812
175
350882
127
353652
515
360555
101
363104
101
364742
181
366008
128
367081
162
367103
101
368732
193
369598
139
369599
197
369600
131
369601
135
369603
102
369948
549
371434
163
373800
168
374479
493
374986
220
374989
137
375606
117
376350
114
377577
144
378190
100
378671
100
381704
107
385038
166
385440
150
386301
537
386309
167
386574
100
392860
112
394768
141
394995
111
395014
126
395514
209
396266
127
397203
114
397253
152
397294
100
399673
196
401403
108
401887
107
402427
348
406371
101
408324
164
408454
185
409593
206
410012
361
410280
100
411834
111
412457
133
412815
101
412841
104
413522
100
414070
103
415920
124
416505
133
416960
141
417162
106
417176
203
418037
141
421706
110
421916
107
422747
105
423382
120
426204
138
428043
146
428046
116
428923
118
431798
110
432620
113
436108
187
436902
192
438902
178
439605
159
440563
109
441230
113
443090
119
443132
607
443614
111
444209
117
445029
108
445878
100
446238
117
447277
112
447904
111
451875
101
451920
120
453299
223
453956
107
455252
100
456996
129
458441
294
458976
102
463423
114
463546
109
465065
132
465271
137
465462
118
469969
320
469970
320
469971
474
469973
115
470420
323
470451
327
471398
334
472413
106
473355
122
473746
340
474263
101
474614
154
474658
285
475367
108
475469
110
476160
166
477426
104
477923
122
478534
155
479803
112
479858
718
479934
157
480902
115
481602
135
481682
498
481835
226
482642
351
482643
772
482644
259
482645
273
482657
170
482707
150
482799
110
483921
103
483936
117
485161
100
487070
181
487124
146
489251
112
489530
103
491883
145
494742
115
497002
109
497777
101
498387
103
498425
100
502747
134
503193
181
503649
274
504664
100
506021
105
506063
203
507414
101
508597
463
511859
101
514377
187
515999
119
517306
107
522496
353
522540
105
522598
124
522711
100
523498
114
525528
152
525534
130
526077
117
532243
100
533760
114
533881
131
535297
101
542052
101
542799
196
543236
114
543250
104
546292
113
546319
139
547635
130
548887
119
549275
154
549365
418
553321
100
553577
100
553927
103
557739
100

KeyError: 562175

In [55]:
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,enddate
0,5,0.0,57.0900,-153.4800,8.3,10,10,1900,1,1900-10-10,1900-11-09
1,5,0.0,60.0000,-135.0000,7.1,18,1,1901,1,1901-01-18,1901-02-17
2,5,0.0,52.0000,-160.0000,6.6,30,12,1901,1,1901-12-30,1902-01-29
3,5,0.0,51.4500,-171.0200,7.8,31,12,1901,1,1901-12-31,1902-01-30
4,5,0.0,52.3800,-167.4500,7.8,1,1,1902,1,1902-01-01,1902-01-31
5,5,0.0,50.8500,-175.1600,7.0,17,1,1903,1,1903-01-17,1903-02-16
6,5,0.0,52.0000,175.0000,6.8,5,2,1903,1,1903-02-05,1903-03-07
7,5,0.0,61.5600,-158.5400,8.3,2,6,1903,1,1903-06-02,1903-07-02
8,5,0.0,64.6200,-148.2300,7.8,27,8,1904,1,1904-08-27,1904-09-26
9,5,0.0,50.7300,-178.5500,7.7,14,2,1905,1,1905-02-14,1905-03-16
10,5,0.0,51.2800,174.8300,7.2,22,3,1905,1,1905-03-22,1905-04-21
11,7,0.0,52.0600,171.4500,7.4,15,9,1905,1,1905-09-15,1905-10-15
12,5,0.0,53.8800,-161.6800,7.0,10,12,1905,1,1905-12-10,1906-01-09
13,5,0.0,50.7700,179.7300,8.0,17,8,1906,1,1906-08-17,1906-09-16
14,5,0.0,53.0000,-165.0000,7.6,23,12,1906,1,1906-12-23,1907-01-22
15,5,120.0,57.0000,-161.0000,6.5,22,8,1907,1,1907-08-22,1907-09-21
16,7,0.0,52.4400,170.2800,7.7,2,9,1907,1,1907-09-02,1907-10-02
17,5,25.0,59.0000,-141.0000,7.1,15,5,1908,1,1908-05-15,1908-06-14
18,5,0.0,52.0000,175.0000,7.0,10,4,1909,1,1909-04-10,1909-05-10
19,5,90.0,52.5000,-169.0000,7.4,8,9,1909,1,1909-09-08,1909-10-08
20,5,0.0,60.0000,-149.5000,7.4,19,9,1909,1,1909-09-19,1909-10-19
21,5,100.0,57.0000,-160.0000,6.7,13,5,1910,1,1910-05-13,1910-06-12
22,0,NaN,42.0000,-127.0000,6.8,5,8,1910,1,1910-08-05,1910-09-04
23,5,25.0,50.7500,179.3800,7.3,9,9,1910,1,1910-09-09,1910-10-09
24,5,0.0,53.0000,-135.0000,6.8,6,11,1910,1,1910-11-06,1910-12-06
25,0,NaN,37.2500,-121.7500,6.6,1,7,1911,1,1911-07-01,1911-07-31
26,5,0.0,51.0000,180.0000,7.1,17,9,1911,1,1911-09-17,1911-10-17
27,5,60.0,60.5000,-149.0000,6.9,22,9,1911,1,1911-09-22,1911-10-22
28,7,0.0,52.0000,173.0000,7.0,13,11,1911,1,1911-11-13,1911-12-13
29,5,25.0,52.0000,-179.0000,7.1,4,1,1912,1,1912-01-04,1912-02-03
...,...,...,...,...,...,...,...,...,...,...,...
562145,13,10.0,39.4673,73.4369,4.7,4,7,2016,1,2016-07-04,2016-08-03
562146,7,39.96,42.8475,145.4291,4.6,4,7,2016,1,2016-07-04,2016-08-03
562147,11,93.91,-14.2914,167.7517,4.7,4,7,2016,1,2016-07-04,2016-08-03
562148,7,22.75,39.3485,143.4638,4.6,4,7,2016,1,2016-07-04,2016-08-03
562149,11,66.85,-10.6376,164.9739,5.6,4,7,2016,1,2016-07-04,2016-08-03
562150,14,10.0,3.4481,-82.7973,4.8,4,7,2016,1,2016-07-04,2016-08-03
562151,9,10.0,-0.5323,-12.6569,4.9,4,7,2016,1,2016-07-04,2016-08-03
562152,8,37.53,29.0458,129.2817,4.7,4,7,2016,1,2016-07-04,2016-08-03
562153,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05,2016-08-04
562154,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05,2016-08-04
562155,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05,2016-08-04
562156,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05,2016-08-04
562157,13,10.0,39.4890,73.4459,4.4,5,7,2016,1,2016-07-05,2016-08-04
562158,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05,2016-08-04
562159,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05,2016-08-04
562160,11,10.0,-32.9270,-177.8664,5.2,5,7,2016,1,2016-07-05,2016-08-04
562161,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05,2016-08-04
562162,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05,2016-08-04
562163,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05,2016-08-04
562164,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05,2016-08-04
562165,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05,2016-08-04
562166,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05,2016-08-04
562167,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05,2016-08-04
562168,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05,2016-08-04
562169,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05,2016-08-04
562170,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05,2016-08-04
562171,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06,2016-08-05
562172,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06,2016-08-05
562173,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06,2016-08-05
562174,14,35.0,0.1660,-79.8907,4.3,6,7,2016,1,2016-07-06,2016-08-05

In [64]:
df[240:]

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,enddate
240,0,6.0,35.9650,-117.8030,3.8,26,2,1933,1,1933-02-26,1933-03-28
241,0,6.0,34.3333,-119.5000,3.32,7,3,1933,1,1933-03-07,1933-04-06
242,0,6.0,33.5000,-116.7500,3.14,8,3,1933,1,1933-03-08,1933-04-07
243,0,6.0,33.8400,-118.2080,4.25,30,3,1933,1,1933-03-30,1933-04-29
244,0,6.0,33.8220,-118.2260,3.86,31,3,1933,1,1933-03-31,1933-04-30
245,0,6.0,33.5520,-118.0410,4.21,1,4,1933,1,1933-04-01,1933-05-01
246,0,6.0,33.4240,-118.1560,3.39,2,4,1933,1,1933-04-02,1933-05-02
247,0,6.0,33.7500,-118.0833,3.66,2,4,1933,1,1933-04-02,1933-05-02
248,0,6.0,33.5830,-117.9620,3.2,2,4,1933,1,1933-04-02,1933-05-02
249,0,6.0,33.3500,-118.1780,3.75,2,4,1933,1,1933-04-02,1933-05-02
250,0,6.0,33.4860,-117.6170,3.26,3,4,1933,1,1933-04-03,1933-05-03
251,0,6.0,33.9770,-116.5330,3.62,4,4,1933,1,1933-04-04,1933-05-04
252,0,6.0,33.3260,-117.4950,3.69,5,4,1933,1,1933-04-05,1933-05-05
253,0,6.0,33.8320,-118.1510,3.41,6,4,1933,1,1933-04-06,1933-05-06
254,0,6.0,33.7952,-118.3835,3.6,6,4,1933,1,1933-04-06,1933-05-06
255,0,6.0,33.6660,-118.2910,3.43,7,4,1933,1,1933-04-07,1933-05-07
256,0,6.0,33.8650,-118.2760,3.22,7,4,1933,1,1933-04-07,1933-05-07
257,0,6.0,34.1230,-118.9340,3.54,8,4,1933,1,1933-04-08,1933-05-08
258,0,6.0,36.4240,-116.8670,3.61,12,4,1933,1,1933-04-12,1933-05-12
259,0,6.0,33.9340,-118.1980,3.27,13,4,1933,1,1933-04-13,1933-05-13
260,0,22.94,34.4650,-119.5700,3.07,14,4,1933,1,1933-04-14,1933-05-14
261,0,6.0,33.5000,-116.7500,3.01,15,4,1933,1,1933-04-15,1933-05-15
262,0,6.0,33.9100,-118.1800,3.13,17,4,1933,1,1933-04-17,1933-05-17
263,0,6.0,33.9000,-118.3000,3.09,19,4,1933,1,1933-04-19,1933-05-19
264,0,6.0,33.7070,-118.1440,3.1,21,4,1933,1,1933-04-21,1933-05-21
265,5,25.0,61.2500,-150.7500,7.1,27,4,1933,1,1933-04-27,1933-05-27
266,5,25.0,52.5000,-167.0000,6.0,27,4,1933,1,1933-04-27,1933-05-27
267,0,6.0,33.4410,-118.0780,3.48,28,4,1933,1,1933-04-28,1933-05-28
268,0,6.0,33.6500,-117.9990,3.37,29,4,1933,1,1933-04-29,1933-05-29
269,0,6.0,33.4330,-118.1450,4.19,29,4,1933,1,1933-04-29,1933-05-29
...,...,...,...,...,...,...,...,...,...,...,...
562145,13,10.0,39.4673,73.4369,4.7,4,7,2016,1,2016-07-04,2016-08-03
562146,7,39.96,42.8475,145.4291,4.6,4,7,2016,1,2016-07-04,2016-08-03
562147,11,93.91,-14.2914,167.7517,4.7,4,7,2016,1,2016-07-04,2016-08-03
562148,7,22.75,39.3485,143.4638,4.6,4,7,2016,1,2016-07-04,2016-08-03
562149,11,66.85,-10.6376,164.9739,5.6,4,7,2016,1,2016-07-04,2016-08-03
562150,14,10.0,3.4481,-82.7973,4.8,4,7,2016,1,2016-07-04,2016-08-03
562151,9,10.0,-0.5323,-12.6569,4.9,4,7,2016,1,2016-07-04,2016-08-03
562152,8,37.53,29.0458,129.2817,4.7,4,7,2016,1,2016-07-04,2016-08-03
562153,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05,2016-08-04
562154,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05,2016-08-04
562155,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05,2016-08-04
562156,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05,2016-08-04
562157,13,10.0,39.4890,73.4459,4.4,5,7,2016,1,2016-07-05,2016-08-04
562158,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05,2016-08-04
562159,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05,2016-08-04
562160,11,10.0,-32.9270,-177.8664,5.2,5,7,2016,1,2016-07-05,2016-08-04
562161,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05,2016-08-04
562162,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05,2016-08-04
562163,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05,2016-08-04
562164,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05,2016-08-04
562165,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05,2016-08-04
562166,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05,2016-08-04
562167,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05,2016-08-04
562168,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05,2016-08-04
562169,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05,2016-08-04
562170,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05,2016-08-04
562171,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06,2016-08-05
562172,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06,2016-08-05
562173,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06,2016-08-05
562174,14,35.0,0.1660,-79.8907,4.3,6,7,2016,1,2016-07-06,2016-08-05