In [16]:
d

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,NaN,011,3
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,NaN,007,2
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,NaN,008,3
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,NaN,010,3
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,NaN,002,1
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,NaN,005,0
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,NaN,010,0
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,NaN,007,2
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,NaN,007,0
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,2,0,10520,2
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,NaN,010,0
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,NaN,006,0
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,2,0,10520,3
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,NaN,010,1
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,NaN,006,1
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,NaN,002,0
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,NaN,003,1
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,NaN,006,3
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,NaN,010,0
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,NaN,003,0
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,NaN,006,1
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,NaN,002,2
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,NaN,007,2
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,2,0,10520,2
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,2,0,10520,2
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,2,0,10520,2
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,NaN,005,1
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,NaN,006,2
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,NaN,010,3
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,NaN,007,3
...,...,...,...,...,...,...,...,...,...,...,...,...
565129,36.1361,139.705,NaN,07,48.58,4.5,2016-07-04,1,1,0,10710,3
565130,46.5141,152.7939,NaN,07,50.93,4.6,2016-07-04,1,1,0,10710,3
565131,36.3263,140.0904,NaN,07,77.55,4.4,2016-07-04,1,1,1,10711,3
565132,42.8475,145.4291,NaN,07,39.96,4.6,2016-07-04,1,1,0,10710,3
565133,39.3485,143.4638,NaN,07,22.75,4.6,2016-07-04,1,1,0,10710,3
565134,29.2387,129.4747,NaN,08,39.32,4.7,2016-07-04,1,1,0,10810,3
565135,29.0458,129.2817,NaN,08,37.53,4.7,2016-07-04,1,1,0,10810,3
565136,-0.5323,-12.6569,NaN,09,10.0,4.9,2016-07-04,1,1,0,10910,3
565137,37.3679,-98.2025,NaN,00,5.0,3.5,2016-07-05,1,1,0,10010,0
565138,36.2626,-97.5821,NaN,00,5.0,3.5,2016-07-05,1,1,0,10010,0
565139,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,1,0,10010,0
565140,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110,0
565141,-32.927,-177.8664,NaN,11,10.0,5.2,2016-07-05,1,1,0,11110,0
565142,39.489,73.4459,NaN,13,10.0,4.4,2016-07-05,1,1,0,11310,0
565143,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,1,1,1,11311,0
565144,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310,0
565145,-20.1948,-70.9115,NaN,03,11.2,5.0,2016-07-05,1,1,0,10310,0
565146,44.1651,-128.9059,NaN,05,10.0,4.3,2016-07-05,1,1,0,10510,0
565147,43.3325,-126.6572,NaN,05,10.0,3.1,2016-07-05,1,1,0,10510,0
565148,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611,0
565149,-0.3386,125.4749,NaN,06,35.0,4.4,2016-07-05,1,1,0,10610,0
565150,-0.2665,125.5466,NaN,06,35.0,4.5,2016-07-05,1,1,0,10610,0
565151,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710,0
565152,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710,0
565153,35.5119,129.8661,NaN,07,10.0,4.8,2016-07-05,1,1,0,10710,0
565154,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811,0
565155,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111,0
565156,0.166,-79.8907,NaN,14,35.0,4.3,2016-07-06,1,1,0,11410,0
565157,-56.8016,-142.1336,NaN,04,10.0,5.9,2016-07-06,1,1,0,10410,0
565158,53.4488,-163.4493,NaN,05,10.0,3.8,2016-07-06,1,1,0,10510,0

In [2]:
df1 = df[(df["cluster"] == '01') | (df["cluster"] == '06') |(df["cluster"] == '07') |(df["cluster"] == '08') |(df["cluster"] == '10') |(df["cluster"] == '11') ]
df1

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,NaN,011,3
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,NaN,007,2
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,NaN,008,3
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,NaN,010,3
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,NaN,010,0
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,NaN,007,2
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,NaN,007,0
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,NaN,010,0
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,NaN,006,0
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,NaN,010,1
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,NaN,006,1
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,NaN,006,3
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,NaN,010,0
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,NaN,006,1
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,NaN,007,2
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,NaN,006,2
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,NaN,010,3
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,NaN,007,3
31,-8.119,114.056,2,06,NaN,NaN,1902-02-16,0,NaN,NaN,006,0
35,-7.3,109.992,1,10,NaN,NaN,1902-05-01,0,NaN,NaN,010,2
42,36.618,138.528,1,07,NaN,NaN,1902-07-15,0,NaN,NaN,007,1
43,36.406,138.523,2,07,NaN,NaN,1902-08-05,0,NaN,NaN,007,0
44,30.484,140.303,3,07,NaN,NaN,1902-08-07,0,NaN,NaN,007,0
47,-13.612,-172.525,1,11,NaN,NaN,1902-10-30,0,NaN,NaN,011,3
48,-7.542,110.442,2,10,NaN,NaN,1902-12-01,0,NaN,NaN,010,0
55,27.881,128.223,2,08,NaN,NaN,1903-03-15,0,NaN,NaN,008,1
56,-8.108,112.92,2,10,NaN,NaN,1903-03-26,0,NaN,NaN,010,3
57,14.002,120.993,2,08,NaN,NaN,1903-04-01,0,NaN,NaN,008,0
58,41.98,128.08,NaN,07,NaN,NaN,1903-04-15,0,NaN,NaN,007,2
61,31.934,130.862,2,08,NaN,NaN,1903-08-29,0,NaN,NaN,008,0
...,...,...,...,...,...,...,...,...,...,...,...,...
565100,2.2353,95.0565,NaN,10,31.19,4.4,2016-07-03,1,1,0,11010,3
565111,-30.0673,-177.8653,NaN,11,39.4,5.2,2016-07-04,1,1,0,11110,3
565112,-21.541,-179.1091,NaN,11,591.48,4.6,2016-07-04,1,1,2,11112,3
565113,-22.6621,171.5415,NaN,11,33.98,4.8,2016-07-04,1,1,0,11110,3
565114,-21.3093,168.6738,NaN,11,6.56,4.9,2016-07-04,1,1,0,11110,3
565115,-20.9661,-175.922,NaN,11,204.36,4.9,2016-07-04,1,1,1,11111,3
565116,-14.2914,167.7517,NaN,11,93.91,4.7,2016-07-04,1,1,1,11111,3
565117,-10.6376,164.9739,NaN,11,66.85,5.6,2016-07-04,1,1,0,11110,3
565124,-2.1018,138.966,NaN,06,43.29,4.4,2016-07-04,1,1,0,10610,3
565125,2.0218,127.7931,NaN,06,46.44,4.6,2016-07-04,1,1,0,10610,3
565126,52.5649,172.7571,NaN,07,34.99,5.3,2016-07-04,1,1,0,10710,3
565127,46.8062,152.8785,NaN,07,35.0,4.4,2016-07-04,1,1,0,10710,3
565128,29.6131,143.3523,NaN,07,9.1,4.6,2016-07-04,1,1,0,10710,3
565129,36.1361,139.705,NaN,07,48.58,4.5,2016-07-04,1,1,0,10710,3
565130,46.5141,152.7939,NaN,07,50.93,4.6,2016-07-04,1,1,0,10710,3
565131,36.3263,140.0904,NaN,07,77.55,4.4,2016-07-04,1,1,1,10711,3
565132,42.8475,145.4291,NaN,07,39.96,4.6,2016-07-04,1,1,0,10710,3
565133,39.3485,143.4638,NaN,07,22.75,4.6,2016-07-04,1,1,0,10710,3
565134,29.2387,129.4747,NaN,08,39.32,4.7,2016-07-04,1,1,0,10810,3
565135,29.0458,129.2817,NaN,08,37.53,4.7,2016-07-04,1,1,0,10810,3
565140,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110,0
565141,-32.927,-177.8664,NaN,11,10.0,5.2,2016-07-05,1,1,0,11110,0
565148,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611,0
565149,-0.3386,125.4749,NaN,06,35.0,4.4,2016-07-05,1,1,0,10610,0
565150,-0.2665,125.5466,NaN,06,35.0,4.5,2016-07-05,1,1,0,10610,0
565151,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710,0
565152,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710,0
565153,35.5119,129.8661,NaN,07,10.0,4.8,2016-07-05,1,1,0,10710,0
565154,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811,0
565155,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111,0

In [3]:
df1.to_csv('asiap.csv', index = 'False')

In [5]:
df1.index = range(len(df1))
result = df1.copy()
with open("sequenceasiap.txt", "a") as myfile:
    myfile.write(result['sequence'][0])
for x in range(1, len(result)):
    #if date is different from the upcoming one
    if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
        continue
    elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
        with open("sequenceasiap.txt", "a") as myfile:
            myfile.write(' ' + result['sequence'][x])
    elif (result['startdate'][x] != result['startdate'][x - 1]):
        with open("sequenceasiap.txt", "a") as myfile:
            myfile.write(' ' + str(result['phase'][x-1]) + ' -1 ')
            #' ' + str(result['phase'][x-1]) +
        if (result['phase'][x - 1] != result['phase'][x]):
            with open("sequenceasiap.txt", "a") as myfile:
                myfile.write('-2\n')
        with open("sequenceasiap.txt", "a") as myfile:
            myfile.write(result['sequence'][x])
        
with open("sequenceasiap.txt", "a") as myfile:
        myfile.write(' -1 -2\n')

In [17]:
df2 = df[~(df["scale"] == '1')]
df2

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,0,NaN,NaN,011,3
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,0,NaN,NaN,007,2
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,0,NaN,NaN,008,3
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,0,NaN,NaN,010,3
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,0,NaN,NaN,002,1
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,0,NaN,NaN,005,0
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,0,NaN,NaN,010,0
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,0,NaN,NaN,007,2
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,0,NaN,NaN,007,0
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,2,0,10520,2
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,0,NaN,NaN,010,0
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,0,NaN,NaN,006,0
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,2,0,10520,3
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,0,NaN,NaN,010,1
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,0,NaN,NaN,006,1
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,0,NaN,NaN,002,0
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,0,NaN,NaN,003,1
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,0,NaN,NaN,006,3
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,0,NaN,NaN,010,0
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,0,NaN,NaN,003,0
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,0,NaN,NaN,006,1
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,0,NaN,NaN,002,2
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,0,NaN,NaN,007,2
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,2,0,10520,2
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,2,0,10520,2
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,2,0,10520,2
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,0,NaN,NaN,005,1
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,0,NaN,NaN,006,2
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,0,NaN,NaN,010,3
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,0,NaN,NaN,007,3
...,...,...,...,...,...,...,...,...,...,...,...,...
562341,0.6396,-80.2117,NaN,14,14.0,6.2,2016-04-20,1,2,0,11420,1
562343,0.7079,-80.0352,NaN,14,10.0,6.0,2016-04-20,1,2,0,11420,1
562410,12.702,-87.004,2,14,NaN,NaN,2016-04-22,0,NaN,NaN,014,1
562436,-0.302,-80.498,NaN,14,10.0,6.0,2016-04-22,1,2,0,11420,1
562504,-59.017,-26.533,1,03,NaN,NaN,2016-04-24,0,NaN,NaN,003,2
562653,-37.52,177.18,1,11,NaN,NaN,2016-04-27,0,NaN,NaN,011,2
562657,14.5178,-93.0882,NaN,00,16.0,6.0,2016-04-27,1,2,0,10020,2
562696,-16.0409,167.3795,NaN,11,24.0,7.0,2016-04-28,1,2,0,11120,2
562739,10.2689,-103.7505,NaN,00,10.0,6.6,2016-04-29,1,2,0,10020,2
563662,0.4947,-79.616,NaN,14,29.95,6.9,2016-05-18,1,2,0,11420,1
563670,0.4261,-79.7899,NaN,14,16.0,6.7,2016-05-18,1,2,0,11420,1
563768,-25.5637,129.8834,NaN,06,10.0,6.0,2016-05-20,1,2,0,10620,1
563997,-20.8101,-178.6481,NaN,11,567.48,6.4,2016-05-27,1,2,2,11122,2
564032,-21.9731,-178.1987,NaN,11,405.58,6.9,2016-05-28,1,2,2,11122,2
564050,-56.2409,-26.9353,NaN,03,78.0,7.2,2016-05-28,1,2,1,10321,2
564185,25.5771,122.5337,NaN,08,244.11,6.4,2016-05-31,1,2,1,10821,3
564195,-2.0967,100.6654,NaN,10,50.0,6.6,2016-06-01,1,2,0,11020,3
564371,-4.587,125.6264,NaN,06,429.62,6.3,2016-06-05,1,2,2,10622,3
564392,-30.0235,-177.8359,NaN,11,43.83,6.1,2016-06-06,1,2,0,11120,0
564416,18.4123,-105.1876,NaN,00,10.0,6.2,2016-06-07,1,2,0,10020,0
564439,1.3138,126.3331,NaN,06,30.68,6.3,2016-06-07,1,2,0,10620,0
564507,-11.2512,116.2613,NaN,06,19.0,6.1,2016-06-09,1,2,0,10620,0
564532,-8.6757,160.559,NaN,11,30.4,6.2,2016-06-10,1,2,0,11120,0
564541,12.8261,-86.9739,NaN,14,10.0,6.1,2016-06-10,1,2,0,11420,0
564667,-18.7692,168.819,NaN,11,111.0,6.2,2016-06-14,1,2,1,11121,1
564797,-20.2802,169.0752,NaN,11,13.0,6.3,2016-06-19,1,2,0,11120,1
564829,-20.2072,168.7595,NaN,11,15.0,6.0,2016-06-20,1,2,0,11120,1
564863,-3.462,151.8538,NaN,11,365.31,6.3,2016-06-21,1,2,2,11122,1
564873,22.6614,-45.1327,NaN,14,10.0,6.1,2016-06-21,1,2,0,11420,1
564972,39.4867,73.3252,NaN,13,15.5,6.4,2016-06-26,1,2,0,11320,2

In [19]:
df2.index = range(len(df2))
result = df2.copy()
with open("sequencebd.txt", "a") as myfile:
    myfile.write(result['sequence'][0])
for x in range(1, len(result)):
    #if date is different from the upcoming one
    if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
        continue
    elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
        with open("sequencebd.txt", "a") as myfile:
            myfile.write(' ' + result['sequence'][x])
    elif (result['startdate'][x] != result['startdate'][x - 1]):
        with open("sequencebd.txt", "a") as myfile:
            myfile.write(' ' + str(result['phase'][x-1]) + ' -1 ')
            #' ' + str(result['phase'][x-1]) +
        if (result['phase'][x - 1] != result['phase'][x]):
            with open("sequencebd.txt", "a") as myfile:
                myfile.write('-2\n')
        with open("sequencebd.txt", "a") as myfile:
            myfile.write(result['sequence'][x])
        
with open("sequencebd.txt", "a") as myfile:
        myfile.write(' -1 -2\n')